
{% extends "layout_erc.html" %}

{% block pageTitle %}
  Contact us
{% endblock %}

{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Contact us
      </h1>
      <p>
          No matter how you choose to contact us, you can expect efficient, effective and helpful service. Our customer first team can help you with requests for services and information - and if they can't, they'll find someone who can.
      </p>

      <h2 class="govuk-heading-m erc-text-blue">Online</h2>
      <p>You can access our services 24/7 by visiting the "Pay | Book | Apply | Report" section.</p> 
      <p>You can also chat to our customer service officers via Live chat, Monday to Friday, 9am - 4.45pm</p>

      <h2 class="govuk-heading-m">Telephone</h2>
      <ul class="govuk-list govuk-list--bullet"></ulclass>
          <li>switchboard: 0141 577 3000</li>
          <li>general enquiries: 0141 577 3001</li>
          <li>council Tax and Housing Benefit: 0141 577 3002</li>
          <li>housing/ Social work: 0141 577 3003</li>
          <li>registration: 0141 577 3004</li>
          <li>licensing: 0141 577 3005</li>
          <li>repairs: 0141 577 3007</li>
          <li>sports Development: 0141 577 3008</li>
      </ul>
    </div>
</div>

{% endblock %}
