{% extends "layout_erc.html" %}

{% block pageTitle %}
Can't find what you need?
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-l">
      Can't find what you need?
    </h1>
    <p class="erc-alt-dark-grey">Tell us about your enquiry and our Customer Services Team will respond or pass your enquiry on to the correct people.</p> 
  
    <p><img src="{{ asset_path }}images/ERC/live-chat.gif" alt="go to live chat"></p>

    <p style="font-size: 14px;">Between 8.45am and 4.45pm Monday to Friday, contact us via Live Chat, where our advisors can help you with your enquiries and assist you with making online requests.</p>
    <p style="font-size: 14px;">You can tell us via our general enquiries forms and we will aim to respond within 5 working days.</p>
    <p style="font-size: 14px;">If you need to speak to us, please request a telephone call via 'Call me soon' and we will get back to you when an officer is available.  Note our business hours are 8.45am - 4.45pm Monday to Friday.</p>
    <p style="font-size: 14px;">In the event of an out of hours emergency please call direct on our emergency contact numbers</p>

    <div class="govuk-grid-row govuk-!-margin-bottom-5">

      <div class="govuk-grid-column-one-third">
        <div class="module">
          <div class ="moduleImage">
            <a href=#><img src="{{ asset_path }}images/ERC/general-enquiry.jpg" width="223" height="136" alt="go to Pay Council tax"></a>
          </div>
          <div class="moduleInfo">
            <div class="moduleHeader">
              <a href="#">General enquiry<img src="{{ asset_path }}images/ERC/pop-up.gif" style="padding: 0 5px" alt="open a new window"></a>
            </div>
            <div class="moduleText">
              <p>Any general enquiry to which you've been unable to find the answer to online.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="govuk-grid-column-one-third">
        <div class="module">
          <div class ="moduleImage">
            <a href=#><img src="{{ asset_path }}images/ERC/call-me-soon.jpg" width="223" height="136" alt="do not work"></a>
          </div>
          <div class="moduleInfo">
            <div class="moduleHeader">
              <a href="#">Call me soon<img src="{{ asset_path }}images/ERC/pop-up.gif" style="padding: 0 5px" alt="open a new window"></a>
            </div>
            <div class="moduleText">
              <p>Call me soon
                Request a call back from the council to discuss your issue over the telephone (if you'd prefer that to receiving an email).</p>
            </div>
          </div>
        </div>
      </div>

    </div>


    {{ govukButton({
      text: "Go back to Council Online page",
      classes: "govuk-button--secondary",
      href: "/forms/erc-forms/council-tax-online/CTstart"
    }) }}



      <hr>
      <p class="govuk-!-margin-top-5 govuk-!-margin-bottom-5"><span class="tag-print"></span> <a href="#">Print this page</a></p>
    </div>
    
  </div>

{% endblock %}




  
  
