{% extends "layout.html" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/BG-warm-home/bg.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/other.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}


{% block header %}
<div class="govuk-header__container govuk-width-container">
  <div class="govuk-header__logo">
      <span class="govuk-header__logotype">
          <a href="/index.html"><image src="{{ asset_path }}/images/BG-warm-home/bg-logo.png" alt="go back to homepage" width="250" height="97"></image></a>
      </span>
  </div>
  <div class="govuk-header__content">
    <a href="/index.html">
      <span class="warm-home-tagline">
        This is a training website
      </span>
    </a>  
  </div>
</div>
{% endblock %}

{% block pageTitle %}
{%if data['bg-bg-consent'] === 'error' %}Error - {% endif %}  British Gas - Warm Home Discount
{% endblock %}


{% block content %}

<div class="warm-home">
    <div class="govuk-grid-row  warm-home-white-block">
      <h1>Warm Home Discount</h1>
      <p>The government and energy suppliers are running a scheme to help those at risk from fuel poverty in England, Scotland and Wales get a rebate from their electricity bill. If you are eligible, the Warm Home Discount will offer you a benefit of £140 (inclusive of VAT) against your electricity bill in 2020/21.</p>
    </div>
    <div class="govuk-grid-row warm-home-black-block">
      <h2>Apply Now...</h2>
      <p style="font-size: 12px; margin-bottom: 0;">All questions marked with an asterisk (*) are mandatory</p>

      <h3>Consent</h3>
      <p>I understand British Gas might need to check that I am eligible for the Warm Home Discount Scheme by asking the Department for Work and Pensions to confirm whether I am in receipt of a qualifying benefit.</p>
      <p>If the Department for Work and Pensions cannot confirm that I receive the qualifying benefits to be eligible to receive the discount I may need to send British Gas copies of my benefit letters. British Gas use a third party, Charis Grants, to support them in carrying out these eligibility checks</p>
      <p>If I change electricity supplier before my discount is paid I will no longer be eligible.</p>
      <p><strong>Payments will be made between January and March 2021</strong></p>
      <form class="form" method="post" novalidate>
      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

      {{ govukCheckboxes({
        idPrefix: "bg-consent",
        name: "bg-consent",
        classes: "govuk-checkboxes--small",
        fieldset: {
          legend: {
            text: "",
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "consenting",
            text: "I confirm, I have read and agree to the above statement"
          }
        ]
      }) }}
      {% if (data['bg-consent'] === 'error') %}
      <span id="bg-consent" class="govuk-error-message govuk-!-font-size-14">
        <span class="govuk-visually-hidden">Error:</span> You must consent to the above to be eligible
      </span>
      {% endif %}
      <hr>

      {{ govukButton({
        text: "Back",
        classes: "warm-home-back-button",
        href: "bg-criteria1.html"
      }) }}

      {{ govukButton({
        text: "Submit",
        classes: "warm-home-button"
      }) }}
      </form>
    </div>
</div>

{% endblock %}

{% block footer %}
<footer class="govuk-footer warm-home-footer" role="contentinfo" style="padding-top: 0; border-top: solid 10px #005eb8;">
  <div class="govuk-width-container">
  
      <div class="govuk-footer__meta">
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          <ul class="govuk-footer__inline-list">
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="/index.html">Home</a>
            </li>
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="/how-to-use.html">How to use</a>
            </li>
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="/about.html">About</a>
            </li>
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="/creating-this-website.html">Creating this website</a>
            </li>
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="/contact.html">Get in touch</a>
            </li>
            <li class="govuk-footer__inline-list-item ">
              <a class="govuk-footer__link" href="/prototype-admin/clear-data">Clear the data</a>
            </li>
          </ul>
          <span class="govuk-header__logotype">
            <image src="{{ asset_path }}/images/BG-warm-home/bg-white-blue.png" alt="British Gas logo" width="144" height="59">
          </span>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}