{% extends "layout.html" %}

{% block pageTitle %}
Warm Home Discount Scheme - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
        Warm Home Discount Scheme
    </h1>


    <h2 class="govuk-heading-s">
      Contents
    </h2>

    <ul class="govuk-list contents-list__list-item--dashed">
      <li>— &nbsp;&nbsp;<a href="warm-home-start">Overview</a></li>
      <li>— &nbsp;&nbsp;<a href="guarantee-pension-credit">If you get the Guarantee Credit element of Pension Credit</a></li>
      <li>— &nbsp;&nbsp;<a href="low-income">If you're on a low income</a></li>
      <li>— &nbsp;&nbsp;Energy Suppliers</li>
    </ul>
  </div>

</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l" style="border-top: 1px solid #b1b4b6; padding-top:20px">
          Energy suppliers
      </h2>

      <p>The following suppliers are part of the scheme:</p>

      <ul class="govuk-list govuk-list--bullet">
          <li><a rel="external" href="https://www.angelicenergy.co.uk/home-help/warm-home-discount-work/">Angelic Energy</a></li>
          <li><a rel="external" href="https://www.atlantic.co.uk/HelpAndAdvice/ExtraHelp/PriorityPlan/">Atlantic</a></li>
          <li><a rel="external" href="https://www.avroenergy.co.uk/WarmHomeDiscount">Avro Energy</a></li>
          <li><a rel="external" href="https://www.beamenergy.co.uk/save-money/discounts-and-schemes/">Beam Energy</a></li>
          <li><a rel="external" href="https://www.boostpower.co.uk/help/topics/payments-and-statements/payments/how-do-i-get-the-warm-home-discount.html">Boost</a></li>
          <li>
        <a rel="external" href="https://bristol-energy.co.uk/warm-home-discount">Bristol Energy</a> - only if you’re eligible for the ‘<a href="guarantee-pension-credit">core group</a>’</li>
          <li><a rel="external" href="http://www.britishgas.co.uk/whd">British Gas</a></li>
          <li><a rel="external" href="https://help.bulb.co.uk/hc/en-us/articles/115001245512-Can-I-get-the-Warm-Home-Discount-">Bulb Energy</a></li>
          <li><a rel="external" href="https://www.citizenenergyuk.co.uk/home-energy/help-and-advice/whds-faqs/whds-faqs.aspx">Citizen Energy</a></li>
          <li><a rel="external" href="https://www.cooperativeenergy.coop/reduce-your-bills/warm-home-discount/">Co-operative Energy</a></li>
          <li><a rel="external" href="https://www.e.org/support">E (Gas and Electricity)</a></li>
          <li><a rel="external" href="https://ebico.org.uk/warm-home-discount-scheme/">Ebico</a></li>
          <li><a rel="external" href="http://www.edfenergy.com/products-services/for-your-home/safe-warm-and-well/warm-home-discount.shtml">EDF Energy</a></li>
          <li><a rel="external" href="http://www.eonenergy.com/for-your-home/Get-energy-efficient/how-are-we-helping/Warm-home-discount">E.ON</a></li>
          <li>First Utility - now <a rel="external" href="https://www.shellenergy.co.uk/services/warm-home-discount">Shell Energy</a>
        </li>
          <li><a rel="external" href="https://www.flowenergy.uk.com/warm-home-discount/">Flow Energy</a></li>
          <li><a rel="external" href="https://www.fosseenergy.co.uk/about-us/tackling-fuel-poverty/">Fosse Energy</a></li>
          <li><a rel="external" href="https://www.gbenergysupply.co.uk/faq">GB Energy</a></li>
          <li><a rel="external" href="https://www.greatnorthenergy.co.uk/home-help/warm-home-discount-scheme-work/">Great North Energy</a></li>
          <li><a rel="external" href="https://greennetworkenergy.co.uk/help-centre/information-about-switching/warm-home-discount/">Green Network Energy</a></li>
          <li><a rel="external" href="https://www.mygreenstarenergy.com/Customer-Benefits/Warm-Home-Discount">Green Star/Hudson</a></li>
          <li><a rel="external" href="http://theleccy.co.uk/warm-home-discount/">Liverpool Energy Community Company</a></li>
          <li><a rel="external" href="https://lumoapp.co.uk/warm-home-discount/">Lumo</a></li>
          <li><a rel="external" href="https://www.npower.com/spreading_warmth/home/warm-home-discount">npower</a></li>
          <li><a rel="external" href="https://octopus.energy/help-and-faqs/categories/all/warm-home-discount/">Octopus Energy</a></li>
          <li><a rel="external" href="https://www.ovoenergy.com/help/warm-home-discount">OVO</a></li>
          <li>Powershop - see <a rel="external" href="https://www.npower.com/spreading_warmth/home/warm-home-discount">npower</a>
        </li>
          <li><a rel="external" href="https://www.ramenergy.co.uk/help/joining-ram-energy/">Ram Energy</a></li>
          <li>
        <a rel="external" href="https://robinhoodenergy.co.uk/home-help/warm-home-discount-scheme-work/">Robin Hood Energy</a> - only if you’re eligible for the ‘<a href="https://www.gov.uk/the-warm-home-discount-scheme/guarantee-pension-credit">core group</a>’</li>
          <li><a rel="external" href="https://www.sainsburysenergy.com/help-support/warm-home-discount/">Sainsbury’s Energy</a></li>
          <li>Scottish Gas - see <a rel="external" href="https://www.britishgas.co.uk/whd">British Gas</a>
        </li>
          <li>Scottish Hydro - see <a rel="external" href="https://www.sse.co.uk/help/accessibility/warm-home-discount">SSE</a>
        </li>
          <li><a rel="external" href="https://community.scottishpower.co.uk/t5/Help-paying-your-bill/Warm-Home-Discount-Scheme/ta-p/14">ScottishPower</a></li>
          <li>
        <a rel="external" href="https://www.shellenergy.co.uk/services/warm-home-discount">Shell Energy</a> (previously First Utility)</li>
          <li>Southern Electric - see <a rel="external" href="https://www.sse.co.uk/help/accessibility/warm-home-discount">SSE</a>
        </li>
          <li><a rel="external" href="https://sparkenergy.co.uk/warmhomediscount">Spark</a></li>
          <li><a rel="external" href="https://www.sse.co.uk/help/accessibility/warm-home-discount">SSE</a></li>
          <li>SWALEC - see <a rel="external" href="https://www.sse.co.uk/help/accessibility/warm-home-discount">SSE</a>
        </li>
          <li><a rel="external" href="http://www.utilita.co.uk/save-energy/warm-home-discount">Utilita</a></li>
          <li><a rel="external" href="https://www.utilitywarehouse.co.uk/clubhouse/warmhome/">Utility Warehouse</a></li>
          <li><a rel="external" href="https://www.whiteroseenergy.co.uk/home-energy/warm-homes-discount">White Rose Energy</a></li>
      </ul>
    


      <div>
        <ul class="stepped-pagination__list">
          <li class="stepped-pagination__item stepped-pagination__item--previous">
            <a href="low-income" class="stepped-pagination__link" rel="prev">
                <span class="stepped-pagination__link-title">
                <svg class="stepped-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                    <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                </svg>
                Previous
                </span>
                <span class="stepped-pagination__link-label">If you're on a low income</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

 
    <div class="govuk-grid-column-one-third sidebar">
        <h2 class="govuk-heading-s" style="border-top: 2px solid #1d70b8; padding-top:19px">
            Related content
        </h2>
        <ul class="govuk-list">
          <li><a href="cold-weather-payment">Cold Weather Payment</a></li>
          <li><a href="winter-fuel-payment">Winter Fuel Payment</a></li>
          <li><a href="pension-credit">Pension Credit</a></li>
        </ul>
    </div>
</div>


{% endblock %}