{% extends "layout.html" %}

{% block pageTitle %}
Warm Home Discount Scheme - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
        Warm Home Discount Scheme
    </h1>


    <h2 class="govuk-heading-s">
      Contents
    </h2>

    <ul class="govuk-list contents-list__list-item--dashed">
      <li>— &nbsp;&nbsp;<a href="warm-home-start">Overview</a></li>
      <li>— &nbsp;&nbsp;If you get the Guarantee Credit element of Pension Credit</a></li>
      <li>— &nbsp;&nbsp;<a href="low-income">If you're on a low income</a></li>
      <li>— &nbsp;&nbsp;<a href="energy-suppliers">Energy Suppliers</a></li>
    </ul>
  </div>

</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l" style="border-top: 1px solid #b1b4b6; padding-top:20px">
          If you get the Guarantee Credit element of Pension Credit
      </h2>

      <p>You can still qualify for the discount if you use a pre-pay or pay-as-you-go electricity meter.</p>

      <p>Your electricity supplier can tell you how you’ll get the discount if you’re eligible, for example a voucher you can use to top up your meter.</p>
      
      <p>You qualify for the discount if on 7 July 2019 all of the following applied:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>your <a href="energy-suppliers">energy supplier was part of the scheme</a></li>
        <li>your name (or your partner’s) was on the bill</li>
        <li>you were getting the Guarantee Credit element of <a href="/pension-credit/">Pension Credit</a> (even if you get Savings Credit as well)</li>
      </ul>
      
      <p>This is known as being in the ‘core group’.</p>

      <h2 class="govuk-heading-l">
          How to apply
      </h2>

      <p>You’ll receive a letter between October and December 2019 telling you how to get the discount if you qualify.</p>

      <p>Your letter will say if you need to call a helpline by 28 February 2020 to confirm your details.</p>

      <p>Your electricity supplier will apply the discount to your bill by 31 March 2020.</p>
      <h2 class="govuk-heading-l">
          If you did not get a letter
      </h2>

      <p>Contact the Warm Home Discount helpline if you did not get the letter and you think you’re eligible for the ‘core group’.</p>

      <div class="contact">
        <p><strong>Warm Home Discount helpline</strong><br>
        Telephone: 0800 731 0214   <br>
        Monday to Friday, 8:30am to 4:30pm<br>
        <a href="/forms/govuk-forms/not-ready">Find out about call charges</a></p>
      </div>

      <div class="contact">
        <p><strong>Warm Home Discount</strong>
        <br>Blue Zone, Ground Floor Phase 1
        <br>Peel Park 
        <br>Brunel Way 
        <br>Blackpool 
        <br>FY4 5ES
        </p>
      </div>
      

      <p>Do not contact the Warm Home Discount helpline if you’re not eligible for the ‘core group’. 
          Check if you’re eligible to <a href="low-income">apply another way</a>.</p>

      <div>
        <ul class="stepped-pagination__list">
          <li class="stepped-pagination__item stepped-pagination__item--previous">
            <a href="warm-home-start" class="stepped-pagination__link" rel="prev">
                <span class="stepped-pagination__link-title">
                <svg class="stepped-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                    <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                </svg>
                Previous
                </span>
                <span class="stepped-pagination__link-label">Overview</span>
            </a>
          </li>
          <li class="stepped-pagination__item stepped-pagination__item--next">
          <a href="low-income" class="stepped-pagination__link" rel="next">
              <span class="stepped-pagination__link-title">
              <svg class="stepped-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                  <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg>
              Next
              </span>
              <span class="stepped-pagination__link-label">If you're on a low income</span>
          </a>
          </li>
        </ul>
      </div>
    </div>

 
    <div class="govuk-grid-column-one-third sidebar">
        <h2 class="govuk-heading-s" style="border-top: 2px solid #1d70b8; padding-top:19px">
            Related content
        </h2>
        <ul class="govuk-list">
          <li><a href="cold-weather-payment">Cold Weather Payment</a></li>
          <li><a href="winter-fuel-payment">Winter Fuel Payment</a></li>
          <li><a href="pension-credit">Pension Credit</a></li>
        </ul>
    </div>
</div>


{% endblock %}