{% extends "layout.html" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/PH.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/other.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}


{% block header %}
<div class="govuk-header__container govuk-width-container">
  <div class="govuk-header__logo">
      <span class="govuk-header__logotype">
          <a href="/index.html"><image src="{{ asset_path }}/images/PAHLogo.png" alt="Parl Homes Logo" width="320" height="100"></image></a>
      </span>
  </div>
  <div class="govuk-header__content">
    <a href="/index.html">
      <span class="park-home-tagline">
        This is a training website
      </span>
    </a>  
  </div>
</div>
{% endblock %}

{% block pageTitle %}
Park Homes - Warm Home Discount
{% endblock %}


{% block content %}

<div class="govuk-grid-row park-home">
    <div class="govuk-grid-column-one-quarter park-home-orange-block">
      <h1>Warm Home Discount</h1>
      <p>The government and energy suppliers are running a scheme to help those at risk from fuel poverty in England, Scotland and Wales get a rebate from their electricity bill. If you are eligible, the Warm Home Discount will offer you a benefit of £140 (inclusive of VAT) against your electricity bill in 2020/21.</p>
    </div>
    <div class="govuk-grid-column-two-thirds park-home-black-block">
      <h3>Submitted</h3>
      <p style="text-align:center; font-size: 24px; font-weight: 400">
        Thank you for submitting your details to the<br>
        <span style="color: #f47522">Let's Talk</span> Park Homes Warm Home Discount Scheme
      </p>
      <p style="text-align:center; font-size: 24px; font-weight: 400">
        We will contact you prior to the new scheme opening.
      </p>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
  </div>
{% endblock %}

{% block footer %}
{% endblock %}