{% extends "layout.html" %}

{% block pageTitle %}
Pension credit - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
        Pension credit
    </h1>


    <h2 class="govuk-heading-s">
      This page won't be done but you can <a href="https://www.gov.uk/pension-credit" target="_blank" rel="noopener">see the real page here</a>
    </h2>

    <h2 class="govuk-heading-s">
        Or <a href="warm-home-start">go back to Warm Home Discount Scheme</a>
    </h2>


  </div>

</div>




{% endblock %}