{% extends "layout.html" %}

{% block pageTitle %}
Warm Home Discount Scheme - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
        Warm Home Discount Scheme
    </h1>


    <h2 class="govuk-heading-s">
      Contents
    </h2>

    <ul class="govuk-list">
      <li>— &nbsp;&nbsp;Overview</li>
      <li>— &nbsp;&nbsp;<a href="guarantee-pension-credit">If you get the Guarantee Credit element of Pension Credit</a></li>
      <li>— &nbsp;&nbsp;<a href="low-income">If you're on a low income</a></li>
      <li>— &nbsp;&nbsp;<a href="energy-suppliers">Energy Suppliers</a></li>
    </ul>
  </div>

</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l" style="border-top: 1px solid #b1b4b6; padding-top:20px">
          Overview
      </h2>
      <p>You could get £140 off your electricity bill for winter 2019 to 2020 under the Warm Home Discount Scheme.</p>

      <p>The money is not paid to you - it’s a one-off discount on your electricity bill, between September and March.</p>
      
      <p>You may be able to get the discount on your gas bill instead if your supplier provides you with both gas and electricity. Contact your supplier to find out.</p>
      
      <p>The discount will not affect your <a href="cold-weather-payment">Cold Weather Payment</a> or <a href="winter-fuel-payment">Winter Fuel Payment</a>.</p>

      <h2 class="govuk-heading-l">
          Eligibility
      </h2>
      <p>There are 2 ways to qualify for the Warm Home Discount Scheme:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>you get the <a href="guarantee-pension-credit">Guarantee Credit element of Pension Credit</a> - known as the ‘core group’</li>
        <li>
      <a href="low-income">you’re on a low income</a> and meet your energy supplier’s criteria for the scheme - known as the ‘broader group’</li>
      </ul>
      
      <h2 class="govuk-heading-l">
          Pre-pay or pay-as-you-go meters
      </h2>
      <p>You can still qualify for the discount if you use a pre-pay or pay-as-you-go electricity meter.</p>

      <p>Your electricity supplier can tell you how you’ll get the discount if you’re eligible, for example a voucher you can use to top up your meter.</p>
      
      <h2 class="govuk-heading-l">
        Park (mobile) homes
      </h2>
      
      <p>Applications for winter 2019 to 2020 have now closed.</p>
      
      <p><a href="park-homes">Fill in the Park Homes Warm Home Discount application form</a> to be contacted when the scheme reopens.</p>
      
      <p>Contact Charis Grants for more information about the scheme for park homes.</p>
      
      <div class="govuk-inset-text">
      <p><strong>Charis Grants Ltd</strong><br>
      Telephone: 0330 555 9424<br>
      Monday to Friday, 9am to 5:30pm (closed on bank holidays)<br>
      <a href="#">Find out about call charges</a></p>
      </div>
      

      <p>How you apply for the Warm Home Discount Scheme depends on how you qualify for the discount.</p>

      <div>
        <ul class="stepped-pagination__list">
          <li class="stepped-pagination__item stepped-pagination__item--next">
          <a href="guarantee-pension-credit" class="stepped-pagination__link" rel="next">
              <span class="stepped-pagination__link-title">
              <svg class="stepped-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                  <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg>
              Next
              </span>
              <span class="stepped-pagination__link-label">If you get the Guarantee Credit element of Pension Credit</span>
          </a>
          </li>
        </ul>
      </div>
    </div>

 
    <div class="govuk-grid-column-one-third sidebar">
        <h2 class="govuk-heading-s" style="border-top: 2px solid #1d70b8; padding-top:19px">
            Related content
        </h2>
        <ul class="govuk-list">
          <li><a href="cold-weather-payment">Cold Weather Payment</a></li>
          <li><a href="winter-fuel-payment">Winter Fuel Payment</a></li>
          <li><a href="pension-credit">Pension Credit</a></li>
        </ul>
    </div>
</div>


{% endblock %}