{% extends "layout_erc.html" %}

{% block pageTitle %}
  Current address
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Apply online for council housing
        </h1>

        <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
        <h2 class="govuk-heading-m">
            Your current address
        </h2>
        <p>
          You told us your current address is: <span class="govuk-!-font-weight-bold">
          {% if data ['postcode']%} {{data ['postcode']}}
          {% else %} 10 Test road G78 1AA Barrhead
          {% endif %}
        </span>
        </p>
<br>
        {% from "govuk/components/input/macro.njk" import govukInput %}
        {{ govukInput({
          label: {
            text: "Date moved into this address",
            classes: 'govuk-!-font-size-24'
          },
          hint: {
            text: "If you don’t know give an estimated date. "
          },
          id: "current-address",
          name: "current-address",
          value: data['current-address'],
          classes: "govuk-input--width-10"
        }) }}
        
        <br>
  
        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% set otherHtml %}
        {{ govukTextarea({
          name: "type-other",
          id: "type-other",
          classes: "govuk-!-width-two-thirds",
          value: data['type-other'],
          label: {
            text: "Give details about occupant type"
          }
        }) }}
        {% endset -%}
        {{ govukRadios({
          
          idPrefix: "type",
          name: "type",
          fieldset: {
            legend: {
              text: "Which are you? ",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "tenant",
              text: "Tenant",
              checked: checked ("type", "tenant")
            },
            {
              value: "Living with parents",
              text: "Living with parents",
              checked: checked ("type", "Living with parents")
            },
            {
              value: "Owner",
              text: "Owner",
              checked: checked ("type", "Owner")
            },
            {
              value: "Other",
              text: "Other",
              checked: checked ("type", "Other"),
              conditional: {
                html: otherHtml
              }
            }

          ]
        }) }}
<br>
      

        {{ govukButton({
          text: "Continue",
          href: "/forms/housing/CBL5yearsadd-question.html",
          classes: "button-primary"
        }) }}
      

    </div>
</div>


<div class="IT-notes-box">
    <h3 class="govuk-heading-s">IT notes:</h3>
    <ul class="govuk-list govuk-list--bullet">
  <li>display the address captured previously after homeless question - bold ideally but ok if not possible </li>
  <li>validation: <span class="govuk-error-message">Enter move in date / Confirm occupant type / Give details about occupant type</span></li>
    </ul>
</div>

{% endblock %}
