{% extends "layout_erc.html" %}

{% block pageTitle %}
  Homeless
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
          Apply online for council housing
      </h1>
      <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
      <form class="form" method="post">
      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        idPrefix: "homeless",
        name: "homeless",
        fieldset: {
          legend: {
            text: "Are you homeless or at risk of being made homeless soon?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "This means you don't have a permanent place to live."
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: checked("homeless", "yes")
          },
          {
            value: "no",
            text: "No",
            checked: checked("homeless", "no")
          }
        ]
      }) }}
      {{ govukButton({
        text: "Continue",
        classes: "button-primary"
      }) }}
      <form class="form" method="post">
    </div>
</div>
<div class="IT-notes-box">
  <h3 class="govuk-heading-s">IT notes:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>validation: <span class="govuk-error-message">Confirm homeless or at risk</span></li>
      <li>Yes goes to information screen and then stops you, No let you go through to current address question</li>
    </ul>
</div>
{% endblock %}
