
{% extends "layout_erc.html" %}

{% block pageTitle %}
  Who will be living with you
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Apply online for council housing
        </h1>
        <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
        <h2 class="govuk-heading-m">
            We need to know who'll be living with you
          </h2>
          <p class="govuk-!-margin-bottom-6">In the next questions, only add children who live with you all the time. You can add children later who live with you sometimes. </p>
         
    
          {{ govukButton({
            text: "Continue",
            classes: "button-primary",
            href: "/forms/housing/CBLadd-person1-loop.html"
          }) }}
          </form>
    </div>
</div>
<div class="IT-notes-box">
    <h3 class="govuk-heading-s">IT notes:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>it was one page before with the question about living alone or not is on the next screen now</li>
      <li><a href="CBLinfo-housed2.html">Possible screen</a> for taking into account a person living alone but having children staying over sometimes.</li>
    </ul>
</div>

{% endblock %}
