
{% extends "layout_erc.html" %}

{% block pageTitle %}
  Other children
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Apply online for council housing
      </h1>
      <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
      <form class="form" method="post">
      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        idPrefix: "other-children",
        name: "other-children",
        fieldset: {
          legend: {
            text: "Do you have a child who sometimes lives with you overnight?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "For example, a child who lives the rest of the time with another parent or carer. "
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: checked ("other-children", "yes")
          },
          {
            value: "no",
            text: "No",
            checked: checked ("other-children", "no")
          }
        ]
      }) }}

            {{ govukButton({
              text: "Continue",
              classes: "button-primary"
            }) }}
      </form>
    </div>
</div>
<div class="IT-notes-box">
    <h3 class="govuk-heading-s">IT notes:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Validation - <span class="govuk-error-message">Confirm if a child sometimes lives with you overnight? </span> </li>
      <li>if they say yes, then enter children one by one - with screen that ask if more to add yes / no </li>
      <li>if they say no, they jump to current address screen</li>
    </ul>
</div>
{% endblock %}
