
{% extends "layout_erc.html" %}

{% block pageTitle %}
  Summary about you
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Apply online for council housing
        </h1>
        <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
        <h2 class="govuk-heading-m">
            Summary - About you
          </h2>
          <p>Check this is correct before you continue</p>
          <div style="overflow: auto;">
          <table class=" govuk-table half-width">
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Name:</th><td class="govuk-table__cell no-border">{{data['title-applicant']}}&nbsp;{{ data['first-name-applicant']}}&nbsp;{{data['last-name-applicant']}}</td></tr>
                <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Phone:</th><td class="govuk-table__cell no-border">{{ data ['telephone-number']}}</td></tr>
                <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Address:</th><td class="govuk-table__cell no-border">{{ data['postcode']}}</td></tr>
                <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Preferred contact:</th><td class="govuk-table__cell no-border">{{ data['how-contacted']}}</td></tr>
                {% if data['how-contacted'] === 'I have an advocate or power of attorney' %}
                <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Advocate or power of attorney:</th><td class="govuk-table__cell no-border">{{ data['contact-att']}}</td></tr>
                {% endif %}
                {% if data['how-contacted'] === 'Post at a different address' %}
                <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Other address:</th><td class="govuk-table__cell no-border">{{ data['other-add']}}</td></tr>
                {% endif %}
                {% if data['how-contacted'] === 'email' %}
                <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Email:</th><td class="govuk-table__cell no-border">{{ data['emailadd']}}</td></tr>
                {% endif %}
                <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Date of birth:</th><td class="ngovuk-table__cell o-border">{{ data['dob-applicant-day'] }}/{{ data ['dob-applicant-month'] }}/{{ data['dob-applicant-year'] }}</td></tr>
                <tr class="govuk-table__row"><th  class="govuk-table__header no-border">Gender:</th><td class="govuk-table__cell no-border">{% if data['gender-applicant'] === 'Other' %} {{data['gender-desc']}} {% else %} {{data['gender-applicant']}} {% endif %}</td></tr>
              </tbody>
            </table>
            </div>
            <p class="govuk-!-padding-bottom-4"><a href="/forms/housing/CBLaboutyou.html">Edit your details</a></p>
      

      {{ govukButton({
        text: "Continue",
        href: "/forms/housing/CBLwho-moving.html",
        classes: "button-primary"
      }) }}

    </div>
</div>


{% endblock %}
