
{% extends "layout_erc.html" %}

{% block pageTitle %}
  What happen next
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Apply online for council housing
      </h1>
      <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
      <p><img src="{{ asset_path }}images/housing-logo.PNG" alt="Housing logo" style="height:95px; width:250px"></p>



      <h2 class="govuk-heading-m erc-text-blue">What happen next</h2>
      <p>We'll:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>process your application within 21 days of getting all the information we need</li>
          <li>tell you your priority group </li>
          <li>explain how to bid for available homes</li>
          <li>invite you to discuss your chances of getting a house and your options</li>
      </ul>

      <h2 class="govuk-heading-m govuk-!-margin-top-9">Related information </h2>
      <ul class="govuk-list">
        <li><a href="https://www.eastrenfrewshire.gov.uk/article/1628/Homelessness" target="_blank">Homelessness</a></li>
        <li><a href="https://www.eastrenfrewshire.gov.uk/young-persons-housing-service" target="_blank">Young person's housing support service</a></li>
        <li><a href="https://www.eastrenfrewshire.gov.uk/sheltered-housing" target="_blank">Sheltered housing</a></li>
        <li><a href="https://www.eastrenfrewshire.gov.uk/about-housing" target="_blank">About housing services</a></li>
        <li><a href="https://www.eastrenfrewshire.gov.uk/article/9717/How-we-allocate-our-council-houses" target="_blank">How we allocate our council houses</a></li>
        </ul>

        <h2 class="govuk-heading-m govuk-!-margin-top-6">Contact</h2>
        <ul class="govuk-list">
        <li>Phone: 0141 577 3001</li>
        <li>Email: <a href="mailto:housingallocationenquiries@eastrenfrewshire.gov.uk">housingallocationenquiries@eastrenfrewshire.gov.uk</a></li>
        </ul>

      <p class="govuk-!-margin-bottom-9 govuk-!-margin-top-9">
          You can find out more about how we handle this information and your rights in respect of it by going to <a href="http://www.eastrenfrewshire.gov.uk/housing-service-standards">http://www.eastrenfrewshire.gov.uk/housing-service-standards</a>
      </p>
    </div>
</div>
<div class="content-notes-box">
  <h3 class="govuk-heading-s">Content notes:</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>This is placeholder content</li>
  </ul>
</div>



{% endblock %}
