<footer class="govuk-footer bulb-footer" role="contentinfo">
  <div class="govuk-width-container">
  
      <div class="govuk-footer__meta">
        <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
          <ul class="govuk-footer__inline-list">
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="/index.html">Home</a>
            </li>
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="/how-to-use.html">How to use</a>
            </li>
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="/project-outline.html">Project outline</a>
            </li>
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="/creating-this-website.html">Creating this website</a>
            </li>
            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="/contact.html">Get in touch</a>
            </li>
            <li class="govuk-footer__inline-list-item ">
              <a class="govuk-footer__link" href="/prototype-admin/clear-data">Clear the data</a>
            </li>
          </ul>
          <br>
        </div>
      </div>
    </div>
  </footer>