<ul class="govuk-list govuk-list--bullet clear-layout">
    <li><a href="/forms/govuk-forms/universal-credit/UCintro"><strong>Universal Credit, create an account, forgot username or password</strong></a> </li>
    <li><a href="/forms/govuk-forms/universal-credit-apply/UCAintro"><strong>Universal Credit, apply once you have created your account</strong></a>  - or see this <a href="https://www.learnmyway.com/courses/universal-credit-a-how-to-guide/" target="_blank" rel="noopener"><strong>'How to' guide</strong></a> from Learn My Way</li>
    <li><a href="/forms/govuk-forms/learn-to-drive/apply-provisional-licence/APLintro"><strong>Apply for provisional driving licence</strong></a> </li>
    <li><a href="/forms/govuk-forms/learn-to-drive/book-theory-test/BTTintro"><strong>Book your theory test</strong></a></li>
    <li><a href="/forms/govuk-forms/learn-to-drive/book-driving-test/BDTintro"><strong>Book your driving test</strong></a></li>
    <li><a href="/forms/govuk-forms/register-to-vote/RTVIntro"><strong>Register to vote</strong></a></li>
    <li><a href="/forms/sss-forms/best-start/BS-intro"><strong>Best Start Grant and Best Start Foods</strong></a> (Scottish Government)</li>
  </ul>