<ul class="govuk-list govuk-list--bullet clear-layout">
    <li><a href="/forms/other-forms/patient-access/pa-intro"><strong>Patient access</strong></a> (mini website) </li>
    <li><a href="/forms/other-forms/bulb/bulb-intro"><strong>Bulb - energy provider example</strong></a> (mini website)</li>
    <li><a href="/forms/other-forms/job/job-Intro"><strong>Apply for a job</strong></a></li>
    <li><a href="/forms/other-forms/warm-home/warm-home-intro"><strong>Warm Home Discount</strong></a> (Example with British Gas)</li>
  </ul>