{% extends "layout_erc.html" %}

{% block pageTitle %}
Religion - Equality and diversity
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Equality and diversity questionnaire
        </h1>
        <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/input/macro.njk" import govukInput %}

        {% set otherHtml %}
        {{ govukInput({
          id: "rel",
          name: "rel",
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Describe religion"
          }
        }) }}
        {% endset -%}

        {% set christianHtml %}
        {{ govukRadios({
            idPrefix: "christian",
            name: "christian",
            items: [
                {
                value: "catholic",
                text: "Roman Catholic"
                },
                {
                value: "other Christian",
                text: "Other Christian"
                }
            ]
            }) }}
        {% endset -%}
  
        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "religion-conditional",
          name: "status",
          fieldset: {
            legend: {
              text: "Religion",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "None",
              text: "None"
            },
            {
              value: "atheist",
              text: "Atheist"
            },
            {
              value: "Buddhist",
              text: "Buddhist"
            },
            {
              value: "Christian",
              text: "Christian"
            },
            {
              value: "Hindu",
              text: "Hindu"
            },
            {
              value: "Jewish",
              text: "Jewish"
            },
            {
              value: "Muslim",
              text: "Muslim"
            },
            {
              value: "Roman Catholic",
              text: "Roman Catholic"
            },
            {
              value: "Sikh",
              text: "Sikh"
            },
            {
              value: "Another",
              text: "Another religion",
              conditional: {
                html: otherHtml
              }
            },
            {
              value: "no",
              text: "Prefer not to say"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue",
          classes: "button-primary",
          href: "/forms/erc-forms/equal-opportunities/thankyou.html"
        }) }}

    </div>
</div>

{% endblock %}
