{% extends "layout_erc.html" %}

{% block pageTitle %}
Relationship status - Equality and diversity
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Equality and diversity questionnaire
        </h1>
        <a class=" button-secondary govuk-button" href="javascript: history.go(-1)">Back</a>

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
  
        {% set otherHtml %}
        {{ govukInput({
          id: "status-description-conditional",
          name: "status-description",
          value: data['status-description'],
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Describe relationship status"
          }
        }) }}
        {% endset -%}
  
        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "status",
          name: "status",
          fieldset: {
            legend: {
              text: "Relationship status",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Civil partner",
              text: "Civil partnership"
            },
            {
              value: "in relation",
              text: "In a relationship"
            },
            {
              value: "Married",
              text: "Married"
            },
  
            {
              value: "Separated",
              text: "Separated"
            },
            {
              value: "Single",
              text: "Single"
            },
            {
              value: "widow",
              text: "Widowed"
            },
            {
              value: "Other",
              text: "Other",
              conditional: {
                html: otherHtml
              }
            },
            {
              value: "no say",
              text: "Prefer not to say"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue",
          classes: "button-primary",
          href: "/forms/erc-forms/equal-opportunities/orientation.html"
        }) }}

    </div>
</div>


{% endblock %}
