{% extends "layout_erc.html" %}

{% block pageTitle %}
Ethnic origin - Equality and diversity
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Equality and diversity questionnaire
        </h1>
        <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>

        {% set otherwhiteHtml %}
            {{ govukInput({
            id: "other-white",
            name: "other-white",
            value: data['other-white'],
            classes: "govuk-!-width-two-thirds",
            label: {
                text: "Describe other White"
            }
            }) }}
        {% endset -%}

        {% set multipleHtml %}
        {{ govukInput({
        id: "multiple",
        name: "multiple",
        classes: "govuk-!-width-two-thirds",
        label: {
            text: "Describe Mixed or multiple ethnic group"
        }
        }) }}
    {% endset -%}

        {% set otherblackHtml %}
        {{ govukInput({
        id: "other-black",
        name: "other-black",
        value: data['other-black'],
        classes: "govuk-!-width-two-thirds",
        label: {
            text: "Describe other Black"
        }
        }) }}
        {% endset -%}

        {% set otherasianHtml %}
        {{ govukInput({
        id: "other-asian",
        name: "other-asian",
        value: data['other-asian'],
        classes: "govuk-!-width-two-thirds",
        label: {
            text: "Describe other Asian"
        }
        }) }}
        {% endset -%}

        {% set otherAfricanHtml %}
        {{ govukInput({
        id: "other-african",
        name: "other-african",
        classes: "govuk-!-width-two-thirds",
        label: {
            text: "Describe other African"
        }
        }) }}
        {% endset -%}

        {% set africanHtml %}
        {{ govukRadios({
            idPrefix: "african",
            name: "african",
            items: [
                    {
                    value: "African",
                    text: "African, African Scottish or African British"
                    },
                    {
                    value: "other",
                    text: "Other African",
                    conditional: {
                        html: otherAfricanHtml
                        }
                    }
                ]
            }) }}
        {% endset -%}

        {% set otherEthnicHtml %}
        {{ govukInput({
        id: "other-ethnic",
        name: "other-ethnic",
        value: data['other-ethnic'],
        classes: "govuk-!-width-two-thirds",
        label: {
            text: "Describe other ethnic group"
        }
        }) }}
        {% endset -%}

        {% set otherEthnicGroupHtml %}
        {{ govukRadios({
            idPrefix: "other-group",
            name: "other-group",
            items: [
                    {
                    value: "arab",
                    text: "Arab, Arab Scottish or Arab British"
                    },
                    {
                    value: "other",
                    text: "Other",
                    conditional: {
                        html: otherEthnicHtml
                        }
                    }
                ]
            }) }}
        {% endset -%}


        {% set whiteHtml %}
        {{ govukRadios({
            idPrefix: "white",
            name: "white",
            items: [
                {
                value: "scottish",
                text: "Scottish"
                },
                {
                value: "English",
                text: "English"
                },
                {
                value: "irish",
                text: "Irish"
                },
                {
                value: "Welsh",
                text: "Welsh"
                },
                {
                value: "Gypsy or Traveler",
                text: "Gypsy or Traveler"
                },
                {
                value: "Polish",
                text: "Polish"
                },
                {
                value: "Other White",
                text: "Other White",
                conditional: {
                    html: otherwhiteHtml
                  }
                }
            ]
            }) }}
        {% endset -%}

        {% set blackHtml %}
        {{ govukRadios({
            idPrefix: "black",
            name: "black",
            items: [
                {
                value: "black",
                text: "Black, Black Scottish or Black British"
                },
                {
                value: "caribbean",
                text: "Caribbean, Caribbean Scottish or Caribbean British"
                },
                {
                value: "other black",
                text: "Other Black",
                conditional: {
                    html: otherblackHtml
                  }
                }
            ]
            }) }}
        {% endset -%}

        {% set asianHtml %}
        {{ govukRadios({
            idPrefix: "asian",
            name: "asian",
            items: [
                {
                value: "Bangladeshi",
                text: "Bangladeshi, Bangladeshi Scottish or Bangladeshi British"
                },
                {
                value: "Chinese",
                text: "Chinese, Chinese Scottish or Chinese British"
                },
                {
                value: "Indian",
                text: "Indian, Indian Scottish or Indian British"
                },
                {
                value: "Pakistani",
                text: "Pakistani, Pakistani Scottish or Pakistani British"
                },
                {
                value: "other asian",
                text: "Other Asian",
                conditional: {
                    html: otherasianHtml
                  }
                }
            ]
            }) }}
        {% endset -%}

        {{ govukRadios({
        idPrefix: "ethnic",
        name: "ethnic",
        fieldset: {
            legend: {
            text: "Which best describes your ethnic group and background?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
            }
        },
        items: [
            {
            value: "white",
            text: "White",
            conditional: {
                html: whiteHtml
              }
            },
            {
            value: "African",
            text: "African",
            conditional: {
                html: africanHtml
              }
            },
            {
            value: "asian",
            text: "Asian",
            conditional: {
                html: asianHtml
              }
            },
            {
            value: "black",
            text: "Black or Caribbean",
            conditional: {
                html: blackHtml
                }
            },
            {
            value: "mixed",
            text: "Mixed or multiple ethnic group",
            conditional: {
                html: multipleHtml
              }
            },
            {
            value: "other ethnic",
            text: "Other ethnic group",
            conditional: {
                html: otherEthnicGroupHtml
              }
            },
            {
            value: "unknown",
            text: "Unknown"
            }
        ]
        }) }}

 
        {{ govukButton({
          text: "Continue",
          classes: "button-primary",
          href: "/forms/equal-opportunities/gender.html"
        }) }}


    </div>
</div>

<div class="design-notes-box">
    <h3 class="govuk-heading-s">Design notes:</h3>
    <ul class="govuk-list govuk-list--bullet">
        <li><strong>This screen will be very hard to read without Javascript enabled! - we probably need a warning</strong></li>
    </ul>
</div>
<div class="IT-notes-box">
    <h3 class="govuk-heading-s">IT notes:</h3>
    <ul class="govuk-list govuk-list--bullet">
        <li>lots of sub sections with Radio buttons, not sure how this will look - all other buttons opens a text box, No validation of the textboxes or that a button as been selected</li>
    </ul>
</div>

{% endblock %}
