{% extends "layout_erc.html" %}

{% block pageTitle %}
Ethnic origin - Equality and diversity
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Equality and diversity questionnaire
        </h1>
        <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>

        {% set otherwhiteHtml %}
            {{ govukInput({
            id: "other-white",
            name: "other-white",
            value: data['other-white'],
            classes: "govuk-!-width-two-thirds",
            label: {
                text: "Describe other White"
            }
            }) }}
        {% endset -%}

        {% set multipleHtml %}
        {{ govukInput({
        id: "multiple",
        name: "multiple",
        classes: "govuk-!-width-two-thirds",
        label: {
            text: "Describe Mixed"
        }
        }) }}
    {% endset -%}

        {% set otherblackHtml %}
        {{ govukInput({
        id: "other-black",
        name: "other-black",
        value: data['other-black'],
        classes: "govuk-!-width-two-thirds",
        label: {
            text: "Describe other Black"
        }
        }) }}
        {% endset -%}

        {% set otherasianHtml %}
        {{ govukInput({
        id: "other-asian",
        name: "other-asian",
        value: data['other-asian'],
        classes: "govuk-!-width-two-thirds",
        label: {
            text: "Describe other Asian"
        }
        }) }}
        {% endset -%}


        {% set otherEthnicHtml %}
        {{ govukInput({
        id: "other-ethnic",
        name: "other-ethnic",
        value: data['other-ethnic'],
        classes: "govuk-!-width-two-thirds",
        label: {
            text: "Describe Other ethnic group"
        }
        }) }}
        {% endset -%}


        {% set whiteHtml %}
        {{ govukRadios({
            idPrefix: "white",
            name: "white",
            items: [
                {
                value: "scottish",
                text: "Scottish"
                },
                {
                value: "English",
                text: "English"
                },
                {
                value: "irish",
                text: "Irish"
                },
                {
                value: "Welsh",
                text: "Welsh"
                },
                {
                value: "Traveler",
                text: "Traveler"
                },
                {
                value: "Polish",
                text: "Polish"
                },
                {
                value: "Other White",
                text: "Other White",
                conditional: {
                    html: otherwhiteHtml
                  }
                }
            ]
            }) }}
        {% endset -%}

        {% set blackHtml %}
        {{ govukRadios({
            idPrefix: "black",
            name: "black",
            items: [
                {
                value: "african",
                text: "African"
                },
                {
                value: "caribbean",
                text: "Caribbean"
                },
                {
                value: "other black",
                text: "Other Black",
                conditional: {
                    html: otherblackHtml
                  }
                }
            ]
            }) }}
        {% endset -%}

        {% set asianHtml %}
        {{ govukRadios({
            idPrefix: "asian",
            name: "asian",
            items: [
                {
                value: "Bangladeshi",
                text: "Bangladeshi"
                },
                {
                value: "Chinese",
                text: "Chinese"
                },
                {
                value: "Indian",
                text: "Indian"
                },
                {
                value: "Pakistani",
                text: "Pakistani"
                },
                {
                value: "other asian",
                text: "Other Asian",
                conditional: {
                    html: otherasianHtml
                  }
                }
            ]
            }) }}
        {% endset -%}

        {{ govukRadios({
        idPrefix: "ethnic",
        name: "ethnic",
        fieldset: {
            legend: {
            text: "How do you describe your ethnic group?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
            }
        },
        items: [
            {
            value: "Arab",
            text: "Arab"
            },
            {
            value: "asian",
            text: "Asian",
            conditional: {
                html: asianHtml
                }
            },
            {
            value: "black",
            text: "Black",
            conditional: {
                html: blackHtml
                }
            },
            {
            value: "white",
            text: "White",
            conditional: {
                html: whiteHtml
                }
            },
            {
            value: "mixed",
            text: "Mixed",
            conditional: {
                html: multipleHtml
              }
            },
            {
            value: "other ethnic",
            text: "Other",
            conditional: {
                html: otherEthnicHtml
              }
            },
            {
            value: "no",
            text: "Prefer not to say"
            }
        ]
        }) }}

 
        {{ govukButton({
          text: "Continue",
          classes: "button-primary",
          href: "/forms/equal-opportunities/gender.html"
        }) }}


    </div>
</div>
<br>
<br>
<div class="design-notes-box">
    <h3 class="govuk-heading-s">Design notes:</h3>
    <ul class="govuk-list govuk-list--bullet">
        <li><strong>This screen will be  hard to read without Javascript enabled! - we probably need a warning</strong></li>
        <li>original version was longer with more sub categories - <a href="/forms/equal-opportunities/ethnic-origin1">see here</a></li>
        <li>I've removed gypsy, where it was "Gypsy or Traveler" as I had some feedback that it wasn't appropriate</li>
    </ul>
</div>
<div class="IT-notes-box">
    <h3 class="govuk-heading-s">IT notes:</h3>
    <ul class="govuk-list govuk-list--bullet">
        <li>lots of sub sections with Radio buttons, not sure how this will look on Goss as it opens at the bottom of the radio buttons</li>
        <li>all 'Other' buttons opens a text box, No validation of the textboxes or that a button has been selected</li>
    </ul>
</div>


{% endblock %}
