{% extends "layout_erc.html" %}

{% block pageTitle %}
Ethnic group - Equality and diversity
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Equality and diversity questionnaire
        </h1>
        <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>

      

        {% set multipleHtml %}
        {{ govukInput({
        id: "multiple",
        name: "multiple",
        classes: "govuk-!-width-two-thirds",
        label: {
            text: "Describe mixed"
        }
        }) }}
    {% endset -%}


        {% set otherEthnicHtml %}
        {{ govukInput({
        id: "other-ethnic",
        name: "other-ethnic",
        value: data['other-ethnic'],
        classes: "govuk-!-width-two-thirds",
        label: {
            text: "Describe other"
        }
        }) }}
        {% endset -%}


        {{ govukRadios({
        idPrefix: "ethnic",
        name: "ethnic",
        fieldset: {
            legend: {
            text: "Ethnic group",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
            }
        },
        items: [
            {
            value: "Arab",
            text: "Arab"
            },
            {
            value: "asian",
            text: "Asian"
            },
            {
            value: "black",
            text: "Black"
            },
            {
            value: "white",
            text: "White"
            },
            {
            value: "mixed",
            text: "Mixed",
            conditional: {
                html: multipleHtml
              }
            },
            {
            value: "other ethnic",
            text: "Other",
            conditional: {
                html: otherEthnicHtml
              }
            },
            {
            value: "no",
            text: "Prefer not to say"
            }
        ]
        }) }}

 
        {{ govukButton({
          text: "Continue",
          classes: "button-primary",
          href: "/forms/equal-opportunities/identity2.html"
        }) }}


    </div>
</div>

<div class="IT-notes-box">
        <h3 class="govuk-heading-s">IT notes:</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>all 'Other' buttons opens a text box, No validation of the textboxes or that a button has been selected</li>
        </ul>
    </div>
{% endblock %}
