{% extends "layout_erc.html" %}

{% block pageTitle %}
Equality and diversity 
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Equality and diversity questionnaire
        </h1>
        <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>

        <h2 class="govuk-heading-m">
                This questionnaire is optional
        </h2>

        <p>Your answers are anonymous. We’ll only use information you give for statistics.</p> 
     
    

        {{ govukButton({
          text: "Continue",
          classes: "button-primary",
          href: "/forms/equal-opportunities/identity.html"
        }) }}


    </div>
</div>
<br>
<br>
<div class="design-notes-box">
    <h3 class="govuk-heading-s">Design notes:</h3>
    <ul class="govuk-list govuk-list--bullet">
    <li><strong>you would reach that page via a link on the  confirmation page stating: takes less than 1 minute</strong></li>
    <li>This is based on a document provided by Maureen from Housing - but simplified</li>
    <li>Ideally, we would want a questionnaire for the whole council</li>
    <li>see the longer original <a href="/forms/equal-opportunities/start">start page</a></li>
    <li>see an example on the  <a href="https://volunteer.samaritans.org/volunteer/other-support/birmingham/enquire-non-pilot" target="_blank">Samaritans Website</a></li>
    <li><strong style="background-color:#ffbf47">who is using this data? what do they do with it? do we need so much details?</strong></li>
    </ul>
</div>
<div class="content-notes-box">
    <h3 class="govuk-heading-s">Content notes:</h3>
    <p>example from the Samaritans: <br>
        We are committed to increasing diversity among our volunteers. If you'd like to tell us about your background and identity then we'll use this information to track how we're doing. This is entirely optional and has no effect on your application.</p>
</div>
{% endblock %}
