{% extends "layout_erc.html" %}

{% block pageTitle %}
Equality and diversity 
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Equality and diversity questionnaire
        </h1>
        <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>

        <p>We are committed to ensuring that you are not treated unfairly because of age, physical ability or mental health, gender, marriage or civil partnership, race, religion or belief, sexual orientation.</p> 
        <p>In order to monitor this, we would be grateful if you would complete the questions on this form.</p> 
        <p>Please be assured that this is voluntary and anonymous.</p> 
        <p>You can choose not to complete this questionnaire. </p>
        <p>Any information you provide is separate from your housing application and will be used only to provide statistics for monitoring purposes.</p>
    

        {{ govukButton({
          text: "Continue",
          classes: "button-primary",
          href: "/forms/equal-opportunities/identity.html"
        }) }}


    </div>
</div>
<div class="design-notes-box">
    <h3 class="govuk-heading-s">Design notes:</h3>
    <ul class="govuk-list govuk-list--bullet">
        <li><strong>you would reach that page via a link on the  confirmation page stating: takes less than 1 minute</strong></li>
        <li>This is based on a document provided by Maureen from Housing</li>
        <li>Ideally, we would want a questionnaire for the whole council</li>
        <li>see a shorter alternative <a href="/forms/equal-opportunities/start1">start page</a></li>
    </ul>
</div>
{% endblock %}
