// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.contact , .address {
    border-left: 1px solid #bfc1c3;
    padding-left: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
}

// re-writing this so it's smaller 2px instead of 10px - nothing in the guide for this for 'aside' - discussion on #govuk-design-system for it
.app-related-items-small {
    border-top: 2px solid #005ea5;
    padding-top: 10px;
}

// making the fact that this is a training website more obvious
.govuk-header__link--service-name:link, .govuk-header__link--service-name:visited, .govuk-header__link--service-name:focus {
  color: #ffdd00;
}

// added this so all the logo don't change briefly when we click on them, they used to have a yellow band and black border on focus
.govuk-header__logo a:focus {
  background-color:#0000 ;
  box-shadow: 0 0 0 0;
}
.govuk-header__link--service-name:focus {
  color: #000;
}
// added the CSS for the pagination at the bottom of the stepped guide - do not exist yet in the govuk-design-system - the code commented would restore the previous on the left anf next on the right 
.stepped-pagination{
    display:block;
    margin-top:30px;
    margin-bottom:30px;
    margin-left:-15px;
    margin-right:-15px
  }
  .stepped-pagination__list{
    margin:0;padding:0
  }
  .stepped-pagination__list:after{
    content:"";
    display:block;clear:both
  }
  .stepped-pagination__item{
    font-family:"nta", Arial, sans-serif;
    font-weight:400;
    text-transform:none;
    font-size:14px;
    line-height:1.1428571429;
    //float:left;
    list-style:none;
    //text-align:right;
    margin:0;
    padding:0;
    width:50%
  }
  @media (min-width: 641px){
    .stepped-pagination__item{
      font-size:16px;line-height:1.25
    }
  }
  .stepped-pagination__link{
    display:block;
    padding:15px;
    text-decoration:none;
  }
  .stepped-pagination__link:visited{
    color:#005ea5
  }
  .stepped-pagination__link:hover, .stepped-pagination__link:active{
    background-color:#f8f8f8
  }
  .stepped-pagination__link-title{
    font-family:"nta", Arial, sans-serif;
    text-transform:none;
    text-decoration:none;
    font-size:20px;
    line-height:1.1111111111;
    display:block;
    font-weight:700;
  }
  @media (min-width: 641px){
    .stepped-pagination__link-title{
      font-size:19px;line-height:1.25;
    }
  }
  .stepped-pagination__item--previous, .stepped-pagination__item--next{
    float:none;
    width:100%
  }
  /*
  .stepped-pagination__item--previous{
    float:left;
    text-align:left
  }
  @media (max-width: 640px){
    .stepped-pagination__item--previous{
      float:none;
      width:100%
    }
  } 
  .stepped-pagination__item--next{
    float:right;text-align:right
  }
  @media (max-width: 640px){
    .stepped-pagination__item--next{float:none;width:100%
    }
  } */
  .stepped-pagination__link-icon{
    display:inline-block;
    margin-bottom:1px;
    height:.482em;
    width:.63em
  }
  .stepped-pagination__link-label{
    display:inline-block;
    margin-top:0.1em;
    text-decoration:underline
  }

  .warning-tag {
    background:red;
   // display: none
  }

/* ------------------------ specific to Universal credit  - application part ---------------------------- */

.uc-to-do-list-blue {
  text-align: center; 
  background-color:#005ea5 ;
  padding: 10px 15px; 
  a {
    color: white; 
    font-weight: 700;
    text-decoration: none;
  }
  a:hover, a:focus, a:active {
    text-decoration: underline;
  }
}

.uc-to-do-list-grey {
  text-align: center; 
  background-color:#dee0e2 ;
  padding: 10px 15px;
  a {
    font-weight: 700;
    text-decoration: none;
  }
  a:hover, a:focus, a:active {
    text-decoration: underline;
  }
}

.uc-to-do-list-red {
  border-left: 10px solid #b10e1e;
  background-color: #fceaeb;
  padding: 15px;
  p {
    padding: 5px 0 10px 0;
  }
}


.uc-to-do-list {
  border-left: 3px solid #0b0c0c; 
  border-bottom: #bfc1c3 ; 
  background-color: #f8f8f8; 
  padding: 15px; 
  margin-top: 10px;
}

/* ----------------------------------------------------------------------- Helpers ---------------------------------------------- */
.student-notes-box{
  border: solid 1px #bcdff1;
  margin: 20px 0;
  padding: 25px 15px;
  border-radius: 10px;
  color: #31708f ;
  background-color: #d9edf7;
  p, h3, li {
      color: #31708f;
  }
}

.govuk-tag {
  padding: 10px;
  margin-right: 10px;
}
.govuk-tag.black {
  padding: 10px 10px 10px 60px;
  background: url(../images/govuk-crown.png) 10px center no-repeat #000;
}
.tag-print {
  padding: 10px 10px 10px 60px;
  background: url(../images/printer-icon.png) 10px center no-repeat #fff;
  text-decoration: underline;
  color: #551A8B ; // $sac-text;
  font-weight: 400;
  //font-size : 19px;
}

.govuk-tag.info {
  background-color: #00559c;
  text-transform: none;
  font-family: nta;
  padding: 5px;

}


.govuk-tag.red {
  background-color: #b10e1e;
  padding: 15px;
  text-transform: none;
  font-size: 1.3em;
}

.govuk-panel {
  background-color: #28a197;
}
code {
  font-weight: 400;
  padding-left: 0.5em;
}

.ready-tag {
  background: #cce2d8;
  color: #005a30;
  font-size: 0.8rem;
  margin: 5px 0;
  padding: 5px;
}
.started-tag {
  color: #594d00;
  background: #fff7bf;
  font-size: 0.8rem;
  margin: 5px 0;
  padding: 5px;
}

.todo-tag {
  color: #942514;
  background: #f6d7d2;
  font-size: 0.8rem;
  margin: 5px 0;
  padding: 5px;
}
