// The unbranded stylesheet is used if you need to create pages in your
// prototype without the GOV.UK branding.
//
// See localhost:3000/docs/templates/blank-unbranded

// Import settings first so we can override them before importing all of GOV.UK Frontend
// If you need to enable compatibility mode or the legacy palette, do that *before* this import.
@import "node_modules/govuk-frontend/govuk/settings/all";

// Override the default GOV.UK Frontend font stack
$govuk-font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

// Override the canvas background colour, which is normally grey to blend with the GOV.UK footer.
$govuk-canvas-background-colour: $govuk-body-background-colour;

@import "application";

$erc-text-blue : #004269; 
$erc-logo-blue: #0071BA;
$erc-green-border: #008000;

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you


//---------------------------------------- HEADER ------------------------------------------------//

.govuk-header__container {
    border-bottom: 0px;
}
.erc-service-name {
    font-size: 24px;
    color: white; 
    background-color: $erc-logo-blue;
    padding: 4px 10px;
    font-weight: 500;
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
}
.govuk-header__content {
    @media only screen and (min-width: 169px) { 
    border: 30px solid #fff;
    }
    a {
        text-decoration: none;
    }
}

// ----- specific to the home page ----- //

#logo-se-home {
    width: 50%;
    @media only screen and (min-width: 775px) { 
    border: 30px solid #fff;
    }

}
#tagline-home {
    border: 0 solid #fff ; 
    padding: 10px 0;
}

//---------------------------------------- FOOTER ------------------------------------------------//
.govuk-footer {
    font-size: 1em;
    background-color: $erc-logo-blue;
    p, .govuk-footer__link:link, .govuk-footer__link:visited, .govuk-footer__link:hover, .govuk-footer__link:active {
        color:  white;
    }
}
.govuk-footer__link{
    font-size: 1em;
    font-weight: 500;
}
.govuk-footer__inline-list-item{
    padding: 1em;
}
.govuk-footer__meta-item {
    margin-bottom: 0;
}

//---------------------------------------- BODY------------------------------------------------//

body p, p.govuk-body-l, .govuk-heading-s, .govuk-label, .govuk-fieldset, .govuk-fieldset__legend, .govuk-table {
    color: $erc-text-blue;
}

// ------------------------------------------- GOVUK changes for colours ------------------------------------------------- //

// back button/link
.govuk-back-link:link,  .govuk-back-link:active, .govuk-back-link:hover, .govuk-back-link:focus, .govuk-back-link:visited {
    color: $erc-text-blue;
    margin-bottom: 2em;
}

.govuk-textarea, .govuk-input{
    border: 2px solid $erc-text-blue;
}

.govuk-heading-xl, .govuk-heading-l, .govuk-heading-m, .govuk-list , .erc-text-blue , table{
    color: $erc-text-blue;
}


.govuk-link, a, .govuk-link:link, a:link {
    color: 	#0000ee;
}
#logo-erc:focus{
    background-color: 	#fff; // was putting a thick yellow layer at the bottom of the ERC logo
}


.govuk-error-message, .govuk-error-summary, .govuk-input--error {
    color: #B30000 
}
.govuk-form-group--error {
    border-left: 5px solid #B30000;
}



// -------------------------------------------- Helpers ------------------------------------------------- //


.validated {
    border: 2px solid #008000;
}

.input-read-only {
    background: #ececec;
}

.govuk-tag {
    padding: 10px;
    margin-right: 10px;
}
.govuk-tag.black {
    padding: 10px 10px 10px 60px;
    background: url(../images/govuk-crown.png) 10px center no-repeat #000;
}
.tag-print {
    padding: 10px 10px 10px 60px;
    background: url(../images/printer-icon.png) 10px center no-repeat #fff;
    text-decoration: underline;
    color: #551A8B ; // $erc-text-blue;
    font-weight: 400;
    //font-size : 19px;
}

.UR-tag {
margin-left: 20px;
padding: 5px;
color: white;
font-weight: 600;
font-size:16px;
font-family: nta;
}
.UR-tag.ok {
    background-color: #518418;
   // display: none
}
.UR-tag.amber {
    background-color: orange;
    color: black;
  //  display: none
}
.UR-tag.red {
    background-color: #b30000;
  //  display: none
}
.UR-tag.no {
    background-color: #cccccc;
    color: black;
  //  display: none
}


.govuk-tag.info {
    background-color: $erc-logo-blue;
    text-transform: none;
    font-family: nta;
    padding: 5px;
 
}

.govuk-tag.red {
    background-color: #b10e1e;
   // margin-left: 10px;
    padding: 5px;
    text-transform: none;

}


// -------------------------------------------- CBL------------------------------------------------- //

#CBLperson2, #CBLperson3, #CBLperson4, #CBLperson5, #CBLperson6, #CBLchild2, #CBLchild3 {
    display: none;
}
hr.erc {
    border-top: 2px solid $erc-text-blue;
}

//tables for person data
.no-border {
    border: 0px;
}


.half-width {
    max-width: 100%;
    @media only screen and (min-width: 750px) { 
        width : 50%;
    }
}

.govuk-table__cell, .govuk-table__header{
    padding: 4px 20px 4px 0;
}
th {
    white-space: nowrap;
}
