// The unbranded stylesheet is used if you need to create pages in your
// prototype without the GOV.UK branding.
//
// See localhost:3000/docs/templates/blank-unbranded

// Import settings first so we can override them before importing all of GOV.UK Frontend
// If you need to enable compatibility mode or the legacy palette, do that *before* this import.
@import "node_modules/govuk-frontend/govuk/settings/all";

// Override the default GOV.UK Frontend font stack
$govuk-font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

// Override the canvas background colour, which is normally grey to blend with the GOV.UK footer.
$govuk-canvas-background-colour: $govuk-body-background-colour;

@import "application";

$erc-text-blue : #004269; 
$erc-alt-text-blue : #225369; 
$erc-logo-blue: #0071BA;
$erc-green-border: #008000;

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you


//---------------------------------------- HEADER ------------------------------------------------//

.govuk-header__container {
    border-bottom: 0px;
}
.erc-service-name {
    font-size: 24px;
    color: white; 
    background-color: $erc-logo-blue;
    padding: 4px 10px;
    font-weight: 500;
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
}
.govuk-header__content {
    @media only screen and (min-width: 169px) { 
    border: 30px solid #fff;
    }
    a {
        text-decoration: none;
    }
}

// ----- specific to the home page ----- //

#logo-se-home {
    width: 50%;
    @media only screen and (min-width: 775px) { 
    border: 30px solid #fff;
    }

}
#tagline-home {
    border: 0 solid #fff ; 
    padding: 10px 0;
}

//---------------------------------------- FOOTER ------------------------------------------------//
.govuk-footer {
    font-size: 1em;
    background-color: $erc-logo-blue;
    p, .govuk-footer__link:link, .govuk-footer__link:visited, .govuk-footer__link:hover, .govuk-footer__link:active {
        color:  white;
    }
}
.govuk-footer__link{
    font-size: 1em;
    font-weight: 500;
}
.govuk-footer__inline-list-item{
    padding: 1em;
}
.govuk-footer__meta-item {
    margin-bottom: 0;
}

//---------------------------------------- BODY------------------------------------------------//

body p, p.govuk-body-l, .govuk-heading-s, .govuk-label, .govuk-fieldset, .govuk-fieldset__legend, .govuk-table {
    color: $erc-text-blue;
}

.govuk-heading-l {
   margin-top: 50px; 
}

.govuk-heading-m {
    margin-top: 30px; 
 }

// ------------------------------------------- GOVUK changes for colours ------------------------------------------------- //

// back button/link
.govuk-back-link:link,  .govuk-back-link:active, .govuk-back-link:hover, .govuk-back-link:focus, .govuk-back-link:visited {
    color: $erc-text-blue;
    margin-bottom: 2em;
}

.govuk-textarea, .govuk-input{
    border: 2px solid $erc-text-blue;
}

.govuk-heading-xl, .govuk-heading-l, .govuk-heading-m, .govuk-list , .erc-text-blue , table{
    color: $erc-text-blue;
}


.govuk-link, a, .govuk-link:link, a:link {
    color: 	#0000ee;
}
#logo-erc:focus{
    background-color: 	#fff; // was putting a thick yellow layer at the bottom of the ERC logo
}


.govuk-error-message, .govuk-error-summary, .govuk-input--error {
    color: #B30000 
}
.govuk-form-group--error {
    border-left: 5px solid #B30000;
}



// -------------------------------------------- Helpers ------------------------------------------------- //


.validated {
    border: 2px solid #008000;
}

.input-read-only {
    background: #ececec;
}

.govuk-tag {
    padding: 10px;
    margin-right: 10px;
}
.govuk-tag.black {
    padding: 10px 10px 10px 60px;
    background: url(../images/govuk-crown.png) 10px center no-repeat #000;
}
.tag-print {
    padding: 10px 10px 10px 60px;
    background: url(../images/printer-icon.png) 10px center no-repeat #fff;
    text-decoration: underline;
    color: #551A8B ; // $erc-text-blue;
    font-weight: 400;
    //font-size : 19px;
}

.UR-tag {
margin-left: 20px;
padding: 5px;
color: white;
font-weight: 600;
font-size:16px;
font-family: nta;
}
.UR-tag.ok {
    background-color: #518418;
   // display: none
}
.UR-tag.amber {
    background-color: orange;
    color: black;
  //  display: none
}
.UR-tag.red {
    background-color: #b30000;
  //  display: none
}
.UR-tag.no {
    background-color: #cccccc;
    color: black;
  //  display: none
}


.govuk-tag.info {
    background-color: $erc-logo-blue;
    text-transform: none;
    font-family: nta;
    padding: 5px;
 
}

.govuk-tag.red {
    background-color: #b10e1e;
   // margin-left: 10px;
    padding: 5px;
    text-transform: none;

}
.govuk-panel {
    background-color: #28a197;
}
code {
    font-weight: 400;
    padding-left: 0.5em;
}

//-------------------------------------------- Buttons --------------------------------------------------- //

.button-primary {
    background-color : #518418; 
  }
  
  .govuk-button:hover.button-primary, .govuk-button:focus.button-primary  {
    background-color : #436c14;
  }
  
  
  .button-secondary , .govuk-button:active.button-secondary, .govuk-button:link.button-secondary, .govuk-button:visited.button-secondary {
    background-color :  #cecece ;
    color: black;
  }
  
  .govuk-button:hover.button-secondary, .govuk-button:focus.button-secondary  {
    background-color : #dddddd;
    color: black;
  }
  
  
  .button-warning {
    background-color : #b10e1e  ;
  }
  
  .govuk-button:hover.button-warning, .govuk-button:focus.button-warning  {
    background-color : #df3034  ;
  }


  //--------------------------------------- message boxes and panels-----------------------------------------------//

.panel-warning {
    background-color: #c67f0f;
}

.panel-information {
  background-color: #005ea5;
  }

  .panel-error {
      background-color: #B30000;
  }

  .panel-warning {
      background-color: #c67f0f;
  }

  .panel-info {
      background-color: #005ea5;
  }

.ercError,
.ercInformation,
.ercSuccess,
.ercWarning {
  display: block;
  margin: 15px !important;
  padding: 15px 10px 15px 50px !important;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  overflow: auto;
}
.ercInformation {
  color: #004269;
  background: url(../images/ERC/erc_information.gif) 10px center no-repeat #bde5f8;
  border: 1px solid #004269;
}
.ercSuccess {
  color: #2d4f2a;
  background: url(../images/ERC/erc_success.gif) 10px center no-repeat #dff2bf;
  border: 1px solid #2d4f2a;
}
.ercWarning {
  color: #782a06;
  background: url(../images/ERC/erc_warning.gif) 10px center no-repeat #feefb3;
  border: 1px solid #782a06;
}
.ercError {
  color: #333333;
  background: url(../images/ERC/erc_error.gif) 10px center no-repeat #ffbaba;
  border: 1px solid #d8000c;
}

// -------------------------------------------- alternative headings and buttons ------------------------------------------------- //

h1.erc-alt {
    color: $erc-alt-text-blue;
    font-size: 24px;
    border-top: 1px solid $erc-alt-text-blue;
    border-bottom: 1px solid $erc-alt-text-blue;
    font-weight: bold;
    text-align: center;
    padding: 5px 10px;
    margin: 4px 0 8px 0;
}

h2.erc-alt {
    background-color: $erc-alt-text-blue;
    padding: 5px 10px;
    margin: 4px 0 8px 0;
    color: #fff;
    border: 1px #25404d solid;
    border-radius: 5px;
    text-shadow: #444 0 1px 1px;
    box-shadow: inset 0 0 10px #2a4551;
    font-size: 14px;
}

h3.erc-alt {
    background: #ccc;
    color: #000;
    font-weight: bold;
    border: 1px #7e7e7e solid;
    border-radius: 5px;
    box-shadow: inset 0 0 10px #888888;
    font-size: 14px;
    padding: 5px 10px;
    margin: 4px 0 8px 0;
}

h4.erc-alt {
    margin: 0 0 7px;
    padding: 7px;
    background: #e0e0e0;
    color: #444;
    font-size: 14px;
}

h5.erc-alt {
    background-color: #f3f6fb;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #444;
    padding: 5px 10px;
    margin: 4px 0 8px;
    box-shadow: inset 0 0 10px #d5d9dc;
    line-height: 22px;
    border: 1px solid #a6b3bb;
    border-radius: 5px;
}

button.erc-alt {
    background-color: $erc-alt-text-blue;
    border: 1px solid #23408E;
    color: #fff;
    border-radius: 5px 5px 5px 5px;
    padding: 5px 8px;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
}
button.button-primary.erc-alt:hover {
    text-decoration: underline;
    background-color: #424242 ;    
}

button.button-primary.erc-alt:active {
    text-decoration: underline;
    background-color: #568BA3;
    border-color: #888;
}

button.button-primary.erc-alt.disco {
    background-color: #444;
    border: 1px solid #444;
    color:  #2cf3f3;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    font-size: 130%;
    font-weight: 700;
}


button.button-primary.erc-alt.disco:hover, button.button-primary.erc-alt.disco:active, button.button-primary.erc-alt.disco:focus {
    color:  #fff;
    text-decoration: underline;
    background-color: #444;
}

button.button-primary.erc-alt.disco:visited {
    color:  #b9ff06;
}

button.button-primary.erc-alt.submission, button.button-primary.erc-alt.submission:focus  {
    background-color: #43A047;
    border: 1px solid #43A047;
}

button.button-primary.erc-alt.submission:after{
    content: "\2714";
    font-size: 10pt;
    width: 1em;
}

button.button-primary.erc-alt.submission:hover {
    text-decoration: underline;
}

button.button-primary.erc-alt.submission:active, button.button-primary.erc-alt.submission:focus {
    background-color: #424242;
    color: #fff;

}


// -------------------------------------------- CBL------------------------------------------------- //

hr.erc {
    border-top: 2px solid $erc-text-blue;
}

//tables for person data
.no-border {
    border: 0px;
}


.half-width {
    max-width: 100%;
    @media only screen and (min-width: 750px) { 
        width : 50%;
    }
}

.govuk-table__cell, .govuk-table__header{
    padding: 4px 20px 4px 0;
}
th {
    white-space: nowrap;
}
