// The unbranded stylesheet is used if you need to create pages in your
// prototype without the GOV.UK branding.
//
// See localhost:3000/docs/templates/blank-unbranded

// Import settings first so we can override them before importing all of GOV.UK Frontend
// If you need to enable compatibility mode or the legacy palette, do that *before* this import.
@import "node_modules/govuk-frontend/govuk/settings/all";

// Override the default GOV.UK Frontend font stack
$govuk-font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

// Override the canvas background colour, which is normally grey to blend with the GOV.UK footer.
$govuk-canvas-background-colour: $govuk-body-background-colour;

@import "application";

$erc-text-blue : #004269; 
$erc-alt-text-blue : #225369; 
$erc-logo-blue: #0071BA;
$erc-green-border: #008000;

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you


//---------------------------------------- HEADER ------------------------------------------------//

.govuk-header__container {
    border-bottom: 0px;
}
.erc-tagline {
    font-size: 24px;
    color: white; 
    background-color: $erc-logo-blue;
    padding: 4px 10px;
    font-weight: 500;
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
}
.govuk-header__content {
    @media only screen and (min-width: 169px) { 
    border: 30px solid #fff;
    }
    a {
        text-decoration: none;
    }
}

// ----- specific to the home page ----- //

#logo-se-home {
    width: 50%;
    @media only screen and (min-width: 775px) { 
    border: 30px solid #fff;
    }

}
#tagline-home {
    border: 0 solid #fff ; 
    padding: 10px 0;
}

//---------------------------------------- FOOTER ------------------------------------------------//
.govuk-footer {
    font-size: 1em;
    background-color: $erc-logo-blue;
    p, .govuk-footer__link:link, .govuk-footer__link:visited, .govuk-footer__link:hover, .govuk-footer__link:active {
        color:  white;
    }
}
.govuk-footer__link{
    font-size: 1em;
    font-weight: 500;
}
.govuk-footer__inline-list-item{
    padding: 1em;
}
.govuk-footer__meta-item {
    margin-bottom: 0;
}
.govuk-footer__link:focus{
    background-color: $erc-logo-blue;
    outline: 3px solid #fd0;
}


//---------------------------------------- BODY------------------------------------------------//

body p, p.govuk-body-l, .govuk-heading-s, .govuk-label, .govuk-fieldset, .govuk-fieldset__legend, .govuk-table, .govuk-warning-text,.govuk-warning-text__text  {
    color: $erc-text-blue;
}

.govuk-heading-l {
   margin-top: 50px; 
}

.govuk-heading-m {
    margin-top: 30px; 
 }

.govuk-accordion__section-button, .govuk-accordion__section-heading, .js-enabled .govuk-accordion__section-button:focus {
color: white; 
background-color: #004269; 
padding: 5px;
box-shadow: 0 0 0 0 // this is to overide govuk focus for the accordion
}

.js-enabled .govuk-accordion__icon:after, .js-enabled .govuk-accordion__icon:before {
    background-color: #004269 ;
}




// ------------------------------------------- GOVUK changes for colours ------------------------------------------------- //

// back button/link
.govuk-back-link:link,  .govuk-back-link:active, .govuk-back-link:hover, .govuk-back-link:focus, .govuk-back-link:visited {
    color: $erc-text-blue;
    margin-bottom: 2em;
}

.govuk-textarea, .govuk-input{
    border: 2px solid $erc-text-blue;
}

.govuk-heading-xl, .govuk-heading-l, .govuk-heading-m, .govuk-list , .erc-text-blue , table{
    color: $erc-text-blue;
}


.govuk-link, a, .govuk-link:link, a:link {
    color: 	#0000ee;
}
#logo-erc:focus{
    background-color: 	#fff; // was putting a thick yellow layer at the bottom of the ERC logo
}


.govuk-error-message, .govuk-error-summary, .govuk-input--error {
    color: #B30000 
}
.govuk-form-group--error {
    border-left: 5px solid #B30000;
}

// -------------------------------------------- Helpers ------------------------------------------------- //


.validated {
    border: 2px solid #008000;
}

.input-read-only {
    background: #ececec;
}

.govuk-tag {
    padding: 10px;
    margin-right: 10px;
}
.govuk-tag.black {
    padding: 10px 10px 10px 60px;
    background: url(../images/govuk-crown.png) 10px center no-repeat #000;
}
.tag-print {
    padding: 10px 10px 10px 60px;
    background: url(../images/printer-icon.png) 10px center no-repeat #fff;
    text-decoration: underline;
    color: #551A8B ; // $erc-text-blue;
    font-weight: 400;
    //font-size : 19px;
}

.govuk-tag.info {
    background-color: $erc-logo-blue;
    text-transform: none;
    font-family: nta;
    padding: 5px;
 
}

.govuk-tag.red {
    background-color: #b10e1e;
   // margin-left: 10px;
    padding: 5px;
    text-transform: none;

}
.govuk-panel {
    background-color: #28a197;
}
code {
    font-weight: 400;
    padding-left: 0.5em;
}

.ready-tag {
    background: #cce2d8;
    color: #005a30;
    font-size: 0.8rem;
    margin: 5px 0;
    padding: 5px;
  }
  .started-tag {
    color: #594d00;
    background: #fff7bf;
    font-size: 0.8rem;
    margin: 5px 0;
    padding: 5px;
  }

  .todo-tag {
    color: #942514;
    background: #f6d7d2;
    font-size: 0.8rem;
    margin: 5px 0;
    padding: 5px;
  }

  .centred-input-fields {
    .govuk-summary-list__row, dt.govuk-summary-list__key, dd.govuk-summary-list__value,  dd.govuk-summary-list__actions, label {
        border-bottom: 0px;
        font-size: 14px;
    }
    label, dt.govuk-summary-list__key  {
        font-weight: 400;
    }
    dt.govuk-summary-list__key {
        @media (min-width: 40.0625em) {
            width: 30%;
            }
    }
    dd.govuk-summary-list__value {
        textarea.govuk-textarea, input.govuk-input, select.govuk-select{
            border: 1px solid #A6B3BB;
            font-size: 14px;
        }
        @media (min-width: 40.0625em) {
        width: 40%;
        }
    } 
    dd.govuk-summary-list__actions {
        text-align: left;
        @media (min-width: 40.0625em) {
        width: 30%;
        }
        .error {
            color: red; 
            border: 1px solid red; 
            padding: 5px;
        }
    }
  }


//-------------------------------------------- Buttons --------------------------------------------------- //

.button-primary {
    background-color : #518418; 
  }
  
  .govuk-button:hover.button-primary, .govuk-button:focus.button-primary  {
    background-color : #436c14;
  }
  
  
  .button-secondary , .govuk-button:active.button-secondary, .govuk-button:link.button-secondary, .govuk-button:visited.button-secondary {
    background-color :  #cecece ;
    color: black;
  }
  
  .govuk-button:hover.button-secondary, .govuk-button:focus.button-secondary  {
    background-color : #dddddd;
    color: black;
  }
  
  
  .button-warning {
    background-color : #b10e1e  ;
  }
  
  .govuk-button:hover.button-warning, .govuk-button:focus.button-warning  {
    background-color : #df3034  ;
  }


  //--------------------------------------- message boxes and panels-----------------------------------------------//

.panel-warning {
    background-color: #c67f0f;
}

.panel-information {
  background-color: #005ea5;
  }

  .panel-error {
      background-color: #B30000;
  }

  .panel-warning {
      background-color: #c67f0f;
  }

  .panel-info {
      background-color: #005ea5;
  }

.ercError,
.ercInformation,
.ercSuccess,
.ercWarning {
  display: block;
  margin: 15px !important;
  padding: 15px 10px 15px 50px !important;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  overflow: auto;
}
.ercInformation {
  color: #004269;
  background: url(../images/ERC/erc_information.gif) 10px center no-repeat #bde5f8;
  border: 1px solid #004269;
}
.ercSuccess {
  color: #2d4f2a;
  background: url(../images/ERC/erc_success.gif) 10px center no-repeat #dff2bf;
  border: 1px solid #2d4f2a;
}
.ercWarning {
  color: #782a06;
  background: url(../images/ERC/erc_warning.gif) 10px center no-repeat #feefb3;
  border: 1px solid #782a06;
}
.ercError {
  color: #D8000C;
  background: url(../images/ERC/erc_error.gif) 10px center no-repeat #ffbaba;
  border: 1px solid #d8000c;
}

// -------------------------------------------- alternative headings and buttons ------------------------------------------------- //

.erc-alt-double-lines {
    color: $erc-alt-text-blue;
    font-size: 24px;
    border-top: 1px solid $erc-alt-text-blue;
    border-bottom: 1px solid $erc-alt-text-blue;
    font-weight: bold;
    text-align: center;
    padding: 5px 10px;
    margin: 4px 0 8px 0;
}

.erc-alt-dark-blue-bg {
    background-color: $erc-alt-text-blue;
    padding: 5px 10px;
    margin: 4px 0 8px 0;
    color: #fff;
    border: 1px #25404d solid;
    border-radius: 5px;
    text-shadow: #444 0 1px 1px;
    box-shadow: inset 0 0 10px #2a4551;
    font-size: 14px;
    font-weight:bold;
}

.erc-alt-dark-grey-round {
    background: #ccc;
    color: #000;
    font-weight: bold;
    border: 1px #7e7e7e solid;
    border-radius: 5px;
    box-shadow: inset 0 0 10px #888888;
    font-size: 14px;
    padding: 5px 10px;
    margin: 4px 0 8px 0;
}

.erc-alt-dark-grey {
    margin: 0 0 7px;
    padding: 7px;
    background: #e0e0e0;
    color: #444;
    font-size: 14px;
    font-weight:bold;
}

.erc-alt-light-grey {
    background-color: #f3f6fb;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #444;
    padding: 5px 10px;
    margin: 4px 0 8px;
    box-shadow: inset 0 0 10px #d5d9dc;
    line-height: 22px;
    border: 1px solid #a6b3bb;
    border-radius: 5px;
}

button.erc-alt, a.erc-alt{
    background-color: $erc-alt-text-blue;
    border: 1px solid #23408E;
    color: #fff;
    border-radius: 5px 5px 5px 5px;
    padding: 5px 8px;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
}
button.button-primary.erc-alt:hover, a.button-primary.erc-alt:hover {
    text-decoration: underline;
    background-color: #424242 ;    
}

button.button-primary.erc-alt:active, a.button-primary.erc-alt:active {
    text-decoration: underline;
    background-color: #568BA3;
    border-color: #888;
}

a.button-primary.erc-alt-disco, button.button-primary.erc-alt-disco {
    background-color: #444;
    border: 1px solid #444;
    color:  #2cf3f3;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    font-size: 130%;
    font-weight: 700;
    border-radius: 5px 5px 5px 5px;
    text-shadow: 0 1px 0 #000;
}


button.button-primary.erc-alt-disco:hover, button.button-primary.erc-alt-disco:active, button.button-primary.erc-alt-disco:focus,
a.button-primary.erc-alt-disco:hover, a.button-primary.erc-alt-disco:active, a.button-primary.erc-alt-disco:focus {
    color:  #fff;
    text-decoration: underline;
    background-color: #444;
}

a.button-primary.erc-alt-disco:visited, button.button-primary.erc-alt-disco:visited{
    color:  #b9ff06;
}

button.button-primary.erc-alt-submission, button.button-primary.erc-alt-submission:focus,
a.button-primary.erc-alt-submission, a.button-primary.erc-alt-submission:focus   {
    background-color: #43A047;
    border: 1px solid #43A047;
    border-radius: 5px 5px 5px 5px;
    padding: 5px 8px;
    text-shadow: 0 1px 0 #000;
}

button.button-primary.erc-alt-submission:after, a.button-primary.erc-alt-submission:after{
    content: "\2713";
    color: #fff;
    font-size: 12pt;
    font-weight: bold;
    width: 1em;
}

button.button-primary.erc-alt-submission:hover , a.button-primary.erc-alt-submission:hover {
    text-decoration: underline;
}

button.button-primary.erc-alt-submission:active, button.button-primary.erc-alt-submission:focus,
a.button-primary.erc-alt-submission:active, a.button-primary.erc-alt-submission:focus {
    background-color: #424242;
    color: #fff;

}


// -------------------------------------------- CBL------------------------------------------------- //

hr.erc {
    border-top: 2px solid $erc-text-blue;
}

//tables for person data
.no-border {
    border: 0px;
}


.half-width {
    max-width: 100%;
    @media only screen and (min-width: 750px) { 
        width : 50%;
    }
}

.govuk-table__cell, .govuk-table__header{
    padding: 4px 20px 4px 0;
}
th {
    white-space: nowrap;
}
