// The unbranded stylesheet is used if you need to create pages in your
// prototype without the GOV.UK branding.
//
// See localhost:3000/docs/templates/blank-unbranded

// Import settings first so we can override them before importing all of GOV.UK Frontend
// If you need to enable compatibility mode or the legacy palette, do that *before* this import.
@import "node_modules/govuk-frontend/govuk/settings/all";

// Override the default GOV.UK Frontend font stack
$govuk-font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

// Override the canvas background colour, which is normally grey to blend with the GOV.UK footer.
$govuk-canvas-background-colour: $govuk-body-background-colour;

@import "application";



// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you


//---------------------------------------- HEADER for any forms ------------------------------------------------//

.govuk-header__container {
    border-bottom: 0px;
}

.govuk-header__content {
    @media only screen and (min-width: 999px) {
    border: 30px solid #fff;
    }
    a {
        text-decoration: none;
    }
}

// ---------------------------- remove the Yellow focus on link as it show on images ----------------------//@extend

a:focus {
  background-color: #0000;
  box-shadow: 0 -2px #0000, 0 4px #0000;
}

// ---------------------------- Book a theory test --------------------------------------------------------//

.dvsa-theory-header {
    border-bottom: 5px solid #ccc;
    background: #DEE0E2;
}

.dvsa-grey-container {
    border-top: 1px solid #e4e4e4;
    background-color: #fafafa;
    padding: 1em 3em;
    @media only screen and (max-width: 490px) {
        padding: 1em;
    }
}

.dvsa-info-container {
    border: 1px solid #005ea5;
    border-left: 8px solid #005ea5;
    background-color: #fff;
    margin-bottom:20px;
    padding: 1em;
    p, li {
        font-size: 14px;
    }
}

.dvsa-help-container {
    border: 1px solid #db6a00;
    border-left: 8px solid #db6a00;
    background-color: #fff;
    padding: 1em;
}

.dvsa-error-container {
    border: 1px solid #DB0020;
    border-left: 8px solid #DB0020;
    background-color: #fff;
    padding: 1em;
}

.dvsa-map-number {
    background-color: #1161fb;
    color: #fff;
    border: 2px solid #000;
    padding: 0.2em 0.4em;
}

.dvsa-white-container {
    margin-bottom:1em;
    border: 1px solid #ddd;
    padding: 16px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    border-radius: 4px;
}

img.dvsa, image.dvsa  {
    @media only screen and (max-width: 490px) {
        width:100%;
    }
}

.small-font-dvsa{
        font-size: 14px;
}

// -------------------------- Apply for provisional licence --------------------------------------------//

.red-dvla-link:link,  .red-dvla-link:visited,  .red-dvla-link:active,  .red-dvla-link:focus{
    color: #C00;
    text-decoration: none;
    font-weight: bold;
    padding-left: .8em;
    background: #FFF url(../images/DVLA/helpArrowInPage.gif) no-repeat top left;
}

.apply-DVLA-tagline {
    font-size: 24px;
    color: #fff;
    background-color: #cc0000;
    padding: 4px 10px;
    font-weight: 500;
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    margin: 0 20px;
    @media only screen and (max-width: 340px) {
        font-size:18px;
    }
}
.orange-heading {
    background-color: #ff9900;
    color: #fff;
    padding: 3px 10px;
    font-weight: bold;
}
.orange-block {
    border: .1em solid #F90;
    padding-bottom:1em;
    p, li {
        font-size: 14px;
        margin: 0.7em;
    }
    li {
        color: #666;
        line-height:0.8;
    }
}

.yellow-heading {
    background-color: #ffe581;
    padding: 3px 10px;
    font-weight: bold;
}

.small-font {
    p, li {
        font-size: 14px;
    }
}

.govuk-button.dvla-cancel-button:link, .govuk-button.dvla-cancel-button:visited, .govuk-button.dvla-cancel-button:active, .govuk-button.dvla-cancel-button:hover{
    border-radius: 4px;
    margin-top:10px;
    background: #999 url(../images/DVLA/butCancel.gif) no-repeat right;
    padding: .4em 1.5em .5em .5em;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    text-align: right;
    border: none;
    width: 6em;
}

.govuk-button.dvla-next-button:link, .govuk-button.dvla-next-button:visited, .govuk-button.dvla-next-button:active, .govuk-button.dvla-next-button:hover{
    border-radius: 4px;
    margin-top:10px;
    background: #C00 url(../images/DVLA/butArrowRight.gif) no-repeat right;
    padding: .4em 1.3em .5em .5em;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    text-align: right;
    border: none;
    width: 7em;
}

.govuk-button.dvla-previous-button:link, .govuk-button.dvla-previous-button:visited, .govuk-button.dvla-previous-button:active, .govuk-button.dvla-previous-button:hover{
    border-radius: 4px;
    margin-top:10px;
    background: #C00 url(../images/DVLA/butArrowLeft.gif) no-repeat left;
    padding: .4em .5em .5em 1.3em;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    text-align: left;
    border: none;
    width: 7em;

}

.govuk-tag.red {
    background-color: #b10e1e;
   // margin-left: 10px;
    padding: 5px;
    text-transform: none;

}

//----------------------------- Park Homes - Warm Homes Discounts ----------------------------------------//

.park-home-tagline {
    font-size: 24px;
    color: white;
    background-color: #f47522;
    padding: 4px 10px;
    font-weight: 500;
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    @media only screen and (max-width: 340px) {
        font-size:18px;
    }

}

.park-home {
    margin-right:1em;
    p, h1, h2, h3, h4, .govuk-fieldset__legend--s, .govuk-label, .govuk-hint {
        color: #fff;
        font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        padding: 10px;
    }
    hr {
        background-color: #e6e6e6;
        border: none;
        display: block;
        height: 2px;
        margin: 2rem 0;
    }
    .govuk-hint{
        font-size: 12px;
    }
    @media only screen and (max-width: 640px) {
        margin: 0 0.1em;
    }
}

.park-home-orange-block{
    background-color: #f47522;
    margin-right: 15px;
    h1 {
        font-size: 32px;
        font-weight: 200;
        line-height: 1.125;
    }
    p {
        font-weight: 400;
        font-size: 1.25rem;
    }
}

.park-home-black-block{
    background-color: #000;
    padding: 10px 30px;
    h2 {
        font-size: 1.75em;
        font-weight: 300;
        line-height: 1.125;
    }
    p {
        font-size: 1rem;
    }
    h3{
        margin: 0.8em 0;
        line-height: 1.125;
        font-size: 2rem;
        font-weight: 200;
    }
    h4 {
        font-size: 1.5em;
        font-weight: 400;
        margin-bottom: 0;
        line-height: 1.125;
        margin-top: 0;
    }
}
.ph-input {
    border-radius: 4px;
    border-color: #dbdbdb;
}
.govuk-button.ph-button:link, .govuk-button.ph-button:visited, .govuk-button.ph-button:active, .govuk-button.ph-button:hover{
color: #000;
background-color: #fff;
border-radius: 4px;
border-color: #dbdbdb;
padding: 10px 20px;
margin-top:30px;
}



//------------------------------------------------------ Bulb  ----------------------------------------//

.bulb {
  background: url(../images/bulb/bulb-paint.png)  no-repeat #036;
  p, li, span, a, h1, h2, h3{
    color: #fff ;
    font-family: "graphik" , "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    font-size: 26px;
    font-weight: 400;
  }
  h1 {
    font-size: 52px;
  }
}

.bulb-tile {
  background-color: rgb(0, 171, 85);
    color: rgb(255, 255, 255);
    text-align: center;
    padding:30px 20px;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-bottom: 10px;
    p{
      font-size: 20px;
      font-weight: 500;
    }
    a{
      text-decoration: none;
    }
}

.bulb-white-container {
  margin:1em auto;
  border: 1px solid #ddd;
  padding: 2.5em;
  @media only screen and (max-width: 490px) {
    padding: 20px 5px;
  }
  overflow: hidden;
  background: #fff;
  border-radius: 0.4rem;
  p, span, h1, h2, li, .govuk-details__text, a {
    color: #036;
    font-family: "graphik" , "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    font-size: 20px;
  }
  h1 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
  }
  .govuk-label {
    font-size: 20px; font-weight: 400;
    color: #036;
  }  
  .govuk-input, .govuk-select {
    border: 2px solid #ccc; 
    border-radius: 0.3rem;
  }
  .govuk-input.bulb-meter {
    border: 1px solid #036; 
  }
  .govuk-input--error {
    border: 1px solid #e00; 
  }
}

button.button-bulb, a.button-bulb{
    background-color: #00ab55;
    border: 1px solid #00ab55;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 0 0 0 ;
    font-size: 20px;
    padding: 0.8rem 1rem;
    font-weight: 700;
}

button.button-bulb.full-width, a.button-bulb.full-width,
button.button-bulb-clear.full-width, a.button-bulb-clear.full-width,
button.button-bulb-magic.full-width, a.button-bulb-magic.full-width {
  width: 100%;
}


button.button-bulb:hover, a.button-bulb:hover{
  background-color: #00943c;
  border: 1px solid #00943c;
  color: #fff;

  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0 0 0 0 ;
  font-size: 20px;
  padding: 0.8rem 1rem;
  font-weight: 700;
  }

button.button-bulb-clear, a.button-bulb-clear,
button.button-bulb-clear:link, a.button-bulb-clear:link,
button.button-bulb-clear:active, a.button-bulb-clear:active,
button.button-bulb-clear:visited, a.button-bulb-clear:visited {
  background-color: #fff;
  border: 2px solid #00ab55;
  color: #00ab55;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0 0 0 0 ;
  font-size: 20px;
  padding: 0.8rem 1rem;
  font-weight: 700;
  @media only screen and (max-width: 490px) {
    margin-top: 10px;
  }
}

button.button-bulb-clear:hover, a.button-bulb-clear:hover {
  background-color: #fff;
  border: 2px solid #00943c;
  color: #00943c;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0 0 0 0 ;
  font-size: 20px;
  padding: 0.8rem 1rem;
  font-weight: 700;
}



button.button-bulb-magic, a.button-bulb-magic, 
button.button-bulb-magic:active, a.button-bulb-magic:active, 
button.button-bulb-magic:link, a.button-bulb-magic:link,
button.button-bulb-magic:visited, a.button-bulb-magic:visited{
  background-color: #fff;
  border: 1px solid #fff;
  color: #00ab55;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0 0 0 0 ;
  font-size: 20px;
  padding: 0.8rem 1rem;
  font-weight: 700;
}

button.button-bulb-magic:hover, a.button-bulb-magic:hover{
background-color: #fff;
border: 1px solid #fff;
color: #00943c;
border-radius: 5px;
text-decoration: none;
box-shadow: 0 0 0 0 ;
font-size: 20px;
padding: 0.8rem 1rem;
font-weight: 700;
}

button.button-bulb-magic:focus, a.button-bulb-magic:focus{
  background-color: #fff;
  border: 1px solid #fff;
  color: #00943c;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0 0 0 0 ;
  font-size: 20px;
  padding: 0.8rem 1rem;
  font-weight: 700;
  outline-offset: 0.25rem;
  outline: rgb(244, 167, 210) solid 2px;
  }

.bulb-tagline {
  font-size: 24px !important;
  color: white;
  background-color: #e4228e;
  padding: 4px 10px;
  font-weight: 600 !important;
  font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
  @media only screen and (max-width: 340px) {
      font-size:16px !important;
  }
}

.student-notes-box-bulb {
  background-color: #e4228e;  
  margin: 20px 0;
  padding: 25px 15px;
  border-radius: 10px;
  border: solid 1px  #e4228e;
  p, li, span, a{
    color: #fff ;
    font-weight: 600;
    font-size: 1rem;
  }
  image, img, svg{  
    @media only screen and (max-width: 490px) {
        width:100%;
    }
  }
}

.bulb-table{
  td, th {
    border-bottom: 0px solid #b1b4b6;
    color: #036;
  }
  td p, td em, td span, td, th {
    @media only screen and (max-width: 490px) {
      font-size: 14px;
    }
  }
}


.bulb-table2{
  td, th {
    color: #036;
  }
  td p, td em, td span, td, th {
    @media only screen and (max-width: 490px) {
      font-size: 14px;
    }
  }
  thead {
    background-color: #f2f2f2;
  }
  th {
    padding: 20px 0;
    border-bottom: 1px solid #f2f2f2;
  }
}
.bulb-meter-disabled {
  text-align: center !important;
  background-color: #f2f2f2;
  color: #5c5c5c;
  font-size: 1.6rem;
  width: 15%;
  height: 70px;
}
.bulb-meter {
  text-align: center !important;
  font-size: 1.6rem;
  width: 15%;
  height: 70px;
}


/* --------------------------------- PATIENT ACCESS HOMEPAGE----------------------------------------- */

.govuk-header__logotype {
  margin: 22.5px;
}

#pat-acc-logo-clean:focus {
  background-color: white;
  box-shadow: none;
}

.govuk-header__content {
  border: none;
}

.pat-acc-tagline {
    font-size: 24px;
    color: white;
    background-color: #32325d;
    padding: 4px 10px;
    margin: 22.5px 22.5px 22.5px 0px;
    float: left;
    font-weight: 500;
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
}

.pat-acc-header-button-container {
  width: 49%;
  float: right;
}

@media screen and (max-width: 990px) {
  .pat-acc-header-button-container {
    display: none;
  }
  .pat-acc-logo-cont {
    width: 100%;
  }
  .pat-acc-tagline {
    margin: 0px;
  }
}


.pat-acc-header-sign-in-button, .pat-acc-header-register-button {
  padding: 12px 32px;
  margin: 15px 7px 15px;
	border-radius: 25px;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  text-decoration: none;
  background-color: white;
  float: left;
}

.pat-acc-header-register-button {
  border: solid 1px #4768FD;
  a{
    color: #4768FD;
  }
}

.pat-acc-header-sign-in-button {
  border: solid 1px #D3368A;
  a {
    color: #D3368A;
  }
}

.pat-acc-header-sign-in-button:hover {
  background-color: #D3368A;
  color: white;
  opacity: 70%;
}

.pat-acc-header-register-button:hover {
  background-color: #4768FD;
  color: white;
  opacity: 70%;
}

.pat-acc-header-sign-in-button:focus {
  background-color: #D3368A;
  color: white;
  box-shadow: none;
}

.pat-acc-header-register-button:focus {
  background-color: #4768FD;
  color: white;
  box-shadow: none;
}

.pat-acc-block {
  background-image: url('../images/PA/take-control.jpg');
  background-size: cover;
  position: relative;
}

.pat-acc-homepage-content-container {
  width: 50%;
  margin: 0;
  position: absolute;
  top: 20%;
}

.pat-acc-homepage-content-title {
  font-size: 40px;
  color: #32325d;
  font-family: "Merriweather", "Times", sans-serif;
  font-weight: 700;
}

.pat-acc-homepage-content-tagline-cont {
  margin: 15px 0px 0px;
}

.pat-acc-homepage-content-tagline {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  color: #6f6f8c;
}


.pat-acc-homepage-content-body-cont {
  margin: 15px 0px 0px;
}

.pat-acc-homepage-content-body {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  color: #6f6f8c;
}

.pat-acc-fullscreen-header {
  width: 100%;
  height: 76px;
  box-shadow: 2px 4px #EAE9EE;
  position: fixed;
}

.pat-acc-hero-button-container {
  height: auto;
  width: 100%;
  margin-top: 350px;
  a {
    color: white;
  }
}

.pat-acc-sign-in-button, .pat-acc-register-button {
  padding: 12px 32px;
  margin: 0px 14px 15px 0px;
	border-radius: 25px;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  text-decoration: none;
  color: #FFF;
  float: left;
}

.pat-acc-register-button {
  background-color: #4768FD;
}

.pat-acc-sign-in-button {
  background-color: #D3368A;
}

.pat-acc-sign-in-button:hover, .pat-acc-register-button:hover {
  opacity: 0.7;
}

.pat-acc-sign-in-button:focus {
  background-color: #D3368A;
  box-shadow: 2px 2px 4px #D3368A;
}

.pat-acc-register-button:focus {
  background-color: #4768FD;
  box-shadow: 2px 2px 4px #4768FD;
}


@media screen and (max-width: 770px) {
  .pat-acc-sign-in-button, .pat-acc-register-button {
    width: 95%;
    text-align: center;
    margin: 0px 0px 7px 0px;
  }
  .pat-acc-block {
    padding: 5px;
  }
  .pat-acc-block {
    background-image: none;
    background-color: white;
  }
  .pat-acc-homepage-content-container {
    width: 100%;
    text-align: center;
  }
  .pat-acc-homepage-content-title {
    font-size: 35px;
  }
}

@media screen and (max-width: 640px) {
  .pat-acc-sign-in-button, .pat-acc-register-button {
    width: 90%;
    text-align: center;
    margin: 0px 0px 7px 0px;
  }
}

@media screen and (max-width: 450px) {
  .pat-acc-sign-in-button, .pat-acc-register-button {
    width: 80%;
    text-align: center;
    margin: 0px 0px 7px 0px;
  }
}

@media screen and (max-width: 380px) {
  .pat-acc-homepage-content-body {
    font-size: 16px;
  }
}

/* ---------------------------------HOMEPAGE END----------------------------------------- */


/* ---------------------------------PATIENT ACCESS SIGN IN PAGE  / REGISTER----------------------------------------- */

.pat-acc-signin-block {
  background-color: #F7F7FA;
  display: block;
  text-align: center;
  font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
}

.pat-acc-signin-centre{
  display: inline-block;
}

.pat-acc-signin-to-acc {
  color: #32325d;
  font-size: 24px;
  font-weight: 900;
  padding: 0px;
  margin: 0px;
}

.pat-acc-signin-err-acc {
  font-size: 14px;
  padding: 0;
  margin: 0px;
  color: #6f6f8c;
  a {
    color: #D3368A;
  }
}

.pat-acc-signin-to-acc2 {
  color: #32325d;
  font-size: 24px;
  font-weight: 900;
  padding: 0px;
  margin: 0px;
}

.pat-acc-signin-err-acc2 {
  font-size: 14px;
  padding: 0;
  margin: 0px;
  color: #6f6f8c;
  a {
    color: #D3368A;
  }
}

.pat-acc-signin-err-reg {
  margin-left: 10px;
  text-decoration: none;
}

.pat-acc-signin-form-container {
  width: 355px;
  height: auto;
  padding: 40px 56px;
  margin-top: 20px;
  border-radius: 3%;
  border: solid 1px #EAE9EE;
  box-shadow: 0px 0px 18px #EAE9EE;
  background-color: white;
  color: #32325d;
}


@media screen and (max-width: 580px) {
  .pat-acc-signin-form-container {
    width: 100%;
    padding: 0px;
    background-color: #F7F7FA;
    border: none;
    box-shadow: none;
  }
  .pat-acc-signin-block {
    width: 100%;
    padding: 1px;
    text-align: left;
  }
  .pat-acc-signin-centre{
    width: 100%;
  }
  .pat-acc-signin-err-acc2 {
    display: none;
  }
  .pat-acc-signin-to-acc2 {
    display: none;
  }
  .pat-acc-signin-form-container {
    margin-top: 0px
  }
}

#pat-acc-label {
  color: #32325d;
  float: left;
  font-weight: 700;
  font-size: 14px;
  margin: 0;
}

#pat-acc-label-dob {
  color: #32325d;
  float: left;
  font-weight: 700;
  font-size: 14px;
  margin: 0;
}

#pat-acc-input {
  padding: 9px 15px;
  width: 100%;
  float: left;
}

#pat-acc-input:focus {
  outline: none;
}

#pat-acc-input::placeholder {
  color: #b0b0b7;
  font-size: 16px;
  font-weight: 700;
}

.pat-acc-signin-button-form {
  margin-top: 40px;
}

.signin-button-signin-page-container {
  display: inline-block;
  a {
    color: white;
  }
}

.signin-button-signin-page {
  padding: 10px 140px;
	border-radius: 25px;
}

@media screen and (max-width: 770px) {
  .signin-button-signin-page {
    width: 25%;
  }
}

@media screen and (max-width: 400px) {
  .signin-button-signin-page {
    padding: 10px 125px;
  }
}

@media screen and (max-width: 370px) {
  .signin-button-signin-page {
    padding: 10px 115px;
  }
}

@media screen and (max-width: 340px) {
  .signin-button-signin-page {
    padding: 10px 105px;
  }
}


.pat-acc-signin-form-title {
  font-size: 18px;
  font-weight: 700;
}

#pat-acc-select-reg {
  padding: 9px 40px 9px 15px;
  font-size: 16px;
  font-weight: 700;
  color: #b0b0b7;
  width: 100%;
}

#pat-acc-form-group {
  margin: 10px 0px;
}

.pat-acc-dob {
  padding: 0;
}

#pat-acc-select-reg-year, #pat-acc-select-reg-month, #pat-acc-select-reg-day  {
  padding: 9px 15px;
  font-size: 14px;
  border-color: #d3d3d3;
  color: #676767;
}

#pat-acc-select-reg-year, #pat-acc-select-reg-day {
  width: 25%;
  margin: 0px 15px 0px 15px;
}

#pat-acc-select-reg-month {
  width: 30%;
}


@media screen and (max-width: 380px) {
  #pat-acc-select-reg-year, #pat-acc-select-reg-month, #pat-acc-select-reg-day  {
    font-size: 10px;
  }
  #pat-acc-select-reg-year, #pat-acc-select-reg-day {
    margin: 0px 5px 0px 5px;
  }
}

#pat-acc-support-centre {
  color: #676767;
  margin: 25px;
  font-size: 16px;
  font-weight: 700;
  float: right;
}

@media screen and (max-width: 990px) {
  #pat-acc-support-centre {
    display: none;
  }
}

#pat-acc-support-centre:focus {
  background-color: white;
  box-shadow: none;
}

.pat-acc-why-we-ask {
  background-color: #32325d;
  opacity: 0.9;
  padding: 50px;
}

.pat-acc-close-button {
  margin: 0px 0px 20px 0px;
}

#pat-why-we-ask-container {
  box-shadow: none;
  opacity: 1;
  width: 450px;
  margin-top: 35px;
  margin-left: 0px;
}


.pat-why-we-ask-font-align {
  text-align: left;
  padding-top: 20px;
}

.pat-why-we-ask-font {
  font-size: 24x;
}

.pat-why-we-ask-font-sub {
  font-size: 18px;
  color: #676767;
}

@media screen and (max-width: 770px) {
  #pat-why-we-ask-container {
    padding: 20px;
    width: 60%;
  }
  .pat-acc-why-we-ask {
    width: 100%;
    padding: 25px;
  }
}

@media screen and (max-width: 660px) {
  #pat-why-we-ask-container {
    padding: 20px;
    width: 80%;
  }
  .pat-why-we-ask-font {
    padding: 10px
  }
  .pat-why-we-ask-font-sub {
    padding: 10px
  }
}
/* ---------------------------------PATIENT ACCESS SIGN IN PAGE / REGISTER END----------------------------------------- */

/* ---------------------------------PATIENT ACCESS REGISTER2----------------------------------------- */

.pat-acc-enter-details-cont {
  text-align: left;
}

.pat-acc-enter-details-back-cont {
  text-align: left;
  font-weight: 700;
}

.pat-acc-enter-details-back {
  margin-right: 50px;
  color: #D3368A;
}

.pat-acc-enter-details {
  font-size: 18px;
  color: #32325d;
  font-weight: 700;
}

#pat-acc-password-reqs {
  font-size: 16px;
  color: #6F6F8C;
}

.pat-acc-checkboxes {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  margin-top: 25px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pat-acc-checkboxes input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.pat-acc-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.pat-acc-checkboxes:hover input ~ .pat-acc-checkmark {
  background-color: #ccc;
}

.pat-acc-checkboxes input:checked ~ .pat-acc-checkmark {
  background-color: blue;
}

.pat-acc-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the pat-acc-checkmark when checked */
.pat-acc-checkboxes input:checked ~ .pat-acc-checkmark:after {
  display: block;
}

/* Style the pat-acc-checkmark/indicator */
.pat-acc-checkboxes .pat-acc-checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.pat-acc-terms-cond {
  color: #D3368A;
}

button#pat-acc-register2-create {
  padding: 10px 10px;
  width: 100%;
  margin-top: 15px;
  border: none;
}

@media screen and (max-width: 815px) {
  .pat-acc-register2-create {
    width: 40%;
  }
}


/* ---------------------------------PATIENT ACCESS REGISTER2 END----------------------------------------- */

/* ---------------------------------PATIENT ACCESS SUCCESS----------------------------------------- */

.pat-acc-success-cont {
  margin: 0;
  margin-bottom: 40px;
  display: inline-block;
}

.pat-acc-success-title {
  font-size: 18px;
  font-weight: 700;
}

.pat-acc-success-image-cont {
  display: block;
  text-align: center;
}

.pat-acc-success-subtitle {
  font-size: 16px;
}

.pat-acc-success-skip-ver {
  font-size: 16px;
  font-weight: 700;
  margin-top: 30px;
  text-align: center;
  a {
    text-decoration: none;
    color: #D3368A;
  }
}

.pat-acc-success-email {
  font-weight: 700;
}

.pa-acc-success-message-cont {
  width: 80%;
  margin-bottom: 20px;
  display: inline-block;
}

@media screen and (max-width: 387px) {
  .pa-acc-success-message-cont {
    width: 100%;
  }
}

.pa-acc-success-message {
  color: #32325d;
  font-size: 26px;
}
/* ---------------------------------PATIENT ACCESS SUCCESS END----------------------------------------- */

/* ---------------------------------PATIENT ACCESS ABOUT----------------------------------------- */

.pa-about-block {
  background-color: white;
}

.pat-acc-about-cont {
  width: 100%;
}

.pat-acc-about-content-cont {
  margin:40px 0px 40px 0px;
  text-align:left;
  width:85%;
}

@media screen and (max-width: 770px) {
  .pat-acc-about-button {
    width:75%;
  }
}

@media screen and (max-width: 490px) {
  .pat-acc-about-button {
    width:65%;
  }
}

@media screen and (max-width: 400px) {
  .pat-acc-about-button {
    width:55%;
  }
}
