// The unbranded stylesheet is used if you need to create pages in your
// prototype without the GOV.UK branding.
//
// See localhost:3000/docs/templates/blank-unbranded

// Import settings first so we can override them before importing all of GOV.UK Frontend
// If you need to enable compatibility mode or the legacy palette, do that *before* this import.
@import "node_modules/govuk-frontend/govuk/settings/all";

// Override the default GOV.UK Frontend font stack
$govuk-font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

// Override the canvas background colour, which is normally grey to blend with the GOV.UK footer.
$govuk-canvas-background-colour: $govuk-body-background-colour;

@import "application";



// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you


//---------------------------------------- HEADER for any forms ------------------------------------------------//

.govuk-header__container {
    border-bottom: 0px;
}

.govuk-header__content {
  border: none;
    a {
        text-decoration: none;
    }
}

.govuk-header__logotype { // this will affect all forms using other.scss
  margin: 22.5px;
  a:focus {
    background-color: #0000;
    box-shadow: none;
  }
}


// ---------------------------- remove the Yellow focus on link as it show on images ----------------------//@extend

a:focus {
  background-color: #0000;
  box-shadow: 0 -2px #0000, 0 4px #0000;
}

// ---------------------------- Book a theory test --------------------------------------------------------//

.dvsa-theory-header {
    border-bottom: 5px solid #ccc;
    background: #DEE0E2;
}

.dvsa-grey-container {
    border-top: 1px solid #e4e4e4;
    background-color: #fafafa;
    padding: 1em 3em;
    @media only screen and (max-width: 490px) {
        padding: 1em;
    }
}

.dvsa-info-container {
    border: 1px solid #005ea5;
    border-left: 8px solid #005ea5;
    background-color: #fff;
    margin-bottom:20px;
    padding: 1em;
    p, li {
        font-size: 14px;
    }
}

.dvsa-help-container {
    border: 1px solid #db6a00;
    border-left: 8px solid #db6a00;
    background-color: #fff;
    padding: 1em;
}

.dvsa-error-container {
    border: 1px solid #DB0020;
    border-left: 8px solid #DB0020;
    background-color: #fff;
    padding: 1em;
}

.dvsa-map-number {
    background-color: #1161fb;
    color: #fff;
    border: 2px solid #000;
    padding: 0.2em 0.4em;
}

.dvsa-white-container {
    margin-bottom:1em;
    border: 1px solid #ddd;
    padding: 16px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    border-radius: 4px;
}

img.dvsa, image.dvsa  {
    @media only screen and (max-width: 490px) {
        width:100%;
    }
}

.small-font-dvsa{
        font-size: 14px;
}

// -------------------------- Apply for provisional licence --------------------------------------------//

.red-dvla-link:link,  .red-dvla-link:visited,  .red-dvla-link:active,  .red-dvla-link:focus{
    color: #C00;
    text-decoration: none;
    font-weight: bold;
    padding-left: .8em;
    background: #FFF url(../images/DVLA/helpArrowInPage.gif) no-repeat top left;
}

.apply-DVLA-tagline {
    font-size: 24px;
    color: #fff;
    background-color: #cc0000;
    padding: 4px 10px;
    font-weight: 500;
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    margin: 0 20px;
    @media only screen and (max-width: 340px) {
        font-size:18px;
    }
}
.orange-heading {
    background-color: #ff9900;
    color: #fff;
    padding: 3px 10px;
    font-weight: bold;
}
.orange-block {
    border: .1em solid #F90;
    padding-bottom:1em;
    p, li {
        font-size: 14px;
        margin: 0.7em;
    }
    li {
        color: #666;
        line-height:0.8;
    }
}

.yellow-heading {
    background-color: #ffe581;
    padding: 3px 10px;
    font-weight: bold;
}

.small-font {
    p, li {
        font-size: 14px;
    }
}

.govuk-button.dvla-cancel-button:link, .govuk-button.dvla-cancel-button:visited, .govuk-button.dvla-cancel-button:active, .govuk-button.dvla-cancel-button:hover{
    border-radius: 4px;
    margin-top:10px;
    background: #999 url(../images/DVLA/butCancel.gif) no-repeat right;
    padding: .4em 1.5em .5em .5em;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    text-align: right;
    border: none;
    width: 6em;
}

.govuk-button.dvla-next-button:link, .govuk-button.dvla-next-button:visited, .govuk-button.dvla-next-button:active, .govuk-button.dvla-next-button:hover{
    border-radius: 4px;
    margin-top:10px;
    background: #C00 url(../images/DVLA/butArrowRight.gif) no-repeat right;
    padding: .4em 1.3em .5em .5em;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    text-align: right;
    border: none;
    width: 7em;
}

.govuk-button.dvla-previous-button:link, .govuk-button.dvla-previous-button:visited, .govuk-button.dvla-previous-button:active, .govuk-button.dvla-previous-button:hover{
    border-radius: 4px;
    margin-top:10px;
    background: #C00 url(../images/DVLA/butArrowLeft.gif) no-repeat left;
    padding: .4em .5em .5em 1.3em;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    text-align: left;
    border: none;
    width: 7em;

}

.govuk-tag.red {
    background-color: #b10e1e;
   // margin-left: 10px;
    padding: 5px;
    text-transform: none;

}

//----------------------------- Park Homes - Warm Homes Discounts ----------------------------------------//

.park-home-tagline {
    font-size: 24px;
    color: white;
    background-color: #f47522;
    padding: 4px 10px;
    font-weight: 500;
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    @media only screen and (max-width: 340px) {
        font-size:18px;
    }

}

.park-home {
    margin-right:1em;
    p, h1, h2, h3, h4, .govuk-fieldset__legend--s, .govuk-label, .govuk-hint {
        color: #fff;
        font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        padding: 10px;
    }
    hr {
        background-color: #e6e6e6;
        border: none;
        display: block;
        height: 2px;
        margin: 2rem 0;
    }
    .govuk-hint{
        font-size: 12px;
    }
    @media only screen and (max-width: 640px) {
        margin: 0 0.1em;
    }
}

.park-home-orange-block{
    background-color: #f47522;
    margin-right: 15px;
    h1 {
        font-size: 32px;
        font-weight: 200;
        line-height: 1.125;
    }
    p {
        font-weight: 400;
        font-size: 1.25rem;
    }
}

.park-home-black-block{
    background-color: #000;
    padding: 10px 30px;
    h2 {
        font-size: 1.75em;
        font-weight: 300;
        line-height: 1.125;
    }
    p {
        font-size: 1rem;
    }
    h3{
        margin: 0.8em 0;
        line-height: 1.125;
        font-size: 2rem;
        font-weight: 200;
    }
    h4 {
        font-size: 1.5em;
        font-weight: 400;
        margin-bottom: 0;
        line-height: 1.125;
        margin-top: 0;
    }
}
.ph-input {
    border-radius: 4px;
    border-color: #dbdbdb;
}
.govuk-button.ph-button:link, .govuk-button.ph-button:visited, .govuk-button.ph-button:active, .govuk-button.ph-button:hover{
color: #000;
background-color: #fff;
border-radius: 4px;
border-color: #dbdbdb;
padding: 10px 20px;
margin-top:30px;
}



//------------------------------------------------------ Bulb  ----------------------------------------//

.bulb {
  background: url(../images/bulb/bulb-paint.png)  no-repeat #036;
  p, li, span, a, h1, h2, h3{
    color: #fff ;
    font-family: "graphik" , "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    font-size: 26px;
    font-weight: 400;
  }
  h1 {
    font-size: 52px;
  }
}

.bulb-tile {
  background-color: rgb(0, 171, 85);
    color: rgb(255, 255, 255);
    text-align: center;
    padding:30px 20px;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-bottom: 10px;
    p{
      font-size: 20px;
      font-weight: 500;
    }
    a{
      text-decoration: none;
    }
}

.bulb-white-container {
  margin:1em auto;
  border: 1px solid #ddd;
  padding: 2.5em;
  @media only screen and (max-width: 490px) {
    padding: 20px 5px;
  }
  overflow: hidden;
  background: #fff;
  border-radius: 0.4rem;
  p, span, h1, h2, li, .govuk-details__text, a {
    color: #036;
    font-family: "graphik" , "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    font-size: 20px;
  }
  h1 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
  }
  .govuk-label {
    font-size: 20px; font-weight: 400;
    color: #036;
  }
  .govuk-input, .govuk-select {
    border: 2px solid #ccc;
    border-radius: 0.3rem;
  }
  .govuk-input.bulb-meter {
    border: 1px solid #036;
  }
  .govuk-input--error {
    border: 1px solid #e00;
  }
}

button.button-bulb, a.button-bulb{
    background-color: #00ab55;
    border: 1px solid #00ab55;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 0 0 0 ;
    font-size: 20px;
    padding: 0.8rem 1rem;
    font-weight: 700;
}

button.button-bulb.full-width, a.button-bulb.full-width,
button.button-bulb-clear.full-width, a.button-bulb-clear.full-width,
button.button-bulb-magic.full-width, a.button-bulb-magic.full-width {
  width: 100%;
}


button.button-bulb:hover, a.button-bulb:hover{
  background-color: #00943c;
  border: 1px solid #00943c;
  color: #fff;

  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0 0 0 0 ;
  font-size: 20px;
  padding: 0.8rem 1rem;
  font-weight: 700;
  }

button.button-bulb-clear, a.button-bulb-clear,
button.button-bulb-clear:link, a.button-bulb-clear:link,
button.button-bulb-clear:active, a.button-bulb-clear:active,
button.button-bulb-clear:visited, a.button-bulb-clear:visited {
  background-color: #fff;
  border: 2px solid #00ab55;
  color: #00ab55;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0 0 0 0 ;
  font-size: 20px;
  padding: 0.8rem 1rem;
  font-weight: 700;
  @media only screen and (max-width: 490px) {
    margin-top: 10px;
  }
}

button.button-bulb-clear:hover, a.button-bulb-clear:hover {
  background-color: #fff;
  border: 2px solid #00943c;
  color: #00943c;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0 0 0 0 ;
  font-size: 20px;
  padding: 0.8rem 1rem;
  font-weight: 700;
}



button.button-bulb-magic, a.button-bulb-magic,
button.button-bulb-magic:active, a.button-bulb-magic:active,
button.button-bulb-magic:link, a.button-bulb-magic:link,
button.button-bulb-magic:visited, a.button-bulb-magic:visited{
  background-color: #fff;
  border: 1px solid #fff;
  color: #00ab55;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0 0 0 0 ;
  font-size: 20px;
  padding: 0.8rem 1rem;
  font-weight: 700;
}

button.button-bulb-magic:hover, a.button-bulb-magic:hover{
background-color: #fff;
border: 1px solid #fff;
color: #00943c;
border-radius: 5px;
text-decoration: none;
box-shadow: 0 0 0 0 ;
font-size: 20px;
padding: 0.8rem 1rem;
font-weight: 700;
}

button.button-bulb-magic:focus, a.button-bulb-magic:focus{
  background-color: #fff;
  border: 1px solid #fff;
  color: #00943c;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0 0 0 0 ;
  font-size: 20px;
  padding: 0.8rem 1rem;
  font-weight: 700;
  outline-offset: 0.25rem;
  outline: rgb(244, 167, 210) solid 2px;
  }

.bulb-tagline {
  font-size: 24px !important;
  color: white;
  background-color: #e4228e;
  padding: 4px 10px;
  font-weight: 600 !important;
  font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
  @media only screen and (max-width: 340px) {
      font-size:16px !important;
  }
}

.student-notes-box-bulb {
  background-color: #e4228e;
  margin: 20px 0;
  padding: 25px 15px;
  border-radius: 10px;
  border: solid 1px  #e4228e;
  p, li, span, a{
    color: #fff ;
    font-weight: 600;
    font-size: 1rem;
  }
  image, img, svg{
    @media only screen and (max-width: 490px) {
        width:100%;
    }
  }
}

.bulb-table{
  td, th {
    border-bottom: 0px solid #b1b4b6;
    color: #036;
  }
  td p, td em, td span, td, th {
    @media only screen and (max-width: 490px) {
      font-size: 14px;
    }
  }
}


.bulb-table2{
  td, th {
    color: #036;
  }
  td p, td em, td span, td, th {
    @media only screen and (max-width: 490px) {
      font-size: 14px;
    }
  }
  thead {
    background-color: #f2f2f2;
  }
  th {
    padding: 20px 0;
    border-bottom: 1px solid #f2f2f2;
  }
}
.bulb-meter-disabled {
  text-align: center !important;
  background-color: #f2f2f2;
  color: #5c5c5c;
  font-size: 1.6rem;
  width: 15%;
  height: 70px;
}
.bulb-meter {
  text-align: center !important;
  font-size: 1.6rem;
  width: 15%;
  height: 70px;
}


/* --------------------------------- PATIENT ACCESS ----------------------------------------- */

$pa-text-dark: #32325d;
$pa-text-light: #6f6f8c;
$pa-blue: #4768FD;
$pa-pink: #D3368A;

// -------------------------------  Header

.pa-tagline {
    font-size: 24px;
    color: white;
    background-color:  $pa-text-dark;
    padding: 4px 10px;
    margin: 22.5px 22.5px 22.5px 0px;
    @media screen and (max-width: 990px) {
      margin: 5px;
    }
    float: left;
    font-weight: 500;
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    @media only screen and (max-width: 340px) {
      font-size:16px !important;
  }
}

.pa-header-button-container {
  width: 49%;
  float: right;
  @media screen and (max-width: 990px) {
    display: none;
  }
}


.pa-header-sign-in-button, .pa-header-register-button {
  padding: 12px 32px;
  margin: 15px 7px 15px;
	border-radius: 25px;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  text-decoration: none;
  background-color: white;
  float: left;
}

.pa-header-register-button {
  border: solid 1px $pa-blue;
  a{
    color: $pa-blue;
  }
}
.pa-header-register-button:hover {
  background-color: $pa-blue;
  color: white;
  opacity: 70%;
}

.pa-header-register-button:focus {
  background-color: $pa-blue;
  color: white;
  box-shadow: none;
}
.pa-header-sign-in-button {
  border: solid 1px $pa-pink;
  a {
    color: $pa-pink;
  }
}

.pa-header-sign-in-button:hover {
  background-color: $pa-pink;
  color: white;
  opacity: 70%;
}

.pa-header-sign-in-button:focus {
  background-color: $pa-pink;
  color: white;
  box-shadow: none;
}

// ------------------------  Body

.pa-block {
h1, h2, h3, p, a, label, li {
  font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
}
  h1 {
    font-size: 30px;
    line-height: 60px;
    color: $pa-text-dark;
    font-weight: 700;
  }
  h2{
    font-size: 24px;
    font-weight: 900;
    line-height: 30px;
    color: $pa-text-dark;
  }
  p, li {
    color: $pa-text-light;
    font-size: 18px;
  }
  a {
    color: $pa-pink;
    text-decoration: none;
    font-weight: bold;
  }
  a:hover {
    color: #dc60a2;
  }
  label {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: $pa-text-dark;
  }
  // doesn't seem to change anything for the checkbox, unsure why
  .govuk-input, .govuk-select, .govuk-checkboxes__input {
    border: 1px solid #dedee3;
    border-radius: 6px;
    font-size: 16px;
    background-color: white !important;
  }
  .govuk-select {
    color: #666;
  }
}

.pa-white-container {
  margin:1em auto;
  border: 1px solid #ddd;
  padding: 64px 48px 48px 48px;
  @media only screen and (max-width: 490px) {
    padding: 15px;
  }
  overflow: hidden;
  background: #fff;
  border-radius: 12px;
  text-align: left;
}

.pa-purple-container {
  background-color: #32325d;
  padding: 100px 0
}

.pa-grey-container {
  background-color: #f7f7fa;
  padding: 50px 0 100px 0;
}


.pa-homepage-content-body-cont {
  margin: 15px 0px 0px;
}

.pa-fullscreen-header {
  width: 100%;
  height: 76px;
  box-shadow: 2px 4px #EAE9EE;
  position: fixed;
}

.pa-hero-button-container {
  height: auto;
  width: 100%;
  margin-top: 350px;
  a {
    color: white;
  }
}

.pa-pink-button, .pa-blue-button {
  padding: 12px 32px;
  margin: 0px 14px 15px 0px;
	border-radius: 25px;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  text-decoration: none;
  color: #FFF;
  box-shadow: 0 2px 0 #0000;
}

.pa-blue-button {
  background-color: $pa-blue;
}

.pa-pink-button {
  background-color: $pa-pink;
}

.pa-pink-button:hover, .pa-blue-button:hover {
  opacity: 0.7;
}

.pa-pink-button:focus, .pa-pink-button:focus:not(:active):not(:hover) {
  background-color: $pa-pink;
  border-color: $pa-pink;
  color: #fff;
  box-shadow: 0 2px 0 #fff;
}

.pa-blue-button:focus,  .pa-blue-button:focus:not(:active):not(:hover){
  background-color: $pa-blue;
  border-color: $pa-blue;
  color: #fff;
  box-shadow: 0 2px 0 #fff;
}

// -------------------------- pa helpers

.dot {
  height:2em !important;
  width: 2em !important;
  background-color: #D3368A ;
  border-radius: 50%;
  color: white;
  text-align:center;
  font-size: 30px;
  margin-right: 30px;
}
