// The unbranded stylesheet is used if you need to create pages in your
// prototype without the GOV.UK branding.
//
// See localhost:3000/docs/templates/blank-unbranded

// Import settings first so we can override them before importing all of GOV.UK Frontend
// If you need to enable compatibility mode or the legacy palette, do that *before* this import.
@import "node_modules/govuk-frontend/govuk/settings/all";

// Override the default GOV.UK Frontend font stack
$govuk-font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

// Override the canvas background colour, which is normally grey to blend with the GOV.UK footer.
$govuk-canvas-background-colour: $govuk-body-background-colour;

@import "application";



// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you


//---------------------------------------- HEADER for any forms ------------------------------------------------//

.govuk-header__container {
    border-bottom: 0px;
}

.govuk-header__content {
    @media only screen and (min-width: 999px) { 
    border: 30px solid #fff;
    }
    a {
        text-decoration: none;
    }
}

// ---------------------------- Book a theory test --------------------------------------------------------//

.dvsa-theory-header {
    border-bottom: 5px solid #ccc;
    background: #DEE0E2;
}

.dvsa-grey-container {
    border-top: 1px solid #e4e4e4; 
    background-color: #fafafa; 
    padding: 1em;
}

.dvsa-white-container {
    margin-bottom:1em;
    border: 1px solid #ddd;
    padding: 16px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    border-radius: 4px;
}

img.dvsa, image.dvsa  {
    @media only screen and (max-width: 490px) { 
        width:100%;
    }
}
// ---------------------------- Apply for provisional licence --------------------------------------------//

.red-dvla-link:link,  .red-dvla-link:visited,  .red-dvla-link:active,  .red-dvla-link:focus{
    color: #C00;
    text-decoration: none;
    font-weight: bold;
    padding-left: .8em;
    background: #FFF url(../images/DVLA/helpArrowInPage.gif) no-repeat top left;
}

.apply-DVLA-tagline {
    font-size: 24px;
    color: #fff;
    background-color: #cc0000;
    padding: 4px 10px;
    font-weight: 500;
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    margin: 0 20px;
}
.orange-heading {
    background-color: #ff9900; 
    color: #fff;
    padding: 3px 10px;
    font-weight: bold;
}
.orange-block {
    border: .1em solid #F90;
    padding-bottom:1em;
    p, li {
        font-size: 14px;
        margin: 0.7em;
    }
    li {
        color: #666;
        line-height:0.8;
    }
}

.yellow-heading {
    background-color: #ffe581; 
    padding: 3px 10px;
    font-weight: bold;
}

.small-font {
    p, li {
        font-size: 14px;
    }
}

.govuk-button.dvla-cancel-button:link, .govuk-button.dvla-cancel-button:visited, .govuk-button.dvla-cancel-button:active, .govuk-button.dvla-cancel-button:hover{
    border-radius: 4px;
    margin-top:10px;
    background: #999 url(../images/DVLA/butCancel.gif) no-repeat right;
    padding: .4em 1.5em .5em .5em;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    text-align: right;
    border: none;
    width: 6em;
}

.govuk-button.dvla-next-button:link, .govuk-button.dvla-next-button:visited, .govuk-button.dvla-next-button:active, .govuk-button.dvla-next-button:hover{
    border-radius: 4px;
    margin-top:10px;
    background: #C00 url(../images/DVLA/butArrowRight.gif) no-repeat right;
    padding: .4em 1.3em .5em .5em;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    text-align: right;
    border: none;
    width: 7em;
}

.govuk-button.dvla-previous-button:link, .govuk-button.dvla-previous-button:visited, .govuk-button.dvla-previous-button:active, .govuk-button.dvla-previous-button:hover{
    border-radius: 4px;
    margin-top:10px;
    background: #C00 url(../images/DVLA/butArrowLeft.gif) no-repeat left;
    padding: .4em .5em .5em 1.3em;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    text-align: left;
    border: none;
    width: 7em;

}

.govuk-tag.red {
    background-color: #b10e1e;
   // margin-left: 10px;
    padding: 5px;
    text-transform: none;

}
    
//----------------------------- Park Homes - Warm Homes Discounts ----------------------------------------//

.park-home-tagline {
    font-size: 24px;
    color: white; 
    background-color: #f47522;
    padding: 4px 10px;
    font-weight: 500;
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

}

.park-home {
    margin-right:1em;
    p, h1, h2, h3, h4, .govuk-fieldset__legend--s, .govuk-label, .govuk-hint {
        color: #fff;
        font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        padding: 10px;
    }
    hr {
        background-color: #e6e6e6; 
        border: none;
        display: block;
        height: 2px;
        margin: 2rem 0;
    }
    .govuk-hint{
        font-size: 12px; 
    }
    @media only screen and (max-width: 640px) { 
        margin: 0 0.1em;
    }
}




.park-home-orange-block{
    background-color: #f47522;
    margin-right: 15px;
    h1 {
        font-size: 32px;
        font-weight: 200; 
        line-height: 1.125;
    }
    p {
        font-weight: 400;
        font-size: 1.25rem;
    }
}

.park-home-black-block{
    background-color: #000;
    padding: 10px 30px;
    h2 {
        font-size: 1.75em;
        font-weight: 300; 
        line-height: 1.125;
    }
    p {
        font-size: 1rem;
    }
    h3{
        margin: 0.8em 0;
        line-height: 1.125;
        font-size: 2rem;
        font-weight: 200; 
    }
    h4 {
        font-size: 1.5em;
        font-weight: 400; 
        margin-bottom: 0;
        line-height: 1.125;
        margin-top: 0;
    }
}
.ph-input {
    border-radius: 4px;
    border-color: #dbdbdb;
}
.govuk-button.ph-button:link, .govuk-button.ph-button:visited, .govuk-button.ph-button:active, .govuk-button.ph-button:hover{
color: #000;
background-color: #fff;
border-radius: 4px;
border-color: #dbdbdb;
padding: 10px 20px;
margin-top:30px;
}

// -------------------------------------------   ------------------------------------------------ //



// --------------------------------------------   ------------------------------------------------ //



