// The unbranded stylesheet is used if you need to create pages in your
// prototype without the GOV.UK branding.
//
// See localhost:3000/docs/templates/blank-unbranded

// Import settings first so we can override them before importing all of GOV.UK Frontend
// If you need to enable compatibility mode or the legacy palette, do that *before* this import.
@import "node_modules/govuk-frontend/govuk/settings/all";

// Override the default GOV.UK Frontend font stack
$govuk-font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

// Override the canvas background colour, which is normally grey to blend with the GOV.UK footer.
$govuk-canvas-background-colour: $govuk-body-background-colour;

@import "application";

$sac-text : #0b0c0c; 
$sac-blue: #00559c;
$sac-yellow:#ffc300;


// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

/* South Ayrshire Council (https://www.south-ayrshire.gov.uk) - taken from their website to have the correct font and the social media icons */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans"), local("NotoSans"),
    url("/themes/bootstrap/fonts/noto-sans-v7-latin-regular.woff2")
      format("woff2"),
    url("/themes/bootstrap/fonts/noto-sans-v7-latin-regular.woff")
      format("woff"),
    url("/themes/bootstrap/fonts/noto-sans-v7-latin-regular.ttf")
      format("truetype"),
    url("/themes/bootstrap/fonts/noto-sans-v7-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("/themes/bootstrap/fonts/noto-sans-v7-latin-regular.svg#NotoSans")
      format("svg");
  src: url("/themes/bootstrap/fonts/noto-sans-v7-latin-regular.eot");
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"),
    url("/themes/bootstrap/fonts/noto-sans-v7-latin-700.woff2") format("woff2"),
    url("/themes/bootstrap/fonts/noto-sans-v7-latin-700.woff") format("woff"),
    url("/themes/bootstrap/fonts/noto-sans-v7-latin-700.ttf") format("truetype"),
    url("/themes/bootstrap/fonts/noto-sans-v7-latin-700.eot?#iefix")
      format("embedded-opentype"),
    url("/themes/bootstrap/fonts/noto-sans-v7-latin-700.svg#NotoSans")
      format("svg");
  src: url("/themes/bootstrap/fonts/noto-sans-v7-latin-700.eot");
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 400;
  src: url("/themes/bootstrap/fonts/noto-serif-v6-latin-regular.eot");
  src: local("Noto Serif"), local("NotoSerif"),
    url("/themes/bootstrap/fonts/noto-serif-v6-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("/themes/bootstrap/fonts/noto-serif-v6-latin-regular.woff2")
      format("woff2"),
    url("/themes/bootstrap/fonts/noto-serif-v6-latin-regular.woff")
      format("woff"),
    url("/themes/bootstrap/fonts/noto-serif-v6-latin-regular.ttf")
      format("truetype"),
    url("/themes/bootstrap/fonts/noto-serif-v6-latin-regular.svg#NotoSerif")
      format("svg");
}
@font-face {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 700;
  src: url("/themes/bootstrap/fonts/noto-serif-v6-latin-700.eot");
  src: local("Noto Serif Bold"), local("NotoSerif-Bold"),
    url("/themes/bootstrap/fonts/noto-serif-v6-latin-700.eot?#iefix")
      format("embedded-opentype"),
    url("/themes/bootstrap/fonts/noto-serif-v6-latin-700.woff2") format("woff2"),
    url("/themes/bootstrap/fonts/noto-serif-v6-latin-700.woff") format("woff"),
    url("/themes/bootstrap/fonts/noto-serif-v6-latin-700.ttf")
      format("truetype"),
    url("/themes/bootstrap/fonts/noto-serif-v6-latin-700.svg#NotoSerif")
      format("svg");
} 

//---------------------------------------- HEADER ------------------------------------------------//

.govuk-header__container {
    border-bottom: 0px;
}
.sac-tagline {
    font-size: 24px;
    color:$sac-text; 
    font-family: "Noto Sans", Arial, sans-serif;
    background-color: $sac-yellow;
    padding: 4px 10px;
    font-weight: 500;
    @media only screen and (max-width: 340px) {
        font-size:18px;
    }
}
.govuk-header__content {
    @media only screen and (min-width: 169px) { 
    border: 10px solid #fff;
    }
    a {
        text-decoration: none;
    }
}


//---------------------------------------- BODY------------------------------------------------//

body p, ul, li , a, span, .govuk-link, 
.govuk-heading-xl, .govuk-heading-l, .govuk-heading-m, .govuk-heading-s,
.govuk-body-xl, .govuk-body-l, .govuk-body-m, .govuk-body-s,
.govuk-label, .govuk-fieldset, .govuk-fieldset__legend, .govuk-table, .govuk-warning-text,.govuk-warning-text__text {
    color: $sac-text;
    font-family: "Noto Sans", Arial, sans-serif ;
}

.govuk-heading-l {
   margin-top: 50px; 
}

.govuk-heading-m {
    margin-top: 30px; 
 }

 /* Accordion:  will need to be revisited - TODO */
.govuk-accordion__section-button, .govuk-accordion__section-heading, .js-enabled .govuk-accordion__section-button:focus {
color: white; 
background-color:#0071BA; 
padding: 5px;
box-shadow: 0 0 0 0 // this is to overide govuk focus for the accordion
}

.js-enabled .govuk-accordion__icon:after, .js-enabled .govuk-accordion__icon:before {
    background-color: #0071BA;
}



//---------------------------------------- FOOTER ------------------------------------------------//
.govuk-footer {
    font-size: 1em;
    background-color: #f5f5f5;
    p, .govuk-footer__link:link, .govuk-footer__link:visited, .govuk-footer__link:hover, .govuk-footer__link:active {
        color:  #464a4c;
    }
}
.govuk-footer__link{
    font-size: 1em;
    font-weight: 500;
}
.govuk-footer__inline-list-item{
    padding: 1em;
}
.govuk-footer__meta-item {
    margin-bottom: 0;
}
.govuk-footer__link:focus{
    background-color: #f5f5f5;
    outline: 3px solid #fd0;
}

.back-to-top{
    background-color: #e5e5e5; 
    text-align: center; 
    padding: 10px;
}

.footer-icon span{
    font-family: FontAwesome !important;
    display: inline-block;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 2em;
    color: #464a4c;
    margin: 0 2vw;
    @media (min-width: 0) and (max-width: 767px) {
        display: inline-block;
        padding-left: 2vw;
        padding-right: 2vw;
        margin: 0;
      }
}

.footer-icon {
    text-align: center;
}



//---------------------------------------- BODY------------------------------------------------//

body p, ul, li , a, span, .govuk-link, 
.govuk-heading-xl, .govuk-heading-l, .govuk-heading-m, .govuk-heading-s,
.govuk-body-xl, .govuk-body-l, .govuk-body-m, .govuk-body-s,
.govuk-label, .govuk-fieldset, .govuk-fieldset__legend, .govuk-table, .govuk-warning-text,.govuk-warning-text__text {
    color: $sac-text;
    font-family: "Noto Sans", Arial, sans-serif !important;
}

.govuk-heading-l {
   margin-top: 50px; 
}

.govuk-heading-m {
    margin-top: 30px; 
 }

 /* Accordion:  will need to be revisited - TODO */
.govuk-accordion__section-button, .govuk-accordion__section-heading, .js-enabled .govuk-accordion__section-button:focus {
color: white; 
background-color:#0071BA; 
padding: 5px;
box-shadow: 0 0 0 0 // this is to overide govuk focus for the accordion
}

.js-enabled .govuk-accordion__icon:after, .js-enabled .govuk-accordion__icon:before {
    background-color: #0071BA;
}

.govuk-tag.red-sac {
    background-color: #b10e1e;
   // margin-left: 10px;
    padding: 20px;
    text-transform: none;
    font-size: 1.5em;
  }


// ------------------------------------------- GOVUK changes for colours ------------------------------------------------- //

// back button/link
.govuk-back-link:link,  .govuk-back-link:active, .govuk-back-link:hover, .govuk-back-link:focus, .govuk-back-link:visited {
    color: $sac-text;
    margin-bottom: 2em;
}

.govuk-textarea, .govuk-input{
    border: 2px solid $sac-text;
}

.govuk-heading-xl, .govuk-heading-l, .govuk-heading-m, .govuk-list , .sac-text , table{
    color: $sac-text;
}

.govuk-link, a, .govuk-link:link, a:link {
    color: 	#2a5db0;
}

.govuk-link:visited, a:visited{
    color: 	#609;
}

.govuk-link:hover, a:hover{
    color: 	#1a0dab;
}
.govuk-link:focus, a:focus {
    color: #464a4c;;
    background-color: #f5f5f5;
    box-shadow: 0 -2px #f5f5f5, 0 4px #fff;
    text-decoration: underline;
}

#logo-sac:focus{
    background-color: 	#fff; // was putting a thick yellow layer at the bottom of the ERC logo
}


.govuk-error-message, .govuk-error-summary, .govuk-input--error {
    color: #B30000 
}
.govuk-form-group--error {
    border-left: 5px solid #B30000;
}

// -------------------------------------------- Helpers ------------------------------------------------- //



//-------------------------------------------- Buttons --------------------------------------------------- /
