// The unbranded stylesheet is used if you need to create pages in your
// prototype without the GOV.UK branding.
//
// See localhost:3000/docs/templates/blank-unbranded

// Import settings first so we can override them before importing all of GOV.UK Frontend
// If you need to enable compatibility mode or the legacy palette, do that *before* this import.
@import "node_modules/govuk-frontend/govuk/settings/all";

// Override the default GOV.UK Frontend font stack
$govuk-font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

// Override the canvas background colour, which is normally grey to blend with the GOV.UK footer.
$govuk-canvas-background-colour: $govuk-body-background-colour;

@import "application";

$sg-blue : #0065bd; 
$sss-pink: #e5007c;
$sss-text: #333;


// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you


//---------------------------------------- HEADER ------------------------------------------------//

.govuk-header__container {
    border-bottom: 1px solid #ddd;

}
.sss-tagline {
    font-size: 24px;
    color: white; 
    background-color: $sss-pink;
    padding: 4px 10px;
    font-weight: 500;
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
}

.sg-tagline {
    font-size: 24px;
    color: white; 
    background-color: $sg-blue;
    padding: 4px 10px;
    font-weight: 500;
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
}

.govuk-header__content {
    @media only screen and (min-width: 999px) { 
    border: 30px solid #fff;
    }
    a {
        text-decoration: none;
    }
}

.govuk-header__content.sg-tagline {
    @media only screen and (min-width: 999px) { 
    border: 5px solid #fff;
    }
    a {
        text-decoration: none;
    }
}

.govuk-header__logo.sg-logo {
    border: 15px solid #fff;
}

//---------------------------------------- FOOTER ------------------------------------------------//
.govuk-footer {
    font-size: 16px;
    background-color: $sg-blue;
    border-top: 1px solid #eee;
    p, .govuk-footer__link:link, .govuk-footer__link:visited, .govuk-footer__link:hover, .govuk-footer__link:active {
        color:  white;

    }
    padding-top: 0;
}
.govuk-footer__meta {
    padding-top: 40px;
}
.feedback {
    background-color: white;
    padding: 10px 0;
    p {
        color: $sss-text;
    }
}
.small-footer {
    font-size: 13px;
    font-weight: 600;
    padding: 0 1em;
}
//---------------------------------------- BODY------------------------------------------------//

body p, p.govuk-body-l, .govuk-heading-s, .govuk-heading-l, .govuk-heading-xl, .govuk-heading-m,.govuk-label, .govuk-fieldset, .govuk-fieldset__legend, .govuk-table {
    color: $sss-text;
    font-family: 'Roboto', Arial;
}

// ------------------------------------------- GOVUK changes for colours ------------------------------------------------- //

// back button/link
.govuk-back-link:link,  .govuk-back-link:active, .govuk-back-link:hover, .govuk-back-link:focus, .govuk-back-link:visited {
    color: $sss-text;
    margin-bottom: 2em;
}

.govuk-button {
    background-color: $sg-blue;
    font-size: 18px;
    padding: 15px 25px;
    box-shadow: none;
}

.govuk-button-back {
    background-color: #fff;
    font-size: 18px;
    padding: 16px 45px;
    box-shadow: none;
    border: 2px solid #000;
}

.govuk-button-back:link, .govuk-button-back:visited{
    color: #000;
    font-weight: 600;
}

.govuk-button.govuk-button-back:hover, .govuk-button.govuk-button-back:focus, .govuk-button.govuk-button-back:active{
    background-color: #eee;
}

.govuk-button:hover, .govuk-button:focus, .govuk-button:active {
    background-color: #00437e;
}

.govuk-button__start-icon {
    margin-left:40px;
}

.govuk-link, a, .govuk-link:link, a:link {
    color: 	$sg-blue;
}
#logo-sss:focus{
    background-color: 	#fff; // was putting a thick yellow layer at the bottom of the ERC logo
}


.govuk-error-message, .govuk-error-summary, .govuk-input--error {
    color: #d32205
}
.govuk-form-group--error {
    border-left: 5px solid #d32205;
}

body, p, li, ul, h1, h2, h3 {
    line-height: 2;
}
.govuk-form-group {
    padding-top: 2em;
}


// -------------------------------------------- Helpers ------------------------------------------------- //

.feedback-text-area {
    border: 1px solid #d0d0d0;
    background-color: #fafafa;
}
.tag-print {
    padding: 10px 10px 10px 60px;
    background: url(../images/printer-icon.png) 10px center no-repeat #fff;
    text-decoration: underline;
    color: #551A8B ; // $erc-text-blue;
    font-weight: 400;
    //font-size : 19px;
}

