// The unbranded stylesheet is used if you need to create pages in your
// prototype without the GOV.UK branding.
//
// See localhost:3000/docs/templates/blank-unbranded

// Import settings first so we can override them before importing all of GOV.UK Frontend
// If you need to enable compatibility mode or the legacy palette, do that *before* this import.
@import "node_modules/govuk-frontend/govuk/settings/all";

// Override the default GOV.UK Frontend font stack
$govuk-font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

// Override the canvas background colour, which is normally grey to blend with the GOV.UK footer.
$govuk-canvas-background-colour: $govuk-body-background-colour;

@import "application";

$sg-blue : #0065bd;
$sss-pink: #e5007c;
$sss-text: #333;


// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you


//---------------------------------------- HEADER ------------------------------------------------//

.govuk-header__container {
    border-bottom: 1px solid #ddd;

}
.sss-tagline {
    font-size: 24px;
    color: white;
    background-color: $sss-pink;
    padding: 4px 10px;
    font-weight: 500;
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
}

.sg-tagline {
    font-size: 24px;
    color: white;
    background-color: $sg-blue;
    padding: 4px 10px;
    font-weight: 500;
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    @media only screen and (max-width: 340px) {
        font-size:18px;
    }
}

.govuk-header__content {
    @media only screen and (min-width: 999px) {
    border: 30px solid #fff;
    }
    a {
        text-decoration: none;
    }
}

@media (min-width: 48.0625em){
    .govuk-header__logo, .govuk-header__content  {
    width: 50%
    }
}

.govuk-header__logotype {
    padding: 0 20px;
}

//---------------------------------------- FOOTER ------------------------------------------------//
.govuk-footer {
    font-size: 16px;
    background-color: $sg-blue;
    border-top: 1px solid #eee;
    p, .govuk-footer__link:link, .govuk-footer__link:visited, .govuk-footer__link:hover, .govuk-footer__link:active {
        color:  white;

    }
    padding-top: 0;
}
.govuk-footer__meta {
    padding-top: 40px;
}
.feedback {
    background-color: white;
    padding: 10px 0;
    p {
        color: $sss-text;
    }
}
.small-footer {
    font-size: 13px;
    font-weight: 600;
    padding: 0 1em;
}

.govuk-footer__link:focus{
    background-color: $sg-blue;
    outline: 3px solid #fd0;
}
//---------------------------------------- BODY------------------------------------------------//

body p, p.govuk-body-l, .govuk-heading-s, .govuk-heading-l, .govuk-heading-xl, .govuk-heading-m,.govuk-label, .govuk-fieldset, .govuk-fieldset__legend, .govuk-table {
    color: $sss-text;
    font-family: 'Roboto', Arial;
}

// ------------------------------------------- GOVUK changes for colours ------------------------------------------------- //

// back button/link
.govuk-back-link:link,  .govuk-back-link:active, .govuk-back-link:hover, .govuk-back-link:focus, .govuk-back-link:visited {
    color: $sss-text;
    margin-bottom: 2em;
}

.govuk-button {
    background-color: $sg-blue;
    font-size: 18px;
    padding: 15px 25px;
    box-shadow: none;
}

.sg-button-back {
    background-color: #fff;
    font-size: 18px;
    padding: 16px 45px;
    box-shadow: none;
    border: 2px solid #000;
}

.sg-button-back:link, .sg-button-back:visited{
    color: #000;
    font-weight: 600;
}

.govuk-button.sg-button-back:hover, .govuk-button.sg-button-back:focus, .govuk-button.sg-button-back:active{
    background-color: #eee;
}

.sg-button-empty {
    background-color: #fff;
    font-size: 18px;
    padding: 16px 45px;
    box-shadow: none;
    border: 2px solid #00437e;
}
.sg-button-empty:link, .sg-button-empty:visited{
    color: #00437e;
    font-weight: 600;
}

.govuk-button.sg-button-empty:hover, .govuk-button.sg-button-empty:focus, .govuk-button.sg-button-empty:active{
    background-color:#e5f0f8;
    border: 3px solid #00437e;
}

.govuk-button:hover, .govuk-button:focus, .govuk-button:active {
    background-color: #00437e;
}

.govuk-button__start-icon {
    margin-left:40px;
}

.govuk-link, a, .govuk-link:link, a:link {
    color: 	$sg-blue;
}
#logo-sss:focus{
    background-color: 	#fff; // was putting a thick yellow layer at the bottom of the ERC logo
}


.govuk-error-message, .govuk-error-summary, .govuk-input--error {
    color: #d32205
}
.govuk-form-group--error {
    border-left: 5px solid #d32205;
}

body, p, li, ul, h1, h2, h3 {
    line-height: 1.5;
}
.govuk-form-group {
    padding-top: 2em;
}

.sensitive-content {
    max-width: 330px;
    a, p {
        font-size: 14px;
        line-height: 1.2;
        max-width: 330px;
    }
    a {
        font-weight: bold;
    }
}

.sg-button-sensitive, .sg-button-sensitive:hover{
    background-color: #4e9d52;
    border-top: 1px solid #fff;
    margin: 0 0 10px 0;
    width: 100%;
}

.sg-button-sensitive:active{
    background-color: #d9effc;
    color: #ffffffa6;
    outline: 0;
    transition-duration: 0s;
}

.sg-button-sensitive:focus{
    background-color: #00437e !important;
    color: #fff !important;
}

// -------------------------------------------- Accordions changes ------------------------------------------------- //
.govuk-accordion__section-button.sg{
    color: #333;
    font-size: 19px;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:700;
    text-decoration: none;
    margin-right: 40px; // prevent the text of the button to go under the chevron picture
}

.govuk-accordion__section-heading.sg{
    padding: 10px 0px
}
.govuk-accordion__section-button.sg:hover, .govuk-accordion__section-button.sg:hover:not(:focus){
   color: #00437e;
   text-decoration: none;
}


.govuk-accordion__section--expanded .govuk-accordion__section-header{
    background-color: #e5f0f8;
}

.govuk-accordion__section-header:hover, .govuk-accordion__section-header:hover:not(:focus){
    background-color: #f8f8f8;
    .govuk-accordion__icon{
        background-color: #f8f8f8;
    }
}

.govuk-accordion__icon{
    background: url(../images/SG/arrow_down_blue_35px.png) 10px center no-repeat #fff;
    padding: 5px 10px 0 30px;
}
.js-enabled .govuk-accordion__icon{
 top: 18px;
 width: 0;
}

.govuk-accordion__section--expanded {
    .govuk-accordion__icon{
        background: url(../images/SG/arrow_up_blue_35px.png) 10px center no-repeat #fff;
        padding: 5px 10px 0 30px;
        top: 30%;
        background-color: #e5f0f8;
    }
}

.js-enabled .govuk-accordion__icon:after, .js-enabled .govuk-accordion__icon:before  {
background-color: transparent;
}

.govuk-accordion__controls {
    display: none;
}
.govuk-accordion__section-header{
    padding: 0 0 0 10px;
}

.js-enabled .govuk-accordion__section-header {
    padding-right: 10px;
}

.js-enabled .govuk-accordion__section-button:focus {
    background-color: #f8f8f8;
    box-shadow: 0 -2px #f8f8f8, 0 4px #f8f8f8;
}

// -------------------------------------------- Helpers ------------------------------------------------- //

.feedback-text-area {
    border: 1px solid #d0d0d0;
    background-color: #fafafa;
}
.tag-print {
    padding: 10px 10px 10px 60px;
    background: url(../images/printer-icon.png) 10px center no-repeat #fff;
}

// -----------------------------  Summary of answer for SSS ------------------------------------------ //

.sss-summary {
    div.govuk-summary-list__row.heading-summary {
        background-color: #E4F3FB ;
        font-size: 1.18rem;
        .govuk-summary-list__key {
            font-weight:700;
            @media (min-width: 641px){
                padding-left: 20px;
            }
        }
        a {
            text-decoration: none;
        }
    }
    div.govuk-summary-list__row {
        background-color: #F4f4f4 ;
        font-size: 0.9rem;
        .govuk-summary-list__key {
            font-weight:500;
            @media (min-width: 641px){
                padding-left: 20px;
            }
        }
        .govuk-summary-list__actions {
            font-weight:700;
            color: #00437e;
            @media (min-width: 641px){
                padding-right: 20px;
            }
        }
    }
    dl {
        margin-bottom: 0;
    }
}


// -----------------------------  Best Start Grant -1 ------------------------------------------ //

@media only screen and (max-width: 1000px) {
  .sg-logo {
    width: 100%;
  }
}
