{% extends "layout.html" %}

{% block pageTitle %}
Contact DVLA
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
      <br>
      <br>
      <h1 class="govuk-heading-xl">
          Contact DVLA
      </h1>
  
        <h2 class="govuk-heading-m"  id="by-webchat">By webchat</h2>
        
        <p><a rel="external" href="#">Use the webchat service</a> to contact DVLA about driving licences and applications.</p>
        
        <h2 class="govuk-heading-m"  id="by-phone">By phone</h2>
        
        <div class="contact">
          <p><strong>DVLA driver licensing enquiries</strong><br>
          Telephone: 0300 790 6801 <br>
          Monday to Friday, 8am to 7pm <br>
          Saturday, 8am to 2pm <br>
          <a href="#">Find out about call charges</a></p>
        </div>
        
        <h2 class="govuk-heading-m"  id="by-email">By email</h2>
        
        <p><a href="#">Use the email service</a> to contact DVLA about driving licences and applications.</p>
        
        <h2 class="govuk-heading-m"  id="by-post">By post</h2>
        
   
        <div class="address">
          <p>Drivers Customer Services   
          <br>Correspondence Team   
          <br>DVLA   
          <br>Swansea   
          <br>SA6 7JL   
          <br>
          </p>
        </div>

        <h3 class="govuk-heading-s"  id="northern-ireland">Northern Ireland</h3>
        <p>Contact the <a href="#">Driver and Vehicle Agency</a> if you have a Northern Ireland driving licence.</p>
        
        <h2  class="govuk-heading-m" id="when-to-contact-dvla">When to contact DVLA</h2>
        <p>It can take a few weeks to process applications. Wait 2 weeks if you applied online, or 3 weeks if you applied by post before you contact DVLA about:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>your provisional licence</li>
          <li>your replacement licence</li>
          <li>your renewed licence after you’ve been disqualified</li>
          <li>exchanging your licence</li>
        </ul>
      
    </div>
</div>
{% endblock %}