{% extends "layout.html" %}

{% block pageTitle %}
Who is classed as a critical worker
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
      <br>
      <br>
      <h1 class="govuk-heading-xl">
        Who is classed as a critical worker?
      </h1>
  
      <h2 h1 class="govuk-heading-m">See the real page providing this information</h2>

      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

      {{ govukWarningText({
        text: "This will take you out of the prototype",
        iconFallbackText: "Warning"
      }) }}
     
      <p><a href="https://www.gov.uk/government/publications/coronavirus-covid-19-maintaining-educational-provision/guidance-for-schools-colleges-and-local-authorities-on-maintaining-educational-provision" target="_blank" rel="noopener">Guidance: Critical workers who can access schools or educational settings</a></p>
    </div>
</div>
{% endblock %}