{% include "../../../includes/bulb-header.html"  %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row govuk-!-margin-bottom-9 govuk-!-margin-top-9">
            <div class="govuk-grid-column-one-quarter">
                &nbsp;
            </div>
            <div class="govuk-grid-column-one-half" style="max-width: 600px;">
                <a href="javascript: history.go(-1)" style="color:#00ab55; text-decoration: none; font-weight: 600; font-size: 20px">&lt; Back</a>
                <div class="bulb-white-container ">
            
                    <h1>Sign in to your Bulb account</h1>
                    <p class="govuk-!-margin-bottom-7">{% if data ['bulb-email'] ==='error' %} example@gmail.com {% else %}{{ data ['bulb-email'] or "example@gmail.com"}}{% endif %}</p>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="bulb-password">Password</label>
                        <input class="govuk-input" id="bulb-password" name="bulb-password" type="password">
                    </div>
                    <p class="govuk-!-margin-bottom-7"><a href="/forms/other-forms/bulb/bulb-get-pwd" style="color:#00ab55; text-decoration: none; font-weight: 600; font-size: 20px">I forgot my password</a></p>
                    <a href="/forms/other-forms/bulb/bulb-dashboard" role="button" draggable="false" class="govuk-button button-primary button-bulb full-width" data-module="govuk-button">
                        Sign in
                    </a>
                </div>
            </div>
            <div class="govuk-grid-column-one-quarter">
                &nbsp;
            </div>
        </div>
        <div class="student-notes-box-bulb"> 
            <p>You can enter anything here</p>
        </div>
    </main>
</div>

{% include "../../../includes/bulb-footer.html"  %}

<!-- Javascript -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/extension-assets/govuk-frontend/govuk/all.js"></script>
<script src="/public/javascripts/application.js"></script>
<script src="/public/javascripts/auto-store-data.js"></script>
<!-- GOV.UK Prototype Kit v9.5.0 -->
</body>
</html>
