{% include "../../../includes/bulb-header.html"  %}
<div class="govuk-width-container">
<main class="govuk-main-wrapper">
    <div class="govuk-grid-row govuk-!-margin-bottom-9 govuk-!-margin-top-9">
        <div class="govuk-grid-column-full">
            <a href="javascript: history.go(-1)" style="color:#00ab55; text-decoration: none; font-weight: 600; font-size: 20px">&lt; Back</a>
            <h1>How to read your meter</h1>
            <div class="bulb-white-container ">
              <p>If you really want to see this information <a href="https://help.bulb.co.uk/hc/en-us/articles/115001232832-How-do-I-read-my-meter-" target="_blank" rel="noopener">follow this link to see the real Bulb guidance page </a> - this will take you out of the training website.</p>
            
              <a href="/forms/other-forms/bulb/bulb-meter" role="button" draggable="false" class="govuk-button button-primary button-bulb" data-module="govuk-button">
                Return to meter reading
            </a>                    </div>
        </div>
    </div>

    <div class="student-notes-box-bulb"> 
        <p>You would see the help here if you were on the real website.</p>
  </div>
</main>
</div>
{% include "../../../includes/bulb-footer.html"  %}

<!-- Javascript -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/extension-assets/govuk-frontend/govuk/all.js"></script>
<script src="/public/javascripts/application.js"></script>
<script src="/public/javascripts/auto-store-data.js"></script>
<!-- GOV.UK Prototype Kit v9.5.0 -->
</body>
</html>
