{% include "../../../includes/bulb-header.html"  %}
<div class="govuk-width-container">
<main class="govuk-main-wrapper">
    <div class="govuk-grid-row govuk-!-margin-bottom-9 govuk-!-margin-top-9">
        <div class="govuk-grid-column-full">
            <a href="javascript: history.go(-1)" style="color:#00ab55; text-decoration: none; font-weight: 600; font-size: 20px">&lt; Back</a>
            <h1>Payments & statements</h1>
            <div class="bulb-white-container ">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                  <p class="govuk-!-font-size-27">Monthly payments</p>
                  <p class="govuk-!-font-size-36">£33.45
                    <a href="/forms/other-forms/bulb/bulb-pay-change" role="button" draggable="false" class="govuk-button button-primary button-bulb-clear" data-module="govuk-button">
                      Change payments
                      </a>
                  </p>
                  <p>Next payment on the {{ bulbNextPayment }}</p>
                </div>
                <div class="govuk-grid-column-one-half">
                  <p class="govuk-!-font-size-27">Account balance</p>
                  <p class="govuk-!-font-size-36">£34.61                     
                    <a href="/forms/other-forms/bulb/bulb-pay-topup" role="button" draggable="false" class="govuk-button button-primary button-bulb-clear " data-module="govuk-button" >
                    Top up
                    </a>
                  </p>
                </div>
              </div>
            </div>

<div class="bulb-white-container ">
  <p class="govuk-!-font-size-27">Statements</p>
  <table class="govuk-table bulb-table2" style="overflow: auto;">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" style="padding-left: 10px;">Date</th>
          <th scope="col" class="govuk-table__header">Description</th>
          <th scope="col" class="govuk-table__header">In</th>
          <th scope="col" class="govuk-table__header">Out</th>
          <th scope="col" class="govuk-table__header">Balance</th>
        </tr>
      </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" style="padding-left: 10px;">{{ bulbPaymentDate1 }}</td>
        <td class="govuk-table__cell"><p style="margin-bottom: 10px">Payment</p>
          <p style="margin-bottom: 10px"><em>by Direct Debit</em></p>
        </td>
        <td class="govuk-table__cell">+£33.45</td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell">£34.61</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell style="padding-left: 10px;"">{{ bulbEnergyUsageDate1 }}</td>
        <td class="govuk-table__cell"><p style="margin-bottom: 10px">Energy used</p>
          <p style="margin-bottom: 10px"><em>{{ bulbStatementDate1 }}</em></p>
          <p style="margin-bottom: 10px"><svg xmlns="http://www.w3.org/2000/Svg" focusable="false" preserveAspectRatio="xMinYMin" viewBox="0 0 64 64" class="sc-fzokOt eDBTAL" width="20" height="20">
            <path style="fill:#00ab55;" d="M30.639 41.217a2 2 0 0 0 2.931.355l6.16-5.265a2 2 0 0 0-2.6-3.04l-2.235 1.91c1.143-8.348 1.248-15.095.358-24.989a2 2 0 1 0-3.984.358c.87 9.671.76 16.127-.35 24.18l-1.68-2.353a2 2 0 1 0-3.255 2.324l4.655 6.52z"></path>
            <path style="fill:#00ab55;" d="M7.718 40.974a2 2 0 0 1 3.985.344 445.838 445.838 0 0 0-.51 6.46 2.862 2.862 0 0 0 2.747 3.089c10.436.367 25.64.364 35.797.118a2.901 2.901 0 0 0 2.818-2.644c.204-2.184.425-4.678.645-7.36a2 2 0 0 1 3.987.329 690.544 690.544 0 0 1-.65 7.403 6.901 6.901 0 0 1-6.703 6.271c-10.217.247-25.503.251-36.035-.12-3.914-.137-6.874-3.498-6.596-7.372.158-2.193.329-4.361.515-6.518z">
            </path>
          </svg>
          <span style="color:#00ab55; font-weight: bold;">Download statement</span>
          </p>
        </td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell">- £40.50</td>
        <td class="govuk-table__cell">£1.16</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" style="padding-left: 10px;">{{ bulbPaymentDate2 }}</td>
        <td class="govuk-table__cell"><p style="margin-bottom: 10px">Payment</p>
          <p style="margin-bottom: 10px"><em>by Direct Debit</em></p>
        </td>
        <td class="govuk-table__cell">+£33.45</td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell">£41.66</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell" style="padding-left: 10px;">{{ bulbEnergyUsageDate2 }}</td>
        <td class="govuk-table__cell"><p style="margin-bottom: 10px">Energy used</p>
          <p style="margin-bottom: 10px"><em>{{ bulbStatementDate2 }}</em></p>
          <p style="margin-bottom: 10px"><svg xmlns="http://www.w3.org/2000/Svg" focusable="false" preserveAspectRatio="xMinYMin" viewBox="0 0 64 64" class="sc-fzokOt eDBTAL" width="20" height="20">
            <path style="fill:#00ab55;" d="M30.639 41.217a2 2 0 0 0 2.931.355l6.16-5.265a2 2 0 0 0-2.6-3.04l-2.235 1.91c1.143-8.348 1.248-15.095.358-24.989a2 2 0 1 0-3.984.358c.87 9.671.76 16.127-.35 24.18l-1.68-2.353a2 2 0 1 0-3.255 2.324l4.655 6.52z"></path>
            <path style="fill:#00ab55;" d="M7.718 40.974a2 2 0 0 1 3.985.344 445.838 445.838 0 0 0-.51 6.46 2.862 2.862 0 0 0 2.747 3.089c10.436.367 25.64.364 35.797.118a2.901 2.901 0 0 0 2.818-2.644c.204-2.184.425-4.678.645-7.36a2 2 0 0 1 3.987.329 690.544 690.544 0 0 1-.65 7.403 6.901 6.901 0 0 1-6.703 6.271c-10.217.247-25.503.251-36.035-.12-3.914-.137-6.874-3.498-6.596-7.372.158-2.193.329-4.361.515-6.518z">
            </path>
          </svg>
          <span style="color:#00ab55; font-weight: bold;">Download statement</span>
          </p>
        </td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell">- £10.50</td>
        <td class="govuk-table__cell">£38.21</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>

<div class="student-notes-box-bulb"> 
<p>This is just for illustration - not real values.</p>
<p>There is other ways of paying, it doesn't have to be Direct Debit.</p>
<p>"Download statement" on the real form allows you get your statements but it doesn't work here.</p>
</div>
</main>
</div>

{% include "../../../includes/bulb-footer.html"  %}

<!-- Javascript -->
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/extension-assets/govuk-frontend/govuk/all.js"></script>
<script src="/public/javascripts/application.js"></script>
<script src="/public/javascripts/auto-store-data.js"></script>
<!-- GOV.UK Prototype Kit v9.5.0 -->
</body>
</html>
