{% include "../../../includes/bulb-header.html"  %}
<div class="govuk-width-container">
<main class="govuk-main-wrapper">
    <div class="govuk-grid-row govuk-!-margin-bottom-9 govuk-!-margin-top-9">
        <div class="govuk-grid-column-full">
            <a href="javascript: history.go(-1)" style="color:#00ab55; text-decoration: none; font-weight: 600; font-size: 20px">&lt; Back</a>
            <p>What you would normally see:</p>
            <div class="bulb-white-container ">
              <p><image src="{{ asset_path }}/images/bulb/topup-card.png" alt="screenshot of the real screen showing how to enter your card details" width="100%"></image></p>                  
          </div>
        </div>
    </div>
    <div class="student-notes-box-bulb"> 
      <p>This is a screenshot of the real screen, you can't enter anything.</p>
      <p><a href="bulb-statements">Back to Statements & Payments </a></p>
</div>
</main>
</div>

{% include "../../../includes/bulb-footer.html"  %}


