{% extends "layout_erc-old.html" %}

{% block pageTitle %}
Forgotten username and password
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-l do-it-online">
      Do it online
    </h1>

    {% set regExpEmail = r/^[a-zA-Z0-9=*!$&_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/g %}
    {% set validEmail = regExpEmail.test(data ['ct-sign-email']) %}

    {% if (data ['ct-sign-name'] === '') or  
          (data ['ct-sign-address'] === '') or
          (data ['ct-sign-phone'] === '') or
          (data ['ct-sign-email'] === '') or
          (data ['ct-sign-email'] and not validEmail)
           %}
    <p class="ercError" style="font-weight: 700; line-height: 1.5; font-size: 14px">Please supply a valid value for the fields marked with a <span style="color: red; border: 1px solid red; padding: 5px; background-color: #fff">*</span></p>
    {% endif %}

    <h2 class="govuk-heading-l erc-alt-double-lines">Council Tax Online</h2> 

    <p class="erc-alt-dark-blue-bg">Forgotten username and password</p> 
    <div class="govuk-heading-s erc-alt-light-grey">
      <p class="govuk-!-font-size-14">Please complete the details below and our Customer Services Team will get back in touch with you.</p>
    </div>
   

    <form class="form" method="post">

    <dl class="govuk-summary-list govuk-!-margin-bottom-9 centred-input-fields">
    <div class="govuk-summary-list__row ">
      <dt class="govuk-summary-list__key">
        <label class="govuk-label" for="ct-sign-name">Name:<span style="color: red"> *</span></label>
      </dt>
      <dd class="govuk-summary-list__value">
        <input class="govuk-input govuk-!-width-full" id="ct-sign-name" name="ct-sign-name" type="text" value="{{ data ['ct-sign-name']}}">
      </dd>
      {% if (data ['ct-sign-name'] === '') %}
      <dd class="govuk-summary-list__actions">
        <span class="error"> *</span>
      </dd>
      {% else%}
      <dd class="govuk-summary-list__actions"></dd>
      {% endif %}
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <label class="govuk-label" for="ct-sign-address">
        Address:<span style="color: red"> *</span>
        </label>
      </dt>
      <dd class="govuk-summary-list__value">
        <textarea class="govuk-textarea govuk-!-width-full" id="ct-sign-address" name="ct-sign-address" rows="5" >{{ data ['ct-sign-address']}}</textarea>
      </dd>
      {% if (data ['ct-sign-address'] === '') %}
      <dd class="govuk-summary-list__actions">
        <span class="error"> *</span>
      </dd>
      {% else%}
      <dd class="govuk-summary-list__actions"></dd>
      {% endif %}
    </div>
    <div class="govuk-summary-list__row ">
      <dt class="govuk-summary-list__key">
        <label class="govuk-label" for="ct-sign-email">Email address:<span style="color: red"> *</span></label>
      </dt>
      <dd class="govuk-summary-list__value">
        <input class="govuk-input govuk-!-width-full" id="ct-sign-email" name="ct-sign-email" type="text" value="{{ data ['ct-sign-email']}}">
      </dd>
      <dd class="govuk-summary-list__actions">
      {% if (data ['ct-sign-email'] === '') %}
        <span class="error"> *</span>
      {% elseif (data ['ct-sign-email'] and not validEmail)%}
        <span class="error">* Enter a valid email address.</span>
      {% else %}
      {% endif %}
      </dd>
    </div>
    <div class="govuk-summary-list__row ">
      <dt class="govuk-summary-list__key">
        <label class="govuk-label" for="ct-sign-phone">Daytime phone number:<span style="color: red"> *</span></label>
      </dt>
      <dd class="govuk-summary-list__value">
        <input class="govuk-input govuk-!-width-full" id="ct-sign-phone" name="ct-sign-phone" type="text" value="{{ data ['ct-sign-phone']}}">
      </dd>
      {% if (data ['ct-sign-phone'] === '') %}
      <dd class="govuk-summary-list__actions">
        <span class="error"> *</span>
      </dd>
      {% else%}
      <dd class="govuk-summary-list__actions"></dd>
      {% endif %}
    </div>
  </dl>

    {{ govukButton({
      text: "Continue",
      classes: "button-primary erc-alt"
    }) }}

    </form>
    </div>
  </div>

{% endblock %}




 
  
