{% extends "layout_erc-old.html" %}

{% block pageTitle %}
Signed In
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l do-it-online">
      Do it online
    </h1>

    <h2 class="govuk-heading-l erc-alt-double-lines">Council Tax Online</h2> 
    <p class="erc-alt-dark-blue-bg">Succesful</p> 
    <p class="ercSuccess govuk-!-font-size-14">You have successfully signed in to Council Tax Online</p>
    <p>Please use the Continue button to take you to your council tax information and to maintain your online profile.</p>


    {{ govukButton({
      text: "Continue",
      classes: "button-primary erc-alt",
      href: "/forms/erc-forms/council-tax-online/sign-up-council-tax/SCThomepage"
    }) }}

    </div>
  </div>
{% endblock %}