{% extends "layout_sss.html" %}

{% block pageTitle %}
Best Start Grant
{% endblock %}


{% block content %}
<div class="govuk-body govuk-!-margin-top-9 govuk-body govuk-!-margin-bottom-9">
  <h1 class="govuk-heading-xl">
    About the child or children you're applying for
  </h1>
  <p>The next section will ask you questions about the child or children you’re applying for.</p>
  <br>

  <form class="form" method="post">
    {{ govukButton({
      text: " < Back",
      classes: "sg-button-back",
      href: "javascript: history.go(-1)"
    }) }}

    {{ govukButton({
      text: "Next",
      classes: "button-primary",
      isStartButton: true
    }) }}
  </form>
</div>

{% endblock %}
