{% extends "layout_sss.html" %}

{% block pageTitle %}
Best Start Grant
{% endblock %}


{% block content %}
<div class="govuk-body govuk-!-margin-top-9 govuk-body govuk-!-margin-bottom-9">
  <h1 class="govuk-heading-xl">
    If we need to contact you
  </h1>
  <p>The next section will ask you how you would like to be contacted if we have any questions about your application.</p>
  <br>

  {{ govukButton({
    text: "Back",
    classes: "sg-button-back",
    href: "javascript: history.go(-1)"
  }) }}

  {{ govukButton({
    text: "Next",
    classes: "button-primary",
    href: "/forms/sss-forms/best-start/BS-contact-details",
    isStartButton: true
  }) }}

</div>

{% endblock %}
