{% extends "layout_tool.html" %}

{% block pageTitle %}
Best Start Grant
{% endblock %}


{% block content %}
<h1 class="govuk-heading-xl heading-title">
  Best Start Grant
</h1>
<div class="govuk-body govuk-!-margin-top-9 govuk-body govuk-!-margin-bottom-9">
  <h2 class="govuk-heading-l">
    Thank you, this is as far as we can go.
  </h2>
  <p><a class="govuk-!-padding-left-5 govuk-!-padding-right-5 govuk-body govuk-!-margin-bottom-9 button-primary govuk-button" href="/forms/end-feedback">Next</a></p>

</div>

{% endblock %}
