{% extends "layout_sg.html" %}

{% block pageTitle %}
Best Start Grant and Best Start Foods form - mygov.scot
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <div class="govuk-body">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
                Best Start Grant and Best Start Foods form
            </h1>
            <p style="font-size: 14px">Last updated: <strong>4 December 2019</strong></p>
        <p>Apply for Best Start Grant and Best Start Foods.</p>
        <p><image src="{{ asset_path }}/images/SG/BS-form-thumbnail.jpg" alt="form thumbnail"></image></p>
          <p><a href="{{ asset_path }}/images/SG/Best-Start-form.pdf">Best Start Grant and Best Start Foods form</a><br>
          <strong>29 page PDF </strong> | 425.3kB
        </p>
      
        <a href="{{ asset_path }}/images/SG/Best-Start-form.pdf" download="Best-Start-Grant-and-Best-Start-Foods.pdf"role="button" draggable="false" class="govuk-button button-primary" data-module="govuk-button">
          Download
        </a>
        </div>
    </div>
    <div class="govuk-grid-column-one-quarter">
    </div>
</div>


{% endblock %}