{% extends "layout_sss.html" %}

{% block pageTitle %}
  Best Start Grand
{% endblock %}


{% block content %}
<div class="govuk-body govuk-!-margin-top-9 govuk-body govuk-!-margin-bottom-9">
    <h1 class="govuk-heading-l">
        Help us work out if you can get Best Start Grant and Best Start Foods
    </h1>
    <p>The next section will ask you questions to find out if you'll be able to get Best Start Grant and Best Start Foods.</p>

  {{ govukButton({
    text: "Next",
    classes: "button-primary",
    href: "/forms/sss-forms/not-ready.html",
    isStartButton: true
  }) }}

</div>

{% endblock %}
