{% extends "layout_sg.html" %}

{% block pageTitle %}
Best Start Grant and Best Start Foods - mygov.scot
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <div class="govuk-body">
            <h1 class="govuk-heading-xl">
                Best Start Grant and Best Start Foods
            </h1>
        <p>You can get Best Start Grant and Best Start Foods:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>if your child is the right age for a payment</li>
            <li>whether you're in work or not, as long as you're on certain payments or benefits</li>
            <li>as long as you're the parent of a child, or the main person looking after the child</li>
        </ul>

        <h2 class="govuk-heading-m">If you can get more than one payment at the same time</h2>

        <p>You only need to fill in the Best Start Grant and Best Start Foods form once to apply for all the payments you can get now.</p>
        <p>If you can get one payment now and another in the future, you'll need to fill in a new form each time you apply.</p>

        <hr>
        <p><image src="{{ asset_path }}/images/SG/note.png" alt="information"></image>
          <span style="font-size:17px; padding-left:10px;">You can still get the Pregnancy and Baby Payment part of Best Start Grant for a baby that's stillborn or died after they were born. If you're paid when you're pregnant, and your baby is stillborn or dies later, you will not need to pay any money back. If you apply after a stillbirth or death, you can apply up to 6 months after the baby's birth date.</span></p>
        <hr class="govuk-!-margin-bottom-9">

        <h2 class="govuk-heading-m">Best Start Grant and Best Start Foods payments</h2>
        <p>Best Start Grant is 3 cash payments. Each payment can only be paid once per child.</p>
        <p>The 3 Best Start Grant payments are:</p>

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading sg">
                <span class="govuk-accordion__section-button sg" id="accordion-default-heading-1">
                    1. Pregnancy and Baby Payment
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p style="line-height:1.5;">You can apply for the Pregnancy and Baby Payment from 24 weeks pregnant up to the day your baby is 6 months old. This goes up to 1 if you've taken over looking after a child, such as if you've adopted.</p>
              <hr>
              <p><image src="{{ asset_path }}/images/SG/note.png" alt="information"></image>
                <span style="font-size:17px; padding-left:10px;">Your baby normally needs to be under 6 months old for you to be able to get the Pregnancy and Baby Payment. If you could not apply before your baby turned 6 months old due to the disruption caused by coronavirus (COVID-19), you should still apply - Social Security Scotland will still consider your form. This is the same if you took over the care of a child. You would normally have until the child turns 1 to apply for the Pregnancy and Baby Payment, but if you could not apply before your child turned 1 because of coronavirus, Social Security Scotland will still consider your form.</span></p>
              <hr>
              <p>You can apply whether a child is your 1st or not, as long as you apply when your baby is the right age. If you can get the Pregnancy and Baby Payment for your 1st child, you'll be paid £600.</p>
              <p>You'll be paid £300 for any child that comes after your 1st, such as your 2nd or 3rd child, or any child after these.</p>
              <p style="line-height: 1.5; font-weight:bold;">If you apply for twins and have no other children under 16</p>
                <table class="govuk-table">
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Your payment for 1st twin</th>
                      <th scope="row" class="govuk-table__header">Your payment for 2nd twin	</th>
                      <th scope="row" class="govuk-table__header">Extra payment for twins</th>
                      <th scope="row" class="govuk-table__header">Total</th>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">£600</td>
                      <td class="govuk-table__cell">£300</td>
                      <td class="govuk-table__cell">£300</td>
                      <td class="govuk-table__cell">£1200</td>
                    </tr>
                  </tbody>
                </table>
              <p style="line-height: 1.5; font-weight:bold;">If you apply for twins and have other children under 16</p>
              <table class="govuk-table">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Your payment for 1st twin</th>
                    <th scope="row" class="govuk-table__header">Your payment for 2nd twin	</th>
                    <th scope="row" class="govuk-table__header">Extra payment for twins</th>
                    <th scope="row" class="govuk-table__header">Total</th>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">£300</td>
                    <td class="govuk-table__cell">£300</td>
                    <td class="govuk-table__cell">£300</td>
                    <td class="govuk-table__cell">£900</td>
                  </tr>
                </tbody>
              </table>
              <P>If you have triplets, you'll be paid an extra £300 on top of what you get for twins. £1500 if you do not have any other children under 16, £1200 if you do.</P>
              <hr>
              <p><image src="{{ asset_path }}/images/SG/note.png" alt="information"></image>
                <span style="font-size:17px; padding-left:10px;">Your first child is your oldest child under 16. This includes a stepchild, if you have one. It also includes any child you've taken looking after, such as if you've adopted.</span></p>
              <hr style="margin: 0px 0px 40px 0px">
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading sg">
                <span class="govuk-accordion__section-button sg" id="accordion-default-heading-1">
                  2. Early Learning Payment
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p>You can apply when your child is aged between 2 years old and 3 years 6 months old.</p>
              <hr>
              <p><image src="{{ asset_path }}/images/SG/note.png" alt="information"></image>
                <span style="font-size:17px; padding-left:10px;">Your baby normally needs to be between 2 years old and 3 years 6 months old for you to be able to get the Early Learning Payment. If you could not apply before then, due to the disruption caused by coronavirus (COVID-19), you should still apply - Social Security Scotland will still consider your form.</span></p>
              <hr style="margin: 0px 0px 40px 0px">
              <p>If you get the Early Learning Payment, you'll get £250 for each child you can get the payment for. You can spend this money on any of the things you need for your child at this age. This includes toys to help them learn or trips to new places.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading sg">
                <span class="govuk-accordion__section-button sg" id="accordion-default-heading-1">
                  3. School Age Payment
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p>When you need to apply for the School Age Payment depends on when your child was born:</p>
              <table class="govuk-table">
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Your child's date of birth</th>
                    <th scope="row" class="govuk-table__header">When you need to apply</th>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Between 1 March 2014 and 28 February 2015</td>
                    <td class="govuk-table__cell">Between 3 June 2019 and 29 February 2020</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Between 1 March 2015 and 29 February 2016</td>
                    <td class="govuk-table__cell">Between 1 June 2020 and 28 February 2021</td>
                  </tr>
                </tbody>
              </table>
              <p>You cannot apply outwith these dates.</p>
              <p>If your child was born later than February 2016, you'll be able to apply after May 2021. You cannot apply for the School Age Payment for a child born before 1st March 2014.</p>
              <p>If you get the School Age Payment, you'll get £250 for each child you can get the payment for.</p>
              <hr>
              <p><image src="{{ asset_path }}/images/SG/note.png" alt="information"></image>
                <span style="font-size:17px; padding-left:10px;">The School Age Payment has not replaced the <a href="https://www.mygov.scot/clothing-grants/">School Clothing Grant</a>. The School Age Payment is a new payment and does not affect in any way payments of the <a href="https://www.mygov.scot/clothing-grants/">School Clothing Grant</a>. If you want to apply for both, you can.</span></p>
              <hr style="margin: 0px 0px 40px 0px">
            </div>
          </div>
        </div>

        <p><strong>The Best Start Foods card</strong></p>
        <p>Best Start Foods is a prepaid card that you can use to buy healthy foods for children under 3. You can use the card in shops and online.</p>

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading sg">
                <span class="govuk-accordion__section-button sg" id="accordion-default-heading-1">
                  Best Start Foods payments
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p>You can apply for Best Start Foods when you're pregnant, or any time up to your child turning 3 years old.</p>
              <p>The payments of Best Start Foods are:</p
              <ul>
                <li>£17 every 4 weeks during pregnancy</li>
                <li>£34 every 4 weeks from your child being born up until they're a 1 year old</li>
                <li>£17 every 4 weeks between the ages of 1 and 3</li>
              </ul>
              <p style="margin:20px 0px 0px 0px">You can find out more about <a href="https://www.mygov.scot/using-your-best-start-foods-card/">how you can use your Best Start Foods card in shops.</a></p>
              <p style="margin:20px 0px 0px 0px">Social Security Scotland look after Best Start Foods payments, but a business called allpay will look after your Best Start Foods card. This includes things like lost Best Start Foods cards and new cards.</p>
            </div>
          </div>
        </div>


        <h2 class="govuk-heading-m">What affects whether you can apply</h2>
        <p>If you're under 18, you do not need to be on any payments or benefits to apply for Best Start Grant or Best Start Foods.</p>
        <p>If you're a parent over 18, you can apply whether you're in work or not, as long as you're getting one of these:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>Universal Credit</li>
            <li>Child Tax Credit</li>
            <li>Working Tax Credit</li>
            <li>Housing Benefit</li>
            <li>Income Support</li>
            <li>Pension Credit</li>
            <li>Income-based Jobseekers Allowance (JSA)</li>
            <li>Income-related Employment and Support Allowance (ESA)</li>
        </ul>
        <p>You cannot get Best Start Grant or Best Start Foods if you only get Child Benefit. You must still be getting one of the benefits or payments from this list to be able to get Best Start Grant or Best Start Foods.</p>
        <p>If you're not getting any of these benefits or payments, but have applied for one, you can still apply for Best Start Grant and Best Start Foods.</p>
        <p>For Best Start Grant, we do not need to know about your income. For Best Start Foods, some of the benefits have an income limit.</p>

        <hr>
        <p><image src="{{ asset_path }}/images/SG/note.png" alt="information"></image>
          <span style="font-size:17px; padding-left:10px;">If you do not get any other benefits, you normally need to be under 18 to be able to get Best Start Grant. If you could not apply before you turned 18 because of disruption caused by coronavirus (COVID-19), you should still apply - Social Security Scotland will still consider your form. If you've already been paid the Sure Start Maternity Grant for a baby, you cannot be paid the Pregnancy and Baby Payment for the same baby.</span></p>
        <hr class="govuk-!-margin-bottom-9">

        <p>You can only apply if you live in Scotland. If you live somewhere else in the UK, you can apply for the <a href="https://www.gov.uk/sure-start-maternity-grant">Sure Start Maternity Grant</a>.</p>
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading sg">
                <span class="govuk-accordion__section-button sg" id="accordion-default-heading-1">
                    Best Start Foods and income limits
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p>The benefits you need to be on to get Best Start Food are the same as Best Start Grant, but some of the benefits have an income limit.</p>
              <p>The benefits that have an income limit are:</p>
              <ul class="govuk-list govuk-list--bullet">
                  <li>Universal Credit – if you or your partner have a job, your joint income from working must be less than £610 a month, after tax and National Insurance – Universal Credit payments are not counted as part of this</li>
                  <li>Child Tax Credit, if you're not getting Working Tax Credit – you and your partner's joint income from working must be less than £16,190 per year</li>
                  <li>Child Tax Credit and Working Tax Credit - your income from working must be less than £7,320 per year</li>
                  <li>Housing Benefit – you and your partner's joint income from working must be less than £311 a week</li>
              </ul>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading sg">
                <span class="govuk-accordion__section-button sg" id="accordion-default-heading-1">
                  If you're 18 or 19 and do not got benefits
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p>If you're 18 or 19 and do not get any benefits or payments, you can still apply for Best Start Grant or Best Start Foods if your parent or carer gets one of these for you:</p>
              <ul class="govuk-list govuk-list--bullet">
                  <li>Child Tax Credit</li>
                  <li>Child Benefit</li>
                  <li>Universal Credit child payments</li>
                  <li>the child addition part of Pension Credit</li>
              </ul>
              <p>To apply, you'll need to call our free helpline on 0800 182 2222 (9am to 3pm, Monday to Friday). You can also <a href="BS-grant-form">download and fill in our paper form</a>. You cannot apply online.</p>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading sg">
                <span class="govuk-accordion__section-button sg" id="accordion-default-heading-1">
                  If you're a parent under 18
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <span style="font-weight:bold;">Best Start Grant</span>
              <p>If you're under 18, you do not need to be on any payments or benefits to get Best Start Grant.</p>
              <span style="font-weight:bold;">Early Learning Payment or School Age Payment</span>
              <p>If you're applying for the Early Learning Payment or the School Age Payment, you must apply yourself.</p>
              <span style="font-weight:bold;">Pregnancy and Baby Payment</span>
              <p>You can apply for the Pregnancy and Baby Payment yourself.</p>
              <p>Someone else can apply for you as long as they are getting any of these for you:</p>
              <ul class="govuk-list govuk-list--bullet">
                  <li>Child Tax Credit</li>
                  <li>Child Benefit</li>
                  <li>Universal Credit child payments</li>
                  <li>the child addition part of Pension Credit</li>
              </ul>
              <br>
              <span style="font-weight:bold;">Best Start Foods</span>
              <p>For Best Start Foods, you do not need to be on any payments or benefits if you're 18 and your child is under one. If your child is over one, the rules are the same as they are for a parent who's over 18.</p>
              <p>If you're between 16 and 18 years old, you have the same choice when applying for Best Start Foods as you do for Pregnancy and Baby Payment (as explained above).</p>
              <p>If you're under 16, pregnant and want to apply for Best Start Foods, you'll need to get your parent or carer to apply instead.</p>
              <p>If your parent or carer applies for Best Start Foods, they'll need to either call our free helpline on 0800 182 2222 (9am to 3pm, Monday to Friday). They can also <a href="BS-grant-form">download and fill in our paper form</a>. They cannot apply online.</p>
          </div>
        </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading sg">
                <span class="govuk-accordion__section-button sg" id="accordion-default-heading-1">
                  If you're not sure whether you're the main person looking after a child
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p>You can apply if you're the main person looking after a child. This includes if you're:</p>
              <ul class="govuk-list govuk-list--bullet">
                  <li>the child's birth mother</li>
                  <li>living with the birth mother and the two of you are a couple, married or civil partners</li>
                  <li>Ua single father</li>
              </ul
              <p>You can also apply if you've taken over looking after a child, such as if you've adopted or are a kinship carer.</p>
              <span style="font-weight:bold;">How to confirm you're the main person looking after a child</span>
              <p>To show you're the main person looking after a child, you must be getting one of these for the child:</p>
              <ul class="govuk-list govuk-list--bullet">
                  <li>Child Tax Credit</li>
                  <li>Child Benefit</li>
                  <li>Universal Credit child payments</li>
                  <li>the child addition part of Pension Credit</li>
              </ul>
              <p>If you do not get any of these, you need to have a legal order that shows you look after the child. The type of legal order you need to have includes things like:</p>
              <ul class="govuk-list govuk-list--bullet">
                  <li>a Parental Order</li>
                  <li>a Kinship Care Order</li>
                  <li>an Adoption Order</li>
                  <li>a Compulsory Supervision order</li>
                  <li>a Residence Order</li>
                  <li>a Permanence Order</li>
              </ul>
          </div>
        </div>
      </div>

        <h2 class="govuk-heading-m">You and your data</h2>
        <p>If you want to know more about how Social Security Scotland use your data, you can read the <a href="#">privacy notice</a> about Best Start Grant and Best Start Foods.</p>

        <h2 class="govuk-heading-m">Apply online now</h2>
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading sg">
                <span class="govuk-accordion__section-button sg" id="accordion-default-heading-1">
                    What you need to apply
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p>You'll need:</p>
              <ul class="govuk-list govuk-list--bullet">
                  <li>your name, date of birth and address</li>
                  <li>if you have a partner, their name and date of birth</li>
                  <li>your bank, credit union or building society account details - you can be paid the Pregnancy and Baby Payment in the same way you're paid for your other benefits if you do not have one of these accounts - if you want to request this call 0800 182 2222 (freephone, 8am to 6pm, Monday to Friday)</li>
                  <li>details of any children you have or care for</li>
              </ul>
              <p>If we need you to send us a certificate or anything else, we'll tell you this when you're filling in your online form. </p>
              <p>You should also give your National Insurance number when you apply. If you do not give your National Insurance number to Social Security Scotland it could cause a delay.</p>
              <p><a href="https://www.gov.uk/lost-national-insurance-number">Find out what you can do if you do not know your National Insurance number.</a></p>
              <hr>
              <p><image src="{{ asset_path }}/images/SG/note.png" alt="information"></image>
                <span style="font-size:17px; padding-left:10px;">The 10 sections of the form should take about 10-20 minutes to complete.</span></p>
              <hr>
            </div>
          </div>
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading sg">
                <span class="govuk-accordion__section-button sg" id="accordion-default-heading-1">
                  If you need help or you want to apply by phone
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
              <p>If you need help, or you'd prefer to apply by phone, you can call 0800 182 2222.</p>
              <p><strong>If you want to apply by post</strong></p>
              <p>You can also apply by <a href="BS-grant-form">downloading a paper form</a> and posting it to Social Security Scotland.</p>
            </div>
          </div>
        </div>
        <hr>
        <p><image src="{{ asset_path }}/images/SG/note.png" alt="information"></image>
          <span style="font-size:17px; padding-left:10px;">If you're submitting a form that's late due to coronavirus (COVID-19), let us know by telling us in the 'Additional Information' box at the end of the form. You do not need to explain in detail, just tell us it's late due to coronavirus. Also, if you get any warning that your application is late when applying, ignore the warning and select 'continue with my application'.</span></p>
        <hr style="margin: 0px 0px 60px 0px">


        {{ govukButton({
          text: "Start",
          classes: "button-primary",
          href: "BS-help-us.html",
          isStartButton: true
        }) }}

      </div>
    </div>

    <div class="govuk-grid-column-one-quarter" style="padding-left: 30px">
      <p><image src="{{ asset_path }}/images/SG/social-security-scotland-logo-bis.png" alt="Social Security Scotland Logo" width="278"  style="max-width: 100%"></image></p>
      <h3 class="govuk-heading-m">RELATED ITEMS</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="#" style="font-size:17px; text-decoration:none;">After you've applied for Best Start Grant and Foods</a></li>
        <li><a href="#" style="font-size:17px; text-decoration:none;">Contact Social Security Scotland</a></li>
        <li><a href="#" style="font-size:17px; text-decoration:none;">Get help to apply for Best Start Grant and Foods</a></li>
      </ul>
  </div>

</div>


{% endblock %}
