{% extends "layout_sss.html" %}

{% block pageTitle %}
Best Start Grant
{% endblock %}


{% block content %}
<div class="govuk-body govuk-!-margin-top-9 govuk-body govuk-!-margin-bottom-9">
  <h1 class="govuk-heading-xl">
    Benefits and payments
  </h1>
  <p style="margin:0px">Tell us if you or your partner are getting, or have applied for and are waiting on the outcome of, any of these benefits. Someone is your partner if you live together and are a couple, married or civil partners.</p>

  <form class="form" method="post">
    {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

    {{ govukCheckboxes({
      idPrefix: "BSG-benefits-payments",
      name: "BSG-benefits-payments",
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          text: "Select all that apply:",
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
      {
        value: "Child Tax Credit",
        text: "Child Tax Credit",
        checked: checked("BSG-benefits-payments", "Child Tax Credit")
      },
      {
        value: "Universal Credit",
        text: "Universal Credit (UC)",
        checked: checked("BSG-benefits-payments", "Universal Credit")
      },
      {
        value: "Income Support",
        text: "Income Support",
        checked: checked("BSG-benefits-payments", "Income Support")
      },
      {
        value: "Pension Credit",
        text: "Pension Credit",
        checked: checked("BSG-benefits-payments", "Pension Credit")
      },
      {
        value: "Working Tax Credit",
        text: "Working Tax Credit",
        checked: checked("BSG-benefits-payments", "Working Tax Credit")
      },
      {
        value: "Housing Benefit",
        text: "Housing Benefit",
        checked: checked("BSG-benefits-payments", "Housing Benefit")
      },
      {
        value: "Job Seeker's Allowance",
        text: "income-based Job Seeker's Allowance (JSA)",
        checked: checked("BSG-benefits-payments", "Job Seeker's Allowance")
      },
      {
        value: "Employment and Support Allowance",
        text: "income-related Employment and Support Allowance (ESA)",
        checked: checked("BSG-benefits-payments", "Employment and Support Allowance")
      },
      {
        value: "I do not know",
        text: "I do not know",
        checked: checked("BSG-benefits-payments", "I do not know")
      },
      {
        value: "None",
        text: "None of these",
        checked: checked("BSG-benefits-payments", "None")
      }
      ]
    }) }}

    {{ govukCheckboxes({
      idPrefix: "BSG-declaration",
      name: "BSG-declaration",
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          text: "Please tick this box:",
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
      {
        value: "I declare that my current benefit claim is correct, complete and up to date as far as I know and believe.",
        text: "I declare that my current benefit claim is correct, complete and up to date as far as I know and believe.",
        checked: checked("BSG-declaration", "I declare that my current benefit claim is correct, complete and up to date as far as I know and believe.")
      }
      ]
    }) }}

    {{ govukButton({
      text: " < Back",
      classes: "sg-button-back",
      href: "javascript: history.go(-1)"
    }) }}

    {{ govukButton({
      text: "Next",
      classes: "button-primary",
      isStartButton: true
    }) }}

  </form>

</div>

{% endblock %}
