{% extends "layout_erc-old.html" %}

{% block pageTitle %}
Pay your council house rent
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">     
      Rents Payment
    </h1>
    <p class="govuk-!-font-size-14">Please note - information on this page will time-out after 15 minutes of inactivity<br>
      <strong>*</strong> = Mandatory Field</p>
    
      {% if
      (data ['pr-reference'] === '') or
      (data ['pr-amount'] === '') or
      (data ['pr-name'] === '') or  
      (data ['pr-houseno'] === '') or  
      (data ['pr-street'] === '') or
      (data ['pr-town'] === '') or
      (data ['pr-postcode'] === '')
       %}
    <h2 class="govuk-heading-m" style="color: #0051B8;">
      Please check the following
    </h2>
    <div class="payment-error">
    <ol class="govuk-list govuk-list--number ">
      {% if (data ['pr-reference'] === '') %} <li>Please enter a reference</li>                                       {% endif %}
      {% if (data ['pr-amount'] === '') %}    <li>Please enter a valid amount, e.g. £50 must be entered as 50.00</li> {% endif %}
      {% if (data ['pr-houseno'] === '') %}   <li>A building name/number must be entered</li>                         {% endif %}
      {% if (data ['pr-name'] === '') %}      <li>A Name must be entered</li>                                         {% endif %}
      {% if (data ['pr-street'] === '') %}    <li>A street must be entered</li>                                       {% endif %}
      {% if (data ['pr-town'] === '') %}      <li>A town must be entered</li>                                         {% endif %}
      {% if (data ['pr-postcode'] === '') %}  <li>A postcode must be entered</li>                                     {% endif %}
    </ol>
    </div>
    {% endif %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third payment">
        <p class="erc-payment-blue-bg">Payment type</p>
        <p>Council Tax</a></p>
        <p class="selected"><a href="#">Rents</a></p>
        <p><a href="#">ER Culture and Leisure Invoice</a></p>
        <p><a href="#">Invoice Payments</a></p>
        <p><a href="#">Building Standards Services</a></p>
        <p><a href="#">Planning services</a></p>
        <p><a href="#">Housing Benefit Overpayment</a></p>
      </div>

      <form class="form" method="post">

      <div class="govuk-grid-column-two-thirds payment">
        <p class="erc-payment-blue-bg">Payment entry</p>
        <p>Please enter the reference of the account you wish to pay</p>
        <div class="govuk-form-group">
          <label class="govuk-label" for="pr-reference">
            Reference *
          </label>
          {% if (data ['pr-reference'] === '')%}
          <span style="color: red; padding-right:5px;">!</span><input style="background-color:#ccffff; border: 2px solid #004269;" class="govuk-input govuk-input--width-10" id="pr-reference" name="pr-reference" type="text">
          {% else %}
          <input class="govuk-input govuk-input--width-10" id="pr-reference" name="pr-reference" type="text" value="{{data['pr-reference']}}">
          {% endif %}
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="pr-amount">
            Amount (£)*
          </label>
          {% if (data ['pr-amount'] === '')%}
          <span style="color: red; padding-right:5px;">!</span><input style="background-color:#ccffff; border: 2px solid #004269;" class="govuk-input govuk-input--width-5" id="pr-amount" name="pr-amount" type="text">
          {% else %}
          <input class="govuk-input govuk-input--width-5" id="pr-amount" name="pr-amount" type="text" value="{{data['pr-amount']}}">
          {% endif %}
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="pr-name">
            Name *
          </label>
          {% if (data ['pr-name'] === '')%}
          <span style="color: red; padding-right:5px;">!</span><input style="background-color:#ccffff; border: 2px solid #004269;" class="govuk-input govuk-input--width-20" id="pr-name" name="pr-name" type="text">
          {% else %}
          <input class="govuk-input govuk-input--width-20" id="pr-name" name="pr-name" type="text" value="{{data['pr-name']}}">
          {% endif %}
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="pr-houseno">
            House No OR House Name *
          </label>
          {% if (data ['pr-houseno'] === '')%}
          <span style="color: red; padding-right:5px;">!</span><input style="background-color:#ccffff; border: 2px solid #004269;" class="govuk-input govuk-input--width-5" id="pr-houseno" name="pr-houseno" type="text">
          {% else %}
          <input class="govuk-input govuk-input--width-5" id="pr-houseno" name="pr-houseno" type="text" value="{{data['pr-houseno']}}">
          {% endif %}
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="pr-street">
            Street *
          </label>
          {% if (data ['pr-street'] === '')%}
          <span style="color: red; padding-right:5px;">!</span><input style="background-color:#ccffff; border: 2px solid #004269;" class="govuk-input govuk-input--width-20" id="pr-street" name="pr-street" type="text">
          {% else %}
          <input class="govuk-input govuk-input--width-20" id="pr-street" name="pr-street" type="text" value="{{data['pr-street']}}">
          {% endif %}
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="pr-area">
            Area
          </label>
          <input class="govuk-input govuk-input--width-20" id="pr-area" name="pr-area" type="text">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="pr-town">
            Town *
          </label>
          {% if (data ['pr-town'] === '')%}
          <span style="color: red; padding-right:5px;">!</span><input style="background-color:#ccffff; border: 2px solid #004269;" class="govuk-input govuk-input--width-20" id="pr-town" name="pr-town" type="text">
          {% else %}
          <input class="govuk-input govuk-input--width-20" id="pr-town" name="pr-town" type="text" value="{{data['pr-town']}}">
          {% endif %}
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="pr-county">
            County
          </label>
          <input class="govuk-input govuk-input--width-20" id="pr-county" name="pr-county" type="text">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="pr-postcode">
            Postcode *
          </label>
          {% if (data ['pr-postcode'] === '')%}
          <span style="color: red; padding-right:5px;">!</span><input style="background-color:#ccffff; border: 2px solid #004269;" class="govuk-input govuk-input--width-5" id="pr-postcode" name="pr-postcode" type="text">
          {% else %}
          <input class="govuk-input govuk-input--width-5" id="pr-postcode" name="pr-postcode" type="text" value="{{data['pr-postcode']}}">
          {% endif %}
        </div>
        <br>
        {{ govukButton({
          text: "Add to list",
          classes: "button-primary erc-payment"
        }) }}
    
        <a class="govuk-button button-primary erc-payment" data-module="govuk-button" href="/forms/erc-forms/pay-rent/PRpaymentEntry?usedcancel=true" >
          Cancel
        </a>

        {{ govukButton({
          text: "Back to top",
          classes: "button-primary erc-payment",
          href: "#"
        }) }}

        <h2 class="govuk-heading-m" style="color: #0051B8;">
          Payment Review
        </h2>
        <div class="payment">
          <p class="govuk-!-margin-bottom-4">To modify a payment click the Modify link. To remove a payment click the Delete link<br>
          To make a payment, click Pay. You will be redirected to a holding page while your request is processed. You will then be directed to the next step in the payment process</p>

          <table class="govuk-table" style="overflow: auto;">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Account Type</th>
                <th scope="col" class="govuk-table__header">Amount (£)</th>
                <th scope="col" class="govuk-table__header">Description</th>
                <th scope="col" class="govuk-table__header">Reference</th>
                <th scope="col" class="govuk-table__header">VAT</th>
                <th scope="col" class="govuk-table__header"></th>
                <th scope="col" class="govuk-table__header"></th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
  
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell"></td>
              </tr>
            </tbody>
          </table>
        </div>


        {{ govukButton({
          text: "Pay",
          classes: "button-primary erc-payment"
        }) }}

        {{ govukButton({
          text: "Back to top",
          classes: "button-primary erc-payment",
          href: "#"
        }) }}

      </div>

      </form>
    </div>
    <div class="student-notes-box"> 
      <p>The reference number would be on the invoice your would have received. You can enter anything here.</p>
      <p>At the moment, the Cancel button only works if you select it twice</p>
      <p>Try to make sure you enter a real number for the amount to pay</p>
    </div>
    </div> 
  </div>

{% endblock %}



 
  
