{% extends "layout_erc.html" %}

{% block pageTitle %}
Council Tax Payment
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Council Tax Payment
    </h1>
    <p>Please note - information on this page will time-out after 15 minutes of inactivity<br>
      * = Mandatory Field</p>

      <h2 class="govuk-heading-l">
        To be continued
      </h2>
   
    </div>
    
  </div>

{% endblock %}




 
  
