{% extends "layout_erc-old.html" %}

{% block pageTitle %}
Payment
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      Make a payment
    </h1>
    <p class="govuk-!-font-size-14">Please note - information on this page will time-out after 15 minutes of inactivity<br>
      <strong>*</strong> = Mandatory Field</p>

      {% set regExpMoneyAmount = r/[0-9]+(\.[0-9][0-9])?$/g %}
      {% set ValidAmount = regExpMoneyAmount.test(data ['ct-amount']) %}
      <p>Payment Amount: £{% if  ValidAmount %} {{data ['ct-amount'] }} {% else %}50.00 {% endif %}</p>

      {% if
        (data ['ct-cardnumber'] === '') or
        (data ['ct-security-code'] === '') or
        (data ['ct-name-on-card'] === '') or  
        (data ['ct-houseno-on-card'] === '') or  
        (data ['ct-street-on-card'] === '') or
        (data ['ct-town-on-card'] === '') or
        (data ['ct-postcode-on-card'] === '')
         %}
      <h2 class="govuk-heading-m" style="color: #0051B8;">
        Please check the following
      </h2>
      <div class="payment-error">
      <ol class="govuk-list govuk-list--number ">
        {% if (data ['ct-cardnumber'] === '') %} <li>Please enter your card number</li>                                       {% endif %}
        {% if (data ['ct-security-code'] === '') %}    <li>Please enter your security code</li> {% endif %}
        {% if (data ['ct-houseno-on-card'] === '') %}   <li>A building name/number must be entered</li>                         {% endif %}
        {% if (data ['ct-name-on-card'] === '') %}      <li>A Name must be entered</li>                                         {% endif %}
        {% if (data ['ct-street-on-card'] === '') %}    <li>A street must be entered</li>                                       {% endif %}
        {% if (data ['ct-town-on-card'] === '') %}      <li>A town must be entered</li>                                         {% endif %}
        {% if (data ['ct-postcode-on-card'] === '') %}  <li>A postcode must be entered</li>                                     {% endif %}
      </ol>
      </div>
      {% endif %}
    

    <div class="govuk-grid-row">
      <form class="form" method="post">
      <div class="govuk-grid-column-two-thirds payment">
        <p class="erc-payment-blue-bg">Card Details</p>
        <div class="govuk-form-group">
          <label class="govuk-label" for="ct-cardnumber">
            Enter card number without spaces *
          </label>
          {% if (data ['ct-cardnumber'] === '')%}
          <span style="color: red; padding-right:5px;">!</span><input style="background-color:#ccffff; border: 2px solid #004269;" class="govuk-input govuk-input--width-10" id="ct-cardnumber" name="ct-cardnumber" type="text">
          {% else %}
          <input class="govuk-input govuk-input--width-10" id="ct-cardnumber" name="ct-cardnumber" type="text" value="{{data['ct-cardnumber']}}">
          {% endif %}
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="ct-expiry">
            Expiry date (month, year) *
          </label>
          <select class="govuk-select" id="expiry-month" name="expiry-month" style="border: 1px solid #1a1a1a; height: 2rem; font-size: 14px;">
            <option value="-1" style="color: #999;" selected="selected"></option>
            <option value="January">January</option>
            <option value="February">February</option>
            <option value="March">March</option>
            <option value="April">April</option>
            <option value="May">May</option>
            <option value="June">June</option>
            <option value="July">July</option>
            <option value="August">August</option>
            <option value="September">September</option>
            <option value="October">October</option>
            <option value="November">November</option>
            <option value="December">December</option>
          </select>

          <select class="govuk-select" id="expiry-year" name="expiry-year" style="border: 1px solid #1a1a1a; height: 2rem; font-size: 14px;">
            <option value="-1" style="color: #999;" selected="selected"></option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
          </select>
        </div>


        <div class="govuk-form-group">
          <label class="govuk-label" for="ct-issue-number">
            Issue Number (Switch/Maestro Card only)
          </label>
          <input class="govuk-input govuk-input--width-5" id="ct-issue-number" name="ct-issue-number" type="text" value="{{data['ct-issue-number']}}">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="ct-security-code">
            Security code *
          </label>
          {% if (data ['ct-security-code'] === '')%}
          <span style="color: red; padding-right:5px;">!</span><input style="background-color:#ccffff; border: 2px solid #004269;" class="govuk-input govuk-input--width-5" id="ct-security-code" name="ct-security-code" type="text">
          {% else %}
          <input class="govuk-input govuk-input--width-5" id="ct-security-code" name="ct-security-code" type="text" value="{{data['ct-security-code']}}">
          {% endif %}
        </div>
        {{ govukButton({
          text: "Back to top",
          classes: "button-primary erc-payment",
          href: "#"
        }) }}

        <p class="erc-payment-blue-bg">Card Account Details</p>
        <div class="govuk-form-group">
          <p>Enter cardholder name and address details:</p>
          <label class="govuk-label" for="ct-name-on-card">
            Name appearing on card *
          </label>
          {% if (data ['ct-name-on-card'] === '')%}
          <span style="color: red; padding-right:5px;">!</span><input style="background-color:#ccffff; border: 2px solid #004269;" class="govuk-input govuk-input--width-20" id="ct-name-on-card" name="ct-name-on-card" type="text">
          {% else %}
          <input class="govuk-input govuk-input--width-20" id="ct-name-on-card" name="ct-name-on-card" type="text" value="{{data['ct-name-on-card']}}">
          {% endif %}
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="ct-houseno-on-card">
            House number / name *
          </label>
          {% if (data ['ct-houseno-on-card'] === '')%}
          <span style="color: red; padding-right:5px;">!</span><input style="background-color:#ccffff; border: 2px solid #004269;" class="govuk-input govuk-input--width-20" id="ct-houseno-on-card" name="ct-houseno-on-card" type="text">
          {% else %}
          <input class="govuk-input govuk-input--width-20" id="ct-houseno-on-card" name="ct-houseno-on-card" type="text" value="{{data['ct-houseno-on-card']}}">
          {% endif %}
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="ct-street-on-card">
            Street *
          </label>
          {% if (data ['ct-street-on-card'] === '')%}
          <span style="color: red; padding-right:5px;">!</span><input style="background-color:#ccffff; border: 2px solid #004269;" class="govuk-input govuk-input--width-20" id="ct-street-on-card" name="ct-street-on-card" type="text">
          {% else %}
          <input class="govuk-input govuk-input--width-20" id="ct-street-on-card" name="ct-street-on-card" type="text" value="{{data['ct-street-on-card']}}">
          {% endif %}
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="ct-area-on-card">
            Area
          </label>
          <input class="govuk-input govuk-input--width-20" id="ct-area-on-card" name="ct-area-on-card" type="text">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="ct-town-on-card">
            Town *
          </label>
          {% if (data ['ct-town-on-card'] === '')%}
          <span style="color: red; padding-right:5px;">!</span><input style="background-color:#ccffff; border: 2px solid #004269;" class="govuk-input govuk-input--width-20" id="ct-town-on-card" name="ct-town-on-card" type="text">
          {% else %}
          <input class="govuk-input govuk-input--width-20" id="ct-town-on-card" name="ct-town-on-card" type="text" value="{{data['ct-town-on-card']}}">
          {% endif %}
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="ct-county-on-card">
            County
          </label>
          <input class="govuk-input govuk-input--width-20" id="ct-county-on-card" name="ct-county-on-card" type="text">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="ct-postcode-on-card">
            Postcode *
          </label>
          {% if (data ['ct-postcode-on-card'] === '')%}
          <span style="color: red; padding-right:5px;">!</span><input style="background-color:#ccffff; border: 2px solid #004269;" class="govuk-input govuk-input--width-20" id="ct-postcode-on-card" name="ct-postcode-on-card" type="text">
          {% else %}
          <input class="govuk-input govuk-input--width-20" id="ct-postcode-on-card" name="ct-postcode-on-card" type="text" value="{{data['ct-postcode-on-card']}}">
          {% endif %}
        </div>
        <br>

        {{ govukButton({
          text: "Back",
          classes: "button-primary erc-payment",
          href: "javascript: window.history.go(-1)"
        }) }}

        {{ govukButton({
          text: "Submit",
          classes: "button-primary erc-payment"
        }) }}

        {{ govukButton({
          text: "Cancel Payment",
          classes: "button-primary erc-payment",
          href: "javascript: window.history.go(-1)"
        }) }}

        {{ govukButton({
          text: "Back to top",
          classes: "button-primary erc-payment",
          href: "#"
        }) }}


      </div>

      </form>
    </div>

    <div class="student-notes-box"> 
      <p>On the real form, on this page, you also have the option to select your address from a list, but we didn't do it here.</p>
    </div>

    </div> 
  </div>

{% endblock %}



 
  
