{% extends "layout_erc.html" %}

{% block pageTitle %}
Pay council tax
{% endblock %}


{% block content %}
<h1 class="govuk-heading-xl heading-title">
  Pay your council tax
</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="heading-intro">
      Set up a Direct Debit or find out other ways you can pay your council tax.
    </p>

    <h2 class="govuk-heading-m">Direct debit</h2>
    <p>The easiest way to pay your council tax is by direct debit. You can pay in 10 monthly instalments and choose the date you'd like to pay.</p>
    <p>Phone 0141 577 3002 to set up a Direct Debit over the phone.</p>

    <p><img src="{{ asset_path }}images/ERC/pdficon.gif" style="border: none; vertical-align: middle;" alt="pdf icon"
      title="">&nbsp;<a href="https://www.eastrenfrewshire.gov.uk/media/208/Direct-debit-application-form/pdf/direct-debit-application-form.pdf?m=637244587213470000" title="This form should be completed if you want to pay your council tax by direct debit." target="_blank" rel="noopener">Download Direct Debit application form [243kb]</a></p>


  <h2 class="govuk-heading-m">Pay online by card</h2>
  <p>You'll need your council tax reference number. </p>


      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
        text: "Pay online",
        classes: "button-primary",
        isStartButton: true,
        href: "PCTpaymentEntry"
      }) }}

      <h2 class="govuk-heading-m">Automated telephone line</h2>
      <p>You'll need your council tax reference number.</p>
      <p>Phone 0141 577 3030 to pay by card.</p>

      <h2 class="govuk-heading-m">Post or in person</h2>
      <p>Make sure you write your property address and reference number on the back.</p>

      <p>Make cheques payable to one of the following addresses:</p>
      
      <p>East Renfrewshire Council<br>
      Eastwood Park<br>
      Rouken Glen Road<br>
      Giffnock
      G46 6UG</p>
      
      <p>East Renfrewshire Council<br>
      Main Street<br>
      Barrhead
      G78 1XA</p>
      
      <p>Your payment should reach us by the first day of every month.</p>
      
      <p>If you come into council offices, opening times are 9am until 4.15pm Monday to Friday.</p>
      
      <p>Between 1pm and 2pm, only debit or credit card payments can be taken.</p>
      
      <h2 class="govuk-heading-m">Contact us</h2>
      <p>Email: <a href="mailto:ctax@eastrenfrewshire.gov.uk">ctax@eastrenfrewshire.gov.uk</a></p>
      
      <p>Phone: 0141 577 3002</p>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-top-5 govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-one-third">
      <br>
    </div>
    <div class="govuk-grid-column-one-third">
      <p>Share this page 
        <image src="{{ asset_path }}/images/ERC/facebook.png" alt="facebook" width="24" height="24" style="vertical-align:middle; padding-left: 10px;" ></image>
        <image src="{{ asset_path }}/images/ERC/twitter.png" alt="twitter" width="24" height="24" style="vertical-align:middle; padding-left: 5px;" ></image>
        <image src="{{ asset_path }}/images/ERC/email.png" alt="email" width="24" height="24" style="vertical-align:middle; padding-left: 5px; padding-right: 40px;" ></image>
      </p>
    </div>
    <div class="govuk-grid-column-one-third">
      <p>Print 
        <image src="{{ asset_path }}/images/ERC/print.png" alt="print" width="24" height="24" style="vertical-align:middle; padding-left: 5px; padding-right: 10px;" ></image>
      </p>
    </div>
  </div>

{% endblock %}




 
  
