{% extends "layout_tool.html" %}

{% block pageTitle %}
  About this form
{% endblock %}


{% block content %}
<div class="govuk-body govuk-!-margin-top-9 govuk-body govuk-!-margin-bottom-9">
    <h1 class="govuk-heading-xl">
        About this form
    </h1>
    <a class=" button-secondary govuk-button" href="/index.html">Go to the forms menu</a>
<p>It looks like the real form but it's a bit different and simplified</p>
<h2 class="govuk-heading-m">
  Please note:
</h2>
<ul class="govuk-list govuk-list--bullet">
  <li><span style="color: #B30000; font-weight: bold;">The real form can't be accessed because of COVID19</span></li>
  <li>there are some questions you can access if you are classed as a critical worker, you can try this instead</li>
  <li>there is no error message: if you forget to add some required information for example, you will be able to go to the next step anyway</li>
</ul>

<h2 class="govuk-heading-s">
  At any time, selecting the logo at the top left will take you back to the start (forms menu)
</h2>
  {{ govukButton({
    text: "Start the form",
    classes: "button-primary button-info",
    href: "/forms/govuk-forms/learn-to-drive/book-driving-test/BDThome"
  }) }}

  </div>
  <div class="student-notes-box"> 
    <p>If you see a box like this on a page, it's not part of the form.</p>
    <p>It's instructions to help you.</p>
  </div>

{% endblock %}