{% extends "layout.html" %}

{% block pageTitle %}
What’s your name?
{% endblock %}


{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>

<div class="govuk-body govuk-!-margin-top-9 govuk-body govuk-!-margin-bottom-9">
    <h1 class="govuk-heading-xl">
      What’s your name?

    </h1>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "Your full name",
            classes: "govuk-label--m"
          },
          hint: {
            text: "Type your name as it appears on your driving licence."
          },
          classes: "govuk-!-width-one-half",
          id: "driving-name",
          name: "driving-name"
        }) }}

          {% from "govuk/components/button/macro.njk" import govukButton %}

          {{ govukButton({
            text: "Continue",
            classes: "button-primary",
            href: "/forms/govuk-forms/learn-to-drive/book-driving-test/BDTphone"
          }) }}

      </div>
    </div>

</div> 

{% endblock %}