{% extends "layout.html" %}

{% block pageTitle %}
Sorry, you’re not eligible to take an emergency test
{% endblock %}


{% block content %}
<a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>

<div class="govuk-body govuk-!-margin-top-9 govuk-body govuk-!-margin-bottom-9">
    <h1 class="govuk-heading-xl">
      Sorry, you’re not eligible to take an emergency test
    </h1>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
  
        <p>This service is for people whose work is critical to the coronavirus response.</p>

        <p>You can read about what happens if you need to take a driving test or if your test was cancelled because of coronavirus.</p>
        
        <p>If your job changes and your work becomes critical to the coronavirus response, go to  www.gov.uk/apply-emergency-driving-test and go through the questions again.</p>
        
        <p>We will not store the information you entered into this service.</p>
      </div>
    </div>

</div> 

{% endblock %}