{% extends "layout.html" %}

{% block pageTitle %}

Health - Universal Credit
{% endblock %}


{% block content %}
<div class="govuk-body govuk-!-margin-top-9 govuk-body govuk-!-margin-bottom-9">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third uc-to-do-list-blue" style="margin-right:10px;">
      <a href="/forms/govuk-forms/universal-credit-apply/UCAtoDoList">To-do list</a>
    </div>
    <div class="govuk-grid-column-one-third uc-to-do-list-grey">
      <a href="/forms/govuk-forms/universal-credit-apply/UCAjournal">Journal</a>
    </div>
  </div>
  <h1 class="govuk-heading-xl govuk-!-margin-top-6 govuk-!-margin-bottom-6">
    Support at work
  </h1>

  <form class="form" method="post">
    {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

    {{ govukCheckboxes({
      idPrefix: "support",
      name: "support",
      fieldset: {
        legend: {
          text: "Tell us if you need any special support to help you at work?",
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
      {
        value: "wheelchair",
        text: "I have a wheelchair"
      },
      {
        value: "hearing",
        text: "I have a hearing loop"
      },
      {
        value: "dog",
        text: "I have an assistance dog"
      }
      ]
    }) }}

    {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

    {{ govukTextarea({
      name: "other-support",
      id: "other-support",
      label: {
        text: "I need other support (optional)",
        classes: "govuk-label--m"
      }
    }) }}

    {% from "govuk/components/button/macro.njk" import govukButton %}
    {{ govukButton({
      text: "Continue"
    }) }}

  </form>
  <p><a href="javascript: history.go(-1)" style="margin:0;padding:0;">Back</a></p>
</div>

<div class="student-notes-box">
  <p></p>
</div>

{% endblock %}
