{% extends "layout.html" %}

{% block pageTitle %}

Health - Universal Credit
{% endblock %}


{% block content %}
<div class="govuk-body govuk-!-margin-top-9 govuk-body govuk-!-margin-bottom-9">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third uc-to-do-list-blue" style="margin-right:10px;">
      <a href="/forms/govuk-forms/universal-credit-apply/UCAtoDoList">To-do list</a>
    </div>
    <div class="govuk-grid-column-one-third uc-to-do-list-grey">
      <a href="/forms/govuk-forms/universal-credit-apply/UCAjournal">Journal</a>
    </div>
  </div>
  <h1 class="govuk-heading-xl govuk-!-margin-top-6 govuk-!-margin-bottom-6">
    Your health conditions
  </h1>
  <form class="form" method="post">

    {% from "govuk/components/radios/macro.njk" import govukRadios %}

    {{ govukRadios({
      classes: "govuk-radios--inline",
      idPrefix: "conditions-name",
      name: "conditions-name",
      fieldset: {
        legend: {
          text: "Do you have any illnesses, disabilities or ongoing conditions?",
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
      {
        value: "yes",
        text: "Yes"
      },
      {
        value: "no",
        text: "No"
      }
      ]
    }) }}


    {% from "govuk/components/button/macro.njk" import govukButton %}
    {{ govukButton({
      text: "Continue",
      href: "/forms/govuk-forms/universal-credit-apply/UCAhealthWhatConditions"
    }) }}

  </form>
  <p><a href="javascript: history.go(-1)" style="margin:0;padding:0;">Back</a></p>
</div>

<div class="student-notes-box">
  <p></p>
</div>

{% endblock %}
