{% extends "layout.html" %}

{% block pageTitle %}

Health - Universal Credit
{% endblock %}


{% block content %}
<div class="govuk-body govuk-!-margin-top-9 govuk-body govuk-!-margin-bottom-9">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third uc-to-do-list-blue" style="margin-right:10px;">
      <a href="/forms/govuk-forms/universal-credit-apply/UCAtoDoList">To-do list</a>
    </div>
    <div class="govuk-grid-column-one-third uc-to-do-list-grey">
      <a href="/forms/govuk-forms/universal-credit-apply/UCAjournal">Journal</a>
    </div>
  </div>
  <h1 class="govuk-heading-xl govuk-!-margin-top-6 govuk-!-margin-bottom-6">
    Pregnancy
  </h1>
  <p>To give you the right support, there are a few more things we need to know about your health.</p>

  <form class="form" method="post">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            If you're pregnant, does your health put you or your unborn child at risk?
          </h1>
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="work-2" name="work-check" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="work-2">
              Not applicable
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="work-conditional" name="work-check" type="radio" value="yes" data-aria-controls="conditional-work-conditional">
            <label class="govuk-label govuk-radios__label" for="work-conditional">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="work-2" name="work-check" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="work-2">
              No
            </label>
          </div>
          <br>

          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-work-conditional">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" role="group" aria-describedby="due-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h1 class="govuk-fieldset__heading">
                    Expected due date
                  </h1>
                </legend>
                <span id="due-hint" class="govuk-hint">
                  For example, 18 9 2012
                </span>
                <div class="govuk-date-input" id="due">
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="due-day">
                        Day
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="due-day" name="due-day" type="text" pattern="[0-9]*" inputmode="numeric">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="due-month">
                        Month
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="due-month" name="due-month" type="text" pattern="[0-9]*" inputmode="numeric">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="due-year">
                        Year
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="due-year" name="due-year" type="text" pattern="[0-9]*" inputmode="numeric">
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
          <br>
        </div>
      </fieldset>
    </div>


    {% from "govuk/components/button/macro.njk" import govukButton %}
    {{ govukButton({
      text: "Continue",
      href: "/forms/govuk-forms/universal-credit-apply/UCAhealthHospital"
    }) }}

  </form>
  <p><a href="javascript: history.go(-1)" style="margin:0;padding:0;">Back</a></p>
</div>


{% endblock %}
