{% extends "layout.html" %}

{% block pageTitle %}

Work and earnings - Universal Credit
{% endblock %}


{% block content %}
<div class="govuk-body govuk-!-margin-top-9 govuk-body govuk-!-margin-bottom-9">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third uc-to-do-list-blue" style="margin-right:10px;">
      <a href="UCAtoDoList">To-do list</a>
    </div>
    <div class="govuk-grid-column-one-third uc-to-do-list-grey">
      <a href="UCAjournal">Journal</a>
    </div>
  </div>
  <h1 class="govuk-heading-xl govuk-!-margin-top-6 govuk-!-margin-bottom-6">
    Employment status
  </h1>

  <form class="form" method="post">
    {% from "govuk/components/radios/macro.njk" import govukRadios %}

    {{ govukRadios({
      idPrefix: "employment-status",
      name: "employment-status",
      fieldset: {
        legend: {
          text: "What is your employment status?",
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
      {
        value: "employed",
        text: "Employed"
      },
      {
        value: "selfEmployed",
        text: "Self-employed"
      },
      {
        value: "both",
        text: "Both employed and self-employed"
      }
      ]
    }) }}


    {% from "govuk/components/button/macro.njk" import govukButton %}
    {{ govukButton({
      text: "Continue",
      href: "UCAworkEarnings"
    }) }}

  </form>
  <p><a href="javascript: history.go(-1)" style="margin:0;padding:0;">Back</a></p>
</div>


{% endblock %}
