{% extends "layout_erc-old.html" %}

{% block pageTitle %}
Clothing Grants and Free School Meals
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1  class="govuk-heading-l do-it-online">
      Do it online
    </h1>
    <!-- this is the red error message at the top, only displayed if there is an error on that form -->
    {% if (data['FSMbankDetailsError'] === 'true')%}
    <p class="ercError" style="font-weight: 700; line-height: 1.5; font-size: 14px">Please supply a valid value for the fields marked with a <span style="color: red; border: 1px solid red; padding: 5px; background-color: #fff">*</span></p>
    {% endif %}

    <h2 class="govuk-heading-l erc-alt-double-lines">Clothing Grants and Free School Meals</h2>

    <p class="erc-alt-dark-blue-bg">Bank Account Details</p>
    <p class="erc-alt-light-grey">Your clothing grant will be paid directly into your bank account. Please tell us your bank account details.</p>

    <form class="form" method="post">
      <dl class="govuk-summary-list centred-input-fields">
        <div class="govuk-summary-list__row ">
          <dt class="govuk-summary-list__key">
            <label class="govuk-label" for="FSM-bank-name">Name of bank: <span style="color: red"> *</span></label>
          </dt>
          <dd class="govuk-summary-list__value">
            <input class="govuk-input govuk-!-width-full" id="FSM-bank-name" name="FSM-bank-name" type="text" value="{{ data ['FSM-bank-name']}}">
          </dd>
          <dd class="govuk-summary-list__actions">
          {% if (data ['FSM-bank-name'] === '') %}
            <span class="error"> *</span>
          {% endif %}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <label class="govuk-label" for="FSM-acc-holder-name">Full name of account holder: <span style="color: red"> *</span></label>
          </dt>
          <dd class="govuk-summary-list__value">
            <input class="govuk-input govuk-!-width-full" id="FSM-acc-holder-name" name="FSM-acc-holder-name" type="text" value="{{ data ['FSM-acc-holder-name']}}">
          </dd>
          <dd class="govuk-summary-list__actions">
          {% if (data ['FSM-acc-holder-name'] === '') %}
            <span class="error"> *</span>
          {% endif %}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <label class="govuk-label" for="FSM-sort-code">Bank sort code: <span style="color: red"> *</span></label>
          </dt>
          <dd class="govuk-summary-list__value tooltip">
            <input class="govuk-input govuk-!-width-full" id="FSM-sort-code" name="FSM-sort-code" type="number" value="{{ data ['FSM-sort-code']}}">
            <span class="tooltiptext">6-digit bank sort code</span>
          </dd>
          <dd class="govuk-summary-list__actions">
          {% if (data ['FSM-sort-code'] === '') %}
            <span class="error"> *</span>
          {% endif %}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <label class="govuk-label" for="FSM-bank-acc-no">Bank account number: <span style="color: red"> *</span></label>
          </dt>
          <dd class="govuk-summary-list__value tooltip">
            <input class="govuk-input govuk-!-width-full" id="FSM-bank-acc-no" name="FSM-bank-acc-no" type="number" value="{{ data ['FSM-bank-acc-no']}}">
            <span class="tooltiptext">8-digit bank account number</span>
          </dd>
          <dd class="govuk-summary-list__actions">
          {% if (data ['FSM-bank-acc-no'] === '') %}
            <span class="error"> *</span>
          {% endif %}
          </dd>
        </div>

      </dl>

      {{ govukButton({
        text: "<< Back",
        classes: "button-primary erc-alt",
        href: "/forms/erc-forms/free-school-meals/FSMyourDetails"
      }) }}

      {{ govukButton({
        text: "Continue",
        classes: "button-primary erc-alt"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
