{% extends "layout_erc-old.html" %}

{% block header %}
<div class="govuk-header__container govuk-width-container erc-old">
    <div class="govuk-header__logo">
        <span class="govuk-header__logotype">
            <a href="/index.html" id="logo-erc"><image src="{{ asset_path }}/images/ERC/erclogo.png" alt="Homepage" width="188" height="90"></image></a>
        </span>
    </div>
    <div class="govuk-header__content">
        <a href="/index.html">
          <span class="erc-tagline-old">
            This is a training website
          </span>
        </a>
        <h1 style="float:right; margin-top:0;" class="govuk-heading-l do-it-online">
          Do it online
        </h1>
    </div>
</div>
{% endblock %}

{% block pageTitle %}
Clothing Grants and Free School Meals
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
    <!-- this is the red error message at the top, only displayed if there is an error on that form -->
    {% if (data ['have-bank-acc'] === 'not-selected') %}
    <p class="ercError" style="font-weight: 700; line-height: 1.5; font-size: 14px">Please supply a valid value for the fields marked with a <span style="color: red; border: 1px solid red; padding: 5px; background-color: #fff">*</span></p>
    {% endif %}
    <h2 class="govuk-heading-l erc-alt-double-lines">Clothing Grants and Free School Meals</h2>

    <p class="erc-alt-dark-blue-bg">General Information</p>

    <div class="erc-alt-light-grey">
      <p class="govuk-!-font-size-14">All fields marked <span style="color: red"> *</span> are mandatory and must be completed</p>
    </div>
    <!-- We need the from tag because we will need to test the values of the answer to know where to direct the user next-->
    <form class="form" method="post">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <label class="govuk-label" for="live-erc">Do you live in East Renfrewshire?<span style="color: red"> *</span></label>
        <div class="govuk-radios govuk-radios--small govuk-radios--inline ">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="live-erc" name="live-erc" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="live-erc">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="live-erc-2" name="live-erc" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="live-erc-2">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <label class="govuk-label" for="have-bank-acc">Do you have a bank or building society account?<span style="color: red"> *</span></label>
        <div class="govuk-radios govuk-radios--small govuk-radios--inline ">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="have-bank-acc" name="have-bank-acc" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="have-bank-acc">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="have-bank-acc-2" name="have-bank-acc" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="have-bank-acc-2">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="erc-alt-light-grey">
      <p class="govuk-!-font-size-14">You will only be asked to give us your bank account details if you qualify for either both free school meals and clothing grant or for a clothing grant only.</p>
    </div>

      {{ govukButton({
        text: "<< Back",
        classes: "button-primary erc-alt",
        href: "/forms/erc-forms/free-school-meals/FSMterms"
      }) }}
<!-- the routing for this form will be in route.js file -->
      {{ govukButton({
        text: "Continue",
        classes: "button-primary erc-alt"
      }) }}
    </form>
    </div>
  </div>

{% endblock %}
