{% extends "layout_erc-old.html" %}

{% block pageTitle %}
Clothing Grants and Free School Meals
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l do-it-online">
      Do it online 
    </h1>
    <!-- this is the red error message at the top, only displayed if there is an error on that form -->
    {% if (data ['live-erc'] !== undefined) or (data ['have-bank-acc'] !== undefined) %}
    <p class="ercError" style="font-weight: 700; line-height: 1.5; font-size: 14px">Please supply a valid value for the fields marked with a <span style="color: red; border: 1px solid red; padding: 5px; background-color: #fff">*</span></p>
    {% endif %}
    <h2 class="govuk-heading-l erc-alt-double-lines">Clothing Grants and Free School Meals</h2> 

    <p class="erc-alt-dark-blue-bg">General Information</p> 

    <div class="erc-alt-light-grey">
      <p class="govuk-!-font-size-14">All fields marked <span style="color: red"> *</span> are mandatory and must be completed</p>
    </div>
    <!-- We need the from tag because we will need to test the values of the answer to know where to direct the user next-->
    <form class="form" method="post">
    <!--Structure to have a 2 column display using the GOVUK design system elements - a bit like a table-->
    <dl class="govuk-summary-list govuk-!-margin-bottom-9 centred-input-fields">

      <div class="govuk-summary-list__row ">
        <!-- dt is for the label of the element -->
        <dt class="govuk-summary-list__key">
          <label class="govuk-label" for="live-erc">Do you live in East Renfrewshire?<span style="color: red"> *</span></label>
        </dt>
        <!-- this dd with class list__value is for the components (input, or radio buttons or else)-->
        <dd class="govuk-summary-list__value">
          <div class="govuk-radios govuk-radios--inline govuk-radios--small">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="ive-erc" name="live-erc" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="live-erc">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="live-erc-2" name="live-erc" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="live-erc-2">
                No
              </label>
            </div>
          </div>
        </dd>
        <!-- this dd with class list__actions is used to display the error message if needed -->
        {% if (data ['live-erc'] !== undefined) %}
        <dd class="govuk-summary-list__actions">
          <span class="error"> *</span>
        </dd>
        {% else%}
         <!-- this dd with class list__actions is used not to display anything but keep the formating -->
        <dd class="govuk-summary-list__actions"></dd>
        {% endif %}
      </div>

      <div class="govuk-summary-list__row ">
        <!-- dt is for the label of the element -->
        <dt class="govuk-summary-list__key">
          <label class="govuk-label" for="have-bank-acc">Do you have a bank or building society account?<span style="color: red"> *</span></label>
        </dt>
        <!-- this dd with class list__value is for the components (input, or radio buttons or else)-->
        <dd class="govuk-summary-list__value">
          <div class="govuk-radios govuk-radios--inline govuk-radios--small">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="have-bank-acc" name="have-bank-acc" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="have-bank-acc">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="have-bank-acc-2" name="have-bank-acc" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="have-bank-acc-2">
                No
              </label>
            </div>
          </div>
        </dd>
        <!-- this dd with class list__actions is used to display the error message if needed -->
        {% if (data ['have-bank-acc'] !== undefined) %}
        <dd class="govuk-summary-list__actions">
          <span class="error"> *</span>
        </dd>
        {% else%}
         <!-- this dd with class list__actions is used not to display anything but keep the formating -->
        <dd class="govuk-summary-list__actions"></dd>
        {% endif %}
      </div>


    </dl>

    <div class="erc-alt-light-grey">
      <p class="govuk-!-font-size-14">You will only be asked to give us your bank account details if you qualify for either both free school meals and clothing grant or for a clothing grant only.</p>
    </div>
  
      {{ govukButton({
        text: "<< Back",
        classes: "button-primary erc-alt",
        href: "/forms/erc-forms/free-school-meals/FSMterms"
      }) }}
<!-- the routing for this form will be in route.js file -->
      {{ govukButton({
        text: "Continue",
        classes: "button-primary erc-alt"
      }) }}
    </form>
    </div>
  </div>

{% endblock %}