{% extends "layout_erc-old.html" %}

{% block pageTitle %}
Clothing Grants and Free School Meals
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1  class="govuk-heading-l do-it-online">
      Do it online
    </h1>
    <h2 class="govuk-heading-l erc-alt-double-lines">Clothing Grants and Free School Meals</h2>

    <p class="erc-alt-dark-blue-bg">Submission Complete</p>
    <p class="govuk-!-font-size-14 ercSuccess govuk-!-margin-bottom-9 ">Your application has been submitted! </p>
    <a class="govuk-!-padding-left-5 govuk-!-padding-right-5 govuk-body govuk-!-margin-bottom-9 govuk-!-margin-top-9 button-primary govuk-button erc-alt" href="/forms/end-feedback">Next</a>
    <div class="student-notes-box govuk-!-margin-top-9 ">
      <p>We have not seen that part of the application. So we are not sure what the real from looks like once you have submitted your application.</p>
    </div>
  </div>
</div>

{% endblock %}
