{% extends "layout_erc-old.html" %}

{% block pageTitle %}
Clothing Grants and Free School Meals
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1  class="govuk-heading-l do-it-online">
      Do it online
    </h1>
    <h2 class="govuk-heading-l erc-alt-double-lines">Clothing Grants and Free School Meals</h2>

    <p class="erc-alt-dark-blue-bg">Terms and Conditions</p>

    <div class="erc-alt-light-grey">
      <p class="govuk-!-font-size-14">This form is for applying for clothing grants and free school meals for school year 2020/21</p>
      <ul class="govuk-list govuk-list--bullet">
        <li class="govuk-!-font-size-14">Your child(ren) must attend a school within East Renfrewshire</li>
        <li class="govuk-!-font-size-14">Clothing grants and free school meals are not available to children attending nursery school</li>
        <li class="govuk-!-font-size-14">P1, P2 and P3 children will all receive free school meals - you do not need to apply for these</li>
        <li class="govuk-!-font-size-14">If your child is age 16 or over, or starting P1 or S1, has moved school or if you have made a placing request, their clothing grant will be paid once confirmation of their attendance at school has been received</li>
        <li class="govuk-!-font-size-14">The closing date for all applications is 31st May 2021</li>
        <li class="govuk-!-font-size-14">Once we have received your application and verified your entitlement we aim to process your application within 15 working days</li>
      </ul>
      <p class="govuk-!-font-size-14"><a href="FSMstart" class="govuk-!-font-size-14">Further information<img src="{{ asset_path }}images/ERC/pop-up.gif" style="padding: 0 5px" alt="open a new window"></a>, if you've not already seen our webpage</p>
    </div>

      {{ govukButton({
        text: "Cancel",
        classes: "button-primary erc-alt",
        href: "FSMstart"
      }) }}

      {{ govukButton({
        text: "Continue",
        classes: "button-primary erc-alt",
        href: "FSMgeneralInfo"
      }) }}

    </div>
  </div>

{% endblock %}
