{% extends "layout.html" %}

{% block pageTitle %}
Your address
{% endblock %}

{% block content %}
<div class="govuk-body govuk-!-margin-top-9 govuk-body govuk-!-margin-bottom-9">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">What is your address?</h1>
      <p>Postcode</p>
      <p><strong style="padding-right: 30px">{{postcode}}</strong> <a href="/forms/govuk-forms/register-to-vote/RTVaddress">Change</a></p>
    <form class="form" method="post">
    <p>To be continued</p>


      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
        text: "To be Continued"
      }) }}
    </form>
    <p><a href="javascript: history.go(-1)">Back</a></p>
    </div>
  </div>
  <div class="student-notes-box"> 
    <p>You can enter your real address here if you want or a fake one, we are not checking.</p>
    <p>On the real form, you would need to enter your real address.</p>
  </div>
 </div> 

{% endblock %}