
{% extends "demo/layout_wlc.html" %}

{% block pageTitle %}
  Home - Digital skills tool
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="tag-banner">For illustration only - wording, layout and menus can be changed</div>
      <h1 class="govuk-heading-xl heading-title">
          Improving digital skills
      </h1>
      <a  class="govuk-back-link" href="demo">Back to demo homepage</a>

      <h2 class="govuk-heading-m" style="font-weight: 800;">Learn about</h2>
      <ul class="govuk-list govuk-list--bullet clear-layout">
        <li><a href="/about.html">Background</a></li>
        <li><a href="/how-to-use.html">How to use this website</a></li>
        <li><a href="/creating-this-website.html">How we created it</a></li>
      </ul>

      <h2 class="govuk-heading-l" style="font-weight: 800;">Forms menu</h2>

      <h3 class="govuk-heading-m">
          West Lothian Council online services
      </h3>
     <p>This is where you would have the list of forms for your council</p>

     <h3 class="govuk-heading-m govuk-!-margin-top-9">
       UK Government and Scottish Government online forms 
      </h3>
      {% include "../includes/government-forms-menu.html"  %}

      <h3 class="govuk-heading-m govuk-!-margin-top-9">
          Others
      </h3>
      {% include "../includes/other-forms-menu.html"  %}

      {% include "../includes/extras-on-homepage.html"  %}
    </div>
  </div>

{% endblock %}
