{% extends "layout.html" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/other.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}


{% block header %}
<div class="govuk-header__container dvsa-theory-header">
  <div class="govuk-header__logo">
      <span class="govuk-header__logotype">
          <a href="/index.html"><image src="{{ asset_path }}/images/DVLA/DVSA_logo_masthead.png" alt="DVSA Logo" width="423" height="35"></image></a>
      </span>
  </div>
</div>
{% endblock %}

{% block pageTitle %}
Find a test centre near you
{% endblock %}


{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-9">
    <span class="apply-DVLA-tagline">This is a training website</span>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-m" style="text-align: center">
            Book, check, change or cancel your theory driving test online
        </h1>
        <h2 class="govuk-heading-l" style="text-align: center; font-weight:400;">
            Find a test centre near you
        </h2>
        <div class="dvsa-grey-container">
          <p style="text-align: center;"><a href="#" style="text-decoration:none">Car : Car</a></p>
          <hr>
          <p><strong>Required information is marked with an asterisk (*)</strong></p>
          <div class="dvsa-white-container">
              <div class="govuk-form-group govuk-!-margin-bottom-0">
                <input class="govuk-input govuk-!-width-two-thirds" id="address" name="address" type="text" placeholder="Search by address">
                <a href="/forms/govuk-forms/learn-to-drive/book-theory-test/BTT4select-centre" role="button" draggable="false" class="govuk-button button-primary govuk-!-margin-bottom-0" data-module="govuk-button">
                  Search
                </a>
              </div>


          </div>
      </div>

      <div class="student-notes-box"> 
        <p>This is not working like the real form</p>
        <p>Every postcode will take you to the same page here, even if you do not enter anything</p>
      </div>

      
    </div>
</div>
{% endblock %}

{% block footer %}
{% include "../../../../includes/generic-footer.html"  %}
{% endblock %}