{% extends "layout.html" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/other.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}


{% block header %}
<div class="govuk-header__container dvsa-theory-header">
  <div class="govuk-header__logo">
      <span class="govuk-header__logotype">
          <a href="/index.html"><image src="{{ asset_path }}/images/DVLA/DVSA_logo_masthead.png" alt="DVSA Logo" width="423" height="35"></image></a>
      </span>
  </div>
</div>
{% endblock %}

{% block pageTitle %}
My booking
{% endblock %}


{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-9">
    <a href="/index.html" style="text-decoration: none;"><span class="apply-DVLA-tagline">This is a training website</span></a>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-m" style="text-align: center">
            Book, check, change or cancel your theory driving test online
        </h1>
        <h2 class="govuk-heading-l" style="text-align: center; font-weight:400;">
            My booking
        </h2>
        <div class="dvsa-grey-container">
          <div class="dvsa-white-container">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                <table class="govuk-table" style="overflow: auto;">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header small-font-dvsa">Description</th>
                      <th scope="col" class="govuk-table__header small-font-dvsa">Details</th>
                      <th scope="col" class="govuk-table__header small-font-dvsa">&nbsp;</th>
                    </tr>
                  </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                          <p class="small-font-dvsa">
                            You curently do not have any items in your order.
                          </p>
                        </td>
                        <td class="govuk-table__cell"></td>
                        <td class="govuk-table__cell"></td>
                      </tr>
                    </tbody>
                </table>
              </div>
            </div> 
          </div>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">               
            {{ govukButton({
              text: "Return to Dashboard",
              classes: "button-primary",
              href: "BTTdashboard"
            }) }}
          </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include "../../../../includes/generic-footer.html"  %}
{% endblock %}