{% extends "layout.html" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/other.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}


{% block header %}
<div class="govuk-header__container dvsa-theory-header">
  <div class="govuk-header__logo">
      <span class="govuk-header__logotype">
          <a href="/index.html"><image src="{{ asset_path }}/images/DVLA/DVSA_logo_masthead.png" alt="DVSA Logo" width="423" height="35"></image></a>
      </span>
  </div>
</div>
{% endblock %}

{% block pageTitle %}
Book, check, change or cancel your theory driving test online
{% endblock %}


{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-9">
    <span class="apply-DVLA-tagline">This is a training website</span>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-m" style="text-align: center">
          Book, check, change or cancel your theory driving test online
        </h1>
        <div class="dvsa-grey-container">
          <h2 class="govuk-heading-l" style="font-weight:400;">
            Thank you
          </h2>
          <div class="dvsa-white-container">
            <p>Normally, this is where you would pay for your Theory test</p>
            <p>But we haven't done this part of the form, so this is where the training for this form stops.</p>
            <p>You can now:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/forms/govuk-forms/learn-to-drive/book-theory-test/BTTstart">start this form again</a></li>
              <li><a href="/index.html">go back to the form menu</a></li>
            </ul>
          </div>
      </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include "../../../../includes/generic-footer.html"  %}
{% endblock %}