{% extends "layout.html" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/other.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}


{% block header %}
<div class="govuk-header__container dvsa-theory-header">
  <div class="govuk-header__logo">
      <span class="govuk-header__logotype">
          <a href="/index.html"><image src="{{ asset_path }}/images/DVLA/DVSA_logo_masthead.png" alt="DVSA Logo" width="423" height="35"></image></a>
      </span>
  </div>
</div>
{% endblock %}

{% block pageTitle %}
Test centre information
{% endblock %}


{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-9">
    <span class="apply-DVLA-tagline">This is a training website</span>
</div>
<div class="dvsa-grey-container">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-m">
              Test centre information
          </h1>
          <hr>
      </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <p><strong>Pearson - Clydebank</strong></p>
      <p>
          1st floor<br>
          Erskine House<br>
          North Avenue<br>
          Clydebank<br>
          G81 2DR<br>
          <br>
          Phone:<br>
          0800 093 4520
      </p>
      <image src="{{ asset_path }}/images/DVLA/centre-clydebank.png" alt="Google map" style="width:100%"></image>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <p>Test centre information</p>
      <p>Erskine House is directly across the Clyde Shopping Centre on Kilbowe Road. It is situated on the right hand side entry into the Clydebank Business Park off Kilbowie Road. Singer railway station is approx 200 metres from the premises.</p>
      <p>Full disabled access is available. Wheelchair access is via a ramp and lifts are available for access to the first floor.</p>
    </div>  
  </div>
</div>
{{ govukButton({
  text: "Previous",
  classes: "govuk-button--secondary",
  href: "/forms/govuk-forms/learn-to-drive/book-theory-test/BTT4select-centre"
}) }}
{% endblock %}

{% block footer %}
{% endblock %}