{% extends "layout.html" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/other.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}


{% block header %}
<div class="govuk-header__container dvsa-theory-header">
  <div class="govuk-header__logo">
      <span class="govuk-header__logotype">
          <a href="/index.html"><image src="{{ asset_path }}/images/DVLA/DVSA_logo_masthead.png" alt="DVSA Logo" width="423" height="35"></image></a>
      </span>
  </div>
</div>
{% endblock %}

{% block pageTitle %}
Test centre information
{% endblock %}


{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-9">
    <a href="/index.html" style="text-decoration: none;"><span class="apply-DVLA-tagline">This is a training website</span></a>
</div>
<div class="dvsa-grey-container">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-m">
              Test centre information
          </h1>
          <hr>
      </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <p><strong>Pearson - Glasgow</strong></p>
      <p>
          Suite 325, Pentagon Centre,<br>
          36-38 Washington Street<br>
          Glasgow<br>
          G3 8AZ<br>
          <br>
          Phone:<br>
          0800 093 4520
      </p>
      <image src="{{ asset_path }}/images/DVLA/centre-glasgow.png" alt="Google map" style="width:100%"></image>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <p>Test centre information</p>
      <p>Washington Street in situated off the Broomielaw before the Kingston Bridge underpass on the right hand side if travelling from City Centre direction.</p> 
      <p>Pedestrian access is also situated if travelling from the City Centre along Argyle Street before reaching the Clydeside Expressway and across from the Marriot Hotel. A set of pedestrian stairs will lead you down to Washington Street and the building is located on the right hand side after approx 100 yards.</p> 
      <p>Anderson rail station is a five minute walk away and Glasgow Central is just 10 minutes away. Local bus services provide direct access to the arterial bus routes to north and south Glasgow.</p>
      <p>Full Disabled Access: Lift solely for disabled candidates at entrance to building thereafter lift to the third floor where testing takes place in room 325.</p>
    </div>  
  </div>
</div>
{{ govukButton({
  text: "Previous",
  classes: "govuk-button--secondary",
  href: "BTT4select-centre"
}) }}
{% endblock %}

{% block footer %}
{% include "../../../../includes/generic-footer.html"  %}
{% endblock %}