{% extends "layout_tool.html" %}

{% block pageTitle %}
  About this form
{% endblock %}


{% block content %}
<div class="govuk-body govuk-!-margin-top-9 govuk-body govuk-!-margin-bottom-9">
    <h1 class="govuk-heading-xl">
        About this form
    </h1>
    <a class=" button-secondary govuk-button" href="/index.html">Go to the forms menu</a>
<p>It looks like the real form but it's a bit different and simplified</p>
<h2 class="govuk-heading-m">
  Please note:
</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>the first page is the GOVUK website, the rest of the form is on the DVSA which looks a bit different</li>
  <li>you can only do the car booking (booking for a motorcyle is very similar so not done here)</li>
  <li>you cannot chose a centre: whatever postcode you enter, it will only show you 2 centres and always assumed you picked the Glasgow one</li>
  <li>you cannot chose a date or chose a time at the moment, it is chosen for you</li>
  <li>the support options have been simplified</li>
  <li>you cannot proceed to the payment page - we didn't have access to these pages so could not reproduce</li>
  <li>there is no error message: if you forget to add some required information for example, you will be able to go to the next step anyway</li>
</ul>

<h2 class="govuk-heading-s">
  At any time, selecting the logo at the top left will take you back to the start (forms menu)
</h2>
  {{ govukButton({
    text: "Start the form",
    classes: "button-primary button-info",
    href: "BTThome"
  }) }}

  <div class="student-notes-box"> 
    <p>If you see a box like this on a page, it's not part of the form.</p>
    <p>It's instructions to help you.</p>
  </div>

  </div>

{% endblock %}