{% extends "layout.html" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/other.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}


{% block header %}
<div class="govuk-header__container dvsa-theory-header">
  <div class="govuk-header__logo">
      <span class="govuk-header__logotype">
          <a href="/index.html"><image src="{{ asset_path }}/images/DVLA/DVSA_logo_masthead.png" alt="DVSA Logo" width="423" height="35"></image></a>
      </span>
  </div>
</div>
{% endblock %}

{% block pageTitle %}
What types of support are available
{% endblock %}


{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-9">
    <span class="apply-DVLA-tagline">This is a training website</span>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l" style="text-align: center; font-weight:400;">
          What types of support are available
        </h1>
        <div class="dvsa-grey-container">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                <p>DVSA provides help during the theory test if you have a reading difficulty, disability or health condition. You can ask for an English or Welsh voiceover (for reading difficulties or if English is not your first language) or to display British Sign Language during the test.</p>
                <p>Other help, such as extra time, a reader/recorder or someone rewording the questions for you, may be provided. The type of help available varies by test. You may be asked to send evidence of your need, such as a letter from a doctor or a teacher.</p>
                <p><a href="/forms/govuk-forms/learn-to-drive/theory-test">More information</a></p>
              </div>
          </div>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">               
              {{ govukButton({
                text: "Back",
                classes: "govuk-button--secondary",
                href: "/forms/govuk-forms/learn-to-drive/book-theory-test/BTT2support"
              }) }}
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}