{% extends "layout_erc.html" %}

{% block pageTitle %}
  Error - Bid for a council house
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Bid for a council house
    </h1>
    <p><img src="{{ asset_path }}images/ERC/housing-logo.PNG" alt="Housing logo" style="height:95px; width:250px"></p>
    <p>The closing date is Tuesday 2nd June at 9am.</p>
    <p>You're entitled to bid only on properties that are open to your Priority Pass and bedroom entitlement. </p>
    <p>Before you continue, please ensure that you know your Priority Pass and bedroom entitlement. This information is available on the registration letter you received.</p>
    <p class="govuk-!-margin-bottom-9">Your bid will only be accepted if you meet the criteria for the property. <br>
      Please do not bid unless you're eligible. </p>
      <form class="form" method="post">
      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        idPrefix: "available-properties",
        name: "property",
        fieldset: {
          legend: {
            text: "Available properties",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        errorMessage: {
          text: "Select the property you want to bid for"
        },
        items: [
          {
            value: "86D",
            text: "86D Divernia Way, Barrhead (Available for immediate let) - 2 bedroom property - open to Priority Pass A, B, C, D, E"
          },
          {
            value: "54E",
            text: "54E Aurs Crescent, Barrhead - 2 bedroom property - open to priority pass A, B, C, D, E"
          },          {
            value: "37A",
            text: "37A Graham Street, Barrhead - 1 Bedroom Sheltered Property - open to priority pass A, B, C, D, E - restricted to applicants aged 60 and over"
          }
        ]
      }) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
        text: "Next",
        classes: "govuk-button button-primary"
      }) }}
      </form>
      <hr>
      <p class="govuk-!-margin-top-5 govuk-!-margin-bottom-5"><span class="tag-print"></span> <a href="#">Print this page</a></p>
    </div>
  </div>

{% endblock %}