{% extends "layout_erc.html" %}

{% block pageTitle %}
  Bid for a council house
{% endblock %}


{% block content %}
<h1 class="govuk-heading-xl heading-title">
  37A Graham Street, Barrhead
</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="heading-intro">
      1 Bedroom Sheltered Property - open to priority pass A, B, C, D, E
    </p>
    <p><img src="{{ asset_path }}images/ERC/property37A.png" alt="picture of the flat" width="50%"></p>
    <div class="govuk-grid-row" style="background-color: #efefef ; padding-top: 20px">
      <div class="govuk-grid-column-one-half">
        <p><strong>End date:</strong> {{biddingEnddate}}</p>
      </div>
      <div class="govuk-grid-column-one-half">
        <p><strong>Weekly rent:</strong> £60.84</p>
      </div>
    </div>
    <br>
    <div class="govuk-grid-row govuk-!-margin-bottom-9" style="background-color: #efefef ; padding-top: 20px">
      <div class="govuk-grid-column-one-half">
        <p><strong>Bedrooms:</strong> 1 bedroom</p>
        <p><strong>Priority pass:</strong> A, B, C, D, E</p>
      </div>
      <div class="govuk-grid-column-one-half">
        <p><strong>Location:</strong> Upper Auchenback</p>
        <p><strong>Property type:</strong> Sheltered Property</p>
      </div>
    </div>


    <table class="govuk-table" style="overflow: auto;">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Bids open to Priority Pass</td>
          <td class="govuk-table__cell">A, B, C, D, E</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Area</td>
          <td class="govuk-table__cell">Lower Auchenback</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Number of bedrooms</td>
          <td class="govuk-table__cell">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Maximum number of people</td>
          <td class="govuk-table__cell">2</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Type of property</td>
          <td class="govuk-table__cell">Sheltered Property</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Floor level</td>
          <td class="govuk-table__cell">First floor</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Weekly rent</td>
          <td class="govuk-table__cell">£60.84</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Heating</td>
          <td class="govuk-table__cell">Gas Central Heating</td>
        </tr>
      </tbody>
    </table>



    <h3 class="govuk-heading-m govuk-!-margin-top-9">Bid for this property</h3>
    <h4 class="govuk-heading-s">Reference number</h4>

      <div class="govuk-form-group">
        <input class="govuk-input" id="event-name" name="event-name" type="text">
        <label class="govuk-label" for="event-name" style="color: #4e537b">
          You’ll find this on your housing registration letter or card.<br>Phone 0141 577 3001 if you need help with this.
        </label>
      </div>
      {% from "govuk/components/input/macro.njk" import govukInput %}
      {{ govukInput({
        label: {
          text: "First name",
          classes: "govuk-!-font-weight-bold"
        },
        id: "firstname",
        name: "firstname"
      }) }}
      {{ govukInput({
        label: {
          text: "Last name",
          classes: "govuk-!-font-weight-bold"
        },
        id: "lastname",
        name: "lastname"
      }) }}


      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
        text: "Submit",
        classes: "govuk-button button-primary",
        href: "/forms/erc-forms/bidding-properties/thankyou37A"
      }) }}

    </div>
  </div>
  <div class="govuk-grid-row govuk-!-margin-top-5 govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-one-third">
      <br>
    </div>
    <div class="govuk-grid-column-one-third">
      <p>Share this page 
        <image src="{{ asset_path }}/images/ERC/facebook.png" alt="facebook" width="24" height="24" style="vertical-align:middle; padding-left: 10px;" ></image>
        <image src="{{ asset_path }}/images/ERC/twitter.png" alt="twitter" width="24" height="24" style="vertical-align:middle; padding-left: 5px;" ></image>
        <image src="{{ asset_path }}/images/ERC/email.png" alt="email" width="24" height="24" style="vertical-align:middle; padding-left: 5px; padding-right: 40px;" ></image>
      </p>
    </div>
    <div class="govuk-grid-column-one-third">
      <p>Print 
        <image src="{{ asset_path }}/images/ERC/print.png" alt="print" width="24" height="24" style="vertical-align:middle; padding-left: 5px; padding-right: 10px;" ></image>
      </p>
    </div>
  </div>
  <div class="student-notes-box">
    <p>You can enter anything here, but on the real form, you need to make sure you enter your reference number correctly</p>
    <p><strong>Note</strong>: this property is not really available just now, it's only for illustration</p>
</div>

{% endblock %}



  