{% extends "layout_erc.html" %}

{% block pageTitle %}
  Bid for a council house
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Bid for a council house
    </h1>
    <p><img src="{{ asset_path }}images/ERC/housing-logo.PNG" alt="Housing logo" style="height:95px; width:250px"></p>
    <p>The closing date is Tuesday 2nd June at 9am.</p>
    <p>You're entitled to bid only on properties that are open to your Priority Pass and bedroom entitlement. </p>
    <p>Before you continue, please ensure that you know your Priority Pass and bedroom entitlement. This information is available on the registration letter you received.</p>
    <p class="govuk-!-margin-bottom-9">Your bid will only be accepted if you meet the criteria for the property. <br>
      Please do not bid unless you're eligible. </p>
    
    <p class="govuk-!-margin-top-5">Thank you for registering an interest in 
      {% if data['property'] === '86D'%} 86D Divernia Way, Barrhead (Available for immediate let) - 2 bedroom property - open to Priority Pass A, B, C, D, E {% endif %}
      {% if data['property'] === '54E'%} 54E Aurs Crescent, Barrhead - 2 bedroom property - open to priority pass A, B, C, D, E{% endif %}
      {% if data['property'] === '37A'%} 37A Graham Street, Barrhead - 1 Bedroom Sheltered Property - open to priority pass A, B, C, D, E - restricted to applicants aged 60 and over{% endif %}
      .</p>
    <p>If you’ve been successful, we’ll contact within 2 days of the closing date.</p>
    <p>If you don’t hear from us in that time please bid for more homes.</p>
    <p class="govuk-!-margin-bottom-9">Housing Team</p>

  
      <hr>
      <p class="govuk-!-margin-top-5 govuk-!-margin-bottom-5"><span class="tag-print"></span> <a href="#">Print this page</a></p>
    </div>
  </div>

{% endblock %}