{% extends "layout.html" %}

{% block pageTitle %}
About you
{% endblock %}


{% block content %}
<div class="govuk-body govuk-!-margin-top-9 govuk-body govuk-!-margin-bottom-9">
    <h1 class="govuk-heading-xl">
      About you
    </h1>

    <p class="govuk-body-l">Enter your name as it appears on your passport or official documents.</p>
    <form class="form" method="post" novalidate>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-!-font-size-24 govuk-!-font-weight-bold" for="UCfirstName">
          First name
        </label>

        <input class="govuk-input govuk-input--width-20" id="UCfirstName" name="UCfirstName" type="text"  value="{{ data ['UCfirstName']}}">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-!-font-size-24 govuk-!-font-weight-bold" for="UCmiddleName">
          Middle names
        </label>

        <input class="govuk-input govuk-input--width-20" id="UCmiddleName" name="UCmiddleName" type="text"  value="{{ data ['UCmiddleName']}}">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-!-font-size-24 govuk-!-font-weight-bold" for="UClastName">
          Last name
        </label>

        <input class="govuk-input govuk-input--width-20" id="UClastName" name="UClastName" type="text"  value="{{ data ['UClastName']}}">
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="UCdob-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <label class="govuk-label govuk-!-font-size-24 govuk-!-font-weight-bold" for="UCdob">
              Date of birth
            </label>
          </legend>
          <span id="UCdob-hint" class="govuk-hint">
            For example, 18 9 2012
          </span>
          <div class="govuk-date-input" id="UCdob">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="UCdob-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="UCdob-day" name="UCdob-day" type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="UCdob-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="UCdob-month" name="UCdob-month" type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="UCdob-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="UCdob-year" name="UCdob-year" type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-!-font-size-24 govuk-!-font-weight-bold" for="UCemail">
          Email address
        </label>
        <span id="other-benefits-hint" class="govuk-hint">
          We will send you a code to confirm it is your email address.
        </span>
        <input class="govuk-input govuk-input--width-20" id="UCemail" name="UCemail" type="text"  value="{{ data ['UCemail']}}">
      </div>


    {% from "govuk/components/button/macro.njk" import govukButton %}
    {{ govukButton({
      text: "Continue"
    }) }}
  </form>

  <div class="student-notes-box"> 
    <p>you can enter anything here it doesn't matter</p>
  </div>

  </div>

{% endblock %}
