{% extends "layout.html" %}

{% block pageTitle %}
You cannot claim Universal Credit at the moment
{% endblock %}


{% block content %}
<div class="govuk-body govuk-!-margin-top-9 govuk-body govuk-!-margin-bottom-9">
    <h1 class="govuk-heading-xl">
      You cannot claim Universal Credit at the moment
    </h1>
    <p>You cannot claim Universal Credit if you get or are entitled to the severe disability premium.</p>
    <h2 class="govuk-heading-m">What to do next</h2>
    <p>You can keep claiming other benefits because you get or are entitled to the severe disability premium.</p>
    <p>Call one of the numbers below to make or continue a claim. When you call, tell them that you get or are entitled to the severe disability premium.</p>

    <h2 class="govuk-heading-m">Make or continue a claim</h2>
    <p>Call 0800 169 0350 to make or continue a claim for:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>Income Support</li>
      <li>Employment and Support Allowance (ESA)</li>
      <li>Jobseeker's Allowance (JSA)</li>
    </ul>

    <p>To make or continue a Housing Benefit claim,  <a href="#">contact your local authority</a>.</p>

    <p>For a Tax Credits claim, call 0345 300 3900 (textphone: 0345 300 3909).</p>

      <h3 class="govuk-heading-s">If you live in Northern Ireland</h3>
      <p>To make or continue a claim in Northern Ireland, call:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>0800 022 4250 for Income Support or Jobseeker's Allowance</li>
        <li>0800 587 1377 (textphone: 0800 328 3419) for Employment and Support Allowance</li>
        <li>0345 300 3900 (textphone: 0345 300 3909) for tax credits</li>
      </ul>

      <p>Contact the <a href="#">Northern Ireland Housing Executive</a> to make or continue a Housing Benefit claim.</p>
  </div>

{% endblock %}