{% extends "layout.html" %}

{% block pageTitle %}
Contact Us
{% endblock %}


{% block content %}
<div class="govuk-body govuk-!-margin-top-9 govuk-body govuk-!-margin-bottom-9">
    <h1 class="govuk-heading-xl">
      Contact Us
    </h1>
  <p>You cannot claim Universal Credit if you get or are entitled to the severe disability premium.</p>

  <p>Call 0800 181 4049 to find out if you are getting or are entitled to the severe disability premium. We will tell you what to do next.</p>
    
  <p><strong>If you live in Northern Ireland</strong></p>
  <p>If you live in Northern Ireland call 0800 012 1331 (textphone: 0800 012 1441) instead.</p>
  </div>

{% endblock %}