{% extends "layout.html" %}

{% block pageTitle %}
{% if error %} Error - {% endif %}Create an account
{% endblock %}


{% block content %}
<div class="govuk-body govuk-!-margin-top-9 govuk-body govuk-!-margin-bottom-9">
    <h1 class="govuk-heading-xl">
      Confirm your email
    </h1>

    <p>A code has been sent to french@chezleskrus.com. The code will expire at 2:03am.</p>
    <p>Enter the code to confirm your email address.</p>
    <form class="form" method="post" novalidate>

      <div class="govuk-form-group {% if not validUsername and error %} govuk-form-group--error {% endif %}">
        <label class="govuk-label govuk-!-font-size-24 govuk-!-font-weight-bold" for="username">
          Email code
        </label>

        <input class="govuk-input govuk-input--width-10  {% if not validUsername and error %} govuk-input--error {% endif%}" id="username" name="username" type="text"  value="{{ data ['username']}}">
      </div>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            My code does not work
          </span>
        </summary>
        <div class="govuk-details__text">
          You need to <a href="#">request a new code.</a>
        </div>
      </details>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            I have not received an email
          </span>
        </summary>
        <div class="govuk-details__text">
          Check your junk email folder. If the email is not there, you can:
          <ul>
            <li><a href="#">request a new code.</a></li>
            <li><a href="#">use a different email address.</a></li>
          </ul>
        </div>
      </details>


    {% from "govuk/components/button/macro.njk" import govukButton %}
    {{ govukButton({
      text: "Continue"
    }) }}


    </form>
    <a href="#" class="govuk-back-link">Back</a>
  </div>

{% endblock %}
