{% extends "layout.html" %}

{% block pageTitle %}
{% if error %} Error - {% endif %}Create an account
{% endblock %}


{% block content %}
<div class="govuk-body govuk-!-margin-top-9 govuk-body govuk-!-margin-bottom-9">
    <h1 class="govuk-heading-xl">
      Create an account
    </h1>
    {% set regExpPassword = r/(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/g %}
    {% set regExpUsername = r/[a-zA-Z0-9]{6,30}/g %}
    {% set validUsername = data ['username'] !== '' and data ['username'] !== undefined and regExpUsername.test(data ['username']) %}
    {% set validPassword = data ['password'] !== '' and data ['password'] !== undefined and regExpPassword.test(data ['password']) %}
    
    {% if error %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-UC-create-account">
        Fix the following:
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          {% if data ['password'] !== data ['password2'] %}           <li><a href="#password">Password and confirmed password do not match</a></li>{% endif%}
          {% if data ['username'] === '' %}                           <li><a href="#username">Create username</a></li>
          {% else %}  {% if not validUsername %}                      <li><a href="#username">Username invalid</a></li>{% endif%}{% endif%}
          {% if data ['password'] === '' %}                           <li><a href="#password">Create password</a></li>
          {% else %}  {% if not validPassword %}                      <li><a href="#password">Password invalid</a></li>{% endif%}{% endif%}
          {% if data ['question1'] === 'Please select a question' %}  <li><a href="#question1">Question 1</a></li>{% endif%}
          {% if data ['answer1'] === '' %}                            <li><a href="#answer1">Answer 1</a></li>{% endif%}
          {% if data ['question2'] === 'Please select a question' %}  <li><a href="#question2">Question 2</a></li>{% endif%}
          {% if data ['answer2'] === '' %}                            <li><a href="#answer2">Answer 2</a></li>{% endif%}
        </ul>
      </div>
    </div>
    {% endif %}

    <p class="govuk-body-l">You'll need your username and password when you sign in online, so make them memorable.</p>
    <form class="form" method="post" novalidate>

      <div class="govuk-form-group {% if not validUsername and error %} govuk-form-group--error {% endif %}">
        <label class="govuk-label govuk-!-font-size-24 govuk-!-font-weight-bold" for="username">
          Create username
        </label>
        <span id="username-hint" class="govuk-hint">
          This must be:
        </span>
        <ul class="govuk-list govuk-list--bullet">
          <span id="username-hint2" class="govuk-hint"><li>at least 6 characters</li></span>
          <span id="username-hint3" class="govuk-hint"><li>no more than 30 characters</li></span>
          <span id="username-hint4" class="govuk-hint"><li>made from letters or numbers</li></span>
        </ul>
        {% if data ['username'] === '' %}
        <span id="UC-create-account-username-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> A username must be provided
        </span>
        {% else %}
        {% if not validUsername and error %}
        <span id="UC-create-account-password-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Username invalid, please try again
        </span>
        {% endif%}
    {% endif%}
        <input class="govuk-input govuk-input--width-20  {% if not validUsername and error %} govuk-input--error {% endif%}" id="username" name="username" type="text"  value="{{ data ['username']}}">
      </div>  

      <div class="govuk-form-group {% if ((not validPassword and error) or (data ['password'] !== data ['password2']))%} govuk-form-group--error {% endif %}">
        <label class="govuk-label govuk-!-font-size-24 govuk-!-font-weight-bold" for="password">
          Create password
        </label>
        {% if not validPassword and error %}
        <span id="UC-create-account-password-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Password invalid, please try again
        </span>
        {% else %}
            {% if data ['password'] !== data ['password2'] %}
            <span id="UC-create-account-password-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Password and confirmed password do not match, please try again
            </span>
            {% endif%}
        {% endif%}
        <span id="password-hint" class="govuk-hint">
          This must contain at least:
        </span>
        <ul class="govuk-list govuk-list--bullet">
          <span id="password-hint2" class="govuk-hint"><li>1 capital letter</li></span>
          <span id="password-hint3" class="govuk-hint"><li>1 lower case letter</li></span>
          <span id="passwordhint4" class="govuk-hint"><li>1 number</li></span>
          <span id="passwordhint5" class="govuk-hint"><li>8 characters</li></span>
        </ul>  
        <span id="passwordhint6" class="govuk-hint">Do not use a username, common word like 'password' or sequence like '123'</span>
        <input class="govuk-input govuk-input--width-20 {% if ((not validPassword and error) or (data ['password'] !== data ['password2']))%} govuk-input--error {% endif%}" id="password" name="password" type="password" value="{{ data ['password']}}">
      </div>  
      
      <div class="govuk-form-group">
        <label class="govuk-label govuk-!-font-size-24 govuk-!-font-weight-bold" for="password2">
          Re-type your password
        </label>
        <input class="govuk-input govuk-input--width-20" id="password2" name="password2" type="password">
      </div>

      <h2 class="govuk-heading-l">
        Security questions
      </h2>
      <p>Answer these questions carefully. When you sign in to your account you'll need to spell your answers exactly as you enter them below.</p>
      <p>If you phone us, we will ask you these questions. Do not choose answers that are likely to be offensive.</p>
      <div class="govuk-form-group {% if data ['question1'] === 'Please select a question' %} govuk-form-group--error {% endif %}">
        <label class="govuk-label govuk-!-font-size-24 govuk-!-font-weight-bold" for="question1">
          Question 1
        </label>
        {% if data ['question1'] === 'Please select a question' %}
        <span id="UC-create-account-security1-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> A security question must be selected from the first list
        </span>
        {% endif %}
        <select class="govuk-select"  id="question1" name="question1" value="{{ data ['question1']}}">
          <option>Please select a question</option>
          <option value="Q1">Where were you born?</option>
          <option value="Q2">What colour was your first car?</option>
          <option value="Q3">What is or was your father's main job?</option>
          <option value="Q4">What was the first concert or gig you went to?</option>
          <option value="Q5">What was the name of the street you grew up on?</option>
          <option value="Q6">What was your first job?</option>
        </select>
      </div>
      <div class="govuk-form-group {% if data ['answer1'] === '' %} govuk-form-group--error {% endif %}">
        <label class="govuk-label govuk-!-font-size-24 govuk-!-font-weight-bold" for="answer1">
          Answer 1
        </label>
        {% if data ['answer1'] === '' %}  
        <span id="UC-create-account-answer1-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> An answer must be provided for the first security question
        </span>
        {% endif %}
        <input class="govuk-input govuk-input--width-20 {% if data ['answer1'] === '' %} govuk-input--error {% endif%}" id="answer1" name="answer1" value="{{data ['answer1']}}">
      </div>
      <div class="govuk-form-group {% if data ['question2'] === 'Please select a question' %} govuk-form-group--error {% endif %}">
        <label class="govuk-label govuk-!-font-size-24 govuk-!-font-weight-bold" for="question2">
          Question 2
        </label>
        {% if data ['question2'] === 'Please select a question' %}
        <span id="UC-create-account-security2-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> A security question must be selected from the second list
        </span>
        {% endif %}
        <select class="govuk-select" id="question2" name="question2">
          <option>Please select a question</option>
          <option >What was the first film you saw at the cinema?</option>
          <option >What was the name of your first pet?</option>
          <option >Where was your first holiday?</option>
          <option >What was the surname of your best friend from childhood?</option>
          <option >What is or was your mother's main job?</option>
          <option >What was the make of your first car?</option>
        </select>
      </div>
      <div class="govuk-form-group {% if data ['answer2'] === '' %} govuk-form-group--error {% endif %}">
        <label class="govuk-label govuk-!-font-size-24 govuk-!-font-weight-bold" for="answer2">
          Answer 2
        </label>
        {% if data ['answer2'] === '' %}  
        <span id="UC-create-account-answer2-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> An answer must be provided for the secont security question
        </span>
        {% endif %}
        <input class="govuk-input govuk-input--width-20 {% if data ['answer2'] === '' %}govuk-input--error {% endif%}" id="answer2" name="answer2" value="{{data ['answer2']}}">
      </div>
    {% from "govuk/components/button/macro.njk" import govukButton %}
    {{ govukButton({
      text: "Continue"
    }) }}
    </form>
  </div>

{% endblock %}