{% extends "layout.html" %}

{% block pageTitle %}
Disability benefits
{% endblock %}


{% block content %}
<div class="govuk-body govuk-!-margin-top-9 govuk-body govuk-!-margin-bottom-9">
    <h1 class="govuk-heading-xl">
      Disability benefits
    </h1>
    {% from "govuk/components/radios/macro.njk" import govukRadios %}

    {{ govukRadios({
      classes: "govuk-radios--inline",
      idPrefix: "getting-disability-benefits",
      name: "getting-disability-benefits",
      fieldset: {
        legend: {
          text: "Are you getting any disability benefits?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }) }}
    {% from "govuk/components/button/macro.njk" import govukButton %}
    {{ govukButton({
      text: "Continue"
    }) }}
    <p><a href="javascript: history.go(-1)">Back</a></p>
  </div>

{% endblock %}