{% extends "layout.html" %}

{% block pageTitle %}
We sent you an email - Universal Credit
{% endblock %}


{% block content %}
<div class="govuk-body govuk-!-margin-top-9 govuk-body govuk-!-margin-bottom-9">
    <h1 class="govuk-heading-xl">
      We sent you an email
    </h1>

    <p class="govuk-body-l">If that's a valid account, we've sent an email to the address associated with it.</strong></p>

    <p>Follow the link in that email to reset your password.</p>
    <p>The link expires an hour after it was sent. It can only be used once.</p>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          I haven't received the email
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>Check your 'junk' or 'spam' email folder. If the email is there, move it your inbox. Add us to your 'safe senders' if you have that option.</p>
        <p>You can <a href="UCforgotPassword">ask for it to be sent again</a> - make sure you've entered your username and date of birth correctly.</p>
      </div>
    </details>
   
  </div>

{% endblock %}