{% extends "layout.html" %}

{% block pageTitle %}
Forgotten password
{% endblock %}


{% block content %}
<div class="govuk-body govuk-!-margin-top-9 govuk-body govuk-!-margin-bottom-9">
    <h1 class="govuk-heading-xl">
      Forgotten password
    </h1>
    <p class="govuk-body-l">We'll email you a link to reset your password.</p>
    <form class="form" method="post">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-!-font-size-24 govuk-!-font-weight-bold" for="email-to-resend-password">
        Username
      </label>
      <input class="govuk-input govuk-input--width-20" id="email-to-resend-password" name="email-to-resend-password" value="{{data ['email-to-resend-password']}}">
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-password-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Your date of birth
          </h1>
        </legend>
        <span id="dob-password-hint" class="govuk-hint">
          For example, 18 9 2012
        </span>
        <div class="govuk-date-input" id="dob-password">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="dob-password-day">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-password-day" name="dob-password-day" type="text" pattern="[0-9]*" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="dob-password-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-password-month" name="dob-password-month" type="text" pattern="[0-9]*" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="dob-password-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-password-year" name="dob-password-year" type="text" pattern="[0-9]*" inputmode="numeric">
            </div>
          </div>
        </div>
      </fieldset>
    </div>


    {% from "govuk/components/button/macro.njk" import govukButton %}
    {{ govukButton({
      text: "Send the link",
      href: "UCforgotPasswordSent"
    }) }}

    </form>

 <p><a href="javascript: history.go(-1)">Back</a></p>
   
  </div>

{% endblock %}