{% extends "layout.html" %}

{% block pageTitle %}
Sign in to your Universal Credit account
{% endblock %}


{% block content %}
<div class="govuk-body govuk-!-margin-top-9 govuk-body govuk-!-margin-bottom-9">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Sign in to your Universal Credit account
      </h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p>Sign in to your Universal Credit account to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>apply for an advance on your first payment</li>
          <li>see your statement</li>
          <li>report a change in circumstances</li>
          <li>add a note to your journal</li>
          <li>see your to-do list</li>
          <li>see when your next payment will be</li>
          <li>see your Claimant Commitment</li>
        </ul>
        <p>Use the username and password you set up when you applied for Universal Credit. You can ask for a reminder if you’re not sure.</p>
        {% from "govuk/components/button/macro.njk" import govukButton %}
        {{ govukButton({
          text: "Sign in",
          href: "/forms/govuk-forms/universal-credit/UCstart",
          isStartButton: true
        }) }}
        <h2 class="govuk-heading-s govuk-!-margin-top-9" style="border-top: 2px solid #1d70b8; padding-top:19px">Explore the topic</h2>
        <p><a href="/forms/govuk-forms/universal-credit/UCgoingTogovukPage">Universal Credit</a></p>
        </div>
        <div class="govuk-grid-column-one-third sidebar">
          <h2 class="govuk-heading-s" style="border-top: 2px solid #1d70b8; padding-top:19px">
              Related content
          </h2>
          <ul class="govuk-list">
            <li><a href="/forms/govuk-forms/universal-credit/UCgoingTogovukPage">Universal Credit</a></li>
            <li><a href="/forms/govuk-forms/universal-credit/UCapplyForUC">Apply for Universal Credit</a></li>
          </ul>
      </div>
    </div>
  </div>

{% endblock %}