{% extends "layout.html" %}

{% block pageTitle %}
{% if error %} Error - {% endif %}Create an account
{% endblock %}


{% block content %}
<div class="govuk-body govuk-!-margin-top-9 govuk-body govuk-!-margin-bottom-9">
    <h1 class="govuk-heading-xl">
      Mobile number
    </h1>

    <p>We will send a text message with a code to confirm it's your number.</p>
    <p>We use your mobile number to help protect your account. We might also contact you about your Universal Credit.</p>
    <form class="form" method="post" novalidate>

      <div class="govuk-form-group {% if not validUsername and error %} govuk-form-group--error {% endif %}">
        <label class="govuk-label govuk-!-font-size-24 govuk-!-font-weight-bold" for="username">
          Enter your mobile number
        </label>

        <input class="govuk-input govuk-input--width-20  {% if not validUsername and error %} govuk-input--error {% endif%}" id="username" name="username" type="text"  value="{{ data ['username']}}">

      </div>
      <div class="govuk-form-group">
        <a href="#">I do not have my own mobile phone</a>
      </div>




    {% from "govuk/components/button/macro.njk" import govukButton %}
    {{ govukButton({
      text: "Continue"
    }) }}
    </form>
  </div>

{% endblock %}
