{% extends "layout.html" %}

{% block pageTitle %}
Severe disability premium
{% endblock %}


{% block content %}
<div class="govuk-body govuk-!-margin-top-9 govuk-body govuk-!-margin-bottom-9">
    <h1 class="govuk-heading-xl">
      Severe disability premium
    </h1>
    <form class="form" method="post">
    {% from "govuk/components/radios/macro.njk" import govukRadios %}

    {{ govukRadios({
      idPrefix: "severe",
      name: "severe",
      fieldset: {
        legend: {
          text: "Did you get or were you entitled to the severe disability premium?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "This is extra money added to your Housing Benefit because you have a disability."
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        },
        {
          value: "dontknow",
          text: "I don't know"
        }
      ]
    }) }}
    {% from "govuk/components/button/macro.njk" import govukButton %}
    {{ govukButton({
      text: "Continue"
    }) }}
    </form>
    <p><a href="javascript: history.go(-1)">Back</a></p>
  </div>

{% endblock %}