{% extends "layout.html" %}

{% block pageTitle %}
{% if (data ['username-sign-in'] === '') or  (data ['password-sign-in'] === '') %} Error - {% endif %}Sign in to your Universal Credit account
{% endblock %}


{% block content %}
<div class="govuk-body govuk-!-margin-top-9 govuk-body govuk-!-margin-bottom-9">
    <h1 class="govuk-heading-xl">
      Sign in to your Universal Credit account
    </h1>


    {% if (data ['username-sign-in'] === '') or  (data ['password-sign-in'] === '') %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-UC-create-account">
        Fix the following:
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          {% if data ['username-sign-in'] === '' %}   <li><a href="#username-sign-in">Username</a></li>{% endif%}
          {% if data ['password-sign-in'] === '' %}   <li><a href="#password-sign-in">Password</a></li>{% endif%}
        </ul>
      </div>
    </div>
    {% endif %}


    <form class="form" method="post" novalidate>
    <div class="govuk-form-group {% if data ['username-sign-in'] === '' %} govuk-form-group--error {% endif %}">
      <label class="govuk-label govuk-!-font-size-24 govuk-!-font-weight-bold" for="username-sign-in">
        Username
      </label>
      {% if data ['username-sign-in'] === '' %}
      <span id="UC-create-account-username-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> Username should not be empty
      </span>
      {% endif %}
      <input class="govuk-input govuk-input--width-20 {% if data ['username-sign-in'] === '' %} govuk-input--error {% endif%}" id="username-sign-in" name="username-sign-in" value="{{data ['username-sign-in']}}">
    </div>

    <div class="govuk-form-group {% if data ['password-sign-in'] === '' %} govuk-form-group--error {% endif %}">
      <label class="govuk-label govuk-!-font-size-24 govuk-!-font-weight-bold" for="password-sign-in">
        Password
      </label>
      {% if data ['password-sign-in'] === '' %}
      <span id="UC-create-account-username-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> Password should not be empty
      </span>
      {% endif %}
      <input class="govuk-input govuk-input--width-20 {% if data ['password-sign-in'] === ''%} govuk-input--error {% endif%}" id="password-sign-in" name="password-sign-in" value="{{data ['password-sign-in']}}" type="password">
    </div>

    {% from "govuk/components/button/macro.njk" import govukButton %}
    {{ govukButton({
      text: "Sign in"
    }) }}
  </form>


    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Problems signing in?
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>You cannot sign in with your 'Find a job' (previously Universal Jobmatch) user ID and password.</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="UCforgotUsername">Forgotten your username?</a></li>
          <li><a href="UCforgotPassword">Forgotten your password?</a></li>
          </ul>
      </div>
    </details>

    <h2 class="govuk-heading-m">
      Do not have an online Universal Credit account?
    </h2>
    <p>You may be able to use the <a href="UCstart">Universal Credit online service</a> to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>create a Universal Credit account</li>
      <li>make a claim</li>
      <li>join your partner's claim</li>
    </ul>


    <h2 class="govuk-heading-m">
      Used GOV.UK Verify to confirm your identity?
    </h2>
    <p>If you have an online Universal Credit account, you can also <a href="#">sign in with GOV.UK Verify</a></p>
  </div>

  <div class="student-notes-box"> 
    <p>You can use any username or password here as long as you don't leave it empty.</p>
  </div>

{% endblock %}