{% extends "layout.html" %}

{% block pageTitle %}
Your disability benefit
{% endblock %}


{% block content %}
<div class="govuk-body govuk-!-margin-top-9 govuk-body govuk-!-margin-bottom-9">
    <h1 class="govuk-heading-xl">
      Your disability benefit
    </h1>
    <form class="form" method="post">
    {% from "govuk/components/radios/macro.njk" import govukRadios %}

    {{ govukRadios({
      idPrefix: "your-disability-benefit",
      name: "your-disability-benefit",
      fieldset: {
        legend: {
          text: "Do you get one of these disability benefits?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "dla",
          text: "Disability Living Allowance (DLA)"
        },
        {
          value: "pip",
          text: "Personal Independence Payment (PIP)"
        },
        {
          value: "attendance",
          text: "Attendance Allowance or Constant Attendance Allowance"
        },
        {
          value: "armed",
          text: "Armed Forces Independence Payment"
        },
        {
          value: "no",
          text: "No, none of them"
        }
      ]
    }) }}
    {% from "govuk/components/button/macro.njk" import govukButton %}
    {{ govukButton({
      text: "Continue"
    }) }}
    </form>
    <p><a href="javascript: history.go(-1)">Back</a></p>
  </div>

{% endblock %}