{% extends "layout.html" %}

{% block pageTitle %}
Your partner
{% endblock %}


{% block content %}
<div class="govuk-body govuk-!-margin-top-9 govuk-body govuk-!-margin-bottom-9">
    <h1 class="govuk-heading-xl">
      Your partner
    </h1>
    <form class="form" method="post">
    {% from "govuk/components/radios/macro.njk" import govukRadios %}

    {{ govukRadios({
      classes: "govuk-radios--inline",
      idPrefix: "your-partner",
      name: "your-partner",
      fieldset: {
        legend: {
          text: "Do you have a partner who already gets Universal Credit?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "A partner is a boyfriend, girlfriend, wife, husband or civil partner. Only answer 'yes' if the two of you are living together or moving in together."
      },
      items: [
        {
          value: "yes",
          text: "Yes"
        },
        {
          value: "no",
          text: "No"
        }
      ]
    }) }}
    {% from "govuk/components/button/macro.njk" import govukButton %}
    {{ govukButton({
      text: "Continue"
    }) }}
    </form>
    <p><a href="javascript: history.go(-1)">Back</a></p>
  </div>

{% endblock %}