{% include "../../../includes/job-header.html"  %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row govuk-!-margin-bottom-9">
            <div class="govuk-grid-column-full">
            <a class="govuk-back-link govuk-!-margin-bottom-8" href="javascript: history.go(-1)">Back</a>
            <h1 class="govuk-heading-l">Equal Opportunities Monitoring</h1>
            <h2 class="govuk-heading-m">1 - If you are currently one of our employees, will getting this job be a promotion?</h2>
            <p>To be continued ....</p>
           {% from "govuk/components/button/macro.njk" import govukButton %}
           {{ govukButton({
            text: "Continue",
            href: "/forms/other-forms/job/job-summary"
          }) }}
        </div>
    </div>
    </main>
</div>

{% include "../../../includes/job-footer.html"  %}

