{% include "../../../includes/job-header.html"  %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row govuk-!-margin-bottom-9">
          <div class="govuk-grid-column-full">
            <a class="govuk-back-link govuk-!-margin-bottom-8" href="javascript: history.go(-1)">Back</a>
            <h1 class="govuk-heading-l">Membership of Professional or Regulatory Bodies</h1>
            <form class="form" method="post">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
              
                      {% from "govuk/components/input/macro.njk" import govukInput %}
              
                      {{ govukInput({
                        label: {
                          text: "Full name of organisation(s)",
                          classes: "govuk-label--s"
                        },
                        classes: "govuk-!-width-one-half",
                        id: "job-org",
                        name: "job-org",
                        value: data ['job-org']
                      }) }}
                      {{ govukInput({
                        label: {
                          text: "Registration Number",
                          classes: "govuk-label--s"
                        },
                        classes: "govuk-!-width-one-half",
                        id: "job-reg",
                        name: "job-reg",
                        value: data ['job-reg']
                      }) }}
                      {{ govukInput({
                        label: {
                          text: "Renewal date",
                          classes: "govuk-label--s"
                        },
                        classes: "govuk-!-width-one-quarter",
                        id: "job-renewal-date",
                        name: "job-renewal-date",
                        value: data ['job-renewal-date']
                      }) }}

              
                        {% from "govuk/components/button/macro.njk" import govukButton %}
                        {{ govukButton({
                            text: "Continue"
                        }) }}
                    </div>
                </div>
            </form>
            <div class="student-notes-box"> 
              <p>We have simplified here: you are only asked to enter one membership if relevant.</p>
              <p>On a real form, you would need to enter all the memberships or regulatory bodies you have.</p>
            </div>
            </div>
        </div>
    </main>
</div>

{% include "../../../includes/job-footer.html"  %}

