{% include "../../../includes/job-header.html"  %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row govuk-!-margin-bottom-9">
          <div class="govuk-grid-column-full">
            <a class="govuk-back-link govuk-!-margin-bottom-8" href="javascript: history.go(-1)">Back</a>
            <h1 class="govuk-heading-l">Contact details</h1>
            <form class="form" method="post">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
              
                      {% from "govuk/components/input/macro.njk" import govukInput %}
              
                      {{ govukInput({
                        label: {
                          text: "Phone number day",
                          classes: "govuk-label--m"
                        },
                        classes: "govuk-!-width-one-half",
                        id: "job-phone-day",
                        name: "job-phone-day",
                        value: data ['job-phone-day']
                      }) }}
                      {{ govukInput({
                        label: {
                          text: "Phone number evening",
                          classes: "govuk-label--m"
                        },
                        classes: "govuk-!-width-one-half",
                        id: "job-phone-evening",
                        name: "job-phone-evening",
                        value: data ['job-phone-evening']
                      }) }}
                      {{ govukInput({
                        label: {
                          text: "Mobile number",
                          classes: "govuk-label--m"
                        },
                        classes: "govuk-!-width-one-half",
                        id: "job-mobile",
                        name: "job-mobile",
                        value: data ['job-mobile']
                      }) }}
                      {{ govukInput({
                        label: {
                          text: "Email address (optional)",
                          classes: "govuk-label--m"
                        },
                        hint: {
                          text: "Add one if you agree to for us to use it to contact you"
                        },
                        classes: "govuk-!-width-one-half",
                        id: "job-email",
                        name: "job-email",
                        value: data ['job-email']
                      }) }}


                      {% from "govuk/components/select/macro.njk" import govukSelect %}

                      {{ govukSelect({
                        id: "contact-by",
                        name: "contact-by",
                        label: {
                          text: "Best way to contact you",
                          classes: "govuk-label--m"
                        },
                        hint: {
                          text: "We might need to contact you, tell us you preferred contact method"
                        },
                        items: [
                        {
                          value: "",
                          text: "Select"
                        },
                          {
                            value: "Phone during the day",
                            text: "Phone during the day"
                          },
                          {
                            value: "Phone in the evening",
                            text: "Phone in the evening"
                          },
                          {
                            value: "Mobile",
                            text: "Mobile"
                          },
                          {
                            value: "Email",
                            text: "Email"
                          }
                        ]
                      }) }}

                        {% from "govuk/components/button/macro.njk" import govukButton %}
                        {{ govukButton({
                            text: "Continue"
                        }) }}
                    </div>
                </div>
            </form>
        </div>
      </div>
    </main>
</div>

{% include "../../../includes/job-footer.html"  %}

