{% include "../../../includes/job-header.html"  %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row govuk-!-margin-bottom-9">
            <a class="govuk-back-link govuk-!-margin-bottom-8" href="javascript: history.go(-1)">Back</a>
            <h1 class="govuk-heading-l">Part D</h1>
            <h2 class="govuk-heading-m">Equal Opportunities Monitoring</h2>
           <p>We want to ensure that our job opportunities are open to all.  
               The only way we can ensure there is equal opportunity is to monitor applications we receive and compare the profile of people who apply with those appointed.  
               Therefore, this form asks you for your ethnic origin, gender, disability, religion, sexuality and age.  
               <strong>The information you provide in this part of the form (Part D) is confidential and is not used in the selection process.  It will be separated from the rest of the form when we receive it.</strong></p>
           {% from "govuk/components/button/macro.njk" import govukButton %}
           {{ govukButton({
            text: "Continue",
            href: "/forms/other-forms/job/job-equal-opportunities"
          }) }}
        </div>
    </main>
</div>

{% include "../../../includes/job-footer.html"  %}

