{% include "../../../includes/job-header.html"  %}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row govuk-!-margin-bottom-9">
            <a class="govuk-back-link govuk-!-margin-bottom-8" href="javascript: history.go(-1)">Back</a>
            <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Driving Licence </h1>
            <p class="govuk-!-margin-top-1">(see Job Description - only complete if a driving licence is essential)</p>
            <form class="form" method="post">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                      {% from "govuk/components/radios/macro.njk" import govukRadios %}

                      {{ govukRadios({
                        classes: "govuk-radios--inline",
                        idPrefix: "job-driving-licence",
                        name: "job-driving-licence",
                        fieldset: {
                          legend: {
                            text: "Do you have a driving licence?   ",
                            classes: "govuk-fieldset__legend--m"
                          }
                        },
                        items: [
                          {
                            value: "yes",
                            text: "Yes"
                          },
                          {
                            value: "no",
                            text: "No"
                          }
                        ]
                      }) }}

                      {% from "govuk/components/input/macro.njk" import govukInput %}
                      {{ govukInput({
                        label: {
                          text: "If yes, which categories are you entitled to drive,
                          eg.  B, BE, C",
                          classes: "govuk-label--s"
                        },
                        classes: "govuk-!-width-one-quarter",
                        id: "job-category",
                        name: "job-category"
                      }) }}

              
                        {% from "govuk/components/button/macro.njk" import govukButton %}
                        {{ govukButton({
                            text: "Continue"
                        }) }}
                    </div>
                </div>
            </form>
        </div>
    </main>
</div>

{% include "../../../includes/job-footer.html"  %}

