{% extends "layout_erc-old.html" %}

{% block pageTitle %}
Create your online profile
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l do-it-online">
      Do it online
    </h1>

    <h2 class="govuk-heading-l erc-alt-double-lines">Council Tax Online</h2>
    <p class="erc-alt-dark-blue-bg">Create your password</p>
    <div class="govuk-heading-s erc-alt-light-grey">
      <p class="govuk-!-font-size-14">Please choose a password which must be at least 8 characters in length and include at least 1 number, 1 uppercase letter, and 1 lowercase letter.</p>
    </div>

      <dl class="govuk-summary-list centred-input-fields">
        <div class="govuk-summary-list__row ">
          <dt class="govuk-summary-list__key">
            <label class="govuk-label" for="rct-password">Your Password: <span style="color: red"> *</span></label>
          </dt>
          <dd class="govuk-summary-list__value">
            <input class="govuk-input govuk-!-width-full" id="rct-password" name="rct-password" type="text" value="{{ data ['rct-password']}}">
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list centred-input-fields">
        <div class="govuk-summary-list__row ">
          <dt class="govuk-summary-list__key">
            <label class="govuk-label" for="rct-confirmpassword">Please type your password again:<span style="color: red"> *</span></label>
          </dt>
          <dd class="govuk-summary-list__value">
            <input class="govuk-input govuk-!-width-full" id="rct-confirmpassword" name="rct-confirmpassword" type="text" value="{{ data ['rct-confirmpassword']}}">
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
      </dl>

      {{ govukButton({
        text: "Continue",
        classes: "button-primary erc-alt",
        href: "RCTprofileConfirmation"
      }) }}

    </div>
  </div>
  <div class="student-notes-box">
    <p>On the real form, your username created on the previous page will be asked for along with your password to access your online account</p>
  </div>
{% endblock %}
