{% extends "layout.html" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/other.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}


{% block header %}
<div class="govuk-header__container govuk-width-container">
  <div class="govuk-header__logo">
      <span class="govuk-header__logotype">
          <a href="/index.html"><image src="{{ asset_path }}/images/DVLA/DVLA_Logo.gif" alt="DVLA Logo" width="593" height="50"></image></a>
      </span>
  </div>
</div>
{% endblock %}

{% block pageTitle %}
Motoring
{% endblock %}


{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-9">
    <span class="apply-DVLA-tagline">This is a training website</span>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        <div class="orange-block">
          <h2 class="govuk-heading-s orange-heading">Step by step</h2>
          <p>Follow our easy step by step process to help you fill this form in quickly and accurately.</p>
          <ol class="govuk-list govuk-list--number">
            <li><strong>Authentication</strong></li>
            <ul class="govuk-list">
                <li>Authentication</li>
                <li>Security of your data</li>
                <li>Your details</li>
                <li><strong>Your addresses</strong></li>
                <li>Security details</li>
                <li>National Insurance number</li>
                <li>UK passport number</li>
              </ul>
              <li><strong>Application</strong></li>
              <li><strong>Summary</strong></li>
              <li><strong>Payment</strong></li>
              <li><strong>Confirmation</strong></li>
            </ol>
        </div>
    </div>
    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-m">
            Apply for a provisional licence
        </h1>
        <h2 class="govuk-heading-s yellow-heading">Your addresses</h2>
        <div class="small-font">
          <p>Please check that this is the correct address, before choosing 'Next'. If not, choose 'Search again' or 'Other ways to enter your address'.</p>
        </div>

        <h5 class="govuk-heading-s grey-heading">Address</h5>

        <textarea class="govuk-textarea" id="dvla-provisional-licence-address" name="dvla-provisional-licence-address" rows="5" aria-describedby="more-detail-hint" style="resize:none"
        >90 Mountcastle Wynd,
KILWINNING,
KA13 6DH</textarea>

        <div class="govuk-form-group dvla-prov-licence-form-row-container">
          <div class="dvla-prov-licence-label-container">
            <label class="govuk-label prov-licence-label" for="supplementary-details">
              Add supplementary information
            </label>
            <div class="small-font">
              <p><em>(for example, a house name)</em></p>
            </div>
          </div>
          <div class="dvla-prov-licence-input-container">
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="supplementary-info" name="supplementary-info" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="supplementary-info">

                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="small-font">
          <p>Sometimes our address database will not hold supplementary information about an address. If you wish, you can add this information yourself.</p>
          <p><a href="/forms/govuk-forms/learn-to-drive/apply-provisional-licence/APLaddressSearch.html" class="red-dvla-link">Search again</a></p>
          <p><a href="/forms/govuk-forms/learn-to-drive/apply-provisional-licence/APLaddressEntry.html" class="red-dvla-link">Other ways to enter your address</a></p>
        </div>
        <p style="color:red; font-weight:bold; font-size:30px;">* I need to route this page for when supplementary info is ticked. *</p>
        <hr>



        <div class="dvla-button-row">
            {{ govukButton({
              text: "Previous",
              classes: "button-primary dvla-previous-button",
              href: "/forms/govuk-forms/learn-to-drive/apply-provisional-licence/APLaddressSearch.html"
            }) }}

            {{ govukButton({
              text: "Cancel",
              classes: "button-primary dvla-cancel-button",
              href: "/forms/govuk-forms/learn-to-drive/apply-provisional-licence/cancel-DVLA-apply-form.html"
            }) }}
            {{ govukButton({
              text: "Next",
              classes: "button-primary dvla-next-button",
              href: "/forms/govuk-forms/learn-to-drive/apply-provisional-licence/APLaddressYearsLived.html"
            }) }}
        </div>




    </div>
</div>
{% endblock %}

{% block footer %}
{% include "../../../../includes/generic-footer.html"  %}
{% endblock %}
