{% extends "layout.html" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/other.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}


{% block header %}
<div class="govuk-header__container govuk-width-container">
  <div class="govuk-header__logo">
      <span class="govuk-header__logotype">
          <a href="/index.html"><image src="{{ asset_path }}/images/DVLA/DVLA_Logo.gif" alt="DVLA Logo" width="593" height="50"></image></a>
      </span>
  </div>
</div>
{% endblock %}

{% block pageTitle %}
Motoring
{% endblock %}


{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-9">
    <span class="apply-DVLA-tagline">This is a training website</span>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        <div class="orange-block">
          <h2 class="govuk-heading-s orange-heading">Step by step</h2>
          <p>Follow our easy step by step process to help you fill this form in quickly and accurately.</p>
          <ol class="govuk-list govuk-list--number">
            <li><strong>Authentication</strong></li>
            <ul class="govuk-list">
                <li>Authentication</li>
                <li>Security of your data</li>
                <li>Your details</li>
                <li><strong>Your addresses</strong></li>
                <li>Security details</li>
                <li>National Insurance number</li>
                <li>UK passport number</li>
              </ul>
              <li><strong>Application</strong></li>
              <li><strong>Summary</strong></li>
              <li><strong>Payment</strong></li>
              <li><strong>Confirmation</strong></li>
            </ol>
        </div>
    </div>
    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-m">
            Apply for a provisional licence
        </h1>
        <h2 class="govuk-heading-s yellow-heading">Your addresses</h2>
        <div class="small-font">
          <h2 class="govuk-heading-m">Your address history</h2>
          <p>Please tell us where you have lived over the last three years.</p>

          <h5 class="govuk-heading-s grey-heading">Address 1</h5>
          <p></p>
          <p>
            <em>Where you live now</em><br>
            {% if(data['APL-sup-details']) %} {{ data ['APL-sup-details']}},<br>{% endif %}
            {{ data['APL-user-house-no'] }} Example Street,<br>
            GLASGOW,<br>
            {{ data['APL-user-postcode'] }}</p>
          <p style="margin-bottom:0"><b><em>How long did you live there?</em></b></p>
          <p>
            {% if(data['APL-address-no-years']) == "" %}
              0 year(s)
            {% else %}
              {{data['APL-address-no-years']}} year(s)
            {% endif %}

            {% if(data['APL-address-no-months']) == "" %}
              0 month(s)
            {% else %}
              {{data['APL-address-no-months']}} month(s)
            {% endif %}</p>
          <p><a href="/forms/govuk-forms/learn-to-drive/apply-provisional-licence/APLaddressSearch.html" class="red-dvla-link">Change address 1</a></p>

          <h5 class="govuk-heading-s grey-heading">Address 2</h5>
          <p></p>
          <p><em>Your last address</em><br>90 Mountcastle Wynd,<br>KILWINNING<br>KA13 6DH</p>
          <p style="margin-bottom:0"><b><em>How long did you live there?</em></b></p>
          <p>3 year(s) 9 month(s)</p>
          <p><a href="#" class="red-dvla-link link-disabled">Change address 2</a></p>

          <p>Do not click the previous/next button more than once.</p>
        </div>
        <hr>

        <div class="dvla-button-row">
          <a class="govuk-button button-primary dvla-previous-button" href="/forms/govuk-forms/learn-to-drive/apply-provisional-licence/APLaddressYearsLived.html">Previous</a>
          <a class="govuk-button button-primary dvla-cancel-button" href="/forms/govuk-forms/learn-to-drive/apply-provisional-licence/cancel-DVLA-apply-form.html">Cancel</a>
          <a class="govuk-button button-primary dvla-custom-next-button" href="/forms/govuk-forms/learn-to-drive/apply-provisional-licence/APLsecurityDetails.html">Next</a>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include "../../../../includes/generic-footer.html"  %}
{% endblock %}
