{% extends "layout.html" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/other.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}


{% block header %}
<div class="govuk-header__container govuk-width-container">
  <div class="govuk-header__logo">
      <span class="govuk-header__logotype">
          <a href="/index.html"><image src="{{ asset_path }}/images/DVLA/DVLA_Logo.gif" alt="DVLA Logo" width="593" height="50"></image></a>
      </span>
  </div>
</div>
{% endblock %}

{% block pageTitle %}
Motoring
{% endblock %}


{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-9">
    <span class="apply-DVLA-tagline">This is a training website</span>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        <div class="orange-block">
          <h2 class="govuk-heading-s orange-heading">Step by step</h2>
          <p>Follow our easy step by step process to help you fill this form in quickly and accurately.</p>
          <ol class="govuk-list govuk-list--number">
            <li><strong>Authentication</strong></li>
            <ul class="govuk-list">
                <li>Authentication</li>
                <li>Security of your data</li>
                <li><strong>Your details</strong></li>
                <li>Your addresses</li>
                <li>Security details</li>
                <li>National Insurance number</li>
                <li>UK passport number</li>
              </ul>
              <li><strong>Application</strong></li>
              <li><strong>Summary</strong></li>
              <li><strong>Payment</strong></li>
              <li><strong>Confirmation</strong></li>
            </ol>
        </div>
    </div>
    <div class="govuk-grid-column-one-half">
      <form class="form" method="post">
        <h1 class="govuk-heading-m">
            Apply for a provisional licence
        </h1>
        <h2 class="govuk-heading-s yellow-heading">Your details</h2>
        {% if (data['APLdetailsError'] === true)%}
        <p class="provlError" style="font-weight: 700; line-height: 1.5; font-size: 14px">Please complete all fields marked *</p>
        {% endif %}
        <div class="small-font">
          <p>Please complete your personal details.</p>
          <p><em>Please note: * indicates that an answer is required.</em></p>
          <div class="govuk-form-group dvla-prov-licence-form-row-container">
            <div class="dvla-prov-licence-label-container">
              <label class="govuk-label prov-licence-label" for="APL-user-title">
                Title *
              </label>
              <p><em>If you have a title that does not appear in the list, select 'Other'.</em></p>
            </div>
            <div class="dvla-prov-licence-input-container">
              <select class="govuk-select ph-input" id="APL-user-title" name="APL-user-title">
                <option value="" {% if(data['APL-user-title'] === '')%} selected {% endif %}></option>
                <option value="Mr" {% if(data['APL-user-title'] === 'Mr')%} selected {% endif %}>Mr</option>
                <option value="Mrs" {% if(data['APL-user-title'] === 'Mrs')%} selected {% endif %}>Mrs</option>
                <option value="Ms" {% if(data['APL-user-title'] === 'Ms')%} selected {% endif %}>Ms</option>
                <option value="Miss" {% if(data['APL-user-title'] === 'Miss')%} selected {% endif %}>Miss</option>
                <option value="Dr" {% if(data['APL-user-title'] === 'Dr')%} selected {% endif %}>Doctor</option>
                <option value="rev" {% if(data['APL-user-title'] === 'rev')%} selected {% endif %}>Rev</option>
                <option value="no-title" {% if(data['APL-user-title'] === 'no-title')%} selected {% endif %}>No Title</option>
                <option value="other" {% if(data['APL-user-title'] === 'other')%} selected {% endif %}>Other</option>
              </select>
            </div>
          </div>

          <div class="govuk-form-group dvla-prov-licence-form-row-container">
            <div class="dvla-prov-licence-label-container">
              <label class="govuk-label prov-licence-label">
                ...or other title
              </label>
              <p><em>(only if you selected 'Other' above)</em></p>
            </div>
            <div class="dvla-prov-licence-input-container">
               <input class="govuk-input govuk-input--width-5" id="APL-user-title-other" name="APL-user-title-other" type="text" value="{{ data ['APL-user-title-other']}}">
            </div>
          </div>

          <div class="govuk-form-group dvla-prov-licence-form-row-container">
            <div class="dvla-prov-licence-label-container">
              <label class="govuk-label prov-licence-label" for="sort">
                Forename(s) *
              </label>
              <p><em>Enter your first name, and any middle names.</em></p>
            </div>
            <div class="dvla-prov-licence-input-container">
               <input class="govuk-input govuk-input--width-10" id="APL-user-forenames" name="APL-user-forenames" value="{{ data ['APL-user-forenames']}}" type="text">
            </div>
          </div>

          <div class="govuk-form-group dvla-prov-licence-form-row-container">
            <div class="dvla-prov-licence-label-container">
              <label class="govuk-label prov-licence-label">
                Surname *
              </label>
            </div>
            <div class="dvla-prov-licence-input-container">
               <input class="govuk-input govuk-input--width-10" id="APL-user-surname" name="APL-user-surname" value="{{ data ['APL-user-surname']}}" type="text">
            </div>
          </div>

          <div class="govuk-form-group dvla-prov-licence-form-row-container">
            <div class="dvla-prov-licence-label-container">
              <label class="govuk-label prov-licence-label">
                Gender *
              </label>
            </div>
            <div class="dvla-prov-licence-input-container">
              <select class="govuk-select" id="APL-user-gender" name="APL-user-gender">
                <option value="" {% if(data['APL-user-gender'] === '')%} selected {% endif %}> </option>
                <option value="female" {% if(data['APL-user-gender'] === 'female')%} selected {% endif %}>Female</option>
                <option value="male" {% if(data['APL-user-gender'] === 'male')%} selected {% endif %}>Male</option>
              </select>
            </div>
          </div>

          <div class="govuk-form-group dvla-prov-licence-form-row-container">
            <div class="dvla-prov-licence-label-container">
              <label class="govuk-label prov-licence-label">
                Date of birth *
              </label>
            </div>
            <div class="dvla-prov-licence-input-container">
              <fieldset class="govuk-fieldset" role="group">
               <div class="govuk-date-input" id="APL-dob">
                 <div class="dvla-prov-licence-input-container">
                   <label class="govuk-label label-bold-text" for="APL-dob-day">
                     Day:
                   </label>
                   <input class="govuk-input govuk-input--width-2" id="APL-dob-day" name="APL-dob-day" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data ['APL-dob-day']}}">
                   <label class="govuk-label label-bold-text" for="APL-dob-month">
                     Month:
                   </label>
                   <input class="govuk-input govuk-input--width-2" id="APL-dob-month" name="APL-dob-month" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data ['APL-dob-month']}}">
                   <label class="govuk-label label-bold-text" for="APL-dob-year">
                     Year:
                   </label>
                   <input class="govuk-input govuk-input--width-4" id="APL-dob-year" name="APL-dob-year" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data ['APL-dob-year']}}">
               </div>
              </fieldset>
            </div>
          </div>

          <div class="govuk-form-group dvla-prov-licence-form-row-container">
            <div class="dvla-prov-licence-label-container">
              <label class="govuk-label prov-licence-label">
                Country of birth *
              </label>
            </div>
            <div class="dvla-prov-licence-input-container">
              <select class="govuk-select" id="APL-user-country-of-birth" name="APL-user-country-of-birth">
                <option value=""></option>
                <option value="GBR">United Kingdom</option>
                <option value="GBR01">England</option>
                <option value="GBR03" selected="">Wales</option>
                <option value="GBR02">Scotland</option>
                <option value="GBR04">Northern Ireland</option>
                <option value="GBR08">Jersey</option>
                <option value="GBR06">Guernsey</option>
                <option value="GBR05">Isle of Man</option>
                <option value="divider">--------------</option>
                <option value="AFG">Afghanistan</option>
                <option value="ALA">Aland</option>
                <option value="ALB">Albania</option>
                <option value="DZA">Algeria</option>
                <option value="ASM">American Samoa</option>
                <option value="AND">Andorra</option>
                <option value="AGO">Angola</option>
                <option value="AIA">Anguilla</option>
                <option value="ATA">Antarctica</option>
                <option value="ATG">Antigua and Barbuda</option>
                <option value="ARG">Argentina</option>
                <option value="ARM">Armenia</option>
                <option value="ABW">Aruba</option>
                <option value="AUS">Australia</option>
                <option value="AUT">Austria</option>
                <option value="AZE">Azerbaijan</option>
                <option value="BHS">Bahamas</option>
                <option value="BHR">Bahrain</option>
                <option value="BGD">Bangladesh</option>
                <option value="BRB">Barbados</option>
                <option value="BLR">Belarus</option>
                <option value="BEL">Belgium</option>
                <option value="BLZ">Belize</option>
                <option value="BEN">Benin</option>
                <option value="BMU">Bermuda</option>
                <option value="BTN">Bhutan</option>
                <option value="BOL">Bolivia</option>
                <option value="BIH">Bosnia and Herzegovina</option>
                <option value="BWA">Botswana</option>
                <option value="BVT">Bouvet Island</option>
                <option value="BRA">Brazil</option>
                <option value="GBRBFG">British Forces Germany</option>
                <option value="IOT">British Indian Ocean Territory</option>
                <option value="BRN">Brunei Darussalam</option>
                <option value="BGR">Bulgaria</option>
                <option value="BFA">Burkina Faso</option>
                <option value="BDI">Burundi</option>
                <option value="KHM">Cambodia</option>
                <option value="CMR">Cameroon</option>
                <option value="CAN">Canada</option>
                <option value="CPV">Cape Verde</option>
                <option value="CYM">Cayman Islands</option>
                <option value="CAF">Central African Republic</option>
                <option value="TCD">Chad</option>
                <option value="CHL">Chile</option>
                <option value="CHN">China</option>
                <option value="CXR">Christmas Island</option>
                <option value="CCK">Cocos (Keeling) Islands</option>
                <option value="COL">Colombia</option>
                <option value="COM">Comoros</option>
                <option value="COG">Congo (Brazzaville)</option>
                <option value="COD">Congo (Kinshasa)</option>
                <option value="COK">Cook Islands</option>
                <option value="CRI">Costa Rica</option>
                <option value="CIV">Cote d'Ivoire</option>
                <option value="HRV">Croatia</option>
                <option value="CUB">Cuba</option>
                <option value="CYP">Cyprus</option>
                <option value="CZE">Czech Republic</option>
                <option value="DNK">Denmark</option>
                <option value="DJI">Djibouti</option>
                <option value="DMA">Dominica</option>
                <option value="DOM">Dominican Republic</option>
                <option value="ECU">Ecuador</option>
                <option value="EGY">Egypt</option>
                <option value="SLV">El Salvador</option>
                <option value="GNQ">Equatorial Guinea</option>
                <option value="ERI">Eritrea</option>
                <option value="EST">Estonia</option>
                <option value="ETH">Ethiopia</option>
                <option value="FLK">Falkland Islands</option>
                <option value="FRO">Faroe Islands</option>
                <option value="FJI">Fiji</option>
                <option value="FIN">Finland</option>
                <option value="FRA">France</option>
                <option value="GUF">French Guiana</option>
                <option value="PYF">French Polynesia</option>
                <option value="ATF">French Southern Lands</option>
                <option value="GAB">Gabon</option>
                <option value="GMB">Gambia</option>
                <option value="GEO">Georgia</option>
                <option value="DEU">Germany</option>
                <option value="GHA">Ghana</option>
                <option value="GIB">Gibraltar</option>
                <option value="GRC">Greece</option>
                <option value="GRL">Greenland</option>
                <option value="GRD">Grenada</option>
                <option value="GLP">Guadeloupe</option>
                <option value="GUM">Guam</option>
                <option value="GTM">Guatemala</option>
                <option value="GIN">Guinea</option>
                <option value="GNB">Guinea-Bissau</option>
                <option value="GUY">Guyana</option>
                <option value="HTI">Haiti</option>
                <option value="HMD">Heard and McDonald Islands</option>
                <option value="HND">Honduras</option>
                <option value="HKG">Hong Kong</option>
                <option value="HUN">Hungary</option>
                <option value="ISL">Iceland</option>
                <option value="IND">India</option>
                <option value="IDN">Indonesia</option>
                <option value="IRN">Iran</option>
                <option value="IRQ">Iraq</option>
                <option value="IRL">Ireland</option>
                <option value="ISR">Israel</option>
                <option value="ITA">Italy</option>
                <option value="JAM">Jamaica</option>
                <option value="JPN">Japan</option>
                <option value="JOR">Jordan</option>
                <option value="KAZ">Kazakhstan</option>
                <option value="KEN">Kenya</option>
                <option value="KIR">Kiribati</option>
                <option value="PRK">Korea, North</option>
                <option value="KOR">Korea, South</option>
                <option value="KSV">Kosovo</option>
                <option value="KWT">Kuwait</option>
                <option value="KGZ">Kyrgyzstan</option>
                <option value="LAO">Laos</option>
                <option value="LVA">Latvia</option>
                <option value="LBN">Lebanon</option>
                <option value="LSO">Lesotho</option>
                <option value="LBR">Liberia</option>
                <option value="LBY">Libya</option>
                <option value="LIE">Liechtenstein</option>
                <option value="LTU">Lithuania</option>
                <option value="LUX">Luxembourg</option>
                <option value="MAC">Macau</option>
                <option value="MKD">Macedonia</option>
                <option value="MDG">Madagascar</option>
                <option value="MWI">Malawi</option>
                <option value="MYS">Malaysia</option>
                <option value="MDV">Maldives</option>
                <option value="MLI">Mali</option>
                <option value="MLT">Malta</option>
                <option value="MHL">Marshall Islands</option>
                <option value="MTQ">Martinique</option>
                <option value="MRT">Mauritania</option>
                <option value="MUS">Mauritius</option>
                <option value="MYT">Mayotte</option>
                <option value="MEX">Mexico</option>
                <option value="FSM">Micronesia</option>
                <option value="MDA">Moldova</option>
                <option value="MCO">Monaco</option>
                <option value="MNG">Mongolia</option>
                <option value="MNE">Montenegro</option>
                <option value="MSR">Montserrat</option>
                <option value="MAR">Morocco</option>
                <option value="MOZ">Mozambique</option>
                <option value="MMR">Myanmar</option>
                <option value="NAM">Namibia</option>
                <option value="NRU">Nauru</option>
                <option value="NPL">Nepal</option>
                <option value="NLD">Netherlands</option>
                <option value="ANT">Netherlands Antilles</option>
                <option value="NCL">New Caledonia</option>
                <option value="NZL">New Zealand</option>
                <option value="NIC">Nicaragua</option>
                <option value="NER">Niger</option>
                <option value="NGA">Nigeria</option>
                <option value="NIU">Niue</option>
                <option value="NFK">Norfolk Island</option>
                <option value="MNP">Northern Mariana Islands</option>
                <option value="NOR">Norway</option>
                <option value="OMN">Oman</option>
                <option value="PAK">Pakistan</option>
                <option value="PLW">Palau</option>
                <option value="PSE">Palestine</option>
                <option value="PAN">Panama</option>
                <option value="PNG">Papua New Guinea</option>
                <option value="PRY">Paraguay</option>
                <option value="PER">Peru</option>
                <option value="PHL">Philippines</option>
                <option value="PCN">Pitcairn</option>
                <option value="POL">Poland</option>
                <option value="PRT">Portugal</option>
                <option value="PRI">Puerto Rico</option>
                <option value="QAT">Qatar</option>
                <option value="REU">Reunion</option>
                <option value="ROU">Romania</option>
                <option value="RUS">Russian Federation</option>
                <option value="RWA">Rwanda</option>
                <option value="SHN">Saint Helena</option>
                <option value="KNA">Saint Kitts and Nevis</option>
                <option value="LCA">Saint Lucia</option>
                <option value="SPM">Saint Pierre and Miquelon</option>
                <option value="VCT">Saint Vincent and the Grenadines</option>
                <option value="WSM">Samoa</option>
                <option value="SMR">San Marino</option>
                <option value="STP">Sao Tome and Principe</option>
                <option value="SAU">Saudi Arabia</option>
                <option value="SEN">Senegal</option>
                <option value="SRB">Serbia</option>
                <option value="SCG">Serbia and Montenegro</option>
                <option value="SYC">Seychelles</option>
                <option value="SLE">Sierra Leone</option>
                <option value="SGP">Singapore</option>
                <option value="SVK">Slovakia</option>
                <option value="SVN">Slovenia</option>
                <option value="SLB">Solomon Islands</option>
                <option value="SOM">Somalia</option>
                <option value="ZAF">South Africa</option>
                <option value="SGS">South Georgia and South Sandwich Islands</option>
                <option value="ESP">Spain</option>
                <option value="LKA">Sri Lanka</option>
                <option value="SDN">Sudan</option>
                <option value="SUR">Suriname</option>
                <option value="SJM">Svalbard and Jan Mayen Islands</option>
                <option value="SWZ">Swaziland</option>
                <option value="SWE">Sweden</option>
                <option value="CHE">Switzerland</option>
                <option value="SYR">Syria</option>
                <option value="TWN">Taiwan</option>
                <option value="TJK">Tajikistan</option>
                <option value="TZA">Tanzania</option>
                <option value="THA">Thailand</option>
                <option value="TLS">Timor-Leste</option>
                <option value="TGO">Togo</option>
                <option value="TKL">Tokelau</option>
                <option value="TON">Tonga</option>
                <option value="TTO">Trinidad and Tobago</option>
                <option value="TUN">Tunisia</option>
                <option value="TUR">Turkey</option>
                <option value="TKM">Turkmenistan</option>
                <option value="TCA">Turks and Caicos Islands</option>
                <option value="TUV">Tuvalu</option>
                <option value="UGA">Uganda</option>
                <option value="UKR">Ukraine</option>
                <option value="ARE">United Arab Emirates</option>
                <option value="UMI">United States Minor Outlying Islands</option>
                <option value="USA">United States of America</option>
                <option value="URY">Uruguay</option>
                <option value="UZB">Uzbekistan</option>
                <option value="VUT">Vanuatu</option>
                <option value="VAT">Vatican City</option>
                <option value="VEN">Venezuela</option>
                <option value="VNM">Viet Nam</option>
                <option value="VGB">Virgin Islands, British</option>
                <option value="VIR">Virgin Islands, U.S.</option>
                <option value="WLF">Wallis and Futuna Islands</option>
                <option value="ESH">Western Sahara</option>
                <option value="YEM">Yemen</option>
                <option value="YUG">Yugoslavia</option>
                <option value="ZMB">Zambia</option>
                <option value="ZWE">Zimbabwe</option>
              </select>
          </div>
        </div>
          <p>If all the details are correct please click 'Next'.</p>
          <p>Do not click the previous/next button more than once.</p>
          <hr>
        </div>

        <div class="dvla-button-row">
          <a class="govuk-button button-primary dvla-previous-button" href="/forms/govuk-forms/learn-to-drive/apply-provisional-licence/APLsecurity-data.html">Previous</a>
          <a class="govuk-button button-primary dvla-cancel-button" href="/forms/govuk-forms/learn-to-drive/apply-provisional-licence/cancel-DVLA-apply-form.html">Cancel</a>
          <input class="govuk-button button-primary dvla-custom-next-button" type="submit" value="Next">
        </div>

      </form>
    </div>
    <div class="govuk-grid-column-one-quarter">
        <div class="grey-block">
          <h2 class="govuk-heading-s orange-heading">Need more help?</h2>
            <p><a href="/forms/govuk-forms/learn-to-drive/apply-provisional-licence/APLusingYourDetails.html" class="red-dvla-link-dark">Using your personal details</a></p>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include "../../../../includes/generic-footer.html"  %}
{% endblock %}
