{% extends "layout.html" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/other.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}


{% block header %}
<div class="govuk-header__container govuk-width-container">
  <div class="govuk-header__logo">
      <span class="govuk-header__logotype">
          <a href="/index.html"><image src="{{ asset_path }}/images/DVLA/DVLA_Logo.gif" alt="DVLA Logo" width="593" height="50"></image></a>
      </span>
  </div>
</div>
{% endblock %}

{% block pageTitle %}
Motoring
{% endblock %}


{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-9">
    <span class="apply-DVLA-tagline">This is a training website</span>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        <div class="orange-block">
          <h2 class="govuk-heading-s orange-heading">Step by step</h2>
          <p>Follow our easy step by step process to help you fill this form in quickly and accurately.</p>
          <ol class="govuk-list govuk-list--number">
            <li><strong>Authentication</strong></li>
            <ul class="govuk-list">
                <li>Authentication</li>
                <li>Security of your data</li>
                <li><strong>Your details</strong></li>
                <li>Your addresses</li>
                <li>Security details</li>
                <li>National Insurance number</li>
                <li>UK passport number</li>
              </ul>
              <li><strong>Application</strong></li>
              <li><strong>Summary</strong></li>
              <li><strong>Payment</strong></li>
              <li><strong>Confirmation</strong></li>
            </ol>
        </div>
    </div>
    <div class="govuk-grid-column-one-half">
      <form class="form" method="post">
        <h1 class="govuk-heading-m">
            Apply for a provisional licence
        </h1>
        <h2 class="govuk-heading-s yellow-heading">Your details</h2>
        {% if (data['APLdetailsError'] === true)%}
        <p class="provlError" style="font-weight: 700; line-height: 1.5; font-size: 14px">Please complete all fields marked *</p>
        {% endif %}
        <div class="small-font">
          <p>Please complete your personal details.</p>
          <p><em>Please note: * indicates that an answer is required.</em></p>
          <div class="govuk-form-group dvla-prov-licence-form-row-container">
            <div class="dvla-prov-licence-label-container">
              <label class="govuk-label prov-licence-label" for="APL-user-title">
                Title *
              </label>
              <p><em>If you have a title that does not appear in the list, select 'Other'.</em></p>
            </div>
            <div class="dvla-prov-licence-input-container">
              <select class="govuk-select ph-input" id="APL-user-title" name="APL-user-title">
                <option value="" {% if(data['APL-user-title'] === '')%} selected {% endif %}></option>
                <option value="Mr" {% if(data['APL-user-title'] === 'Mr')%} selected {% endif %}>Mr</option>
                <option value="Mrs" {% if(data['APL-user-title'] === 'Mrs')%} selected {% endif %}>Mrs</option>
                <option value="Ms" {% if(data['APL-user-title'] === 'Ms')%} selected {% endif %}>Ms</option>
                <option value="Miss" {% if(data['APL-user-title'] === 'Miss')%} selected {% endif %}>Miss</option>
                <option value="Dr" {% if(data['APL-user-title'] === 'Dr')%} selected {% endif %}>Doctor</option>
                <option value="rev" {% if(data['APL-user-title'] === 'rev')%} selected {% endif %}>Rev</option>
                <option value="no-title" {% if(data['APL-user-title'] === 'no-title')%} selected {% endif %}>No Title</option>
                <option value="other" {% if(data['APL-user-title'] === 'other')%} selected {% endif %}>Other</option>
              </select>
            </div>
          </div>

          <div class="govuk-form-group dvla-prov-licence-form-row-container">
            <div class="dvla-prov-licence-label-container">
              <label class="govuk-label prov-licence-label">
                ...or other title
              </label>
              <p><em>(only if you selected 'Other' above)</em></p>
            </div>
            <div class="dvla-prov-licence-input-container">
               <input class="govuk-input govuk-input--width-5" id="APL-user-title-other" name="APL-user-title-other" type="text" value="{{ data ['APL-user-title-other']}}">
            </div>
          </div>

          <div class="govuk-form-group dvla-prov-licence-form-row-container">
            <div class="dvla-prov-licence-label-container">
              <label class="govuk-label prov-licence-label" for="sort">
                Forename(s) *
              </label>
              <p><em>Enter your first name, and any middle names.</em></p>
            </div>
            <div class="dvla-prov-licence-input-container">
               <input class="govuk-input govuk-input--width-10" id="APL-user-forenames" name="APL-user-forenames" value="{{ data ['APL-user-forenames']}}" type="text">
            </div>
          </div>

          <div class="govuk-form-group dvla-prov-licence-form-row-container">
            <div class="dvla-prov-licence-label-container">
              <label class="govuk-label prov-licence-label">
                Surname *
              </label>
            </div>
            <div class="dvla-prov-licence-input-container">
               <input class="govuk-input govuk-input--width-10" id="APL-user-surname" name="APL-user-surname" value="{{ data ['APL-user-surname']}}" type="text">
            </div>
          </div>

          <div class="govuk-form-group dvla-prov-licence-form-row-container">
            <div class="dvla-prov-licence-label-container">
              <label class="govuk-label prov-licence-label">
                Gender *
              </label>
            </div>
            <div class="dvla-prov-licence-input-container">
              <select class="govuk-select" id="APL-user-gender" name="APL-user-gender">
                <option value="" {% if(data['APL-user-gender'] === '')%} selected {% endif %}> </option>
                <option value="female" {% if(data['APL-user-gender'] === 'female')%} selected {% endif %}>Female</option>
                <option value="male" {% if(data['APL-user-gender'] === 'male')%} selected {% endif %}>Male</option>
              </select>
            </div>
          </div>

          <div class="govuk-form-group dvla-prov-licence-form-row-container">
            <div class="dvla-prov-licence-label-container">
              <label class="govuk-label prov-licence-label">
                Date of birth *
              </label>
            </div>
            <div class="dvla-prov-licence-input-container">
              <fieldset class="govuk-fieldset" role="group">
               <div class="govuk-date-input" id="APL-dob">
                 <div class="dvla-prov-licence-input-container">
                   <label class="govuk-label label-bold-text" for="APL-dob-day">
                     Day:
                   </label>
                   <input class="govuk-input govuk-input--width-2" id="APL-dob-day" name="APL-dob-day" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data ['APL-dob-day']}}">
                   <label class="govuk-label label-bold-text" for="APL-dob-month">
                     Month:
                   </label>
                   <input class="govuk-input govuk-input--width-2" id="APL-dob-month" name="APL-dob-month" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data ['APL-dob-month']}}">
                   <label class="govuk-label label-bold-text" for="APL-dob-year">
                     Year:
                   </label>
                   <input class="govuk-input govuk-input--width-4" id="APL-dob-year" name="APL-dob-year" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data ['APL-dob-year']}}">
               </div>
              </fieldset>
            </div>
          </div>

          <div class="govuk-form-group dvla-prov-licence-form-row-container">
            <div class="dvla-prov-licence-label-container">
              <label class="govuk-label prov-licence-label">
                Country of birth *
              </label>
            </div>
            <div class="dvla-prov-licence-input-container">
              <select class="govuk-select" id="APL-user-country-of-birth" name="APL-user-country-of-birth">
                <option value="" {% if(data['APL-user-country-of-birth'] === '')%} selected {% endif %}> </option>
                <option value="uk" {% if(data['APL-user-country-of-birth'] === 'uk')%} selected {% endif %}>United Kingdom</option>
                <option value="england" {% if(data['APL-user-country-of-birth'] === 'england')%} selected {% endif %}>England</option>
                <option value="wales" {% if(data['APL-user-country-of-birth'] === 'wales')%} selected {% endif %}>Wales</option>
                <option value="scotland" {% if(data['APL-user-country-of-birth'] === 'scotland')%} selected {% endif %}>Scotland</option>
              </select>
          </div>
        </div>
          <p>If all the details are correct please click 'Next'.</p>
          <p>Do not click the previous/next button more than once.</p>
          <hr>
        </div>

        <div class="dvla-button-row">
          <a class="govuk-button button-primary dvla-previous-button" href="/forms/govuk-forms/learn-to-drive/apply-provisional-licence/APLsecurity-data.html">Previous</a>
          <a class="govuk-button button-primary dvla-cancel-button" href="/forms/govuk-forms/learn-to-drive/apply-provisional-licence/cancel-DVLA-apply-form.html">Cancel</a>
          <input class="govuk-button button-primary dvla-custom-next-button" type="submit" value="Next">
        </div>

      </form>
    </div>
    <div class="govuk-grid-column-one-quarter">
        <div class="grey-block">
          <h2 class="govuk-heading-s orange-heading">Need more help?</h2>
            <p><a href="/forms/govuk-forms/learn-to-drive/apply-provisional-licence/APLusingYourDetails.html" class="red-dvla-link-dark">Using your personal details</a></p>
        </div>
    </div>
</div>
<div class="student-notes-box"> 
  <p>There is more countries in the list on the real form, just pick anyone if you can't find your real country of birth.</p>
</div>
{% endblock %}

{% block footer %}
{% include "../../../../includes/generic-footer.html"  %}
{% endblock %}
