{% extends "layout.html" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/other.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}


{% block header %}
<div class="govuk-header__container govuk-width-container">
  <div class="govuk-header__logo">
      <span class="govuk-header__logotype">
          <a href="/index.html"><image src="{{ asset_path }}/images/DVLA/DVLA_Logo.gif" alt="DVLA Logo" width="593" height="50"></image></a>
      </span>
  </div>
</div>
{% endblock %}

{% block pageTitle %}
Motoring
{% endblock %}


{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-9">
    <span class="apply-DVLA-tagline">This is a training website</span>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        <div class="orange-block">
          <h2 class="govuk-heading-s orange-heading">Step by step</h2>
          <p>Follow our easy step by step process to help you fill this form in quickly and accurately.</p>
          <ol class="govuk-list govuk-list--number">
            <li><strong>Authentication</strong></li>
            <ul class="govuk-list">
                <li>Authentication</li>
                <li>Security of your data</li>
                <li><strong>Your details</strong></li>
                <li>Your addresses</li>
                <li>Security details</li>
                <li>National Insurance number</li>
                <li>UK passport number</li>
              </ul>
              <li><strong>Application</strong></li>
              <li><strong>Summary</strong></li>
              <li><strong>Payment</strong></li>
              <li><strong>Confirmation</strong></li>
            </ol>
        </div>
    </div>
    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-m">
            Apply for a provisional licence
        </h1>
        <h2 class="govuk-heading-s yellow-heading">Your details</h2>
        <div class="small-font">
          <p>Please complete your personal details.</p>
          <p><em>Please note: * indicates that an answer is required.</em></p>
          <div class="govuk-form-group dvla-prov-licence-form-row-container">
            <div class="dvla-prov-licence-label-container">
              <label class="govuk-label" for="sort">
                Title *
              </label>
              <p><em>If you have a title that does not appear in the list, select 'Other'.</em></p>
            </div>
            <div class="dvla-prov-licence-input-container">
              <select class="govuk-select ph-input" id="sort" name="sort">
                <option value="updated" selected></option>
                <option value="Mr">Mr</option>
                <option value="Mrs">Mrs</option>
                <option value="Ms">Ms</option>
                <option value="Miss">Miss</option>
                <option value="Dr">Doctor</option>
                <option value="rev">Rev</option>
                <option value="no-title">No Title</option>
                <option value="other">Other</option>
              </select>
            </div>
          </div>

          <div class="govuk-form-group dvla-prov-licence-form-row-container">
            <div class="dvla-prov-licence-label-container">
              <label class="govuk-label" for="sort">
                ...or other title
              </label>
              <p><em>(only if you selected 'Other' above)</em></p>
            </div>
            <div class="dvla-prov-licence-input-container">
               <input class="govuk-input govuk-input--width-5" id="prov-licence-user-title" name="prov-licence-user-title" type="text">
            </div>
          </div>

          <div class="govuk-form-group dvla-prov-licence-form-row-container">
            <div class="dvla-prov-licence-label-container">
              <label class="govuk-label" for="sort">
                Forename(s) *
              </label>
              <p><em>Enter your first name, and any middle names.</em></p>
            </div>
            <div class="dvla-prov-licence-input-container">
               <input class="govuk-input govuk-input--width-10" id="prov-licence-user-forenames" name="prov-licence-user-forenames" type="text">
            </div>
          </div>

          <div class="govuk-form-group dvla-prov-licence-form-row-container">
            <div class="dvla-prov-licence-label-container">
              <label class="govuk-label" for="sort">
                Surname *
              </label>
            </div>
            <div class="dvla-prov-licence-input-container">
               <input class="govuk-input govuk-input--width-10" id="prov-licence-user-surname" name="prov-licence-user-surname" type="text">
            </div>
          </div>

          <div class="govuk-form-group dvla-prov-licence-form-row-container">
            <div class="dvla-prov-licence-label-container">
              <label class="govuk-label" for="sort">
                Gender *
              </label>
            </div>
            <div class="dvla-prov-licence-input-container">
              <select class="govuk-select" id="prov-licence-user-gender" name="prov-licence-user-gender">
                <option value="" selected> </option>
                <option value="female">Female</option>
                <option value="male">Male</option>
              </select>
            </div>
          </div>

          <div class="govuk-form-group dvla-prov-licence-form-row-container">
            <div class="dvla-prov-licence-label-container">
              <label class="govuk-label" for="sort">
                Date of birth *
              </label>
            </div>
            <div class="dvla-prov-licence-input-container">
              <fieldset class="govuk-fieldset" role="group">
               <div class="govuk-date-input" id="dvla-prov-licence-dob">
                 <div class="govuk-date-input__item">
                   <div class="govuk-form-group">
                     <label class="govuk-label govuk-date-input__label dvla-prov-licence-label" for="dvla-prov-licence-dob-day">
                       Day
                     </label>
                     <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dvla-prov-licence-dob-day" name="dvla-prov-licence-dob-day" type="text" pattern="[0-9]*" inputmode="numeric">
                   </div>
                 </div>
                 <div class="govuk-date-input__item">
                   <div class="govuk-form-group">
                     <label class="govuk-label govuk-date-input__label dvla-prov-licence-label" for="dvla-prov-licence-dob-month">
                       Month
                     </label>
                     <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dvla-prov-licence-dob-month" name="dvla-prov-licence-dob-month" type="text" pattern="[0-9]*" inputmode="numeric">
                   </div>
                 </div>
                 <div class="govuk-date-input__item">
                   <div class="govuk-form-group">
                     <label class="govuk-label govuk-date-input__label dvla-prov-licence-label" for="dvla-prov-licence-dob-year">
                       Year
                     </label>
                     <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dvla-prov-licence-dob-year" name="dvla-prov-licence-dob-year" type="text" pattern="[0-9]*" inputmode="numeric">
                   </div>
                 </div>
               </div>
              </fieldset>
            </div>
          </div>

          <div class="govuk-form-group dvla-prov-licence-form-row-container">
            <div class="dvla-prov-licence-label-container">
              <label class="govuk-label" for="sort">
                Country of birth *
              </label>
            </div>
            <div class="dvla-prov-licence-input-container">
              <select class="govuk-select" id="prov-licence-user-country-of-birth" name="prov-licence-user-country-of-birth">
                <option value="" selected> </option>
                <option value="uk">United Kingdom</option>
                <option value="england">England</option>
                <option value="wales">Wales</option>
                <option value="scotland">Scotland</option>
              </select>
          </div>
        </div>
          <p style="color:red; font-weight:bold; font-size:30px;">* I need to add in the whole list of countries. *</p>
          <p>If all the details are correct please click 'Next'.</p>
          <p>Do not click the previous/next button more than once.</p>
          <hr>
        </div>


        <div class="dvla-button-row">
            {{ govukButton({
              text: "Previous",
              classes: "button-primary dvla-previous-button",
              href: "/forms/govuk-forms/learn-to-drive/apply-provisional-licence/APLsecurity-data.html"
            }) }}

            {{ govukButton({
              text: "Cancel",
              classes: "button-primary dvla-cancel-button",
              href: "/forms/govuk-forms/learn-to-drive/apply-provisional-licence/cancel-DVLA-apply-form.html"
            }) }}
            {{ govukButton({
              text: "Next",
              classes: "button-primary dvla-next-button",
              href: "#.html"
            }) }}
        </div>




    </div>
</div>
{% endblock %}

{% block footer %}
{% include "../../../../includes/generic-footer.html"  %}
{% endblock %}
