{% extends "layout.html" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/other.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}


{% block header %}
<div class="govuk-header__container govuk-width-container">
  <div class="govuk-header__logo">
      <span class="govuk-header__logotype">
          <a href="/index.html"><image src="{{ asset_path }}/images/DVLA/DVLA_Logo.gif" alt="DVLA Logo" width="593" height="50"></image></a>
      </span>
  </div>
</div>
{% endblock %}

{% block pageTitle %}
Motoring
{% endblock %}


{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-9">
    <a href="/index.html" style="text-decoration: none;"><span class="apply-DVLA-tagline">This is a training website</span></a>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        <div class="orange-block">
          <h2 class="govuk-heading-s orange-heading">Step by step</h2>
          <p>Follow our easy step by step process to help you fill this form in quickly and accurately.</p>
          <ol class="govuk-list govuk-list--number">
            <li><strong>Authentication</strong></li>
            <li><strong>Application</strong></li>
            <ul class="govuk-list">
                <li><strong>Are you eligible?</strong></li>
                <li>Your eyesight</li>
                <li>Fitness to drive</li>
                <li>Further information</li>
                <li>Declaration</li>
              </ul>
            <li><strong>Summary</strong></li>
            <li><strong>Payment</strong></li>
            <li><strong>Confirmation</strong></li>
            </ol>
        </div>
    </div>
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-m">
          Apply for a provisional licence
      </h1>
      <form class="form" method="post">
        <h2 class="govuk-heading-s yellow-heading">Are you eligible?</h2>
          <h3 class="govuk-heading-s">Residency</h3>
        <div class="small-font">
          {% if (data['APLeuResidenceError'] === true)%}
            <p class="provlError" style="font-weight: 700; line-height: 1.5; font-size: 14px">Please complete all fields marked *</p>
          {% endif %}
          <p><em>Please note: * indicates that an answer is required.</em></p>
          <div class="govuk-form-group dvla-prov-licence-form-row-container">
            <div class="dvla-prov-licence-label-container">
              <label class="govuk-label prov-licence-label" for="APL-eu-residence-country">
                In which European Union or European Economic Area country have you lived in the last 12 months? *
              </label>
            </div>
            <div class="dvla-prov-licence-input-container">
              <select class="govuk-select ph-input" id="APL-eu-residence-country" name="APL-eu-residence-country">
                <option value="" {% if(data['APL-eu-residence-country'] === '')%} selected {% endif %}></option>
                <option value="Austria" {% if(data['APL-eu-residence-country'] === 'Austria')%} selected {% endif %}>Austria</option>
                <option value="Belgium" {% if(data['APL-eu-residence-country'] === 'Belgium')%} selected {% endif %}>Belgium</option>
                <option value="Croatia" {% if(data['APL-eu-residence-country'] === 'Croatia')%} selected {% endif %}>Croatia</option>
                <option value="Cyprus" {% if(data['APL-eu-residence-country'] === 'Cyprus')%} selected {% endif %}>Cyprus</option>
                <option value="Czech Republic" {% if(data['APL-eu-residence-country'] === 'Czech Republic')%} selected {% endif %}>Czech Republic</option>
                <option value="Denmark" {% if(data['APL-eu-residence-country'] === 'Denmark')%} selected {% endif %}>Denmark</option>
                <option value="Estonia" {% if(data['APL-eu-residence-country'] === 'Estonia')%} selected {% endif %}>Estonia</option>
                <option value="Finland" {% if(data['APL-eu-residence-country'] === 'Finland')%} selected {% endif %}>Finland</option>
                <option value="France" {% if(data['APL-eu-residence-country'] === 'France')%} selected {% endif %}>France</option>
                <option value="Germany" {% if(data['APL-eu-residence-country'] === 'Germany')%} selected {% endif %}>Germany</option>
                <option value="Greece" {% if(data['APL-eu-residence-country'] === 'Greece')%} selected {% endif %}>Greece</option>
                <option value="Hungary" {% if(data['APL-eu-residence-country'] === 'Hungary')%} selected {% endif %}>Hungary</option>
                <option value="Iceland" {% if(data['APL-eu-residence-country'] === 'Iceland')%} selected {% endif %}>Iceland</option>
                <option value="Ireland" {% if(data['APL-eu-residence-country'] === 'Ireland')%} selected {% endif %}>Ireland</option>
                <option value="Italy" {% if(data['APL-eu-residence-country'] === 'Italy')%} selected {% endif %}>Italy</option>
                <option value="Latvia" {% if(data['APL-eu-residence-country'] === 'Latvia')%} selected {% endif %}>Latvia</option>
                <option value="Liechtensteing" {% if(data['APL-eu-residence-country'] === 'Liechtensteing')%} selected {% endif %}>Liechtensteing</option>
                <option value="Lithuania" {% if(data['APL-eu-residence-country'] === 'Lithuania')%} selected {% endif %}>Lithuania</option>
                <option value="Luxembourg" {% if(data['APL-eu-residence-country'] === 'Luxembourg')%} selected {% endif %}>Luxembourg</option>
                <option value="Malta" {% if(data['APL-eu-residence-country'] === 'Malta')%} selected {% endif %}>Malta</option>
                <option value="Netherlands" {% if(data['APL-eu-residence-country'] === 'Netherlands')%} selected {% endif %}>Netherlands</option>
                <option value="Norway" {% if(data['APL-eu-residence-country'] === 'Norway')%} selected {% endif %}>Norway</option>
                <option value="Poland" {% if(data['APL-eu-residence-country'] === 'Poland')%} selected {% endif %}>Poland</option>
                <option value="Portugal" {% if(data['APL-eu-residence-country'] === 'Portugal')%} selected {% endif %}>Portugal</option>
                <option value="Romania" {% if(data['APL-eu-residence-country'] === 'Romania')%} selected {% endif %}>Romania</option>
                <option value="Slovakia" {% if(data['APL-eu-residence-country'] === 'Slovakia')%} selected {% endif %}>Slovakia</option>
                <option value="Slovenia" {% if(data['APL-eu-residence-country'] === 'Slovenia')%} selected {% endif %}>Slovenia</option>
                <option value="Spain" {% if(data['APL-eu-residence-country'] === 'Spain')%} selected {% endif %}>Spain</option>
                <option value="Sweden" {% if(data['APL-eu-residence-country'] === 'Sweden')%} selected {% endif %}>Sweden</option>
              </select>
            </div>

          </div>

          <div class="govuk-form-group dvla-prov-licence-form-row-container">
            <div class="dvla-prov-licence-label-container">
              <label class="govuk-label prov-licence-label">
                What date did you come to live in the UK? *
              </label>
            </div>
            <div class="dvla-prov-licence-input-container">
              <fieldset class="govuk-fieldset" role="group">
               <div class="govuk-date-input" id="APL-dob">
                 <div class="dvla-prov-licence-input-container">
                   <label class="govuk-label label-bold-text" for="APL-uk-start-day">
                     Day:
                   </label>
                   <input class="govuk-input govuk-input--width-2" id="APL-uk-start-day" name="APL-uk-start-day" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data ['APL-uk-start-day']}}">
                   <label class="govuk-label label-bold-text" for="APL-uk-start-month">
                     Month:
                   </label>
                   <input class="govuk-input govuk-input--width-2" id="APL-uk-start-month" name="APL-uk-start-month" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data ['APL-uk-start-month']}}">
                   <label class="govuk-label label-bold-text" for="APL-uk-start-year">
                     Year:
                   </label>
                   <input class="govuk-input govuk-input--width-4" id="APL-uk-start-year" name="APL-uk-start-year" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ data ['APL-uk-start-year']}}">
               </div>
              </fieldset>
            </div>
          </div>
          <hr>
        </div>


        <div class="dvla-button-row">
          <a class="govuk-button button-primary dvla-previous-button" href="APLeligibility.html">Previous</a>
          <a class="govuk-button button-primary dvla-cancel-button" href="cancel-DVLA-apply-form.html">Cancel</a>
          <input class="govuk-button button-primary dvla-custom-next-button" type="submit" value="Next">
        </div>
      </form>
    </div>
    <div class="govuk-grid-column-one-quarter">
        <div class="grey-block">
          <h2 class="govuk-heading-s orange-heading">Need more help?</h2>
            <p><a href="APLotherCountries.html" class="red-dvla-link-dark">Other countries either in the EU or EEA</a></p>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include "../../../../includes/generic-footer.html"  %}
{% endblock %}
