{% extends "layout.html" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/other.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}


{% block header %}
<div class="govuk-header__container govuk-width-container">
  <div class="govuk-header__logo">
      <span class="govuk-header__logotype">
          <a href="/index.html"><image src="{{ asset_path }}/images/DVLA/DVLA_Logo.gif" alt="DVLA Logo" width="593" height="50"></image></a>
      </span>
  </div>
</div>
{% endblock %}

{% block pageTitle %}
Motoring
{% endblock %}


{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-9">
    <span class="apply-DVLA-tagline">This is a training website</span>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        <div class="orange-block">
          <h2 class="govuk-heading-s orange-heading">Step by step</h2>
          <p>Follow our easy step by step process to help you fill this form in quickly and accurately.</p>
          <ol class="govuk-list govuk-list--number">
            <li><strong>Authentication</strong></li>
            <li><strong>Application</strong></li>
            <ul class="govuk-list">
              <li>Are you eligible?</li>
              <li>Your eyesight</li>
              <li>Fitness to drive</li>
              <li><strong>Further information</strong></li>
              <li>Declaration</li>
            </ul>
            <li><strong>Summary</strong></li>
            <li><strong>Payment</strong></li>
            <li><strong>Confirmation</strong></li>
          </ol>
        </div>
    </div>
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-m">Apply for a provisional licence</h1>
      <h2 class="govuk-heading-s yellow-heading">Further information</h2>
      <h3 class="govuk-heading-s">Email address</h3>
      {% if (data['APLemailError'] === true)%}
        <p class="provlError" style="font-weight: 700; line-height: 1.5; font-size: 14px">Please complete all fields marked *</p>
      {% endif %}
      {% if (data['APLemailError-mismatch'] === true)%}
        <p class="provlError" style="font-weight: 700; line-height: 1.5; font-size: 14px">Confirm email address should be the same as email address. Please try again.</p>
      {% endif %}
      <form class="form" method="post">
        <div class="small-font">
          <p>Please enter the email address to which you would like your email confirmation sent.</p>
          <p><em>Please note: * indicates that an answer is required.</em></p>
          <div class="govuk-form-group dvla-prov-licence-form-row-container">
            <div class="dvla-prov-licence-label-container">
              <label class="govuk-label prov-licence-label" for="APL-email">
                Email address *
              </label>
            </div>
            <div class="dvla-prov-licence-input-container">
              <input class="govuk-input govuk-input--width-10" id="APL-email" name="APL-email" type="text" value="{{data['APL-email']}}">
            </div>
          </div>

          <div class="govuk-form-group dvla-prov-licence-form-row-container">
            <div class="dvla-prov-licence-label-container">
              <label class="govuk-label prov-licence-label" for="APL-email-check">
                Confirm Email address *
              </label>
            </div>
            <div class="dvla-prov-licence-input-container">
              <input class="govuk-input govuk-input--width-10" id="APL-email-check" name="APL-email-check" type="text" value="{{data['APL-email-check']}}">
            </div>
          </div>
          <hr>
        </div>


        <div class="dvla-button-row">
            <!-- {{ govukButton({
              text: "Previous",
              classes: "button-primary dvla-previous-button",
              href: "/forms/govuk-forms/learn-to-drive/apply-provisional-licence/APLorgDon.html"
            }) }}

            {{ govukButton({
              text: "Cancel",
              classes: "button-primary dvla-cancel-button",
              href: "/forms/govuk-forms/learn-to-drive/apply-provisional-licence/cancel-DVLA-apply-form.html"
            }) }}
            {{ govukButton({
              text: "Next",
              classes: "button-primary dvla-next-button",
              href: "/forms/govuk-forms/learn-to-drive/apply-provisional-licence/APLdeclare.html"
            }) }} -->
            <a class="govuk-button button-primary dvla-previous-button" href="/forms/govuk-forms/learn-to-drive/apply-provisional-licence/{% if(data['APLemail-prevPage'])%}{{ data['APLemail-prevPage'] }} {% else %}APLorgDon.html{% endif %}">Previous</a>
            <a class="govuk-button button-primary dvla-cancel-button" href="/forms/govuk-forms/learn-to-drive/apply-provisional-licence/cancel-DVLA-apply-form.html">Cancel</a>
            <input class="govuk-button button-primary dvla-custom-next-button" type="submit" value="Next">
        </div>
      </form>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include "../../../../includes/generic-footer.html"  %}
{% endblock %}
