{% extends "layout.html" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/other.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}


{% block header %}
<div class="govuk-header__container govuk-width-container">
  <div class="govuk-header__logo">
      <span class="govuk-header__logotype">
          <a href="/index.html"><image src="{{ asset_path }}/images/DVLA/DVLA_Logo.gif" alt="DVLA Logo" width="593" height="50"></image></a>
      </span>
  </div>
</div>
{% endblock %}

{% block pageTitle %}
Motoring
{% endblock %}


{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-9">
    <a href="/index.html" style="text-decoration: none;"><span class="apply-DVLA-tagline">This is a training website</span></a>
</div>
<div class="govuk-grid-row">

  <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>


  <h1 class="govuk-heading-l">
    The eyesight standards for driving
  </h1>

  <p>The legal eyesight standard means that you must be able to read a car number plate from 20 metres.</p>
  <p>Also you must not have been told by a doctor or optician that your eyesight is currently worse than 6/12
    (decimal 0.5) on the Snellen scale. If you are in any doubt you should discuss with your optician or doctor.
    If required, you may wear glasses or corrective lenses to meet both of these standards. Important - Have you
    had your eyesight checked recently? If you haven't, regular eyesight tests can reassure you that you still meet
    the legal eyesight standards.</p>
  <p>Bioptic (telescope) devices are not acceptable for use while driving in Great Britain.</p>


  


</div>
{% endblock %}

{% block footer %}
{% include "../../../../includes/generic-footer.html"  %}
{% endblock %}
