{% extends "layout.html" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/other.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}


{% block header %}
<div class="govuk-header__container govuk-width-container">
  <div class="govuk-header__logo">
      <span class="govuk-header__logotype">
          <a href="/index.html"><image src="{{ asset_path }}/images/DVLA/DVLA_Logo.gif" alt="DVLA Logo" width="593" height="50"></image></a>
      </span>
  </div>
</div>
{% endblock %}

{% block pageTitle %}
Motoring
{% endblock %}


{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-9">
    <span class="apply-DVLA-tagline">This is a training website</span>
</div>
<div class="govuk-grid-row">

  <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>


  <h1 class="govuk-heading-l">
      How to find your National Insurance number
  </h1>

  <p>If you think you already have a number but can't remember it, you might be able to find it on official paperwork you've got at home, for instance:
    <ul class="govuk-list govuk-list--bullet">
      <li>National Insurance card</li>
      <li>Your end of year statement of tax (P60)</li>
      <li>A payslip</li>
      <li>A copy of your annual tax return</li>
      <li>Other official correspondence</li>
    </ul>
  </p>
  <p>Your National Insurance number will not change, even if you go abroad, marry, register as a civil partner, change your name, etc.</p>
  <p>If you still can't find your number, contact your local Jobcentre Plus, social security office or HM Revenue & Customs (HMRC) NI Contributions Office and they'll tell you what to do. Contact details for these organisations can be found at <a href="https://www.dvla.gov.uk">www.dvla.gov.uk</a></p>
  <div style="margin:auto; text-align:center">
    <img src="{{ asset_path }}images/DVLA/NI_card.gif" alt="NI card">
    <p class="small-font-dvsa">Example: National Insurance number card</p>
  </div>


  <br><br>
  


</div>
{% endblock %}

{% block footer %}
{% include "../../../../includes/generic-footer.html"  %}
{% endblock %}
