govuk-heading-s{% extends "layout.html" %}

{% block headIcons %}
<link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
<!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!-->
<link href="/public/stylesheets/other.css" media="all" rel="stylesheet" type="text/css" />
<!--<![endif]-->

{% for stylesheetUrl in extensionConfig.stylesheets %}
<link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
{% endfor %}
{% endblock %}


{% block header %}
<div class="govuk-header__container govuk-width-container">
  <div class="govuk-header__logo">
    <span class="govuk-header__logotype">
      <a href="/index.html">
        <image src="{{ asset_path }}/images/DVLA/DVLA_Logo.gif" alt="DVLA Logo" width="593" height="50"></image>
      </a>
    </span>
  </div>
</div>
{% endblock %}

{% block pageTitle %}
Motoring
{% endblock %}


{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-9">
  <span class="apply-DVLA-tagline">This is a training website</span>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <div class="orange-block">
      <h2 class="govuk-heading-s orange-heading">Step by step</h2>
      <p>Follow our easy step by step process to help you fill this form in quickly and accurately.</p>
      <ol class="govuk-list govuk-list--number">
        <li><strong>Authentication</strong></li>
        <li><strong>Application</strong></li>
        <ul class="govuk-list">
          <li>Are you eligible?</li>
          <li>Your eyesight</li>
          <li><strong>Fitness to drive</strong></li>
          <li>Further information</li>
          <li>Declaration</li>
        </ul>
        <li><strong>Summary</strong></li>
        <li><strong>Payment</strong></li>
        <li><strong>Confirmation</strong></li>
      </ol>
    </div>
  </div>
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-m">Apply for a provisional licence</h1>
    <h2 class="govuk-heading-s yellow-heading">Fitness to drive</h2>
    <h3 class="govuk-heading-s">Medical declaration</h3>

    <div class="small-font">
      <p>You have answered that you do not siffer from any of the medical conditions on the previous page
      OR that you have previously told us about a condition that had not got worse. Please confim this by ticking the box below.</p>
      <p><em>Please note: * indicates that an answer is required.</em></p>
      <div class="govuk-form-group dvla-prov-licence-form-row-container">
        <div class="dvla-prov-licence-label-container">
          <p><b>I confirm that I do not suffer from and have never had any of the conditions listed previously OR I
          have previously told DVLA about a medical condition that has not got worse *</b></p>
          <p><em>(Or click 'Previous' to change your answer)</em></p>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="med-declaration" name="med-declaration" type="checkbox" value="med-declaration">
            <label class="govuk-label govuk-checkboxes__label small-font-dvsa" for="med-declaration">
            </label>
          </div>
        </div>
      </div>
      <hr>
    </div>


    <div class="dvla-button-row">
      {{ govukButton({
              text: "Previous",
              classes: "button-primary dvla-previous-button",
              href: "/forms/govuk-forms/learn-to-drive/apply-provisional-licence/APLfitToDrive.html"
            }) }}

      {{ govukButton({
              text: "Cancel",
              classes: "button-primary dvla-cancel-button",
              href: "/forms/govuk-forms/learn-to-drive/apply-provisional-licence/cancel-DVLA-apply-form.html"
            }) }}
      {{ govukButton({
              text: "Next",
              classes: "button-primary dvla-next-button",
              href: "/forms/govuk-forms/learn-to-drive/apply-provisional-licence/APLorgDon.html"
            }) }}
    </div>




  </div>
</div>
{% endblock %}

{% block footer %}
{% include "../../../../includes/generic-footer.html"  %}
{% endblock %}
