govuk-heading-s{% extends "layout.html" %}

{% block headIcons %}
<link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
<!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!-->
<link href="/public/stylesheets/other.css" media="all" rel="stylesheet" type="text/css" />
<!--<![endif]-->

{% for stylesheetUrl in extensionConfig.stylesheets %}
<link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
{% endfor %}
{% endblock %}


{% block header %}
<div class="govuk-header__container govuk-width-container">
  <div class="govuk-header__logo">
    <span class="govuk-header__logotype">
      <a href="/index.html">
        <image src="{{ asset_path }}/images/DVLA/DVLA_Logo.gif" alt="DVLA Logo" width="593" height="50"></image>
      </a>
    </span>
  </div>
</div>
{% endblock %}

{% block pageTitle %}
Motoring
{% endblock %}


{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-9">
  <span class="apply-DVLA-tagline">This is a training website</span>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <div class="orange-block">
      <h2 class="govuk-heading-s orange-heading">Step by step</h2>
      <p>Follow our easy step by step process to help you fill this form in quickly and accurately.</p>
      <ol class="govuk-list govuk-list--number">
        <li><strong>Authentication</strong></li>
        <li><strong>Application</strong></li>
        <ul class="govuk-list">
          <li>Are you eligible?</li>
          <li>Your eyesight</li>
          <li>Fitness to drive</li>
          <li><strong>Further information</strong></li>
          <li>Declaration</li>
        </ul>
        <li><strong>Summary</strong></li>
        <li><strong>Payment</strong></li>
        <li><strong>Confirmation</strong></li>
      </ol>
    </div>
  </div>
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-m">Apply for a provisional licence</h1>
    <h2 class="govuk-heading-s yellow-heading">Further information</h2>
    <h3 class="govuk-heading-s">Organ donation</h3>

    <div class="small-font">
      <p><b>DVLA is working with the NHS to encourage organ donation and save lives</b></p>
      <p>If you needed an organ transplant would you have one? If so, please help others.</p>

      <p><a href="/forms/govuk-forms/learn-to-drive/apply-provisional-licence/APLorganForm.html" class="red-dvla-link">Yes, I want to join
      the NHS Organ Donor Register, then continue with my DVLA driving licence application.</a></p>
      <p><a href="/forms/govuk-forms/learn-to-drive/apply-provisional-licence/APLemail.html" class="red-dvla-link">I'd like to complete
      my DVLA driving licence application first and find out more when I have finished.</a></p>

      <p>If you have registered before, please select 'Yes' and take this opportunity to confirm/update your donation preferences.</p>
      <p>To continue with your DVLA licence application, you must select one of the two options above.</p>
      <p><b>If you don't want to donate your organs you can record this decision on the NHS Organ donor Register.</b></p>
      <p><b>Fore more information visit <a href="https://www.organdonation.nhs.uk">www.organdonation.nhs.uk</a></b></p>
      <p><b>Please tell your gamily about your organ donation decision.</b></p>


      <hr>
    </div>


    <div class="dvla-button-row">
      {{ govukButton({
              text: "Previous",
              classes: "button-primary dvla-previous-button",
              href: "/forms/govuk-forms/learn-to-drive/apply-provisional-licence/APLmedDec.html"
            }) }}


    </div>




  </div>
</div>
{% endblock %}

{% block footer %}
{% include "../../../../includes/generic-footer.html"  %}
{% endblock %}
