govuk-heading-s{% extends "layout.html" %}

{% block headIcons %}
<link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
<!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!-->
<link href="/public/stylesheets/other.css" media="all" rel="stylesheet" type="text/css" />
<!--<![endif]-->

{% for stylesheetUrl in extensionConfig.stylesheets %}
<link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
{% endfor %}
{% endblock %}


{% block header %}
<div class="govuk-header__container govuk-width-container">
  <div class="govuk-header__logo">
    <span class="govuk-header__logotype">
      <a href="/index.html">
        <image src="{{ asset_path }}/images/DVLA/DVLA_Logo.gif" alt="DVLA Logo" width="593" height="50"></image>
      </a>
    </span>
  </div>
</div>
{% endblock %}

{% block pageTitle %}
Motoring
{% endblock %}


{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-9">
  <a href="/index.html" style="text-decoration: none;"><span class="apply-DVLA-tagline">This is a training website</span></a>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <div class="orange-block">
      <h2 class="govuk-heading-s orange-heading">Step by step</h2>
      <p>Follow our easy step by step process to help you fill this form in quickly and accurately.</p>
      <ol class="govuk-list govuk-list--number">
        <li><strong>Authentication</strong></li>
        <li><strong>Application</strong></li>
        <ul class="govuk-list">
          <li>Are you eligible?</li>
          <li>Your eyesight</li>
          <li>Fitness to drive</li>
          <li><strong>Further information</strong></li>
          <li>Declaration</li>
        </ul>
        <li><strong>Summary</strong></li>
        <li><strong>Payment</strong></li>
        <li><strong>Confirmation</strong></li>
      </ol>
    </div>
  </div>
  <div class="govuk-grid-column-one-half">
    <h1 class="govuk-heading-m">Apply for a provisional licence</h1>
    <h2 class="govuk-heading-s yellow-heading">Further information</h2>
    <h3 class="govuk-heading-s">Organ donor</h3>
    {% if (data['APLorganFormError'] === true)%}
      <p class="provlError" style="font-weight: 700; line-height: 1.5; font-size: 14px">Please select 'Any of my organs and tissue' or the organs you wish to donate (but not both).</p>
    {% endif %}
    <form class="form" method="post">
      <div class="small-font">
        <p>Thank you for choosing to register as an APL-organ donor, you now need to select one or several of the boxes below.</p>
        <div class="govuk-form-group dvla-prov-licence-form-row-container">
          <div class="dvla-prov-licence-label-container">
            <p class="label-bold-text">I wish to donate the following:</p>
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="APL-organ-donation" name="APL-organ-donation" type="checkbox" value="all" {% if((data['APL-organ-donation']) and (data['APL-organ-donation'].indexOf('all') !== -1)) %} checked {% endif %}>
                <label class="govuk-label govuk-checkboxes__label small-font-dvsa" for="diabetes">
                  Any of my organs and tissue
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="APL-organ-donation-2" name="APL-organ-donation" type="checkbox" value="kidneys" {% if((data['APL-organ-donation']) and (data['APL-organ-donation'].indexOf('kidneys') !== -1)) %} checked {% endif %}>
                <label class="govuk-label govuk-checkboxes__label small-font-dvsa" for="APL-organ-donation-2">
                  Kidneys
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="APL-organ-donation-3" name="APL-organ-donation" type="checkbox" value="heart" {% if((data['APL-organ-donation']) and (data['APL-organ-donation'].indexOf('heart') !== -1)) %} checked {% endif %}>
                <label class="govuk-label govuk-checkboxes__label small-font-dvsa" for="APL-organ-donation-3">
                  Heart
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="APL-organ-donation-4" name="APL-organ-donation" type="checkbox" value="liver" {% if((data['APL-organ-donation']) and (data['APL-organ-donation'].indexOf('liver') !== -1)) %} checked {% endif %}>
                <label class="govuk-label govuk-checkboxes__label small-font-dvsa" for="APL-organ-donation-4">
                  Liver
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="APL-organ-donation-5" name="APL-organ-donation" type="checkbox" value="corneas" {% if((data['APL-organ-donation']) and (data['APL-organ-donation'].indexOf('corneas') !== -1)) %} checked {% endif %}>
                <label class="govuk-label govuk-checkboxes__label small-font-dvsa" for="APL-organ-donation-5">
                  Corneas
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="APL-organ-donation-6" name="APL-organ-donation" type="checkbox" value="lungs" {% if((data['APL-organ-donation']) and (data['APL-organ-donation'].indexOf('lungs') !== -1)) %} checked {% endif %}>
                <label class="govuk-label govuk-checkboxes__label small-font-dvsa" for="APL-organ-donation-6">
                  Lungs
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="APL-organ-donation-7" name="APL-organ-donation" type="checkbox" value="pancreas" {% if((data['APL-organ-donation']) and (data['APL-organ-donation'].indexOf('pancreas') !== -1)) %} checked {% endif %}>
                <label class="govuk-label govuk-checkboxes__label small-font-dvsa" for="APL-organ-donation-7">
                  Pancreas
                </label>
              </div>
            </div>

          </div>

        </div>
        <p></p>
        <p>Please click on the 'Next' button to continue with your driving licence application.</p>
        <hr>
      </div>


      <div class="dvla-button-row">
        <a class="govuk-button button-primary dvla-previous-button" href="APLorgDon.html">Previous</a>
        <a class="govuk-button button-primary dvla-cancel-button" href="cancel-DVLA-apply-form.html">Cancel</a>
        <input class="govuk-button button-primary dvla-custom-next-button" type="submit" value="Next">
      </div>
    </form>
  </div>
  <div class="govuk-grid-column-one-quarter">
      <div class="grey-block">
        <h2 class="govuk-heading-s orange-heading">Need more help?</h2>
          <p><a href="APLorganWhatNext.html" class="red-dvla-link-dark">What will happen next?</a></p>
      </div>
  </div>
</div>
{% endblock %}

{% block footer %}
{% include "../../../../includes/generic-footer.html"  %}
{% endblock %}
