{% extends "layout.html" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/other.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}


{% block header %}
<div class="govuk-header__container {{ params.containerClasses | default('govuk-width-container') }}">
  <div class="govuk-header__logo">
      <span class="govuk-header__logotype">
          <a href="/index.html"><image src="{{ asset_path }}/images/DVLA/DVLA_Logo.gif" alt="DVLA Logo" width="593" height="50"></image></a>
      </span>
  </div>
</div>
{% endblock %}

{% block pageTitle %}
Motoring
{% endblock %}


{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-9">
    <span class="apply-DVLA-tagline">This is a training website</span>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        <div class="orange-block">
          <h2 class="govuk-heading-s orange-heading">Step by step</h2>
          <p>Follow our easy step by step process to help you fill this form in quickly and accurately.</p>
          <ol class="govuk-list govuk-list--number">
            <li><strong>Authentication</strong></li>
            <ul class="govuk-list">
                <li>Authentication</li>
                <li><strong>Security of your data</strong></li>
                <li>Your details</li>
                <li>Your addresses</li>
                <li>Security details</li>
                <li>National Insurance number</li>
                <li>UK passport number</li>
              </ul>
              <li><strong>Application</strong></li>
              <li><strong>Summary</strong></li>
              <li><strong>Payment</strong></li>
              <li><strong>Confirmation</strong></li>
            </ol>
        </div>
    </div>
    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-m">
            Apply for a provisional licence
        </h1>
        <h2 class="govuk-heading-s yellow-heading">Security of your data</h2>
        <div class="small-font">
          <p>DVLA are committed to upholding the security of your data. We use industry standard security technology and practices to safeguard your data from any unauthorised access. So that you can be confident in using our service, we have prepared some information on the security of your online transactions which you can view now by clicking the link below.<br>
             You will also find this link on the log on page.</p>
          <p><a href="/forms/govuk-forms/learn-to-drive/apply-provisional-licence/APLsecurity-help.html" class="red-dvla-link">Ensuring your online transactions are safe and secure</a></p>
          <p>To continue, click 'Next'.</p>

          <hr>
        </div>
        {{ govukButton({
          text: "Previous",
          classes: "button-primary dvla-previous-button",
          href: "/forms/govuk-forms/learn-to-drive/apply-provisional-licence/APLstart.html"
        }) }}
        {{ govukButton({
          text: "Cancel",
          classes: "button-primary dvla-cancel-button",
          href: "/forms/govuk-forms/learn-to-drive/apply-provisional-licence/cancel-DVLA-apply-form.html"
        }) }}
        {{ govukButton({
          text: "Next",
          classes: "button-primary dvla-next-button",
          href: "/forms/govuk-forms/learn-to-drive/apply-provisional-licence/APLdetails.html"
        }) }}

    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}