{% extends "layout.html" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/other.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}


{% block header %}
<div class="govuk-header__container govuk-width-container">
  <div class="govuk-header__logo">
      <span class="govuk-header__logotype">
          <a href="/index.html"><image src="{{ asset_path }}/images/DVLA/DVLA_Logo.gif" alt="DVLA Logo" width="593" height="50"></image></a>
      </span>
  </div>
</div>
{% endblock %}

{% block pageTitle %}
Motoring
{% endblock %}


{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-9">
    <span class="apply-DVLA-tagline">This is a training website</span>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        <div class="orange-block">
          <h2 class="govuk-heading-s orange-heading">Step by step</h2>
          <p>Follow our easy step by step process to help you fill this form in quickly and accurately.</p>
          <ol class="govuk-list govuk-list--number">
            <li><strong>Authentication</strong></li>
            <ul class="govuk-list">
                <li>Authentication</li>
                <li>Security of your data</li>
                <li>Your details</li>
                <li>Your addresses</li>
                <li><strong>Security details</strong></li>
                <li>National Insurance number</li>
                <li>UK passport number</li>
              </ul>
              <li><strong>Application</strong></li>
              <li><strong>Summary</strong></li>
              <li><strong>Payment</strong></li>
              <li><strong>Confirmation</strong></li>
            </ol>
        </div>
    </div>
    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-m">
            Apply for a provisional licence
        </h1>
        <h2 class="govuk-heading-s yellow-heading">Security details</h2>
        <div class="small-font">
          <p>So that we can process your application we will check your identity and the details you
            have given us with third parties. By providing us the infomation below you are consenting
            to your details being submitted to these third parties. If we can't confirm your details,
            we will tell you what to do next at the end of your transaction.</p>
          <p><em>Please note: * indicates that an answer is required.</em></p>
          <div class="govuk-form-group dvla-prov-licence-form-row-container">
            <div class="dvla-prov-licence-label-container">
              <label class="govuk-label prov-licence-label" for="provisional-licence-home-tel">
                Home telephone number
              </label>
            </div>
            <div class="dvla-prov-licence-input-container">
              <input class="govuk-input govuk-input--width-10" id="provisional-licence-home-tel" name="provisional-licence-home-tel" type="tel">
            </div>
          </div>
          <div class="govuk-form-group dvla-prov-licence-form-row-container">
            <div class="dvla-prov-licence-label-container">
              <label class="govuk-label prov-licence-label" for="provisional-licence-day-tel">
                Daytime telephone number
              </label>
            </div>
            <div class="dvla-prov-licence-input-container">
              <input class="govuk-input govuk-input--width-10" id="provisional-licence-day-tel" name="provisional-licence-day-tel" type="tel">
            </div>
          </div>
          <div class="govuk-form-group dvla-prov-licence-form-row-container">
            <div class="dvla-prov-licence-label-container">
              <label class="govuk-label prov-licence-label" for="provisional-licence-birth-surname">
                Birth surname *
                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Help?
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    <p>Enter your surname as it was when you were born.</p>
                  </div>
                </details>
              </label>
            </div>
            <div class="dvla-prov-licence-input-container">
              <input class="govuk-input govuk-input--width-10" id="provisional-licence-birth-surname" name="provisional-licence-birth-surname" type="text">
            </div>
          </div>

          <div class="govuk-form-group dvla-prov-licence-form-row-container">
            <div class="dvla-prov-licence-label-container">
              <label class="govuk-label prov-licence-label" for="provisional-licence-mothers-maiden-name">
                Mother's maiden name *
                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Help?
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    <p>Enter your mother's maiden name. If you do not know your mother's maiden name, just enter 'Unknown'.</p>
                  </div>
                </details>
              </label>
            </div>
            <div class="dvla-prov-licence-input-container">
              <input class="govuk-input govuk-input--width-10" id="provisional-licence-mothers-maiden-name" name="provisional-licence-mothers-maiden-name" type="text">
            </div>
          </div>

          <div class="govuk-form-group dvla-prov-licence-form-row-container">
            <div class="dvla-prov-licence-label-container">
              <label class="govuk-label prov-licence-label" for="provisional-licence-place-of-birth">
                Place of birth *
                <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Help?
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    <p>Enter the town, city, county or region in which you were born.</p>
                  </div>
                </details>
              </label>
            </div>
            <div class="dvla-prov-licence-input-container">
              <input class="govuk-input govuk-input--width-10" id="provisional-licence-place-of-birth" name="provisional-licence-place-of-birth" type="text">
            </div>
          </div>
          <hr>
        </div>


        <div class="dvla-button-row">
            {{ govukButton({
              text: "Previous",
              classes: "button-primary dvla-previous-button",
              href: "/forms/govuk-forms/learn-to-drive/apply-provisional-licence/APLaddressHistory.html"
            }) }}

            {{ govukButton({
              text: "Cancel",
              classes: "button-primary dvla-cancel-button",
              href: "/forms/govuk-forms/learn-to-drive/apply-provisional-licence/cancel-DVLA-apply-form.html"
            }) }}
            {{ govukButton({
              text: "Next",
              classes: "button-primary dvla-next-button",
              href: "/forms/govuk-forms/learn-to-drive/apply-provisional-licence/APLnatIns.html"
            }) }}
        </div>




    </div>
</div>
{% endblock %}

{% block footer %}
{% include "../../../../includes/generic-footer.html"  %}
{% endblock %}
