{% extends "layout_tool.html" %}

{% block pageTitle %}
End of the form - Provide Feedback

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl heading-title">
      You have finished the form
    </h1>
  </div> 
</div>
<div class="govuk-body govuk-!-margin-top-9 govuk-body">
  <h2 class="govuk-heading-l">
    Well done!
  </h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-body govuk-!-margin-bottom-9">
      <p>You can now go to the forms menu and try another form or you can tell us about your experience.</p>
      <p>It will help us improve.</p>
      <p>If you give us feedback, it's anonymous, optional and just a few questions and should take about 2 minutes.</p>
      <p>It will take you out of the website.</p>
      <a class="button-secondary govuk-button" href="/">Go to the forms menu</a>
      <a class="button-primary govuk-button" href="https://forms.gle/HpXTsM7RwsPGsWEcA" target="_blank" rel="noopener">Give feedback</a>

    </div>
  </div>


{% endblock %}