
{% extends "layout_erc.html" %}

{% block pageTitle %}
  Add person
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Apply online for council housing
      </h1>
      <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
      <p class="govuk-body-l">Enter each person who will be living with you.</p>
      <h2 class="govuk-heading-m">
          Person 1:
      </h2>

      {% from "govuk/components/input/macro.njk" import govukInput %}
      {{ govukInput({
        label: {
          text: "First name"
        },
        id: "first-name-person1",
        name: "first-name-person1",
        classes: "govuk-input--width-20"
      }) }}

      {{ govukInput({
        label: {
          text: "Last name"
        },
        id: "last-name-person1",
        name: "last-name-person1",
        classes: "govuk-input--width-20"
      }) }}

      {{ govukDateInput({
        id: "dob-person1",
        namePrefix: "dob-person1",
        fieldset: {
          legend: {
            text: "Date of birth",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items:[
            {
            name: 'day',
            value: data['dob-person1-day'],
            classes: "govuk-input--width-2"
            },
            {
            name: 'month',
            value: data['dob-person1-month'],
            classes: "govuk-input--width-2"
            },
            {
            name: 'year',
            value: data['dob-person1-year'],
            classes: "govuk-input--width-4"
            }
            ]
      }) }}

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {% set genderHtml %}
      {{ govukInput({
        id: "gender-desc1",
        name: "gender-desc1",
        classes: "govuk-!-width-two-thirds",
        label: {
          text: "Describe gender in another way (optional)"
        }
      }) }}
      {% endset -%}


      {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "gender1",
        name: "gender1",
        fieldset: {
          legend: {
            text: "Gender",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "female",
            text: "Female"
          },
          {
            value: "male",
            text: "Male"
          },
          {
            value: "Other",
            text: "Other",
            conditional: {
              html: genderHtml
            }
          }
        ]
      }) }}


      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "live-with1",
        name: "live-with1",
        fieldset: {
          legend: {
            text: "Do they live with you now?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      {{ govukInput({
        label: {
          text: "Relationship to you"
        },
        id: "relationship1",
        name: "relationship1",
        classes: "govuk-input--width-20"
      }) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}


      <button id="addbutton1" type="submit" class="govuk-button button-secondary" onclick="showperson2()">
        Add another person
      </button>

      <div id="CBLperson2">
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible erc">
        <h2 class="govuk-heading-m">
            Person 2:
        </h2>
        {{ govukInput({
          label: {
            text: "First name"
          },
          id: "first-name-person2",
          name: "first-name-person2",
          classes: "govuk-input--width-20"
        }) }}
  
        {{ govukInput({
          label: {
            text: "Last name"
          },
          id: "last-name-person2",
          name: "last-name-person2",
          classes: "govuk-input--width-20"
        }) }}
  
        {{ govukDateInput({
          id: "dob-person2",
          namePrefix: "dob-person2",
          fieldset: {
            legend: {
              text: "Date of birth",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items:[
              {
              name: 'day',
              value: data['dob-person2-day'],
              classes: "govuk-input--width-2"
              },
              {
              name: 'month',
              value: data['dob-person2-month'],
              classes: "govuk-input--width-2"
              },
              {
              name: 'year',
              value: data['dob-person2-year'],
              classes: "govuk-input--width-4"
              }
              ]
        }) }}
  
        {% set genderHtml %}
        {{ govukInput({
          id: "gender-desc2",
          name: "gender-desc2",
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Describe gender in another way (optional)"
          }
        }) }}
        {% endset -%}
  
  
        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "gender2",
          name: "gender2",
          fieldset: {
            legend: {
              text: "Gender",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "female",
              text: "Female"
            },
            {
              value: "male",
              text: "Male"
            },
            {
              value: "Other",
              text: "Other",
              conditional: {
                html: genderHtml
              }
            }
          ]
        }) }}
  
  
        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "live-with2",
          name: "live-with2",
          fieldset: {
            legend: {
              text: "Do they live with you now?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
  
        {{ govukInput({
          label: {
            text: "Relationship to you"
          },
          id: "relationship2",
          name: "relationship2",
          classes: "govuk-input--width-20"
        }) }}
        <button type="submit" class="govuk-button button-warning" onclick="hideperson2()">
          Remove person 2
        </button>
        <button type="submit" class="govuk-button button-secondary" onclick="showperson3()">
          Add another person
        </button>
      </div>

      <div id="CBLperson3">
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible erc">
        <h2 class="govuk-heading-m">
            Person 3:
        </h2>

        {{ govukInput({
          label: {
            text: "First name"
          },
          id: "first-name-person3",
          name: "first-name-person3",
          classes: "govuk-input--width-20"
        }) }}
  
        {{ govukInput({
          label: {
            text: "Last name"
          },
          id: "last-name-person3",
          name: "last-name-person3",
          classes: "govuk-input--width-20"
        }) }}
  
        {{ govukDateInput({
          id: "dob-person3",
          namePrefix: "dob-person3",
          fieldset: {
            legend: {
              text: "Date of birth",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items:[
              {
              name: 'day',
              value: data['dob-person3-day'],
              classes: "govuk-input--width-2"
              },
              {
              name: 'month',
              value: data['dob-person3-month'],
              classes: "govuk-input--width-2"
              },
              {
              name: 'year',
              value: data['dob-person3-year'],
              classes: "govuk-input--width-4"
              }
              ]
        }) }}
  
        {% set genderHtml %}
        {{ govukInput({
          id: "gender-desc3",
          name: "gender-desc3",
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Describe gender in another way (optional)"
          }
        }) }}
        {% endset -%}
  
  
        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "gender3",
          name: "gender3",
          fieldset: {
            legend: {
              text: "Gender",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "female",
              text: "Female"
            },
            {
              value: "male",
              text: "Male"
            },
            {
              value: "Other",
              text: "Other",
              conditional: {
                html: genderHtml
              }
            }
          ]
        }) }}
  
  
        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "live-with3",
          name: "live-with3",
          fieldset: {
            legend: {
              text: "Do they live with you now?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
  
        {{ govukInput({
          label: {
            text: "Relationship to you"
          },
          id: "relationship3",
          name: "relationship3",
          classes: "govuk-input--width-20"
        }) }}
        <button type="submit" class="govuk-button button-warning" onclick="hideperson3()">
          Remove person 3
        </button>
        <button type="submit" class="govuk-button button-secondary" onclick="showperson4()">
          Add another person
        </button>
      </div>

      <div id="CBLperson4">
          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible erc">
          <h2 class="govuk-heading-m">
              Person 4:
          </h2>
  
          {{ govukInput({
            label: {
              text: "First name"
            },
            id: "first-name-person3",
            name: "first-name-person3",
            classes: "govuk-input--width-20"
          }) }}
    
          {{ govukInput({
            label: {
              text: "Last name"
            },
            id: "last-name-person3",
            name: "last-name-person3",
            classes: "govuk-input--width-20"
          }) }}
    
          {{ govukDateInput({
            id: "dob-person3",
            namePrefix: "dob-person3",
            fieldset: {
              legend: {
                text: "Date of birth",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items:[
                {
                name: 'day',
                value: data['dob-person3-day'],
                classes: "govuk-input--width-2"
                },
                {
                name: 'month',
                value: data['dob-person3-month'],
                classes: "govuk-input--width-2"
                },
                {
                name: 'year',
                value: data['dob-person3-year'],
                classes: "govuk-input--width-4"
                }
                ]
          }) }}
    
          {% set genderHtml %}
          {{ govukInput({
            id: "gender-desc3",
            name: "gender-desc3",
            classes: "govuk-!-width-two-thirds",
            label: {
              text: "Describe gender in another way (optional)"
            }
          }) }}
          {% endset -%}
    
    
          {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "gender3",
            name: "gender3",
            fieldset: {
              legend: {
                text: "Gender",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "female",
                text: "Female"
              },
              {
                value: "male",
                text: "Male"
              },
              {
                value: "Other",
                text: "Other",
                conditional: {
                  html: genderHtml
                }
              }
            ]
          }) }}
    
    
          {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "live-with3",
            name: "live-with3",
            fieldset: {
              legend: {
                text: "Do they live with you now?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}
    
          {{ govukInput({
            label: {
              text: "Relationship to you"
            },
            id: "relationship3",
            name: "relationship3",
            classes: "govuk-input--width-20"
          }) }}
        <button type="submit" class="govuk-button button-warning" onclick="hideperson4()">
          Remove person 4
        </button>
        <button type="submit" class="govuk-button button-secondary" onclick="showperson5()">
          Add another person
        </button>
      </div>

      <div id="CBLperson5">
          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible erc">
          <h2 class="govuk-heading-m">
              Person 5:
          </h2>
  
          {{ govukInput({
            label: {
              text: "First name"
            },
            id: "first-name-person3",
            name: "first-name-person3",
            classes: "govuk-input--width-20"
          }) }}
    
          {{ govukInput({
            label: {
              text: "Last name"
            },
            id: "last-name-person3",
            name: "last-name-person3",
            classes: "govuk-input--width-20"
          }) }}
    
          {{ govukDateInput({
            id: "dob-person3",
            namePrefix: "dob-person3",
            fieldset: {
              legend: {
                text: "Date of birth",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items:[
                {
                name: 'day',
                value: data['dob-person3-day'],
                classes: "govuk-input--width-2"
                },
                {
                name: 'month',
                value: data['dob-person3-month'],
                classes: "govuk-input--width-2"
                },
                {
                name: 'year',
                value: data['dob-person3-year'],
                classes: "govuk-input--width-4"
                }
                ]
          }) }}
    
          {% set genderHtml %}
          {{ govukInput({
            id: "gender-desc3",
            name: "gender-desc3",
            classes: "govuk-!-width-two-thirds",
            label: {
              text: "Describe gender in another way (optional)"
            }
          }) }}
          {% endset -%}
    
    
          {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "gender3",
            name: "gender3",
            fieldset: {
              legend: {
                text: "Gender",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "female",
                text: "Female"
              },
              {
                value: "male",
                text: "Male"
              },
              {
                value: "Other",
                text: "Other",
                conditional: {
                  html: genderHtml
                }
              }
            ]
          }) }}
    
    
          {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "live-with3",
            name: "live-with3",
            fieldset: {
              legend: {
                text: "Do they live with you now?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}
    
          {{ govukInput({
            label: {
              text: "Relationship to you"
            },
            id: "relationship3",
            name: "relationship3",
            classes: "govuk-input--width-20"
          }) }}
        <button type="submit" class="govuk-button button-warning" onclick="hideperson5()">
          Remove person 5
        </button>
        <button type="submit" class="govuk-button button-secondary" onclick="showperson6()">
          Add another person
        </button>
      </div>

      <div id="CBLperson6">
          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible erc">
          <h2 class="govuk-heading-m">
              Person 6:
          </h2>
  
          {{ govukInput({
            label: {
              text: "First name"
            },
            id: "first-name-person3",
            name: "first-name-person3",
            classes: "govuk-input--width-20"
          }) }}
    
          {{ govukInput({
            label: {
              text: "Last name"
            },
            id: "last-name-person3",
            name: "last-name-person3",
            classes: "govuk-input--width-20"
          }) }}
    
          {{ govukDateInput({
            id: "dob-person3",
            namePrefix: "dob-person3",
            fieldset: {
              legend: {
                text: "Date of birth",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items:[
                {
                name: 'day',
                value: data['dob-person3-day'],
                classes: "govuk-input--width-2"
                },
                {
                name: 'month',
                value: data['dob-person3-month'],
                classes: "govuk-input--width-2"
                },
                {
                name: 'year',
                value: data['dob-person3-year'],
                classes: "govuk-input--width-4"
                }
                ]
          }) }}
    
          {% set genderHtml %}
          {{ govukInput({
            id: "gender-desc3",
            name: "gender-desc3",
            classes: "govuk-!-width-two-thirds",
            label: {
              text: "Describe gender in another way (optional)"
            }
          }) }}
          {% endset -%}
    
    
          {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: "gender3",
            name: "gender3",
            fieldset: {
              legend: {
                text: "Gender",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "female",
                text: "Female"
              },
              {
                value: "male",
                text: "Male"
              },
              {
                value: "Other",
                text: "Other",
                conditional: {
                  html: genderHtml
                }
              }
            ]
          }) }}
    
    
          {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "live-with3",
            name: "live-with3",
            fieldset: {
              legend: {
                text: "Do they live with you now?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}
    
          {{ govukInput({
            label: {
              text: "Relationship to you"
            },
            id: "relationship3",
            name: "relationship3",
            classes: "govuk-input--width-20"
          }) }}
          <button type="submit" class="govuk-button button-warning" onclick="hideperson6()">
            Remove person 6
          </button>
          <button type="submit" class="govuk-button button-secondary">
            Add another person - not coded
          </button>
        </div>

<br>
      {{ govukButton({
        text: "Continue",
        classes: "button-primary",
        href: "/forms/erc-forms/housing/CBLbabies.html"
      }) }}


    </div>
</div>


{% endblock %}
