{% extends "layout_erc.html" %}

{% block pageTitle %}
  Areas choice
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Apply online for council housing 
        </h1>
        <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>

        <h2 class="govuk-heading-m">
                We're going to ask you about the areas you want to live in
        </h2>

                <p>Your choices won’t affect what areas you can bid for later.</p> 
      
                <p>We use these choices to match you with available houses from other housing providers.</p> 
  
        
        {{ govukButton({
            text: "Continue",
            classes: "button-primary",
            href: "/forms/erc-forms/housing/CBLareas.html"
          }) }}
      

    </div>
</div>


{% endblock %}
