
{% extends "layout_erc.html" %}

{% block pageTitle %}
  About you
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Apply online for council housing
        </h1>
      <a class=" button-secondary govuk-button" href="javascript: history.go(-1)">Back</a>
      <h2 class="govuk-heading-m">
        About you
      </h2>
      <form class="form" method="post" novalidate>
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "Title"
        },
        id: "title-applicant",
        name: "title-applicant",
        value: data['title-applicant'],
        classes: "govuk-input--width-4"
      }) }}

      {{ govukInput({
        label: {
          text: "First name"
        },
        id: "first-name-applicant",
        name: "first-name-applicant",
        value: data['first-name-applicant'],
        classes: "govuk-input--width-20"
      }) }}

      {{ govukInput({
        label: {
          text: "Last name"
        },
        id: "last-name-applicant",
        name: "last-name-applicant",
        value: data['last-name-applicant'],
        classes: "govuk-input--width-20"
      }) }}

      {{ govukInput({
        label: {
          text: "Phone"
        },
        id: "telephone-number",
        name: "telephone-number",
        value: data['telephone-number'],
        type: "tel",
        classes: "govuk-input--width-10"
      }) }}


      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue",
        classes: "button-primary"
      }) }}
      </form>
    </div>
</div>

{% endblock %}
