
{% extends "layout_erc.html" %}

{% block pageTitle %}
  Current housing circumstances
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Apply online for council housing
      </h1>
      <a class=" button-secondary govuk-button" href="javascript: history.go(-1)">Back</a>
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% set detailsHtml %}
{{ govukTextarea({
  id: "situation-details",
  name: "situation-details",
  classes: "govuk-!-width-two-thirds",
  label: {
    text: "Give details"
  }
}) }}
{% endset -%}


{{ govukCheckboxes({
  idPrefix: "situation-conditional",
  name: "situation",
  fieldset: {
    legend: {
      text: "What is your current living situation?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Select all that apply."
  },
  items: [
    {
      value: "ERC",
      text: "East Renfrewshire Council tenant"
    },
    {
      value: "other-council",
      text: "Tenant of another council or housing association"
    },
    {
      value: "property-provided",
      text: "Tenant of property provided as part of my job"
    },
    {
      value: "private",
      text: "Tenant of a private landlord"
    },
    {
      value: "army",
      text: "Armed Forces"
    },
    {
      value: "Relative",
      text: "Living with relatives or friends"
    },
    {
      value: "owner",
      text: "Homeowner and live in my own home"
    },
    {
      value: "no",
      text: "No permanent home"
    },
    {
      value: "different",
      text: "Other",
      conditional: {
        html: detailsHtml
      }
    }
  ]
}) }}


      {{ govukButton({
        text: "Continue",
        href: "/forms/erc-forms/housing/CBLproperty-type.html",
        classes: "button-primary"
      }) }}

    </div>
</div>



{% endblock %}
