{% extends "layout_erc.html" %}

{% block pageTitle %}
  Housing preference
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Apply online for council housing
        </h1>
        <a class=" button-secondary govuk-button" href="javascript: history.go(-1)">Back</a>

{{ govukCheckboxes({
    idPrefix: "housetype-conditional",
    name: "housetype",
    fieldset: {
      legend: {
        text: "Which house type do you want to live in?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--m"
      }
    },
    hint: {
      text: "Select all that apply."
    },
    items: [
      {
        value: "Tenement flat",
        text: "Tenement flat"
      },
      {
        value: "Main door flat",
        text: "Main door flat"
      },
      {
        value: "Maisonette",
        text: "Maisonette"
      },
      {
        value: "Cottage or house",
        text: "House or cottage"
      },
      {
        value: "Bungalow",
        text: "Bungalow"
      },
      {
        value: "Sheltered housing (If you or your partner are aged 60 or over)",
        text: "Sheltered housing (If you or your partner are aged 60 or over)"
      },
      {
        value: "Amenity housing (If you or your partner are aged 60 or over or have a disability)",
        text: "Amenity housing (If you or your partner are aged 60 or over or have a disability)"
      },
      {
        value: "Housing adapted for people who use a wheelchair",
        text: "Housing adapted for people who use a wheelchair"
      }
    ]
  }) }}

<br><br>
{{ govukCheckboxes({
    idPrefix: "floor",
    name: "floor",
    fieldset: {
      legend: {
        text: "What floor level would you want to live on?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--m"
      }
    },
    hint: {
      text: "Select all that apply."
    },
    items: [
      {
        value: "Ground",
        text: "Ground"
      },
      {
        value: "First",
        text: "First"
      },
      {
        value: "Second",
        text: "Second"
      },
      {
        value: "Third or higher",
        text: "Third or higher"
      },
      {
        value: "Any level if there is a lift",
        text: "Any level if there is a lift"
      }
    ]
  }) }}

        {{ govukButton({
          text: "Continue",
          classes: "button-primary",
          href: "CBLareas-info.html"
        }) }}
      

    </div>
</div>


{% endblock %}
