
{% extends "layout_erc.html" %}

{% block pageTitle %}
  National Insurance Number
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
          Apply online for council housing<span class="UR-tag red">still under discussion</span>
      </h1>
      <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
      <form class="form" method="post">
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set niHtml %}
{{ govukInput({
  id: "ni",
  name: "ni",
  value: data['ni'],
  classes: "govuk-!-width-one-third",
  label: {
    text: "Enter your National Insurance number"
  }
}) }}
{% endset -%}

{{ govukRadios({
  idPrefix: "ni-nb-conditional",
  name: "ni-nb",
  fieldset: {
    legend: {
      text: "Do you have a National Insurance number?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "It’s on your National Insurance card, benefit letter, payslip or P60. For example, ‘QQ 12 34 56 C’."
  },
  items: [
    {
      value: "yes",
      text: "Yes",
      checked: checked("ni-nb", "yes"),
      conditional: {
        html: niHtml
      }
    },
    {
      value: "no",
      text: "No",
      checked: checked("ni-nb", "no")
    }
  ]
}) }}

      {{ govukButton({
        text: "Continue",
        classes: "button-primary"
      }) }}
    </form>
    </div>
</div>


{% endblock %}
