
{% extends "layout_erc.html" %}

{% block pageTitle %}
  Other properties
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Apply online for council housing 
      </h1>
      <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% set addressHtml %}
{{ govukTextarea({
  id: "properties-details",
  name: "properties-details",
  classes: "govuk-!-width-two-thirds",
  label: {
    text: "Enter address. Include postcode if you know it."
  }
}) }}
{% endset -%}

{{ govukRadios({
  idPrefix: "is-properties-conditional",
  name: "is-properties",
  fieldset: {
    legend: {
      text: "Do you own or rent any other properties other than your current home?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "yes-own",
      text: "Yes, I own another property",
      conditional: {
        html: addressHtml
      }
    },
    {
      value: "yes-rent",
      text: "Yes, I rent another property",
      conditional: {
        html: addressHtml
      }
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

      {{ govukButton({
        text: "Continue",
        href: "/forms/erc-forms/housing/CBLconnection-ER.html",
        classes: "button-primary"
      }) }}

    </div>
</div>


{% endblock %}
