
{% extends "layout_erc.html" %}

{% block pageTitle %}
  Recourse to public fonds
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
          Apply online for council housing
      </h1>
      <a class="govuk-back-link" href="javascript: history.go(-1)">Back</a>
      <form class="form" method="post">
      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        idPrefix: "is-recourse",
        name: "is-recourse",
        fieldset: {
          legend: {
            text: "Have you been told you have no recourse to public funds?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },      
        hint: {
          text: "This applies to some people under immigration control. It means you're not entitled to benefits, home office asylum support or public housing."
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: checked("is-recourse", "yes")
          },
          {
            value: "no",
            text: "No",
            checked: checked("is-recourse", "no")
          },
          {
            value: "I don't know",
            text: "I don't know",
            checked: checked("is-recourse", "I don't know")
          }
        ]
      }) }}
      {{ govukButton({
        text: "Continue",
        classes: "button-primary"
      }) }}
      <form class="form" method="post">
    </div>
</div>

{% endblock %}
