
{% extends "layout_erc.html" %}

{% block pageTitle %}
  CBL start
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl heading-title">
  Council housing application form
</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="heading-intro">
        Fill out our online form to register an interest in council housing. You'll receive a bidding reference number shortly after you register.
      </p>
      <form class="form" method="post">
        {% from "govuk/components/radios/macro.njk" import govukRadios %}
    
        {{ govukRadios({
          idPrefix: "is-applicant",
          name: "is-applicant",
          fieldset: {
            legend: {
              text: "Are you the person applying?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked("is-applicant", "yes")
            },
            {
              value: "no",
              text: "No",
              checked: checked("is-applicant", "no")
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue",
          classes: "button-primary"
        }) }}
        <form class="form" method="post">

    </div>
</div>

{% endblock %}


