{% include "../../../includes/pa-header.html"  %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

  <div class="govuk-grid-row pa-block pa-grey-container">
    <div class="govuk-grid-column-full">
      <a href="./pa-dashboard">&lt; Back</a>

      <div style="text-align: center;">
        <h1>This is how it would look like</h1>
        <a>Below is a screenshot of the real screen<br>There is too much to re-create the page here sorry!</a>
        <p><image src="{{ asset_path }}images/PA/bookings.png?0.18.3p" alt="screenshot showing the real screen of the form, there is a search box and different categories you can chose from" width="100%"></image></p>
      </div> 
    </div>
  </div>
  <div class="student-notes-box"> 
    <p>On the real form you would be able to search for a service you need and make an appointement</p>
    <p>We can't re-create the same thing here.</p>

  </div>
</main>
</div>

  {% include "../../../includes/pa-footer.html"  %}
