{% include "../../../includes/pa-header.html"  %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

  <div class="govuk-grid-row pa-block pa-grey-container">
    <div class="govuk-grid-column-full">
      <a href="./pa-signin">&lt; Back to Sign In</a>
    <h1><span class="dot">&nbsp;2&nbsp;</span> Confirm Mobile Phone Number</h1>
    <p style="background-color: #ffd9cb; color: #32325d;
    border-radius: 12px; margin: 10px 30px 50px 30px;
    padding: 24px 32px 24px 24px;">
    We can only remind you of your email if you have previously supplied a mobile phone number. If you know your User ID you can sign in with this instead.</p>
    </div>
  </div>
</main>
</div>

  {% include "../../../includes/pa-footer.html"  %}
