{% include "../../../includes/pa-header.html"  %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
  <div class="govuk-grid-row pa-block pa-grey-container">
    <div class="govuk-grid-column-full">
      <a href="./pa-signin">&lt; Back to Sign In</a>
    <h1><span class="dot">&nbsp;1&nbsp;</span> Confirm Mobile Phone Number</h1>
    <p>Please provide the mobile phone number associated with your account.</p>
      <div class="govuk-form-group">
        <label class="govuk-label" for="pa-phone">
          Mobile Phone Number
        </label>
        <input class="govuk-input govuk-!-width-one-half" id="pa-phone" name="pa-phone" type="text" placeholder="Mobile number">
      </div>
      <p>I don't have a <a href="./pa-confirm-mobile2">mobile phone number</a></p>
      <a href="# role="button" draggable="false" class="govuk-button button-primary pa-pink-button" data-module="govuk-button" style="margin: 30px 0;">
        Continue
      </a>
    </div>
  </div>
  <div class="student-notes-box"> 
    <p>You would enter your phone number here and by selecting 'Continue' this would send you a text to remind you of your email address.</p>
    <p>We can't do that here so the button Continue doesn't work.</p>
  </div>

  </main>
</div>  
  {% include "../../../includes/pa-footer.html"  %}
