{% extends "layout.html" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/PA/favicon.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/other.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}

{% block header %}
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo ">
        <span class="govuk-header__logotype">
            <a href="/index.html"><image src="{{ asset_path }}images/PA/patient-access-logo.png?0.18.3p" alt="go back to homepage" width="250" height="30"></image></a>
        </span>
    </div>
    <div class="govuk-header__content">
      <a href="/index.html">
        <span class="pa-tagline">
          This is a training website
        </span>
      </a>
    </div>
  </div>
  {% endblock %}

  {% block pageTitle %}
  Confirm Mobile Phone Number
  {% endblock %}

  {% block content %}

  <div class="govuk-grid-row pa-block pa-grey-container">
    <div class="govuk-grid-column-full">
      <a href="./pa-signin">&lt; Back to Sign In</a>
    <h1><span class="dot">&nbsp;1&nbsp;</span> Confirm Mobile Phone Number</h1>
    <p>Please provide the mobile phone number associated with your account.</p>
      <div class="govuk-form-group">
        <label class="govuk-label" for="pa-phone">
          Mobile Phone Number
        </label>
        <input class="govuk-input govuk-!-width-one-half" id="pa-phone" name="pa-phone" type="text" placeholder="Mobile number">
      </div>
      <p>I don't have a <a href="./pa-confirm-mobile2">mobile phone number</a></p>
      <a href="./pa-signedIn" role="button" draggable="false" class="govuk-button button-primary pa-pink-button" data-module="govuk-button" style="margin: 30px 0;">
        Continue
      </a>
    </div>
  </div>
  <div class="student-notes-box"> 
    <p>You would enter your phonenumber here and this would send you a text to remind you of your email address</p>

  </div>
  
  {% endblock %}

{% block footer %}
{% endblock %}
