{% include "../../../includes/pa-header.html"  %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="pa-block">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
        <h1>This is not ready!</h1>
          <p>It looks like the picture below:</p>
          <p><image src="{{ asset_path }}images/PA/dashboard-pa.png" alt="screenshot of the dashboard" style="width:100% ; border: 20px solid #D3368A;"></image></p>
          <p>
          <span class="fa fa-home fa-2x"></span>
          <span class="fa fa-read fa-2x"></span>
          <span class="fa fa-health-advice fa-2x"></span>
          <span class="fa fa-calendar-check fa-2x"></span>
          <span class="fa fa-link-practice fa-2x"></span>
          <i class="far fa-calendar-check"></i></p>
        </div>
      </div>

    </div>
</main>
</div>
{% include "../../../includes/pa-footer.html"  %}
