{% extends "layout.html" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/PA/favicon.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/other.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}


{% block header %}
<div class="govuk-header__container govuk-width-container">
  <div class="govuk-header__logo pat-acc-logo-cont">
      <span class="govuk-header__logotype">
          <a id="pat-acc-logo-clean" href="/index.html"><image src="{{ asset_path }}images/PA/patient-access-logo.png?0.18.3p" alt="Patient Access Logo" width="250" height="30"></image></a>
      </span>
  </div>
  <div class="govuk-header__content">
    <a href="/index.html">
      <span class="pat-acc-tagline">
        This is a training website
      </span>
    </a>
    <div class="pat-acc-header-button-container">
      <a href="./pa-signin" class="pat-acc-header-sign-in-button">Sign In</a>
      <a href="./pa-register" class="pat-acc-header-register-button">Register</a>
    </div>
  </div>
</div>
{% endblock %}

{% block pageTitle %}
Patient Access
{% endblock %}


{% block content %}

<div class="govuk-grid-row park-home">
    <div class="park-home-black-block pat-acc-block">
      <div class="pat-acc-homepage-content-container">
        <span class="pat-acc-homepage-content-title">Take control of your healthcare</span>
        <div class="pat-acc-homepage-content-tagline-cont">
          <span class="pat-acc-homepage-content-tagline">In partnership with </span>
          <image src="{{ asset_path }}images/PA/nhs.png?0.18.3p" alt="Patient Access Logo" width="75" height="30"></image>
        </div>
        <div class="pat-acc-homepage-content-body-cont">
          <span class="pat-acc-homepage-content-body">Patient Access connects you to local health services when you need them most. Book GP appointments, order repeat prescriptions and discover local health services for you or your family via your mobile or home computer.</span>
        </div>
      </div>
      <div class="pat-acc-hero-button-container">
        <a href="./pa-signin" class="pat-acc-sign-in-button">Sign In</a>
        <a href="./pa-register" class="pat-acc-register-button">Register</a>
      </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
