{% include "../../../includes/pa-header.html"  %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
  <div class="govuk-grid-row pa-block pa-grey-container" style="text-align: center;">
    <div class="govuk-grid-column-full">
    <h1>Check your email inbox now</h1>   
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          &nbsp;
        </div>

        <div class="govuk-grid-column-one-half">
          <div class="pa-white-container ">
            <p>We have sent a link to reset your password to your email address <strong>example@gmail.com</strong>. Please check your email inbox and follow the link.</p>
          </div>
        </div>
      </div>
      <p><a href="./pa-signin">Go back to sign in</a></p>
    </div>
  </div>
</main>
</div>
  

  {% include "../../../includes/pa-footer.html"  %}
