{% extends "layout.html" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/PA/favicon.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/other.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}

{% block header %}
{% include "../../../includes/pa-header.html"  %}
{% endblock %}

  {% block pageTitle %}
  Reset your password
  {% endblock %}

  {% block content %}

  <div class="govuk-grid-row pa-block pa-grey-container" style="text-align: center;">
    <div class="govuk-grid-column-full">
    <h1>Check your email inbox now</h1>   
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          &nbsp;
        </div>

        <div class="govuk-grid-column-one-half">
          <div class="pa-white-container ">
            <p>We have sent a link to reset your password to your email address <strong>example@gmail.com</strong>. Please check your email inbox and follow the link.</p>
          </div>
        </div>
      </div>
      <p><a href="./pa-signin">Go back to sign in</a></p>
    </div>
  </div>

  
  {% endblock %}

{% block footer %}
{% include "../../../includes/generic-footer.html"  %}
{% endblock %}
