{% include "../../../includes/pa-header.html"  %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

  <div class="govuk-grid-row pa-block pa-grey-container">
    <div class="govuk-grid-column-two-thirds">
      <a href="./pa-dashboard">&lt; Back</a>

      <h2>Why book a video physiotherapy assessment?</h2>
      <p>Many people are confined to their homes at the moment or cannot access face-to-face physiotherapy appointments. Yet
        physiotherapists can effectively carry out assessments, provide advice and prescribe treatment plans for many
        problems via video consultations. </p>
      <p>Physiotherapists can help with a wide variety of acute injuries and long-term health conditions, as well as helping
        you to recover from surgery or cope with pain. They can work with you to improve symptoms from a host of conditions,
        including:</p>
      <ul>
        <li>Arthritis and joint pain </li>
        <li>Back and neck pain </li>
        <li>Sciatica</li>
        <li>Pregnancy-related pain </li>
        <li>Sports injuries </li>
        <li>Sprains and strains </li>
      </ul>
      <h2>What am I booking?</h2>
      <p>This is a private (paid for) service for an initial 30-minute one-to-one video assessment with a physiotherapist.
        Here your physiotherapist will work with you to assess your problem before prescribing you with a personalised
        online treatment plan tailored to your needs and priorities. </p>
      <h2>Is this service right for me?</h2>
      <p>This service is suitable for over 18-year-olds.</p>
      <p>It is not suitable for you if you:</p>
      <ul>
        <li>Need physiotherapy for your face, chest or breathing.</li>
        <li>Have an inflammatory joint condition (such as rheumatoid arthritis or psoriatic arthritis).</li>
        <li>Have problems with your nervous system such as a stroke.</li>
        <li>Have complex medical problems affecting many parts of your body.</li>
      </ul>
      <h2>What do physiotherapists do?</h2>
      <p>Physiotherapy is a ‘protected term’ – in other words, to work as a physiotherapist you need a relevant degree and
        specialist training. Once you have qualified, your name can be entered on the specialist register, and you need to
        keep your training up to date.</p>
      <p>Physiotherapists work with people who have injuries, physical difficulties or conditions which limit their
        mobility. They can ensure faster, safe rehabilitation from sports injury, improve your mobility or relieve symptoms
        of back and joint pains.</p>
      <p>Using video consultation, your physiotherapist can demonstrate and take you through movements and exercises, as
        well as offering education and advice. They will take a ‘whole person’ approach, taking into account your general
        lifestyle and working with you to improve your long-term health.</p>
      <h2>How much will it cost?</h2>
      <p>The price you’ll be quoted is the starting price for your full video assessment consultation and advice on
        exercises and other steps you can take at home. If you need follow-up consultations, these will be charged
        separately.</p>
      <h2>Is this service available on the NHS?</h2>
      <p>Video physiotherapy consultations are not routinely available on the NHS.</p>




      </div> 
    </div>
    <div class="student-notes-box"> 
      <p>On the real form you would be able to read more and to find someone who provides this service</p>

    </div>
</main>
</div>

  {% include "../../../includes/pa-footer.html"  %}
