{% include "../../../includes/pa-header.html"  %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
  <div class="govuk-grid-row pa-block pa-grey-container" style="text-align: center;">
    <div class="govuk-grid-column-full">
    <h1>Create your Patient Access account</h1>
    <p>Already have an account? <a href="./pa-signin.html"> Sign in to Patient Access</a></p>
      
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          &nbsp;
        </div>

        <div class="govuk-grid-column-one-half">
          <div class="pa-white-container ">
            <p><a href="./pa-register.html">&lt; Back </a></p>
            <h2> Enter account details</h2>
            <div class="govuk-form-group">
              <label class="govuk-label" for="pa-email">
                Email address *
              </label>
              <input class="govuk-input" id="pa-email" name="pa-email" type="text" placeholder="name@example.com">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="pa-pwd">
                Password
              </label>
              <input class="govuk-input" id="pa-pwd" name="pa-pwd" type="text" placeholder="Password">
              <p>Your new password must be at least 12 characters long with a mix of numbers, uppercase and lowercase letters and should not have been previously used.</p>
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="pa-phone">
                Mobile number (optionnal)
              </label>
              <input class="govuk-input" id="pa-phone" name="pa-phone" type="text" placeholder="Mobile number">
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <div class="govuk-checkboxes govuk-checkboxes--small">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="pa-terms" name="pa-terms" type="checkbox" >
                    <label class="govuk-label govuk-checkboxes__label" for="pa-terms">
                      <span style="font-weight: 400">I accept the</span> <a href="https://support.patientaccess.com/terms-of-use">Terms and Conditions</a>
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <div class="govuk-checkboxes govuk-checkboxes--small">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="pa-marketing" name="pa-marketing" type="checkbox" >
                    <label class="govuk-label govuk-checkboxes__label" for="pa-marketing">
                      <span style="font-weight: 400; line-height: 20px;">I’d like to receive marketing communications (emails, surveys and partner content) to enhance my experience of Patient Access.</span>
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <a href="./pa-success" role="button" draggable="false" class="govuk-button button-primary pa-pink-button" data-module="govuk-button" style="width:100%; margin-bottom: 30px;">
              Create account
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="student-notes-box"> 
    <p>You can enter anything at the moment, we are not checking</p>
  </div>
</main>
</div>

    {% include "../../../includes/pa-footer.html"  %}
