{% include "../../../includes/pa-header.html"  %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

  <div class="govuk-grid-row pa-block pa-grey-container" style="text-align: center;">
    <div class="govuk-grid-column-full">
    <h1>Reset your password</h1>   
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          &nbsp;
        </div>

        <div class="govuk-grid-column-one-half">
          <div class="pa-white-container ">
            <p>To reset your password, please enter the email address or User ID you use to sign in.</p>
            <form class="form" method="post">
            <div class="govuk-form-group">
              <label class="govuk-label" for="pa-email">
                Email or User ID
              </label>
              <input class="govuk-input" id="pa-email" name="pa-email" type="text" placeholder="Email or User ID">
            </div>
        
            <button class="govuk-button button-primary pa-pink-button" data-module="govuk-button" style="width:100%; margin-bottom: 30px;">
              Continue
            </button>  
            </form>
          </div>
        </div>
      </div>
      <p><a href="./pa-signin">Go back to sign in</a></p>
    </div>
  </div>
  <div class="student-notes-box"> 
    <p>You can enter anything at the moment, we are not checking</p>
  </div>
  </main>
  </div>

  {% include "../../../includes/pa-footer.html"  %}
