{% extends "layout.html" %}

{% block headIcons %}
<link rel="shortcut icon" href="{{ asset_path }}images/PA/favicon.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
<!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/other.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

{% for stylesheetUrl in extensionConfig.stylesheets %}
<link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
{% endfor %}
{% endblock %}


{% block header %}
<div class="govuk-header__container govuk-width-container">
  <div class="govuk-header__logo ">
      <span class="govuk-header__logotype">
          <a href="/index.html"><image src="{{ asset_path }}images/PA/patient-access-logo.png?0.18.3p" alt="go back to homepage" width="250" height="30"></image></a>
      </span>
  </div>
  <div class="govuk-header__content">
    <a href="/index.html">
      <span class="pa-tagline">
        This is a training website
      </span>
    </a>
  </div>
</div>
  {% endblock %}

  {% block pageTitle %}
  Patient Access - Register
  {% endblock %}


  {% block content %}
  <div class="govuk-grid-row pa-block pa-grey-container" style="text-align: center;">
    <div class="govuk-grid-column-full">
    <h1>Create your Patient Access account</h1>
    <p>Already have an account? <a href="./pa-signin.html"> Sign in to Patient Access</a></p>
      
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          &nbsp;
        </div>

        <div class="govuk-grid-column-one-half">
          <div class="pa-white-container ">
            <h2>Enter your personal details</h2>
            <div class="govuk-form-group">
              <label class="govuk-label" for="pa-first-name">
                First name
              </label>
              <input class="govuk-input" id="pa-first-name" name="pa-first-name" type="text" placeholder="First name">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="pa-last-name">
                Last name
              </label>
              <input class="govuk-input" id="pa-last-name" name="pa-last-name" type="text" placeholder="Last name">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="pa-postcode">
                Your home postcode
              </label>
              <input class="govuk-input" id="pa-postcode" name="pa-postcode" type="text" placeholder="Postcode">
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" role="group" aria-describedby="pa-date-of-birth">
                <label class="govuk-label" for="pa-date-of-birth">
                  Date of birth
                </label>
                <div class="govuk-date-input" id="pa-date-of-birthd-day">
                  <div class="govuk-date-input__item" style="margin-right: 10px">
                    <div class="govuk-form-group">
                      <input class="govuk-input" id="pa-date-of-birthd-day" name="pa-date-of-birthd-day" type="text" pattern="[0-9]*" inputmode="numeric" Placeholder="Day" style="width:50px;" style="margin-right: 10px">
                    </div>
                  </div>
                  <select class="govuk-select" id="pa-DOBmonth" name="pa-DOBmonth" style="margin-right: 10px">
                    <option value="-1" selected="selected">Month</option>
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                  </select>
                  <div class="govuk-date-input__item" style="margin-right: 10px">
                    <div class="govuk-form-group">
                      <input class="govuk-input govuk-input--width-4" id="pa-date-of-birthd-year" name="pa-date-of-birthd-year" type="text" pattern="[0-9]*" inputmode="numeric" placeholder="Year">
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <p><a href="./pa-why-we-ask.html">Why do we ask for this information</a></p>
            <a href="./pa-register2" role="button" draggable="false" class="govuk-button button-primary pa-pink-button" data-module="govuk-button" style="width:100%; margin-bottom: 30px;">
              Continue
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="student-notes-box"> 
    <p>You can enter anything at the moment, we are not checking</p>
  </div>

  {% endblock %}

  {% block footer %}
  {% endblock %}
