{% extends "layout.html" %}

{% block headIcons %}
<link rel="shortcut icon" href="{{ asset_path }}images/PA/favicon.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
<!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/other.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

{% for stylesheetUrl in extensionConfig.stylesheets %}
<link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
{% endfor %}
{% endblock %}

{% block header %}
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo ">
        <span class="govuk-header__logotype">
            <a href="/index.html"><image src="{{ asset_path }}images/PA/patient-access-logo.png?0.18.3p" alt="go back to homepage" width="250" height="30"></image></a>
        </span>
    </div>
    <div class="govuk-header__content">
      <a href="/index.html">
        <span class="pa-tagline">
          This is a training website
        </span>
      </a>
    </div>
  </div>
  {% endblock %}

  {% block pageTitle %}
  Patient Access - Account created
  {% endblock %}

  {% block content %}

  <div class="govuk-grid-row pa-block">
    <div class="govuk-grid-column-full pa-grey-container" style="text-align: center;">
    <h1>You are now signed in!</h1>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          &nbsp;
        </div>
        <div class="govuk-grid-column-one-half">
          <div class="pa-white-container ">
            <h2>More coming soon....</h2>
            <a href="/index.html">Back to the forms menu</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

{% block footer %}
{% endblock %}
