{% extends "layout.html" %}

{% block headIcons %}
<link rel="shortcut icon" href="{{ asset_path }}images/PA/favicon.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
<!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/other.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

{% for stylesheetUrl in extensionConfig.stylesheets %}
<link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
{% endfor %}
{% endblock %}


{% block header %}
<div class="govuk-header__container govuk-width-container">
  <div class="govuk-header__logo">
    <span class="govuk-header__logotype">
      <a id="pat-acc-logo-clean" href="/index.html"><image src="{{ asset_path }}images/PA/patient-access-logo.png?0.18.3p" alt="Patient Access Logo" width="250" height="30"></image></a>
    </span>
  </div>
  <div class="govuk-header__content">
    <a href="/index.html">
      <span class="pat-acc-tagline">
        This is a training website
      </span>
    </a>
    <a id="pat-acc-support-centre" href="https://support.patientaccess.com/">
      <image src="{{ asset_path }}images/PA/pa-acc-support.png?0.18.3p" width="20">
        <span>
          Support Centre
        </span>
      </a>
    </div>
  </div>
  {% endblock %}

  {% block pageTitle %}
  Patient Access - Sign in
  {% endblock %}


  {% block content %}

  <div class="govuk-grid-row park-home">
    <div class="park-home-black-block pat-acc-signin-block">
      <div class="pat-acc-signin-centre">
        <div class="pat-acc-success-image-cont">
          <div>
            <image  src="{{ asset_path }}images/PA/greentick.png" alt="success" width="30" height="30">
            </div>
            <div class="pa-acc-success-message-cont">
              <span class="pat-acc-success-title pa-acc-success-message">Your account has been successfully created</span>
            </div>
          </div>
          <div class="pat-acc-signin-form-container pat-acc-enter-details-cont pat-acc-success-cont">
            <span class="pat-acc-success-title">Check your email inbox now</span>
            <br>
            <br>
            <span class="pat-acc-success-subtitle">We’ve sent you a verification link to your email address <span class="pat-acc-success-email">{{data['email']}}</span>. Please check your email inbox and verify your email address.</span>
            <div class="pat-acc-success-skip-ver">
              <a id="pat-acc-logo-clean" href="./pa-complete"><span>Skip verification for now</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

  {% endblock %}

  {% block footer %}
  {% endblock %}
