{% extends "layout.html" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/PA/favicon.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/other.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}

{% block header %}
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo ">
        <span class="govuk-header__logotype">
            <a href="/index.html"><image src="{{ asset_path }}images/PA/patient-access-logo.png?0.18.3p" alt="go back to homepage" width="250" height="30"></image></a>
        </span>
    </div>
    <div class="govuk-header__content">
      <a href="/index.html">
        <span class="pa-tagline">
          This is a training website
        </span>
      </a>
    </div>
  </div>
  {% endblock %}

  {% block pageTitle %}
  Log in to Patient Access
  {% endblock %}

  {% block content %}

  <div class="govuk-grid-row pa-block pa-grey-container">
    <div class="govuk-grid-column-full">
    <h1>Sign in to your account</h1>
    <p>Don't have an account? <a href="./pa-register"> Register with Patient Access</a></p>
      
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          &nbsp;
        </div>

        <div class="govuk-grid-column-one-half">
          <div class="pa-white-container ">
            <div class="govuk-form-group">
              <label class="govuk-label" for="pa-email">
                Email or User ID
              </label>
              <input class="govuk-input" id="pa-email" name="pa-email" type="text" placeholder="Email Address">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="pa-password">
                Password
              </label>
              <input class="govuk-input" id="pa-password" name="pa-password" type="password" placeholder="Password">
            </div>
          
            <a href="./pa-dashboard" role="button" draggable="false" class="govuk-button button-primary pa-pink-button" data-module="govuk-button" style="width:100%; margin-bottom: 30px;">
              Sign In
            </a>
            <p>Forgotten your <a href="./pa-confirm-mobile">Email</a>, <a href="./pa-find-practice">User ID</a> or <a href="./pa-reset-password">Password?</a></p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="student-notes-box"> 
    <p>You can enter anything at the moment, we are not checking</p>
  </div>
  
  {% endblock %}

{% block footer %}
{% endblock %}
