{% include "../../../includes/pa-header.html"  %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

  <div class="govuk-grid-row pa-block pa-grey-container">
    <div class="govuk-grid-column-full">
    <h1>Sign in to your account</h1>
    <p>Don't have an account? <a href="./pa-register"> Register with Patient Access</a></p>
      
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          &nbsp;
        </div>

        <div class="govuk-grid-column-one-half">
          <div class="pa-white-container ">
            <div class="govuk-form-group">
              <label class="govuk-label" for="pa-email">
                Email or User ID
              </label>
              <input class="govuk-input" id="pa-email" name="pa-email" type="text" placeholder="Email Address">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="pa-password">
                Password
              </label>
              <input class="govuk-input" id="pa-password" name="pa-password" type="password" placeholder="Password">
            </div>
          
            <a href="./pa-dashboard" role="button" draggable="false" class="govuk-button button-primary pa-pink-button" data-module="govuk-button" style="width:100%; margin-bottom: 30px;">
              Sign In
            </a>
            <p>Forgotten your <a href="./pa-confirm-mobile">Email</a>, <a href="./pa-find-practice">User ID</a> or <a href="./pa-reset-password">Password?</a></p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="student-notes-box"> 
    <p>You can enter anything at the moment, we are not checking</p>
  </div>
  </main>
  </div>


  {% include "../../../includes/pa-footer.html"  %}
