{% extends "layout.html" %}

{% block headIcons %}
<link rel="shortcut icon" href="{{ asset_path }}images/PA/favicon.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
<!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/other.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

{% for stylesheetUrl in extensionConfig.stylesheets %}
<link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
{% endfor %}
{% endblock %}


{% block header %}
<div class="govuk-header__container govuk-width-container">
  <div class="govuk-header__logo pat-acc-logo-cont">
    <span class="govuk-header__logotype">
      <a id="pat-acc-logo-clean" href="/index.html"><image src="{{ asset_path }}images/PA/patient-access-logo.png?0.18.3p" alt="Patient Access Logo"width="250" height="30"></image></a>
    </span>
  </div>
  <div class="govuk-header__content">
    <a href="/index.html">
      <span class="pat-acc-tagline">
        This is a training website
      </span>
    </a>
    <a id="pat-acc-support-centre" href="https://support.patientaccess.com/">
      <image src="{{ asset_path }}images/PA/pa-acc-support.png?0.18.3p" width="20">
        <span>
          Support Centre
        </span>
      </a>
    </div>
  </div>
  {% endblock %}

  {% block pageTitle %}
  Patient Access - Sign in
  {% endblock %}


  {% block content %}

  <div class="govuk-grid-row park-home">
    <div class="park-home-black-block pat-acc-signin-block pat-acc-why-we-ask">
      <div class="pat-acc-signin-centre">
        <div id="pat-why-we-ask-container" class="pat-acc-signin-form-container">
          <div class="pat-why-we-ask-font-align">
            <span class="pat-acc-signin-to-acc pat-why-we-ask-font">Why do we ask for this information?</span>
            <br>
            <br>
            <span class="pat-acc-signin-err-acc pat-why-we-ask-font-sub">In order to register your new Patient Access account we need some basic information to get you set up with your correct details and provide relevant information about the service.</span>
            <div id="pat-why-we-ask-container" class="pat-acc-hero-button-container">
              <a href="./pa-register" class="pat-acc-sign-in-button pat-acc-close-button">Close</a>
            </div>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

  {% block footer %}
  {% endblock %}
