
{% extends "layout_tool.html" %}

{% block pageTitle %}
  About
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl heading-title">
          About this project
      </h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a class=" button-secondary govuk-button" href="/">Back to the forms menu</a>

      <h2 class="govuk-heading-s">The project:</h2>
      <p><a href="https://www.eastrenfrewshire.gov.uk/" target="_blank" rel="noopener"><strong>East Renfrewshire Council</strong></a> has developed this innovative project to enhance people’s digital skills. Having good digital skills is becoming more necessary during Covid-19 as most organisations are promoting their online services and everything is done remotely.</p>
      <h2 class="govuk-heading-s">Aim:</h2>
      <p>Tackling digital isolation and enhancing independency by increasing individuals’ confidence in using online services.</p>

      <h2 class="govuk-heading-s">Objectives:</h2>
      <p>Equip learners with the skills and the confidence required to complete online applications, pay for online services, complete online request forms and managing online accounts such as; Universal Credits, Gas/Electricity and Broadband accounts.</p>

      <h2 class="govuk-heading-s">How?</h2>
      <p>We have recreated forms of exisiting services. They are very similar to the real forms but are simplified and will allow practicing in a safe way. The forms work on mobile as well.</p>
      <p><a href="how-to-use.html"><strong>How to use this website</strong></a></p>
      <p><a href="creating-this-website.html"><strong>How we created the course material</strong></a></p>


      <h2 class="govuk-heading-s">Note: </h2>
      <p style="color: #B30000; font-weight: bold;">Selecting the top left logo or the "This is a training website" tag on any page will take you back to the forms menu.</p>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h3 class="govuk-heading-m">Digital isolation: The vulnerable people left behind</h3>
      <p style="color: #B30000;"><strong>There is about 1 in 7 people in Scotland who can’t get online (that’s about 800,000 people)</strong></p>
      <p><em>"Digital isolation is when people find themselves in a position where they can't access the internet or digital media and devices as much as other people", explains Bibi Reisdorf, an assistant professor in communication studies at the University of North Carolina at Charlotte.
      <br><br>
      "In theory, everyone can access the internet, maybe at a library, community centre or at a friend's house, but there are different levels of access."
      <br><br>
      "Digital isolation is "surprisingly prevalent", according to Dr Reisdorf, with western countries seeing a rise in "mobile dependence". That doesn't mean people who are addicted to their mobile phones, it's when your mobile is your only access to the internet.</em></p>
  
      <p>Source: <a href="https://www.bbc.co.uk/news/uk-england-cornwall-50812576" target="_blank" rel="noopener">https://www.bbc.co.uk/news/uk-england-cornwall-50812576</a></p>
      

    </div>
</div>

{% endblock %}
