{% extends "layout_tool.html" %}

{% block pageTitle %}
  Get in Touch
{% endblock %}


{% block content %}
<div class="govuk-body govuk-!-margin-top-9 govuk-body govuk-!-margin-bottom-9">
    <h1 class="govuk-heading-xl">
        Get in touch
    </h1>

    <p>This is a work in progress.</p> 
    <p>If you're interested and would like to know more about it or if this is something you would like to be part of, then please get in touch.</p>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="mailto:Juman.Almusawi@eastrenfrewshire.gov.uk?Subject=Digital%20Skills%20Tool%20-%20Get%20in%20touch" target="_blank" rel="noopener">Jumana Almusawi</a> for East Renfreshire Council</li>
      <li><a href="mailto:french@chezleskrus.com?Subject=Digital%20Skills%20Tool%20-%20Get%20in%20touch" target="_blank" rel="noopener">Stéphanie Krus</a> for any question about the website and the code</li>
    </ul>


  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  </div>

{% endblock %}