{% extends "layout_tool.html" %}

{% block pageTitle %}
  Get in Touch
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-bottom-9">
    <h1 class="govuk-heading-xl heading-title">
      Get in touch
    </h1>
    <a class=" button-secondary govuk-button" href="/">Go to the forms menu</a>
    <p>If you're interested and would like to know more, then please get in touch.</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="mailto:Juman.Almusawi@eastrenfrewshire.gov.uk?Subject=Digital%20Skills%20Tool%20-%20Get%20in%20touch" target="_blank" rel="noopener"><strong>Jumana Almusawi</strong></a> for East Renfreshire Council and any question about the classes</li>
      <li><a href="mailto:french@chezleskrus.com?Subject=Digital%20Skills%20Tool%20-%20Get%20in%20touch" target="_blank" rel="noopener"><strong>Stéphanie Krus</strong></a> for any question about the website and the code</li>
    </ul>

    <p class="govuk-!-margin-top-9">If you prefer providing feedback anonymously, <a href="https://forms.gle/HpXTsM7RwsPGsWEcA" target="_blank" rel="noopener">you can follow this link</a>. This will take you away from the website.</p>
  </div>
</div>

{% endblock %}