
{% extends "layout_tool.html" %}

{% block pageTitle %}
  Creating this website
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl heading-title">Creating this website</h1>
      <a class=" button-secondary govuk-button" href="/">Go to the forms menu</a>
      <p>
        We are using the <a href="https://govuk-prototype-kit.herokuapp.com/docs" target="_blank" rel="noopener"><strong>GOV.UK Prototype Kit</strong></a>
        <span class="govuk-caption-s">{{releaseVersion}}</span>
      </p>{{releaseVersion | log }}
      <p>
        This kit lets you rapidly create HTML prototypes of GOV.UK services.
      </p>
      <p>It contains all you need to prototype anything from simple static pages to complex, data-driven transactions.</p>
      <p>In the sections below, you will find some information about how we have used it to suits our needs. Some of this information is for developers mostly, but not all.</p>
      <p class="govuk-!-padding-bottom-5">
        If you have any question, please <a href="mailto:french@chezleskrus.com?Subject=Digital%20Skills%20Tool%20-%20Get%20in%20touch" target="_blank" rel="noopener"><strong>get in touch</strong></a>.
      </p>



      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-0">
                Some GOV.UK resources to use the kit
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-0">
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
              <li>
                <a href="https://design-system.service.gov.uk">
                  GOV.UK Design System
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                How we are using it
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <p>Different forms are needed to support the classes. Some are Council forms, some are GOVUK forms or Scottish Government forms and some are from private services like energy providers.</p>
            <p>Different layouts have been created for each and even among each category, there is a variety of layouts:<br>
               For example, the DVLA have a different layout and style compared to HMRC. Social Security Scotland also has its own style.</p>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                Important files and paths
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
            <p>Our code is in this <a href="https://github.com/stephanie-K/DigitalSkillsTool" target="_blank" rel="noopener">Github repository</a></p>
            
            <h3 class="govuk-heading-m">Layout files <code>in app>views></code></h3>
      
            <ul class="govuk-list govuk-list--bullet">
              <li><strong>layout.html</strong> - default GOV.UK layout</li>
              <li><strong>layout_erc.html</strong> - customised for Council forms</li>
              <li><strong>layout_sg.htm</strong>l - customised for Scottish Government</li>
              <li><strong>layout_sss.htm</strong>l - customised for Social Security Scotland</li>
              <li><strong>layout_tool.html</strong> - look like the council one but for high level pages of the tool, like the one you're reading just now</li>
            </ul>
      
            <h3 class="govuk-heading-m">CSS/SASS files <code>in app>assets>sass></code></h3>
      
            <ul class="govuk-list govuk-list--bullet">
              <li><strong>application.scss</strong> - default GOV.UK plus some css we added for GOVUK forms</li>
              <li><strong>erc.scss</strong> - styles to support the  council forms</li>
              <li><strong>sg.scss</strong> - styles to support the Social Security Scotland and Scottish Government forms</li>
              <li><strong>other.scss</strong> - styles for other forms</li>
            </ul>
        
            <h3 class="govuk-heading-m">Each form has a folder <code>app>views>forms></code></h3>

            <h3 class="govuk-heading-m">All images are in <code>app>assets>images></code></h3>
            <p>In your code, the path will be: <code>	&lcub;&lcub; asset_path 	&rcub;&rcub;images/name-of-your-image-file</code></p>
            <p>Both the images and the styles are copied in the <code>public</code> folder. <span style="color: #B30000;"><strong>You should not put anything there</strong></span>, it's done automatically for you.</p>

            <h3 class="govuk-heading-m">Route.js <code>app></code></h3>
            <p>This file is key to introduce navigation logic, persistance of data and validation to the forms. It is shared by all the forms.</p>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                Example pages - templates and elements
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
            <ul class="govuk-list govuk-list--bullet">
              <li><a href="example-govuk">GOV.UK</a>  - basic standart page</li>
              <li><a href="forms/govuk-forms/template-govuk-explanation-page">GOV.UK</a>  - template of a page with a lot of content</li>
              <li><a href="example-step-by-step">GOV.UK</a>  - page with a step by step</li>
              <li><a href="example-erc">Council</a> - examples of various potential components</li>
              <li><a href="example-sss">Social Security Scotland</a> - example</li>
              <li><a href="example-sg">Scottish Goverment</a> - example</li>
            </ul>
          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                Where to find some examples in the code
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
            <h3 class="govuk-heading-m">Validating username and password - error messages</h3>
            <p><code>in app>views>forms>govuk-forms>universal-credit>UCcreateAccount.html</code></p>
            <p><a href="/forms/govuk-forms/universal-credit/UCcreateAccount">See the html page file</a> and also check the route.js file.</p>

            <h3 class="govuk-heading-m">Other examples of validation - error messages</h3>
            <p><code>in app>views>forms>govuk-forms>learn-to-drive>apply-provisional-licence>APLdetails.html</code></p>
            <p><a href="/forms/govuk-forms/learn-to-drive/apply-provisional-licence/APLdetails">See the html page file</a> and also check the route.js file.</p>
            <p>Also in <code>in app>views>forms>erc-forms>report-repair>RRonlineAboutYou.html</code></p>
            <p><a href="/forms/erc-forms/report-repair/RRonlineAboutYou">See the html page file</a> and other places.</p>

            <h3 class="govuk-heading-m">Display an email address back on a confirmation page</h3>
            <p><code>in app>views>forms>erc-forms>council-tax-online>register-for-council-tax>RCTemailaddress.html</code></p>
            <p><a href="/forms/erc-forms/council-tax-online/register-for-council-tax/RCTemailaddress">See the html page file</a> where we capture the email address, it's displayed on the next one once you select: 'Send code'.</p>
            <p>Also in <code>in app>views>forms>other-forms>bulb>bulb-link-sent.html</code></p>
            <p><a href="/forms/other-forms/bulb/bulb-link-sent">See the html page file</a> where we capture the email address.</p>
            
            <h3 class="govuk-heading-m">Persistance of data</h3>
            <p>Used to save the value previously entered when a user comes back to the page.</p>
            <p><code>in app>views>forms>sss-forms>best-start>BS-contact-details.html</code></p>
            <p>This is saving the value of radio buttons. You can do the same for checkboxes in Nunjucks.</p>
            <p><a href="/forms/sss-forms/best-start/BS-contact-details">See the html page file</a>.</p>
            <p><code>in app>views>forms>sss-forms>best-start>BS-payment-account.html</code></p>
            <p>This is saving the value of input fields.</p>
            <p><a href="/forms/sss-forms/best-start/BS-payment-account">See the html page file</a>.</p>
            <p><code>in app>views>forms>govuk-forms>universal-credit>UCcreateAccount.html</code></p>
            <p>This is saving the value of a dropdown / select.</p>
            <p><a href="/forms/govuk-forms/universal-credit/UCcreateAccount">See the html page file</a>.</p>

            <h3 class="govuk-heading-m">Re-use data entered by the user and display it in a summary page</h3>
            <p><code>in app>views>forms>govuk-forms>register-to-vote>RTVsummary.html</code></p>
            <p><a href="/forms/govuk-forms/register-to-vote/RTVsummary">See the html page file</a>.</p>

            <h3 class="govuk-heading-m">Radio buttons with a conditional revealing more components</h3>
            <p><code>in app>views>forms>govuk-forms>learn-to-drive>book-theory-test>BTT2support.html</code></p>
            <p><a href="/forms/govuk-forms/learn-to-drive/book-theory-test/BTT2support">See the html page file</a>.</p>

            <h3 class="govuk-heading-m">Single checkbox with validation for 'I have read ...'</h3>
            <p><code>in app>views>forms>erc-forms>council-tax-online>register-for-council-tax>RCTstart.html</code></p>
            <p><a href="/forms/erc-forms/council-tax-online/register-for-council-tax/RCTstart">See the html page file</a> but check the <code>route.js</code> file for it too, or check.</p>
            <p><code>in app>views>forms>govuk-forms>universal-credit>UCalreadyGetBenefit.html</code></p>
            <p><a href="/forms/govuk-forms/universal-credit/UCalreadyGetBenefit">See the html page file</a> but check the <code>route.js</code> file for it too.</p>

            <h3 class="govuk-heading-m">Tooltip display on hover</h3>
            <p><code>in app>views>forms>erc-forms>free-school-meals>FSMbankDetails.html</code></p>
            <p><a href="/forms/erc-forms/free-school-meals/FSMbankDetails">See the html page file</a> check the sortcode and the bank account.</p>

            <h3 class="govuk-heading-m">Includes: template a piece of code to re-use it</h3>
            <p><code>in app>views>forms>other-forms>bulb>bulb-dashboard.html</code></p>
            <p><a href="/forms/other-forms/bulb/bulb-dashboard">See the html page file</a> for the header and the footer.</p>    
            <p>The group of code is in <code>in app>views>includes></code></p>     

          </div>
        </div>
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-5">
                Others files and paths (more advanced)
              </span>
            </h2>
          </div>
          <div id="accordion-default-content-5" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-5">
            <h3 class="govuk-heading-m">Modify the 'Clear prototype data' pages</h3>
            <p>This is a function you can find in every footer. You can change the two pages by going in:</p>
            <p><code>lib>prototype-admin>clear-data.html</code></p>
            <p><a href="/prototype-admin/clear-data">See the html page file</a> also check the <code>server.js</code> file, lines 208 to 212 to understand how it works.</p>

            <h3 class="govuk-heading-m">Easy update of dates or other variables</h3>
            <p><code>Server.js </code>at the route of the code.</p>
            <p>This file is where we can add variables that are available in all views. It is shared by all the forms.</p>
            <p>We are using it to easily update various dates used by forms like Bulb, Bidding on properties, the journal of the Universal Credit, booking a theory test appointment date.</p>


            <h3 class="govuk-heading-m">Find the macros for the components in the prototype kit</h3>
            <p><code>in node_modules>govuk_frontend>govuk>components></code></p>
          </div>
        </div>
      </div>

    </div>
</div>

{% endblock %}

