
{% extends "layout_sg.html" %}

{% block pageTitle %}
  Example
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        My example page
      </h1>
      <p>
        You can add your own content now
      </p>

      {{ govukButton({
        text: " < Back",
        classes: "button-primary govuk-button-back",
        href: "javascript: history.go(-1)"
      }) }}

      {{ govukButton({
        text: "Next",
        classes: "button-primary",
        href: "/forms/sss-forms/not-ready-sg.html",
        isStartButton: true
      }) }}



{% endblock %}
