{% extends "layout_tool.html" %}

{% block pageTitle %}
  Help
{% endblock %}


{% block content %}
<div class="govuk-body govuk-!-margin-bottom-9">
  <h1 class="govuk-heading-xl heading-title">Help - under construction</h1>
  <a class=" button-secondary govuk-button" href="/">Go to the forms menu</a>


  <h2 class="govuk-heading-l">Using Zoom</h2>

  <h3 class="govuk-heading-m">If you are using a phone</h3>

  <h4 class="govuk-heading-s">Join the Zoom call</h4>
  <p>This video explains each step or <a href="{{ asset_path }}images/help/Join_Zoom_on_a_phone.pdf" target="_blank" rel="noopener">check the PDF</a> if you prefer.</p>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/wI4g225tZ5M" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  

  <h4 class="govuk-heading-s">Zoom functions</h4>
  <p>This video explains each function you will need in Zoom. You can <a href="{{ asset_path }}images/help/Zoom_functions_on_a_phone.pdf" target="_blank" rel="noopener">read the PDF</a> if you prefer.</p>
  <P><iframe width="560" height="315" src="https://www.youtube.com/embed/lcUKc9Ue3EI" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></P>
 

  <h4 class="govuk-heading-s">Join a breakout room</h4>
  <p>In Zoom, you can create smaller groups from time to time. We will use this during the class. It's called a <strong>breakout room.</strong></p>
  <p>The teacher will tell you to go in a break out room, you will be with a teacher and sometimes with other students too.</p>
  <p>This video will show you how to join.</p>
  <p style="color: red">Video coming soon</p>
  

  <h3 class="govuk-heading-m">If you are using a laptop</h3>
  <h4 class="govuk-heading-s">Join the Zoom call</h4>
  <p>Check this short video</p>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/hIkCmbvAHQQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  

  <h4 class="govuk-heading-s">Zoom functions</h4>
  <p style="color: red">Video coming soon</p>

  <h4 class="govuk-heading-s">Join a breakout room</h4>
  <p style="color: red">Video coming soon</p>
 



  <h3 class="govuk-heading-m">More</h3>
  <a href="https://support.zoom.us/hc/en-us/categories/200101697" target="_blank" rel="noopener">See the help provided by the Zoom website</a>





  </div>

{% endblock %}