{% extends "layout_tool.html" %}

{% block pageTitle %}
  Help
{% endblock %}


{% block content %}
<div class="govuk-body govuk-!-margin-bottom-9">
  <h1 class="govuk-heading-xl heading-title">Help - under construction</h1>
  <a class=" button-secondary govuk-button" href="/">Go to the forms menu</a>


  <h2 class="govuk-heading-l">Using the website and the form</h2>
  <h3 class="govuk-heading-m">You will need to enter a username and password</h3>
  <p> You will see a little window on the screen of your phone or laptop. It might look a bit different from the picture below</p>
  <p><image src="{{ asset_path }}images/help/app-require-password.jpg?0.18.3p" alt="pop up asking for the username and password" width="321px" height="243" ></image></p>
  <p>Enter the same thing for the username and the password: <strong>erc-tool</strong></p>
  <p>We will add a little video here ot explain how it works:</p>
  <p><em>Explain how to go back to the Home page, how to clear the data, the introduction page for each form, the feedback at the end and the potential information oat the bottom of the form</em></p>
  <p>Show different visual for the page</p>


  <h2 class="govuk-heading-l">Using Zoom</h2>
  <p>Classes will be on Zoom initially. You will receive a link before the meeting.</p>

  <h3 class="govuk-heading-m">If you are joing Zoom on your phone</h3>
  <p>When you use the invitiation link, you will be asked to install Zoom on your phone. There are pictures below to help you. It might look different on your phone.</p>
  <p>First, follow the invitation link</p>
  <p><image src="{{ asset_path }}images/help/zoom-install-phone1.jpg?0.18.3p" alt="installation screen" width="321px" height="600" style="border: 1px solid #efefef;"></image></p>
  <p>Select: Download from Zoom, and then you will see 'Open' at the bottom of the screen like on this picture above.</p>
  <p>Select 'Open': this will start the installation:</p>
  <p><image src="{{ asset_path }}images/help/zoom-install-phone2.jpg?0.18.3p" alt="installation screen showing  the installaton progress" width="318px" height="321" ></image></p>
  <p>A message will confirm the app is installed. Select Done on the screen below</p>
  <p><image src="{{ asset_path }}images/help/zoom-install-phone3.jpg?0.18.3p" alt="installation done, two option, Done or Open" width="318px" height="156" ></image></p>
  <p>Go back to your invitation link and select it again. This time you will be asked if you want to open it with Zoom or with your browser. Chose to open with Zoom:</p>
  <p><image src="{{ asset_path }}images/help/zoom-install-phone5.jpg?0.18.3p" alt="open with brwoser or with Zoom" width="318px" height="181" ></image></p>
  <p>Enter your name. This is something the others in the call will see:</p>
  <p><image src="{{ asset_path }}images/help/zoom-phone1-enter-name.jpg?0.18.3p" alt="enter your name" width="318px" height="391" ></image></p>
  <p>Agree the conditions:</p>
  <p><image src="{{ asset_path }}images/help/zoom-phone2-agree.jpg?0.18.3p" alt="agree or disagree options on screen" width="307px" height="406" ></image></p>
  <p>You will see the main menu, and your photo if you have added one when you created your Zoom :</p>
  <p><image src="{{ asset_path }}images/help/zoom-phone3-main-menu.jpg?0.18.3p" alt="main menu is displayed on screen" width="322px" height="601" ></image></p>
 
  <h3 class="govuk-heading-m">If you are joining Zoom on your laptop</h3>
  <p>Check this short video</p>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/hIkCmbvAHQQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  
  <h3 class="govuk-heading-m">How to mute/unmute, put the video on or not</h3>
 

  <h3 class="govuk-heading-m">How to share your screen</h3>


  <h3 class="govuk-heading-m">Where is the chat?</h3>
  <p>We will something send you a link in the chat window. To open the chat window: </p>

  <h3 class="govuk-heading-m">How does breakout rooms works?</h3>
  <p>This is like a smaller group call where you will be with a teacher and sometimes with other students too.</p>
  <p>You will see a sign on screen saying: Join Breakout room (and a number)</p>


  <h3 class="govuk-heading-m">More</h3>
  <a href="https://support.zoom.us/hc/en-us/categories/200101697" target="_blank" rel="noopener">See the help provided by the Zoom website</a>





  </div>

{% endblock %}