{% extends "layout_tool.html" %}

{% block pageTitle %}
  Help
{% endblock %}


{% block content %}
<div class="govuk-body govuk-!-margin-bottom-9">
  <h1 class="govuk-heading-xl heading-title">Help</h1>
  <a class=" button-secondary govuk-button" href="/">Go to the forms menu</a>


  <h2 class="govuk-heading-l">Using the website and the form</h2>
  <p>We will had a little video here ot explain how it works.</p>
  <p>Explain how to go back to the Home page</p>
  <p>Show different visual for the page</p>


  <h2 class="govuk-heading-l">Using Zoom</h2>
  <p>Classes will be on Zoom initially. You will receive a link before the meeting.</p>

 
  <h3 class="govuk-heading-m">How to join the meeting</h3>
  <p><iframe width="560" height="315" src="https://www.youtube.com/embed/hIkCmbvAHQQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  
  <h3 class="govuk-heading-m">How to mute/unmute, put the video on or not</h3>
 

  <h3 class="govuk-heading-m">How to share your screen</h3>


  <h3 class="govuk-heading-m">Where is the chat?</h3>
  <p>We will something send you a link in the chat window. To open the chat window: </p>

  <h3 class="govuk-heading-m">How does breakout rooms works?</h3>
  <p>This is like a smaller group call where you will be with a teacher and sometimes with other students too.</p>
  <p>You will see a sign on screen saying: Join Breakout room (and a number)</p>


  <h3 class="govuk-heading-m">More</h3>
  <a href="https://support.zoom.us/hc/en-us/categories/200101697" target="_blank" rel="noopener">See the help provided by the Zoom website</a>





  </div>

{% endblock %}