
{% extends "layout_tool.html" %}

{% block pageTitle %}
  Home - Digital skills tool
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
          Improving digital skills      
      </h1>

      <p class="govuk-tag red govuk-!-margin-top-1 govuk-!-margin-bottom-1">This is a work in progress</p>

      <h2 class="govuk-heading-l">About this website</h2>      
      <p>
        This website will support IT classes organised by the <a href="https://www.eastrenfrewshire.gov.uk/" target="_blank" rel="noopener">East Renfrewshire Council</a> in collaboration with <a href="https://www.scottish-enterprise.com/" target="_blank" rel="noopener">Scottish Enterprise</a>. 
      </p>
      <p>The classes will help refugees and other participants to improve their digital skills by training on prototyped forms of exisiting services.</p>

      
      <h3 class="govuk-heading-s"><a href="project-outline.html">Learn more about the project</a></h3>
      <h3 class="govuk-heading-s"><a href="prototype-info.html">Using the GOV.UK Prototype kit to create the course material</a></h3>

      <h3 class="govuk-heading-s govuk-!-margin-top-9">Note:</h3>
      <div class="govuk-inset-text govuk-!-margin-top-1">
        <ul class="govuk-list govuk-list--bullet">
          <li style="color: #B30000;">selecting the top left logo on any page will take you back here</li>
          <li>you can clear the prototype data from any page via a link in the footer</li>
        </ul>
      </div>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      
      <h2 class="govuk-heading-l govuk-!-margin-bottom-9">
        Forms menu
      </h2>

      <h3 class="govuk-heading-m govuk-!-margin-top-9">
          East Renfrewshire Council forms
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/forms/erc-forms/equal-opportunities/start"><strong>Equality and diversity questionnaire</strong></a> - no live form access <span class="govuk-tag ready-tag">Ready</span></li> 
        <li><a href="/forms/erc-forms/housing/CBLstart"><strong>Apply online for council housing</strong></a> - see the <a href="https://www.eastrenfrewshire.gov.uk/article/1622/Apply-for-council-housing" target="_blank" rel="noopener">live</a> form <span class="govuk-tag ready-tag">Ready</span></li>
        <li><strong>Report a housing repair</strong>   - see the <a href="https://www.eastrenfrewshire.gov.uk/house-repair" target="_blank" rel="noopener">live</a> form <span class="govuk-tag todo-tag">To do</span></li>
        <li><strong>Pay for rent</strong>  - see the <a href="https://www.eastrenfrewshire.gov.uk/rents" target="_blank" rel="noopener">live</a> form <span class="govuk-tag todo-tag">To do</span></li>
        <li><a href="/forms/erc-forms/bidding-properties/bidding-available-properties"><strong>Bidding for properties</strong></a>  - see the <a href="https://www.eastrenfrewshire.gov.uk/article/10002/Bid-for-a-council-house" target="_blank" rel="noopener">live</a> form <span class="govuk-tag ready-tag">Ready</span></li>
        <li><strong>Pay Council tax</strong>   - see the <a href=" https://www.eastrenfrewshire.gov.uk/paycounciltax" target="_blank" rel="noopener">live</a> form<span class="govuk-tag todo-tag">To do</span></li>
        <li><strong>Register for Council Tax online</strong>   - see the <a href="https://www.eastrenfrewshire.gov.uk/counciltaxonline" target="_blank" rel="noopener">live</a> form <span class="govuk-tag todo-tag">To do</span></li>
        <li><strong>Sign in to Council Tax online</strong>   - see the <a href="https://www.eastrenfrewshire.gov.uk/counciltaxonline" target="_blank" rel="noopener">live</a> form <span class="govuk-tag todo-tag">To do</span></li>
        <li><strong>Change of circumstances</strong>   - see the <a href="https://www.eastrenfrewshire.gov.uk/benefit-changes" target="_blank" rel="noopener">live</a> form <span class="govuk-tag todo-tag">To do</span></li>
      </ul>


      <h3 class="govuk-heading-m govuk-!-margin-top-9">
          GOV.UK forms
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/forms/govuk-forms/universal-credit/UCintro"><strong>Universal Credit</strong></a>   - see the <a href="https://www.gov.uk/universal-credit" target="_blank" rel="noopener">live</a> form <span class="govuk-tag started-tag">Started</span></li>
        <li><a href="/forms/govuk-forms/warm-home-discount/warm-home-intro"><strong>Warm Home Discount</strong></a> - or start direct on <a href="/forms/govuk-forms/warm-home-discount/park-homes">Park Homes Warm Home Discount</a>  - see the <a href="https://www.gov.uk/the-warm-home-discount-scheme" target="_blank" rel="noopener">live</a> form <span class="govuk-tag ready-tag">Ready</span></li>
        <li><a href="/forms/govuk-forms/learn-to-drive/apply-provisional-licence/APLintro"><strong>Apply for provisional driving licence</strong></a> - see the <a href="https://www.gov.uk/apply-first-provisional-driving-licence" target="_blank" rel="noopener">live</a> form <span class="govuk-tag started-tag">Started</span></li>
        <li><a href="/forms/govuk-forms/learn-to-drive/book-theory-test/BTTintro"><strong>Book your theory test</strong></a> - see the <a href="https://www.gov.uk/book-theory-test" target="_blank" rel="noopener">live</a> form <span class="govuk-tag ready-tag">Ready</span></li>
        <li><a href="/forms/govuk-forms/learn-to-drive/book-driving-test/BDTintro"><strong>Book your driving test</strong></a> - see the <a href="https://www.gov.uk/book-driving-test" target="_blank" rel="noopener">live</a> form <span class="govuk-tag started-tag">Started</span></li>
        <li><strong>Register to vote</strong> (Not ready and not needed for initial courses)  - see the <a href="https://www.gov.uk/register-to-vote" target="_blank" rel="noopener">live</a> form</li>
      </ul>

      <h3 class="govuk-heading-m govuk-!-margin-top-9">
          Scottish Government forms
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/forms/sss-forms/best-start/BS-start-apply"><strong>Best Start Grant and Best Start Foods</strong></a> - see the <a href="https://www.mygov.scot/best-start-grant-best-start-foods/" target="_blank" rel="noopener">live</a> form <span class="govuk-tag started-tag">Started</span></li>
      </ul>

      <h3 class="govuk-heading-m govuk-!-margin-top-9">
          Others forms
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><strong>Patient access</strong>   - see the <a href="https://www.patientaccess.com/" target="_blank" rel="noopener">live</a> form <span class="govuk-tag todo-tag">To do</span></li>
      </ul>
    </div>
  </div>


{% endblock %}
