
{% extends "layout_tool.html" %}

{% block pageTitle %}
  Home - Digital skills tool
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl heading-title">
          Improving digital skills
      </h1>

      <h2 class="govuk-heading-l">About this website</h2>
      <p><a href="https://www.eastrenfrewshire.gov.uk/" target="_blank" rel="noopener"><strong>East Renfrewshire Council</strong></a> is working in collaboration with other organisations to develop an innovative project to enhance people’s digital skills.</p>
      
      <h3 class="govuk-heading-s">Aim:</h3>
      <p>Tackling digital isolation and enhancing independency by increasing individuals’ confidence in using online services.</p>

      <h3 class="govuk-heading-s">Objectives:</h3>
      <p>Equip learners with the skills and the confidence required to complete online applications, pay for online services, complete online request forms and managing online accounts such as; Universal Credits, Gas/Electricity and Broadband accounts.</p>
      <p><a href="project-outline.html"><strong>Learn more about the project</strong></a></p>

      <h3 class="govuk-heading-s">How?</h3>
      <p>We have recreated forms of exisiting services. They are very similar to the real forms but are simplified and will allow practicing in a safe way. The forms work on mobile as well.</p>
      <p><a href="how-to-use.html"><strong>How to use this website</strong></a></p>
      <p><a href="creating-this-website.html"><strong>How we created the course material</strong></a></p>



      <h3 class="govuk-heading-s">Note: </h3>
      <p style="color: #B30000; font-weight: bold;">Selecting the top left logo or the "This is a training website" tag on any page will take you back here</p>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-l">Forms menu</h2>

      <h3 class="govuk-heading-m">
          East Renfrewshire Council online services
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/forms/erc-forms/housing/CBLintro"><strong>Apply online for council housing</strong></a> <span class="govuk-tag ready-tag">Ready</span> - or see the <a href="https://www.eastrenfrewshire.gov.uk/council-housing-application-form" target="_blank" rel="noopener">real form</a></li>
        <li><a href="/forms/erc-forms/bidding-properties/bidding-intro"><strong>Bidding for properties</strong></a> <span class="govuk-tag ready-tag">Ready</span> - or see the <a href="https://www.eastrenfrewshire.gov.uk/bid-for-council-housing" target="_blank" rel="noopener">real form</a> </li>
        <li><a href="/forms/erc-forms/report-repair/RRintro"><strong>Request a housing repair</strong></a> <span class="govuk-tag ready-tag">Ready</span>  - or see the <a href="https://www.eastrenfrewshire.gov.uk/report-non-emergency-repair" target="_blank" rel="noopener">real form</a> </li>
        <li><a href="/forms/erc-forms/pay-rent/PRintro"><strong>Pay for rent</strong></a> <span class="govuk-tag ready-tag">Ready</span> - or see the <a href="https://www.eastrenfrewshire.gov.uk/pay-council-house-rent" target="_blank" rel="noopener">real form</a></li>
        <li><a href="/forms/erc-forms/council-tax-online/pay-council-tax/PCTintro"><strong>Pay Council tax</strong></a>  <span class="govuk-tag ready-tag">Ready</span> - or see the <a href="https://www.eastrenfrewshire.gov.uk/pay-your-council-tax" target="_blank" rel="noopener">real form</a></li>
        <!--li><strong>Apply for council tax reduction</strong> <span class="govuk-tag todo-tag">not done</span>  - or see the <a href="https://www.eastrenfrewshire.gov.uk/council-tax-reduction" target="_blank" rel="noopener">real form</a> </li-->
        <li><a href="/forms/erc-forms/council-tax-online/register-for-council-tax/RCTintro"><strong>Register for Council Tax online</strong></a>  <span class="govuk-tag started-tag">Not finished</span> - or see the <a href="https://www.eastrenfrewshire.gov.uk/council-tax" target="_blank" rel="noopener">real form</a></li>
        <li><a href="/forms/erc-forms/council-tax-online/sign-up-council-tax/SCTintro"><strong>Sign in to Council Tax online</strong></a> <span class="govuk-tag ready-tag">Ready</span> - or see the <a href="https://www.eastrenfrewshire.gov.uk/council-tax" target="_blank" rel="noopener">real form</a></li>
        <!--li><strong>Change of circumstances</strong>  <span class="govuk-tag todo-tag">not done</span> - or see the <a href="https://www.eastrenfrewshire.gov.uk/report-benefits-change" target="_blank" rel="noopener">real form</a></li-->
        <li><a href="/forms/erc-forms/free-school-meals/FSMintro"><strong>Apply for free school meals and clothing grants</strong></a> <span class="govuk-tag ready-tag">Ready</span>  - or see the <a href="https://www.eastrenfrewshire.gov.uk/free-school-meals" target="_blank" rel="noopener">real form</a> </li>
        <li><a href="/forms/erc-forms/equal-opportunities/equal-opportunities-intro"><strong>Equality and diversity questionnaire</strong></a> <span class="govuk-tag ready-tag">Ready</span></li>
      </ul>


      <h3 class="govuk-heading-m govuk-!-margin-top-9">
          GOV.UK forms
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/forms/govuk-forms/universal-credit/UCintro"><strong>Universal Credit, create an account, forgot username or password</strong></a> <span class="govuk-tag ready-tag">Ready</span> - or see the <a href="https://www.gov.uk/sign-in-universal-credit" target="_blank" rel="noopener">real form</a> </li>
        <li><a href="/forms/govuk-forms/universal-credit-apply/UCAintro"><strong>Universal Credit, apply once you have created your account</strong></a> <span class="govuk-tag ready-tag">Ready</span> - or see the <a href="https://www.universal-credit.service.gov.uk/sign-in" target="_blank" rel="noopener">real form</a> or see this <a href="https://www.learnmyway.com/courses/universal-credit-a-how-to-guide/" target="_blank" rel="noopener"><strong>'How to' guide</strong></a> from Learn My Way</li>
        <li><a href="/forms/govuk-forms/warm-home-discount/warm-home-intro"><strong>Warm Home Discount</strong></a> <span class="govuk-tag ready-tag">Ready</span> - or start direct on <a href="/forms/govuk-forms/warm-home-discount/park-homes">Park Homes Warm Home Discount</a>  - or see the <a href="https://www.gov.uk/the-warm-home-discount-scheme" target="_blank" rel="noopener">real form</a></li>
        <li><a href="/forms/govuk-forms/learn-to-drive/apply-provisional-licence/APLintro"><strong>Apply for provisional driving licence</strong></a> <span class="govuk-tag started-tag">Not finished</span> - or see the <a href="https://www.gov.uk/apply-first-provisional-driving-licence" target="_blank" rel="noopener">real form</a> </li>
        <li><a href="/forms/govuk-forms/learn-to-drive/book-theory-test/BTTintro"><strong>Book your theory test</strong></a> <span class="govuk-tag ready-tag">Ready</span> - or see the <a href="https://www.gov.uk/book-theory-test" target="_blank" rel="noopener">real form</a></li>
        <li><a href="/forms/govuk-forms/learn-to-drive/book-driving-test/BDTintro"><strong>Book your driving test</strong></a> <span class="govuk-tag ready-tag">Ready</span> - or see the <a href="https://www.gov.uk/book-driving-test" target="_blank" rel="noopener">real form</a></li>
        <li><a href="/forms/govuk-forms/register-to-vote/RTVIntro"><strong>Register to vote</strong></a> <span class="govuk-tag started-tag">Not finished</span> - or see the <a href="https://www.gov.uk/register-to-vote" target="_blank" rel="noopener">real form</a></li>
      </ul>

      <h3 class="govuk-heading-m govuk-!-margin-top-9">
          Scottish Government forms
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/forms/sss-forms/best-start/BS-intro"><strong>Best Start Grant and Best Start Foods</strong></a> <span class="govuk-tag ready-tag">Ready</span> - or see the <a href="https://www.mygov.scot/best-start-grant-best-start-foods/" target="_blank" rel="noopener">real form</a></li>
      </ul>

      <h3 class="govuk-heading-m govuk-!-margin-top-9">
          Others forms
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/forms/other-forms/patient-access/pa-about"><strong>Patient access</strong></a> <span class="govuk-tag ready-tag">Ready</span>  - or see the <a href="https://www.patientaccess.com/" target="_blank" rel="noopener">real form</a></li>
        <li><a href="/forms/other-forms/bulb/bulb-intro"><strong>Bulb - energy provider example</strong></a> <span class="govuk-tag ready-tag">Ready</span>  - or see the <a href="https://account.bulb.co.uk/login" target="_blank" rel="noopener">real form</a></li>
      </ul>

      <h3 class="govuk-heading-m govuk-!-margin-top-9">
        CAPTCHA
      </h3>
      <p>Some forms will sometime ask you to prove that you are <strong>'not a robot'</strong>. You can try by using this form below - Don't worry, this is not a real form.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>This will open in another tab and takes you away from this website</li>
        <li>Check the box and you will see instrutions and pictures to select: </li>
          <p><image src="{{ asset_path }}images/captcha.png?0.18.3p" alt="screenshot of the captcha part of a form" max-width="100%" ></image></p>
        <li><a href="https://google.com/recaptcha/api2/demo" target="_blank" rel="noopener"><strong>Go to the form and try a CAPTCHA</strong></a></li>
        <li>If you answer correctly, at the end you will see a green tick in the box, like on the image below:</li>
        <p><image src="{{ asset_path }}images/captcha2.png?0.18.3p" alt="screenshot of the captcha part of a form" max-width="100%" ></image></p>
      </ul>
    </div>
  </div>


{% endblock %}
