
{% extends "layout_sac.html" %}

{% block pageTitle %}
  Home - Digital skills tool
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
          Improving digital skills
      </h1>

      <p class="govuk-tag red-sac govuk-!-margin-top-1 govuk-!-margin-bottom-1">This is for illustration only</p>

      <h2 class="govuk-heading-l">About this website</h2>
      <p>
        This website will support IT classes organised by the <a href="https://www.south-ayrshire.gov.uk/" target="_blank" rel="noopener">South Ayrshire Council</a>.
      </p>
      <p>The classes will help refugees and other participants to improve their digital skills by training on prototyped forms of exisiting services.</p>


      <h3 class="govuk-heading-s"><a href="">Learn more about the project</a></h3>

      <h3 class="govuk-heading-s govuk-!-margin-top-9">Note:</h3>
      <div class="govuk-inset-text govuk-!-margin-top-1">
        <ul class="govuk-list govuk-list--bullet">
          <li style="color: #B30000;">selecting the top left logo on any page will take you back here</li>
          <li>you can clear the prototype data from any page via a link in the footer</li>
        </ul>
      </div>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-l govuk-!-margin-bottom-9">
        Forms menu
      </h2>

      <h3 class="govuk-heading-m govuk-!-margin-top-9">
          South Ayrshire Council forms
      </h3>
      <p>This is where the menu for your forms would be.</p>

      <h3 class="govuk-heading-m govuk-!-margin-top-9">
          GOV.UK forms
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/forms/govuk-forms/universal-credit/UCintro"><strong>Universal Credit, create an account, forgot username or password</strong></a> - see the <a href="https://www.gov.uk/sign-in-universal-credit" target="_blank" rel="noopener">live</a> form <span class="govuk-tag ready-tag">Ready</span></li>
        <li><a href="/forms/govuk-forms/universal-credit-apply/UCAsignIn"><strong>Universal Credit, apply once you have created your account</strong></a> - see the <a href="https://www.universal-credit.service.gov.uk/sign-in" target="_blank" rel="noopener">live</a> form or see this <a href="https://www.learnmyway.com/courses/universal-credit-a-how-to-guide/" target="_blank" rel="noopener"><strong>'How to' guide</strong></a> from Learn My Way <span class="govuk-tag started-tag">Started</span></li>
        <li><a href="/forms/govuk-forms/warm-home-discount/warm-home-intro"><strong>Warm Home Discount</strong></a> - or start direct on <a href="/forms/govuk-forms/warm-home-discount/park-homes">Park Homes Warm Home Discount</a>  - see the <a href="https://www.gov.uk/the-warm-home-discount-scheme" target="_blank" rel="noopener">live</a> form <span class="govuk-tag ready-tag">Ready</span></li>
        <li><a href="/forms/govuk-forms/learn-to-drive/apply-provisional-licence/APLintro"><strong>Apply for provisional driving licence</strong></a> - see the <a href="https://www.gov.uk/apply-first-provisional-driving-licence" target="_blank" rel="noopener">live</a> form <span class="govuk-tag started-tag">Started</span></li>
        <li><a href="/forms/govuk-forms/learn-to-drive/book-theory-test/BTTintro"><strong>Book your theory test</strong></a> - see the <a href="https://www.gov.uk/book-theory-test" target="_blank" rel="noopener">live</a> form <span class="govuk-tag ready-tag">Ready</span></li>
        <li><a href="/forms/govuk-forms/learn-to-drive/book-driving-test/BDTintro"><strong>Book your driving test</strong></a> - see the <a href="https://www.gov.uk/book-driving-test" target="_blank" rel="noopener">live</a> form <span class="govuk-tag started-tag">Started</span></li>
        <li><strong>Register to vote</strong> (Not ready and not needed for initial courses)  - see the <a href="https://www.gov.uk/register-to-vote" target="_blank" rel="noopener">live</a> form</li>
      </ul>

      <h3 class="govuk-heading-m govuk-!-margin-top-9">
          Scottish Government forms
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/forms/sss-forms/best-start/BS-start-apply"><strong>Best Start Grant and Best Start Foods</strong></a> - see the <a href="https://www.mygov.scot/best-start-grant-best-start-foods/" target="_blank" rel="noopener">live</a> form <span class="govuk-tag started-tag">Started</span></li>
      </ul>

      <h3 class="govuk-heading-m govuk-!-margin-top-9">
          Others forms
      </h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/forms/other-forms/patient-access/pa-homepage"><strong>Patient access</strong></a>   - see the <a href="https://www.patientaccess.com/" target="_blank" rel="noopener">live</a> form <span class="govuk-tag started-tag">Started</span></li>
      </ul>
    </div>
  </div>


{% endblock %}
