{% extends "layout.html" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/erc.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/erc.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}

{% block header %}
<div class="govuk-header__container {{ params.containerClasses | default('govuk-width-container') }}">
    <div class="govuk-header__logo">
        <span class="govuk-header__logotype">
            <a href="/index.html" id="logo-erc"><image src="{{ asset_path }}/images/ERC/erclogo.png" alt="East Renfrewshire Council Logo" width="188" height="90"></image></a>
        </span>
    </div>
    <div class="govuk-header__content">
        <a href="/index.html">
          <span class="erc-tagline">
            This is a training website
          </span>
        </a>  
    </div>
</div>
{% endblock %}

{% block footer %}
<footer class="govuk-footer" role="contentinfo">
<div class="govuk-width-container">
    <p>Council Headquarters, Eastwood Park, Rouken Glen Road, Giffnock, G46 6UG</p>
    <p>Opening hours: 8:45am to 4:45pm Monday to Friday (excluding public holidays)</p>
    
    <hr class="govuk-footer__section-break">

    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <ul class="govuk-footer__inline-list">
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/forms/erc-forms/contact-us.html">Contact us</a>
          </li>
          <li class="govuk-footer__inline-list-item ">
            <a class="govuk-footer__link small-footer" href="/prototype-admin/clear-data">Clear prototype data</a>
          </li>
        </ul>
        <br>
      </div>
    </div>
  </div>
</footer>
{% endblock %}
