{% extends "layout.html" %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/erc.ico?0.18.3" type="image/x-icon" />
{% endblock %}

{% block head %}
  <!--[if lte IE 8]><link href="/public/stylesheets/unbranded-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if gt IE 8]><!--><link href="/public/stylesheets/erc.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->

  {% for stylesheetUrl in extensionConfig.stylesheets %}
    <link href="{{ stylesheetUrl }}" rel="stylesheet" type="text/css" />
  {% endfor %}
{% endblock %}

{% block header %}
<div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
        <span class="govuk-header__logotype">
            <a href="/index.html" id="logo-erc"><image src="{{ asset_path }}/images/ERC/erclogo-white.png" alt="Homepage" width="190" height="101"></image></a>
        </span>

    </div>
    <div class="govuk-header__content"  id="tagline-home">
        <span class="erc-tagline">
            This is a training website
          </span>
    </div>

</div>
{% endblock %}


{% block footer %}
<footer class="govuk-footer" role="contentinfo" style="padding-top: 0; border-top: solid 10px #008062">
<div class="govuk-width-container">
  <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <span class="govuk-header__logotype">
          <image src="{{ asset_path }}/images/ERC/erclogo.png" alt="East Renfrewshire Council Logo" width="190" height="101"></image>
        </span>
        <ul class="govuk-footer__inline-list">
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/index.html">Home</a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/project-outline.html">Project outline</a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/prototype-info.html">Prototype kit</a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link" href="/contact.html">Get in touch</a>
          </li>
          <li class="govuk-footer__inline-list-item ">
            <a class="govuk-footer__link small-footer" href="/prototype-admin/clear-data">Clear prototype data</a>
          </li>
        </ul>
        <br>
      </div>
    </div>
    
    <div class="footer-credit">
      <p>The course is developed for the <a href="https://www.eastrenfrewshire.gov.uk/" target="_blank" rel="noopener" class="govuk-footer__link">East Renfrewshire Council</a></p>
        <p class="govuk-!-margin-top-2">This website is the result of the work of many people including: <br>
          <a href="https://www.linkedin.com/in/alexandria-rocks/" target="_blank" rel="noopener" class="govuk-footer__link">Alexandria Rocks</a> - 
          <a href="https://www.linkedin.com/in/anastasia-moneva-6b192189/" target="_blank" rel="noopener" class="govuk-footer__link">Anastasia Moneva</a> - 
          <a href="https://www.linkedin.com/in/ashir-qureshi/" target="_blank" rel="noopener" class="govuk-footer__link">Ashir Qureshi</a> - 
          <a href="https://www.linkedin.com/in/craig-barratt-softdev/" target="_blank" rel="noopener" class="govuk-footer__link">Craig Barratt</a> - 
          <a href="https://www.linkedin.com/in/jumana-almusawi-985492170/" target="_blank" rel="noopener" class="govuk-footer__link">Jumana Almusawi</a> - 
          <a href="https://www.linkedin.com/in/paulkmarshall/" target="_blank" rel="noopener" class="govuk-footer__link">Paul Marshall</a> - 
          <a href="https://www.linkedin.com/in/piotr-sobiechowski-871b308b/" target="_blank" rel="noopener" class="govuk-footer__link">Piotr Sobiechowski</a> -
          <a href="https://www.linkedin.com/in/stephanie-krus/" target="_blank" rel="noopener" class="govuk-footer__link">Stéphanie Krus</a>
      </p>
    </div>
  </div>
</footer>
{% endblock %}
