
{% extends "layout_tool.html" %}

{% block pageTitle %}
  Project outline
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
          IT course 2020 - Outline
      </h1>


    <h2 class="govuk-heading-l">Purpose</h2>      
    <p>The purpose of this course is to improve refugees’ IT skills and to enhance their independency. Also, it could be a crucial tool to tackle digital isolation.</p>
    <h3 class="govuk-heading-m">Digital isolation: The vulnerable people left behind</h3>
    <p style="color: #B30000;"><strong>There is about 1 in 7 people in Scotland who can’t get online (that’s about 800,000 people)</strong></p>
    <p><em>"Digital isolation is when people find themselves in a position where they can't access the internet or digital media and devices as much as other people", explains Bibi Reisdorf, an assistant professor in communication studies at the University of North Carolina at Charlotte.
    <br><br>
    "In theory, everyone can access the internet, maybe at a library, community centre or at a friend's house, but there are different levels of access."
    <br><br>
    "Digital isolation is "surprisingly prevalent", according to Dr Reisdorf, with western countries seeing a rise in "mobile dependence". That doesn't mean people who are addicted to their mobile phones, it's when your mobile is your only access to the internet.</em></p>

    <p>Source: <a href="https://www.bbc.co.uk/news/uk-england-cornwall-50812576" target="_blank" rel="noopener">https://www.bbc.co.uk/news/uk-england-cornwall-50812576</a></p>


    <h2 class="govuk-heading-l">Course Content</h2>   
    <p>Participants will learn how to manage online accounts, complete online application, make online requests, paying for services online, etc.</p>  

    <h3 class="govuk-heading-m">Examples:</h3>

    <p><strong>Housing</strong></p>
    <ul class="govuk-list govuk-list--bullet">
        <li>Reporting repairs by completing online ‘Request a Non-Emergency Repair’ form</li>
        <li>Completing housing applications </li>
        <li>Pay for rent/council tax online </li>
        <li>Completing change of circumstances online form</li>
        <li>Bidding for properties using the ‘Homeseeker’ system</li>
        <li>Manage gas/electricity and broadband online accounts</li>
        <li>Applying for Warm Home Discount</li>
        <li>Providing meter reading online</li> 
    </ul>

    <p><strong>General</strong></p> 
    <ul class="govuk-list govuk-list--bullet">
        <li>Managing Universal Credit (UC) online account</li>
        <li>Setting up new password for online accounts such as UC account</li>
        <li>Searching for jobs online</li>
        <li>Applying for online courses and completing online funding applications</li>
        <li>Online banking (setting up standing order, transferring money, etc.)</li>
        <li>Protecting yourself from fraud, staying safe on social media, online crime</li>
        <li>Applying for provisional driving licence and booking for theory and practical test  </li>
        <li>Applying for Best Start Grant</li>
    </ul>

    <h2 class="govuk-heading-l">Teaching Method</h2>
    <p>Candidates will attend an interactive course. Training provider will show them the steps on how to complete each task. Then, learners/candidates will put what they learned into practice by using either laptops or their own mobile phones and will complete Prototypes. Handouts will be given so that the learners can go back to read them if needed. Handouts will have screenshots to make it easy to follow task step by step.</p>  

    <h2 class="govuk-heading-l">Materials required</h2>
    <p>Flyer, application forms, handout for learners and evaluation forms. Certificates will be given to learners in the end of the training</p>

    <h2 class="govuk-heading-l">Partnerships</h2>
    <p>This course have been developed thanks to many people: <a href="https://www.linkedin.com/in/alexandria-rocks/" target="_blank" rel="noopener" >Alexandria Rocks</a>, 
        <a href="https://www.linkedin.com/in/anastasia-moneva-6b192189/" target="_blank" rel="noopener">Anastasia Moneva</a>, 
        <a href="https://www.linkedin.com/in/ashir-qureshi/" target="_blank" rel="noopener" >Ashir Qureshi</a>, 
        <a href="https://www.linkedin.com/in/craig-barratt-softdev/" target="_blank" rel="noopener">Craig Barratt</a>, 
        <a href="https://www.linkedin.com/in/jumana-almusawi-985492170/" target="_blank" rel="noopener">Jumana Almusawi</a>, 
        <a href="https://www.linkedin.com/in/paulkmarshall/" target="_blank" rel="noopener" >Paul Marshall</a>, 
        <a href="https://www.linkedin.com/in/piotr-sobiechowski-871b308b/" target="_blank" rel="noopener">Piotr Sobiechowski</a>, 
        and <a href="https://www.linkedin.com/in/stephanie-krus/" target="_blank" rel="noopener" >Stéphanie Krus</a>.</p>
    <p>We also worked in partnership with <a href="https://www.gov.uk/government/collections/esol-qualifications-requirements" target="_blank" rel="noopener">ESOL</a> & Adult Learning services, local Job centre and <a href="https://www.bankofscotland.co.uk/" target="_blank" rel="noopener">Bank of Scotland</a> to organise the course. There might be some volunteers from <a href="https://codeyourfuture.io/" target="_blank" rel="noopener">Code your future.</a> </p> 
    <p><strong>Other resources:</strong> <a href="https://www.learnmyway.com/subjects" target="_blank" rel="noopener">Learn my way</a> - they have free courses on multiple subjects like: online safety, finding a job or managing your money.</p>

    <h2 class="govuk-heading-l">Venue</h2> 
    <p>We don’t need IT room as most candidate will use their mobile phones for practice but we might need some laptops for people who don’t have internet access on their phones</p>
    <p style="color: #B30000;"><strong>Update: Considering the COVID19 situation, it's very likely that these classes will be online</strong></p>

    <h2 class="govuk-heading-l">Days/Times</h2>
    <p>5 days Evening course (one session per week and each session takes 2 hours). One session a week will allow Learners to practice during the week and can bring stories of practice to next session </p>

    <p><strong>Time (6.30pm – 8.30pm)</strong></p>
    <p>The course will be delivered for two groups; Group 1 will attend 5 Wednesdays and Group 2 will attend 5 Thursdays. There will be places for around 20 more people to attend from the local community (10 in each class). Having learners from different backgrounds will aid integrating refugees with local community. </p>   



    <h3 class="govuk-heading-m">Session 1 </h3>
    <ol class="govuk-list govuk-list--number">
        <li>Using email and electronic calendar effectively</li>
        <li>Completing online ‘Request non-emergency Repair’ form </li>
        <li>Housing applications and bidding for properties </li>
        <li>Make online payment for rent and council tax</li>
        <li>How to complete change of circumstances online form </li>
    </ol>

    <h3 class="govuk-heading-m">Session 2</h3>
    <ol class="govuk-list govuk-list--number">
        <li>Manage Gas/electricity/broadband online account</li>
        <li>Providing meter reading </li>
        <li>Applying for Warm Home Discount </li>
    </ol>

    <h3 class="govuk-heading-m">Session 3 </h3>
    <ol class="govuk-list govuk-list--number">
        <li>Managing Universal Credit Account</li> 
        <li>Setting up new password for online accounts such as UC account</li>
        <li>Benefit Calculation (Entitled To)</li>
        <li>Best Start Grant </li> 
    </ol>

    <h3 class="govuk-heading-m">Session 4 </h3>
    <ol class="govuk-list govuk-list--number">
        <li>Online banking/transferring money/setting up direct debit/standing order </li>
        <li>Buying online</li> 
        <li>Protecting yourself from fraud, staying safe on social media, online crime</li>
    </ol>

    <h3 class="govuk-heading-m">Session 5 </h3>
    <ol class="govuk-list govuk-list--number">
        <li>Applying for jobs/courses and completing online funding application</li>  
        <li>Applying for provisional driving licence and booking for theory and practical test </li> 
    </ol>
</div>
</div>

{% endblock %}
